:root {
  --accent-font-family: "Inter", Helvetica;
  --accent-font-size: 64px;
  --accent-font-style: normal;
  --accent-font-weight: 700;
  --accent-letter-spacing: 0px;
  --accent-line-height: normal;
  --border-radius-rounded-2xl: 16px;
  --border-radius-rounded-full: 9999px;
  --border-radius-rounded-lg: 8px;
  --border-radius-rounded-md: 6px;
  --border-radius-rounded-xl: 12px;
  --colors-blue-100: rgba(225, 239, 254, 1);
  --colors-blue-200: rgba(195, 221, 253, 1);
  --colors-blue-400: rgba(118, 169, 250, 1);
  --colors-blue-600: rgba(28, 100, 242, 1);
  --colors-blue-700: rgba(26, 86, 219, 1);
  --colors-blue-900: rgba(35, 56, 118, 1);
  --colors-gray-100: rgba(243, 244, 246, 1);
  --colors-gray-200: rgba(229, 231, 235, 1);
  --colors-gray-300: rgba(209, 213, 219, 1);
  --colors-gray-400: rgba(156, 163, 175, 1);
  --colors-gray-50: rgba(249, 250, 251, 1);
  --colors-gray-50-duplicate: rgba(249, 250, 251, 1);
  --colors-gray-500: rgba(107, 114, 128, 1);
  --colors-gray-500-duplicate: rgba(107, 114, 128, 1);
  --colors-gray-600: rgba(75, 85, 99, 1);
  --colors-gray-700: rgba(55, 65, 81, 1);
  --colors-gray-800: rgba(31, 42, 55, 1);
  --colors-gray-900: rgba(17, 25, 40, 1);
  --colors-green-100: rgba(222, 247, 236, 1);
  --colors-green-200: rgba(188, 240, 218, 1);
  --colors-green-300: rgba(132, 225, 188, 1);
  --colors-green-400: rgba(49, 196, 141, 1);
  --colors-green-50: rgba(243, 250, 247, 1);
  --colors-green-500: rgba(14, 159, 110, 1);
  --colors-green-600: rgba(5, 122, 85, 1);
  --colors-green-700: rgba(4, 108, 78, 1);
  --colors-green-800: rgba(3, 84, 63, 1);
  --colors-green-900: rgba(1, 71, 55, 1);
  --colors-indigo-100: rgba(229, 237, 255, 1);
  --colors-indigo-400: rgba(141, 162, 251, 1);
  --colors-indigo-500: rgba(104, 117, 245, 1);
  --colors-indigo-800: rgba(66, 56, 157, 1);
  --colors-orange-300: rgba(253, 186, 140, 1);
  --colors-pink-100: rgba(252, 232, 243, 1);
  --colors-pink-500: rgba(231, 70, 148, 1);
  --colors-pink-800: rgba(153, 21, 75, 1);
  --colors-primary-100: rgba(225, 239, 254, 1);
  --colors-primary-200: rgba(195, 221, 253, 1);
  --colors-primary-300: rgba(164, 202, 254, 1);
  --colors-primary-400: rgba(118, 169, 250, 1);
  --colors-primary-500: rgba(63, 131, 248, 1);
  --colors-primary-600: rgba(28, 100, 242, 1);
  --colors-primary-700: rgba(26, 86, 219, 1);
  --colors-primary-800: rgba(30, 66, 159, 1);
  --colors-primary-900: rgba(35, 56, 118, 1);
  --colors-purple-100: rgba(237, 235, 254, 1);
  --colors-purple-400: rgba(172, 148, 250, 1);
  --colors-purple-500: rgba(144, 97, 249, 1);
  --colors-purple-800: rgba(85, 33, 181, 1);
  --colors-purple-900: rgba(74, 29, 150, 1);
  --colors-red-100: rgba(253, 232, 232, 1);
  --colors-red-200: rgba(251, 213, 213, 1);
  --colors-red-300: rgba(248, 180, 180, 1);
  --colors-red-400: rgba(249, 128, 128, 1);
  --colors-red-50: rgba(253, 242, 242, 1);
  --colors-red-500: rgba(240, 82, 82, 1);
  --colors-red-600: rgba(224, 36, 36, 1);
  --colors-red-700: rgba(200, 30, 30, 1);
  --colors-red-800: rgba(155, 28, 28, 1);
  --colors-red-900: rgba(119, 29, 29, 1);
  --colors-teal-100: rgba(213, 245, 246, 1);
  --colors-teal-500: rgba(6, 148, 162, 1);
  --colors-teal-900: rgba(1, 68, 81, 1);
  --colors-white: rgba(255, 255, 255, 1);
  --colors-yellow-100: rgba(253, 246, 178, 1);
  --colors-yellow-300: rgba(250, 202, 21, 1);
  --colors-yellow-400: rgba(227, 160, 8, 1);
  --colors-yellow-700: rgba(142, 75, 16, 1);
  --colors-yellow-800: rgba(114, 59, 19, 1);
  --colors-yellow-900: rgba(99, 49, 18, 1);
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-11: 44px;
  --spacing-12: 48px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-3-5: 14px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-px: 1px;
}
