.accept .accept-an-applicant-flow {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 128px;
  line-height: 0.109;
  color: #FFFFFF;
}
.accept {
  background: #32BC42;
  display: flex;
  padding: 73.2px 26.9px 84.8px 0;
  width: 1621px;
  box-sizing: border-box;
}
