.alerts .vector {
  width: 13.5px;
  height: 13.5px;
}
.alerts .check-circle {
  margin: 5.3px 10.3px 5.3px 0;
  display: flex;
  width: 13.5px;
  height: 13.5px;
  box-sizing: border-box;
}
.alerts .title-1 {
  overflow-wrap: break-word;
  font-family: var(--text-basefont-semibold-font-family, 'Inter');
  font-weight: var(--text-basefont-semibold-font-weight, 600);
  font-size: var(--text-basefont-semibold-font-size, 16px);
  line-height: var(--text-basefont-semibold-line-height, 1.5);
  color: var(--green-700, #046C4E);
}
.alerts .container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.alerts .vector-1 {
  width: 11.7px;
  height: 11.7px;
}
.alerts .x {
  margin: 6.2px 0 6.1px 0;
  display: flex;
  width: 11.7px;
  height: 11.7px;
  box-sizing: border-box;
}
.alerts .title {
  margin: 0 0 6px 2.3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 857.6px;
  box-sizing: border-box;
}
.alerts .aww-yeah-you-successfully-read-this-important-alert-message-this-example-text-is-going-to-run-abit-longer-so-that-you-can-see-how-spacing-within-an-alert-works-with-this-kind-of-content {
  margin-right: 13px;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: var(--green-700, #046C4E);
}
.alerts .description {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.alerts .vector-2 {
  width: 13.3px;
  height: 9.3px;
}
.alerts .eye {
  margin: 4.3px 9.3px 4.3px 0;
  display: flex;
  width: 13.3px;
  height: 9.3px;
  box-sizing: border-box;
}
.alerts .text {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.alerts .button {
  border-radius: 8px;
  background: var(--green-700, #046C4E);
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  padding: 8px 12.2px 8px 13.3px;
  width: fit-content;
  box-sizing: border-box;
}
.alerts {
  border-radius: 8px;
  background: var(--green-100, #DEF7EC);
  display: flex;
  flex-direction: column;
  padding: 16px 20.1px 16px 16px;
  width: 896px;
  box-sizing: border-box;
}
