.applicant-page-with-skills-focus-sidebar .close-btn {
  border-radius: 8.1px;
  background: #FC615C;
  margin-right: 10.8px;
  width: 16.2px;
  height: 16.2px;
}
.applicant-page-with-skills-focus-sidebar .restore-btn {
  border-radius: 8.1px;
  background: #FDBE40;
  margin-right: 10.8px;
  width: 16.2px;
  height: 16.2px;
}
.applicant-page-with-skills-focus-sidebar .minimize-btn {
  border-radius: 8.1px;
  background: #34CA49;
  width: 16.2px;
  height: 16.2px;
}
.applicant-page-with-skills-focus-sidebar .action-bttn {
  margin: 5.4px 27.2px 8.1px 0;
  display: flex;
  flex-direction: row;
  width: 70.2px;
  height: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .arrow {
  width: 6.8px;
  height: 13.5px;
}
.applicant-page-with-skills-focus-sidebar .prev-btn {
  margin: 8.2px 18.6px 8px 0;
  display: flex;
  width: 6.8px;
  height: 13.5px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .arrow-1 {
  width: 6.8px;
  height: 13.5px;
}
.applicant-page-with-skills-focus-sidebar .prev-btn-1 {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-right: 14.9px;
  display: flex;
  padding: 8.1px 12.1px 8.1px 13.5px;
  width: 32.4px;
  height: 29.7px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .option-btn {
  width: 50px;
  height: 29.7px;
}
.applicant-page-with-skills-focus-sidebar .container-4 {
  margin-bottom: 9.4px;
  display: flex;
  flex-direction: row;
  width: 220px;
  height: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .safaribrowser {
  margin: 3px 7px 0 0;
  display: inline-block;
  width: 583px;
  overflow-wrap: break-word;
  font-family: 'SF Compact Display', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.applicant-page-with-skills-focus-sidebar .refresh {
  margin-bottom: 5px;
  width: 10px;
  height: 12px;
}
.applicant-page-with-skills-focus-sidebar .address-bar {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 17.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 7px 0 0;
  width: 1143px;
  height: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .share {
  width: 13.5px;
  height: 18.9px;
}
.applicant-page-with-skills-focus-sidebar .share-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin: 0 10.8px 9.4px 0;
  display: flex;
  padding: 4.7px 18.2px 6.1px 18.2px;
  width: 50px;
  height: 29.7px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .view {
  width: 14.9px;
  height: 14.9px;
}
.applicant-page-with-skills-focus-sidebar .view-search-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin: 0 17.5px 9.4px 0;
  display: flex;
  padding: 7.4px 17.6px 7.4px 17.5px;
  width: 50px;
  height: 29.7px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .add-btn {
  margin-top: 6.7px;
  width: 32.4px;
  height: 32.4px;
}
.applicant-page-with-skills-focus-sidebar .container-9 {
  display: flex;
  flex-direction: row;
  width: 160.7px;
  height: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .browser-bar {
  box-shadow: 0px 1px 0px 0px #B5B4B5;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(180deg, #EBEAEB, #D7D6D7);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 42.8px 0px 0.1px 17.6px;
  width: 1728px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .text-8 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  color: var(--gray-500, #6B7280);
}
.applicant-page-with-skills-focus-sidebar .bar {
  background: var(--gray-501, #F9FAFB);
  margin-bottom: 15px;
  display: flex;
  padding: 11.5px 0;
  width: 1295px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .avatar {
  border-radius: 100px;
  background: var(--avatar-neil-sims, url('assets/images/Avatar4.jpeg') 50% / cover no-repeat);
  margin: 3px 15px 0 0;
  width: 80px;
  height: 80px;
}
.applicant-page-with-skills-focus-sidebar .applicant-name-pronouns {
  margin: 0 0 15px 0.9px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  color: #000000;
}
.applicant-name-pronouns {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 32px;
  line-height: 1.333;
}
.applicant-page-with-skills-focus-sidebar .text-1 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-semibold-font-family, 'Inter');
  font-weight: var(--text-smfont-semibold-font-weight, 600);
  font-size: var(--text-smfont-semibold-font-size, 14px);
  line-height: var(--text-smfont-semibold-line-height, 1.5);
  color: var(--green-800, #03543F);
}
.applicant-page-with-skills-focus-sidebar .badge-1 {
  border-radius: 6px;
  border: 1px solid #03543F;
  background: var(--green-100, #DEF7EC);
  margin-right: 8px;
  display: flex;
  padding: 1px 11.1px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .text {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-semibold-font-family, 'Inter');
  font-weight: var(--text-smfont-semibold-font-weight, 600);
  font-size: var(--text-smfont-semibold-font-size, 14px);
  line-height: var(--text-smfont-semibold-line-height, 1.5);
  color: var(--green-800, #03543F);
}
.applicant-page-with-skills-focus-sidebar .badge {
  border-radius: 6px;
  border: 1px solid #03543F;
  background: var(--green-100, #DEF7EC);
  display: flex;
  padding: 1px 11.3px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .container-8 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .container-6 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .applicant-deets {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .folder-open {
  margin-right: 8px;
  width: 24px;
  height: 24px;
}
.applicant-page-with-skills-focus-sidebar .text-28 {
  overflow-wrap: break-word;
  font-family: var(--text-basefont-medium-font-family, 'Inter');
  font-weight: var(--text-basefont-medium-font-weight, 500);
  font-size: var(--text-basefont-medium-font-size, 16px);
  line-height: var(--text-basefont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.applicant-page-with-skills-focus-sidebar .button {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  margin: 23px 0 20px 0;
  display: flex;
  flex-direction: row;
  padding: 8px 12.7px 8px 12px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .header {
  margin: 0 4px 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1211px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .about-applicant {
  margin-bottom: 14px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 34px;
  line-height: 1;
  color: #000000;
}
.applicant-page-with-skills-focus-sidebar .about-body {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 28px;
  line-height: 1;
  color: #000000;
}
.applicant-page-with-skills-focus-sidebar .about {
  margin: 0 25.7px 33px 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .label {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: #111928;
}
.applicant-page-with-skills-focus-sidebar .container {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: #6B7280;
}
.applicant-page-with-skills-focus-sidebar .input {
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  background: #F9FAFB;
  padding: 7px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .input-number {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .label-1 {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: #111928;
}
.applicant-page-with-skills-focus-sidebar .container-1 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: #6B7280;
}
.applicant-page-with-skills-focus-sidebar .input-1 {
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  background: #F9FAFB;
  padding: 7px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .input-number-1 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .applicant-application {
  display: flex;
  flex-direction: column;
  width: 271px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .label-2 {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: #111928;
}
.applicant-page-with-skills-focus-sidebar .container-2 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: #6B7280;
}
.applicant-page-with-skills-focus-sidebar .input-2 {
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  background: #F9FAFB;
  padding: 7px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .input-number-2 {
  margin-bottom: 11px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .preferred-days {
  margin-bottom: 3px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.25;
  color: #000000;
}
.applicant-page-with-skills-focus-sidebar .vector-4 {
  width: 13.5px;
  height: 13.5px;
}
.applicant-page-with-skills-focus-sidebar .calendar-month {
  margin: 2.3px 10.3px 2.3px 0;
  display: flex;
  width: 13.5px;
  height: 13.5px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .select-period {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-normal-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-normal-font-weight, 400);
  font-size: var(--leading-tighttext-smfont-normal-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-normal-line-height, 1.25);
  color: var(--gray-500, #6B7280);
}
.applicant-page-with-skills-focus-sidebar .datepicker {
  border-radius: 8px;
  border: 1px solid var(--gray-3001, #D1D5DB);
  background: var(--gray-501, #F9FAFB);
  display: flex;
  flex-direction: row;
  padding: 11px 0 11px 17.3px;
  width: 271px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .frame-1000004350 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .preferred-timing {
  display: flex;
  flex-direction: column;
  width: 271px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .label-3 {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: #111928;
}
.applicant-page-with-skills-focus-sidebar .vector-5 {
  width: 10.7px;
  height: 13.3px;
}
.applicant-page-with-skills-focus-sidebar .map-pin {
  margin: 3.8px 12.7px 3.8px 0;
  display: flex;
  width: 10.7px;
  height: 13.3px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .container-3 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: #6B7280;
}
.applicant-page-with-skills-focus-sidebar .input-3 {
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  background: #F9FAFB;
  display: flex;
  flex-direction: row;
  padding: 7px 0 7px 17.7px;
  width: 271px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .input-number-3 {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .label-4 {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: #111928;
}
.applicant-page-with-skills-focus-sidebar .container-4 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: #6B7280;
}
.applicant-page-with-skills-focus-sidebar .input-4 {
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  background: #F9FAFB;
  padding: 7px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .input-number-4 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .preferred-timing-1 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .frame-1015 {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1215px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .relevant-experience {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 34px;
  line-height: 1;
  color: #000000;
}
.relevant-experience-sub37 {
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 34px;
  line-height: 1.333;
}
.relevant-experience-sub55 {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 34px;
  line-height: 1.333;
}
.relevant-experience {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 34px;
  line-height: 1.333;
  color: #3291FF;
}
.applicant-page-with-skills-focus-sidebar .suporting-text {
  margin-right: 15px;
  width: 179px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-with-skills-focus-sidebar .vector-6 {
  width: 12px;
  height: 12px;
}
.applicant-page-with-skills-focus-sidebar .expand-outline {
  margin: 9px 0;
  display: flex;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .list-item {
  margin: 0 17px 8px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 206px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .border-t {
  background: var(--gray-2002, #E5E7EB);
  margin-bottom: 8px;
  width: 240px;
  height: 1px;
}
.applicant-page-with-skills-focus-sidebar .suporting-text-1 {
  margin-right: 15px;
  width: 179px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-with-skills-focus-sidebar .vector-7 {
  width: 12px;
  height: 12px;
}
.applicant-page-with-skills-focus-sidebar .expand-outline-1 {
  margin: 9px 0;
  display: flex;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .content-1 {
  margin: 0 18px 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 206px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .list-item-1 {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .border-t-1 {
  background: var(--gray-2002, #E5E7EB);
  margin-bottom: 8px;
  width: 240px;
  height: 1px;
}
.applicant-page-with-skills-focus-sidebar .suporting-text-2 {
  margin-right: 15px;
  width: 179px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-with-skills-focus-sidebar .vector-8 {
  width: 12px;
  height: 12px;
}
.applicant-page-with-skills-focus-sidebar .expand-outline-2 {
  margin: 9px 0;
  display: flex;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .content-2 {
  margin: 0 18px 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 206px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .list-item-2 {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .border-t-2 {
  background: var(--gray-2002, #E5E7EB);
  margin-bottom: 8px;
  width: 240px;
  height: 1px;
}
.applicant-page-with-skills-focus-sidebar .suporting-text-3 {
  margin-right: 15px;
  width: 179px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-with-skills-focus-sidebar .vector-9 {
  width: 12px;
  height: 12px;
}
.applicant-page-with-skills-focus-sidebar .expand-outline-3 {
  margin: 9px 0;
  display: flex;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .content-3 {
  margin: 0 18px 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 206px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .list-item-3 {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .border-t-3 {
  background: var(--gray-2002, #E5E7EB);
  margin-bottom: 8px;
  width: 240px;
  height: 1px;
}
.applicant-page-with-skills-focus-sidebar .suporting-text-4 {
  margin-right: 15px;
  width: 179px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-with-skills-focus-sidebar .vector-10 {
  width: 12px;
  height: 12px;
}
.applicant-page-with-skills-focus-sidebar .expand-outline-4 {
  margin: 9px 0;
  display: flex;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .content-4 {
  margin: 0 18px 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 206px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .list-item-4 {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .border-t-4 {
  background: var(--gray-2002, #E5E7EB);
  margin-bottom: 8px;
  width: 240px;
  height: 1px;
}
.applicant-page-with-skills-focus-sidebar .suporting-text-5 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #1A56DB;
}
.applicant-page-with-skills-focus-sidebar .content-5 {
  margin: 0 16px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .list-item-5 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .list {
  border-radius: 8px;
  border: 1px solid var(--gray-2002, #E5E7EB);
  background: var(--white-4, #FFFFFF);
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px 0;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .experience {
  border-radius: 8px;
  position: relative;
  display: flex;
  padding-left: 0.9px;
  height: 322.1px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .skills-1 {
  margin-bottom: 2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 34px;
  line-height: 1;
  color: #000000;
}
.applicant-page-with-skills-focus-sidebar .text-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-with-skills-focus-sidebar .badge-2 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  display: flex;
  width: 218px;
  height: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .frame-1000004325 {
  margin-bottom: 8px;
  display: flex;
  width: 218px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .text-3 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-with-skills-focus-sidebar .badge-3 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  display: flex;
  width: 218px;
  height: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .frame-1000004326 {
  margin-bottom: 5px;
  display: flex;
  width: 218px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .text-4 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-with-skills-focus-sidebar .badge-4 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  display: flex;
  width: 218px;
  height: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .frame-1000004327 {
  margin-bottom: 5px;
  display: flex;
  width: 218px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .text-5 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-with-skills-focus-sidebar .badge-5 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  margin-bottom: 5px;
  display: flex;
  width: 218px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .text-6 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-with-skills-focus-sidebar .badge-6 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  margin-bottom: 5px;
  display: flex;
  width: 218px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .text-7 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  line-height: 1.5;
  color: #111928;
}
.applicant-page-with-skills-focus-sidebar .button-1 {
  border-radius: 8px;
  border: 1px solid #000000;
  background: #76A9FA;
  display: flex;
  padding-right: 0.8px;
  width: 218px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .frame-1000004324 {
  margin-left: 0.9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 218px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .skills {
  margin: 0px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .experience-and-skills {
  margin: 0 5px 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 850px;
  box-sizing: border-box;
}
.relevant-experience-1 {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 34px;
  line-height: 1.333;
}
.applicant-page-with-skills-focus-sidebar .relevant-experience-1 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 34px;
  line-height: 1;
  color: #000000;
}
.applicant-page-with-skills-focus-sidebar .custom {
  margin-right: 84.9px;
  display: flex;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .container-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .text-9 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  color: var(--white-4, #FFFFFF);
}
.applicant-page-with-skills-focus-sidebar .button-2 {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  position: absolute;
  left: 50%;
  bottom: 493.1px;
  translate: -50% 0;
  display: flex;
  padding: 29px 15.9px 29px 15px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .content {
  position: relative;
  margin: 0 40px;
  display: flex;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .container-5 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .skills-2 {
  overflow-wrap: break-word;
  font-family: var(--text-lgfont-semibold-font-family, 'Inter');
  font-weight: var(--text-lgfont-semibold-font-weight, 600);
  font-size: var(--text-lgfont-semibold-font-size, 18px);
  line-height: var(--text-lgfont-semibold-line-height, 1.5);
  color: var(--gray-900, #111928);
}
.applicant-page-with-skills-focus-sidebar .title {
  display: flex;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .vector-11 {
  width: 11.7px;
  height: 11.7px;
}
.applicant-page-with-skills-focus-sidebar .x {
  margin: 7.7px 0 7.6px 0;
  display: flex;
  width: 11.7px;
  height: 11.7px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .modal-header {
  margin: 0 28.1px 24px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 363.9px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .separator {
  background: var(--gray-2002, #E5E7EB);
  width: 416px;
  height: 1px;
}
.applicant-page-with-skills-focus-sidebar .container-7 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 416px;
  height: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .next-friday-should-b {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-500, #6B7280);
}
.applicant-page-with-skills-focus-sidebar .text-10 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-with-skills-focus-sidebar .badge-7 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  display: flex;
  padding: 0 10.8px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .text-11 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-with-skills-focus-sidebar .badge-8 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  display: flex;
  padding: 0 9.1px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .text-12 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-with-skills-focus-sidebar .badge-9 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  display: flex;
  padding: 0 8.7px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .frame-10000043251 {
  margin-bottom: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 368px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .text-13 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-with-skills-focus-sidebar .badge-10 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  display: flex;
  padding: 0 8.6px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .text-14 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-with-skills-focus-sidebar .badge-11 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  display: flex;
  padding: 0 9px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .text-15 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-with-skills-focus-sidebar .badge-12 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  display: flex;
  padding: 0 8.8px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .frame-10000043261 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 368px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .frame-10000043241 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 368px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .paragraph-1 {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .next-friday-should-b-1 {
  margin-bottom: 15px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-500, #6B7280);
}
.applicant-page-with-skills-focus-sidebar .text-16 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-with-skills-focus-sidebar .badge-13 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  display: flex;
  padding: 0 10.8px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .text-17 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-with-skills-focus-sidebar .badge-14 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  display: flex;
  padding: 0 9.1px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .text-18 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-with-skills-focus-sidebar .badge-15 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  display: flex;
  padding: 0 8.7px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .frame-10000043252 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 368px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .text-19 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-with-skills-focus-sidebar .badge-16 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  display: flex;
  padding: 0 8.6px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .text-20 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-with-skills-focus-sidebar .badge-17 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  display: flex;
  padding: 0 9px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .text-21 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-with-skills-focus-sidebar .badge-18 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  display: flex;
  padding: 0 8.8px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .frame-10000043262 {
  margin-bottom: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 368px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .text-22 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-with-skills-focus-sidebar .badge-19 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  display: flex;
  padding: 0 9.5px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .text-23 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-with-skills-focus-sidebar .badge-20 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  display: flex;
  padding: 0 8.9px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .text-24 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-with-skills-focus-sidebar .badge-21 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  display: flex;
  padding: 0 8.8px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .frame-10000043271 {
  margin-bottom: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 368px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .text-25 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-with-skills-focus-sidebar .badge-22 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  display: flex;
  padding: 0 3px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .text-26 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-with-skills-focus-sidebar .badge-23 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  display: flex;
  padding: 0 5.1px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .text-27 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-with-skills-focus-sidebar .badge-24 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  display: flex;
  padding: 0 3.4px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .frame-1000004328 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 368px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .frame-10000043242 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 368px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .paragraph-2 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .modal-body {
  position: absolute;
  left: 50%;
  bottom: -77px;
  translate: -50% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .modal {
  border-radius: 8px;
  border: 1px solid var(--gray-2002, #E5E7EB);
  background: var(--white-4, #FFFFFF);
  position: relative;
  display: flex;
  padding-top: 23.5px;
  width: 416px;
  height: 375px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .container-1 {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  padding-right: 6px;
  width: 1294px;
  height: 1345.6px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .frame-1000004342 {
  position: relative;
  display: flex;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .container-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .rectangle-148 {
  background: url('assets/images/Rectangle148.png') 50% / cover no-repeat;
  margin-bottom: 42px;
  align-self: flex-start;
  width: 255px;
  height: 62px;
}
.applicant-page-with-skills-focus-sidebar .pages {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #FFFFFF;
}
.applicant-page-with-skills-focus-sidebar .overview {
  margin-bottom: 20px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .vector-12 {
  width: 22.5px;
  height: 22.5px;
}
.applicant-page-with-skills-focus-sidebar .grid {
  margin: 3.8px 11.8px 3.8px 0;
  display: flex;
  width: 22.5px;
  height: 22.5px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .suporting-text-6 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #FFFFFF;
}
.applicant-page-with-skills-focus-sidebar .list-item-6 {
  margin-bottom: 23px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .vector-13 {
  width: 20px;
  height: 25px;
}
.applicant-page-with-skills-focus-sidebar .bell {
  margin: 2.5px 13px 2.5px 0;
  display: flex;
  width: 20px;
  height: 25px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .suporting-text-7 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #FFFFFF;
}
.applicant-page-with-skills-focus-sidebar .container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .container-5 {
  position: absolute;
  right: 7.2px;
  bottom: 5px;
  overflow-wrap: break-word;
  font-family: var(--leading-nonetext-smfont-medium-font-family, 'Inter');
  font-weight: var(--leading-nonetext-smfont-medium-font-weight, 500);
  font-size: var(--leading-nonetext-smfont-medium-font-size, 14px);
  line-height: var(--leading-nonetext-smfont-medium-line-height, 1);
  color: var(--white-4, #FFFFFF);
}
.applicant-page-with-skills-focus-sidebar .indicators {
  border-radius: 12px;
  background: #31C48D;
  position: relative;
  margin: 3px 0;
  width: 24px;
  height: 24px;
}
.applicant-page-with-skills-focus-sidebar .list-item-7 {
  margin-left: 1.3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 316px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .list-1 {
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  padding: 19px 16px 19px 19.8px;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .frame-1000004346 {
  margin: 0 1px 103px 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .pages-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #FFFFFF;
}
.applicant-page-with-skills-focus-sidebar .manage-listings {
  margin-bottom: 20px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .vector-14 {
  width: 17.5px;
  height: 17.5px;
}
.applicant-page-with-skills-focus-sidebar .plus {
  margin: 6.3px 14.3px 6.3px 0;
  display: flex;
  width: 17.5px;
  height: 17.5px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .suporting-text-8 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #FFFFFF;
}
.applicant-page-with-skills-focus-sidebar .list-item-8 {
  margin: 0 3.8px 32px 3.8px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .vector-15 {
  width: 20px;
  height: 17.5px;
}
.applicant-page-with-skills-focus-sidebar .bars-outline {
  margin: 6.3px 13px 6.3px 0;
  display: flex;
  width: 20px;
  height: 17.5px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .suporting-text-9 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #FFFFFF;
}
.applicant-page-with-skills-focus-sidebar .list-item-9 {
  margin: 0 2.5px 32px 2.5px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .vector-16 {
  width: 25px;
  height: 25px;
}
.applicant-page-with-skills-focus-sidebar .users {
  margin: 2.5px 10.5px 2.5px 0;
  display: flex;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .suporting-text-10 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #FACA15;
}
.applicant-page-with-skills-focus-sidebar .list-item-10 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .list-2 {
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  padding: 24px 0 24px 18.5px;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .frame-1000004347 {
  margin-bottom: 103px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .pages-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #FFFFFF;
}
.applicant-page-with-skills-focus-sidebar .manage-account {
  margin-bottom: 20px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .vector-17 {
  width: 17.5px;
  height: 25px;
}
.applicant-page-with-skills-focus-sidebar .user {
  margin: 2.5px 14.3px 2.5px 0;
  display: flex;
  width: 17.5px;
  height: 25px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .suporting-text-11 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #FFFFFF;
}
.applicant-page-with-skills-focus-sidebar .list-item-11 {
  margin: 0 1.3px 24px 1.3px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .vector-18 {
  width: 20px;
  height: 20px;
}
.applicant-page-with-skills-focus-sidebar .arrow-right-to-bracket {
  margin: 5px 13px 5px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .suporting-text-12 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #FFFFFF;
}
.applicant-page-with-skills-focus-sidebar .list-item-12 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .list-3 {
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  padding: 24px 0 24px 21px;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .frame-1000004348 {
  margin-right: 1px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .frame-1000004349 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .sidebar-free-component {
  background: #0C2B5A;
  position: absolute;
  left: 0px;
  bottom: 1px;
  display: flex;
  flex-direction: column;
  padding: 40px 40px 79px 40px;
  box-sizing: border-box;
}
.applicant-page-with-skills-focus-sidebar .group-1010 {
  position: absolute;
  left: 394px;
  bottom: 488px;
  width: 61px;
  height: 60px;
}
.applicant-page-with-skills-focus-sidebar {
  background: #EDF0F4;
  display: flex;
  width: 1728px;
  box-sizing: border-box;
}
