.applicants-page-application-status-filter-active-long-1 .close-btn {
  border-radius: 8.1px;
  background: #FC615C;
  margin-right: 10.8px;
  width: 16.2px;
  height: 16.2px;
}
.applicants-page-application-status-filter-active-long-1 .restore-btn {
  border-radius: 8.1px;
  background: #FDBE40;
  margin-right: 10.8px;
  width: 16.2px;
  height: 16.2px;
}
.applicants-page-application-status-filter-active-long-1 .minimize-btn {
  border-radius: 8.1px;
  background: #34CA49;
  width: 16.2px;
  height: 16.2px;
}
.applicants-page-application-status-filter-active-long-1 .action-bttn {
  margin: 5.4px 17.5px 8.1px 0;
  display: flex;
  flex-direction: row;
  width: 70.2px;
  height: fit-content;
  box-sizing: border-box;
}
.applicants-page-application-status-filter-active-long-1 .arrow {
  width: 6.8px;
  height: 13.5px;
}
.applicants-page-application-status-filter-active-long-1 .prev-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-right: 2.7px;
  display: flex;
  padding: 8.1px 13.5px 8.1px 12.2px;
  width: 32.4px;
  height: 29.7px;
  box-sizing: border-box;
}
.applicants-page-application-status-filter-active-long-1 .arrow-1 {
  width: 6.8px;
  height: 13.5px;
}
.applicants-page-application-status-filter-active-long-1 .prev-btn-2 {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-right: 14.9px;
  display: flex;
  padding: 8.1px 12.1px 8.1px 13.5px;
  width: 32.4px;
  height: 29.7px;
  box-sizing: border-box;
}
.applicants-page-application-status-filter-active-long-1 .option-btn {
  width: 50px;
  height: 29.7px;
}
.applicants-page-application-status-filter-active-long-1 .container-1 {
  margin-bottom: 9.4px;
  display: flex;
  flex-direction: row;
  width: 220px;
  height: fit-content;
  box-sizing: border-box;
}
.applicants-page-application-status-filter-active-long-1 .safaribrowser {
  margin: 3px 7px 0 0;
  display: inline-block;
  width: 583px;
  overflow-wrap: break-word;
  font-family: 'SF Compact Display', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.applicants-page-application-status-filter-active-long-1 .refresh {
  margin-bottom: 5px;
  width: 10px;
  height: 12px;
}
.applicants-page-application-status-filter-active-long-1 .address-bar {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 17.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 7px 0 0;
  width: 1143px;
  height: fit-content;
  box-sizing: border-box;
}
.applicants-page-application-status-filter-active-long-1 .share {
  width: 13.5px;
  height: 18.9px;
}
.applicants-page-application-status-filter-active-long-1 .share-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin: 0 10.8px 9.4px 0;
  display: flex;
  padding: 4.7px 18.2px 6.1px 18.2px;
  width: 50px;
  height: 29.7px;
  box-sizing: border-box;
}
.applicants-page-application-status-filter-active-long-1 .view {
  width: 14.9px;
  height: 14.9px;
}
.applicants-page-application-status-filter-active-long-1 .view-search-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin: 0 17.5px 9.4px 0;
  display: flex;
  padding: 7.4px 17.6px 7.4px 17.5px;
  width: 50px;
  height: 29.7px;
  box-sizing: border-box;
}
.applicants-page-application-status-filter-active-long-1 .add-btn {
  margin-top: 6.7px;
  width: 32.4px;
  height: 32.4px;
}
.applicants-page-application-status-filter-active-long-1 .container {
  display: flex;
  flex-direction: row;
  width: 160.7px;
  height: fit-content;
  box-sizing: border-box;
}
.applicants-page-application-status-filter-active-long-1 .browser-bar {
  box-shadow: 0px 1px 0px 0px #B5B4B5;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(180deg, #EBEAEB, #D7D6D7);
  position: relative;
  margin-bottom: 33px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 42.8px 0px 0.1px 17.6px;
  width: 1728px;
  box-sizing: border-box;
}
.applicants-page-application-status-filter-active-long-1 .applicants {
  overflow-wrap: break-word;
  font-family: var(--text-2-xlfont-semibold-font-family, 'Inter');
  font-weight: var(--text-2-xlfont-semibold-font-weight, 600);
  font-size: var(--text-2-xlfont-semibold-font-size, 24px);
  line-height: var(--text-2-xlfont-semibold-line-height, 1.5);
  color: var(--gray-900, #111928);
}
.applicants-page-application-status-filter-active-long-1 .logo {
  margin-right: 33.1px;
  display: flex;
  box-sizing: border-box;
}
.applicants-page-application-status-filter-active-long-1 .text {
  margin-right: 8.1px;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: #111928;
}
.applicants-page-application-status-filter-active-long-1 .vector-4 {
  width: 10.5px;
  height: 6px;
}
.applicants-page-application-status-filter-active-long-1 .angle-down-outline {
  margin: 7.5px 0;
  display: flex;
  width: 10.5px;
  height: 6px;
  box-sizing: border-box;
}
.applicants-page-application-status-filter-active-long-1 .nav-links {
  border-radius: 8px;
  margin: 7.5px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.applicants-page-application-status-filter-active-long-1 .container-2 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.applicants-page-application-status-filter-active-long-1 .vector-5 {
  width: 14px;
  height: 20px;
}
.applicants-page-application-status-filter-active-long-1 .sort-outline {
  position: absolute;
  top: 50%;
  right: 19px;
  translate: 0 -50%;
  display: flex;
  width: 14px;
  height: 20px;
  box-sizing: border-box;
}
.applicants-page-application-status-filter-active-long-1 .navbar {
  border-radius: 8px;
  background: var(--white-4, #FFFFFF);
  position: relative;
  margin-bottom: 7px;
  padding: 24px 68px;
  width: fit-content;
  box-sizing: border-box;
}
.applicants-page-application-status-filter-active-long-1 .filter-1 {
  margin: 10px 37.7px 10px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
}
.applicants-page-application-status-filter-active-long-1 .text-2 {
  margin-right: 12.8px;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.applicants-page-application-status-filter-active-long-1 .vector-3 {
  width: 11.7px;
  height: 6.7px;
}
.applicants-page-application-status-filter-active-long-1 .chevron-down-1 {
  margin: 7.2px 0;
  display: flex;
  width: 11.7px;
  height: 6.7px;
  box-sizing: border-box;
}
.applicants-page-application-status-filter-active-long-1 .button-1 {
  border-radius: 8px;
  background: var(--primary-800, #1E429F);
  display: flex;
  flex-direction: row;
  padding: 10px 0 10px 20px;
  width: 191px;
  box-sizing: border-box;
}
.applicants-page-application-status-filter-active-long-1 .dropdown-buttons-1 {
  display: flex;
  width: 191px;
  box-sizing: border-box;
}
.applicants-page-application-status-filter-active-long-1 .container-3 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.applicants-page-application-status-filter-active-long-1 .text-1 {
  margin-right: 13.1px;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.applicants-page-application-status-filter-active-long-1 .vector-2 {
  width: 11.7px;
  height: 6.7px;
}
.applicants-page-application-status-filter-active-long-1 .chevron-down {
  margin: 7.2px 0;
  display: flex;
  width: 11.7px;
  height: 6.7px;
  box-sizing: border-box;
}
.applicants-page-application-status-filter-active-long-1 .button {
  border-radius: 8px;
  background: var(--primary-800, #1E429F);
  display: flex;
  flex-direction: row;
  padding: 10px 0 10px 20px;
  width: 199px;
  box-sizing: border-box;
}
.applicants-page-application-status-filter-active-long-1 .dropdown-buttons {
  display: flex;
  width: 199px;
  box-sizing: border-box;
}
.applicants-page-application-status-filter-active-long-1 .filter {
  margin: 0 88.7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 506.3px;
  box-sizing: border-box;
}
.applicants-page-application-status-filter-active-long-1 .nav-filter {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.applicants-page-application-status-filter-active-long-1 .title-1 {
  margin-right: 12px;
  width: 836.2px;
  overflow-wrap: break-word;
  font-family: var(--text-basefont-semibold-font-family, 'Inter');
  font-weight: var(--text-basefont-semibold-font-weight, 600);
  font-size: var(--text-basefont-semibold-font-size, 16px);
  line-height: var(--text-basefont-semibold-line-height, 1.5);
  color: var(--blue-700, #1A56DB);
}
.applicants-page-application-status-filter-active-long-1 .vector-6 {
  width: 11.7px;
  height: 11.7px;
}
.applicants-page-application-status-filter-active-long-1 .x {
  margin: 6.2px 0 6.1px 0;
  display: flex;
  width: 11.7px;
  height: 11.7px;
  box-sizing: border-box;
}
.applicants-page-application-status-filter-active-long-1 .title {
  margin-bottom: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 859.9px;
  box-sizing: border-box;
}
.applicants-page-application-status-filter-active-long-1 .aww-yeah-you-successfully-read-this-important-alert-message-this-example-text-is-going-to-run-abit-longer-so-that-you-can-see-how-spacing-within-an-alert-works-with-this-kind-of-content {
  margin-right: 84.7px;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: var(--blue-700, #1A56DB);
}
.applicants-page-application-status-filter-active-long-1 .description {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.applicants-page-application-status-filter-active-long-1 .text-3 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.applicants-page-application-status-filter-active-long-1 .button-2 {
  border-radius: 8px;
  background: var(--blue-700, #1A56DB);
  display: flex;
  align-self: flex-start;
  padding: 8px 13px 8px 12px;
  box-sizing: border-box;
}
.applicants-page-application-status-filter-active-long-1 .alerts {
  border-radius: 8px;
  background: var(--blue-100, #E1EFFE);
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  display: flex;
  flex-direction: column;
  padding: 16px 20.1px 16px 16px;
  box-sizing: border-box;
}
.applicants-page-application-status-filter-active-long-1 .frame-1000004337 {
  position: relative;
  margin: 0 72px 70px 72px;
  padding-bottom: 212px;
  box-sizing: border-box;
}
.applicants-page-application-status-filter-active-long-1 .group-1010 {
  width: 61px;
  height: 60px;
}
.applicants-page-application-status-filter-active-long-1 .sidebar {
  display: flex;
  align-self: flex-start;
  width: 61px;
  height: 60px;
  box-sizing: border-box;
}
.applicants-page-application-status-filter-active-long {
  background: #EDF0F4;
  display: flex;
  flex-direction: column;
  padding-bottom: 528px;
  width: 1728px;
  box-sizing: border-box;
}
