.applicant-page-1 .close-btn {
  border-radius: 8.1px;
  background: #FC615C;
  margin-right: 10.8px;
  width: 16.2px;
  height: 16.2px;
}
.applicant-page-1 .restore-btn {
  border-radius: 8.1px;
  background: #FDBE40;
  margin-right: 10.8px;
  width: 16.2px;
  height: 16.2px;
}
.applicant-page-1 .minimize-btn {
  border-radius: 8.1px;
  background: #34CA49;
  width: 16.2px;
  height: 16.2px;
}
.applicant-page-1 .action-bttn {
  margin: 5.4px 27.2px 8.1px 0;
  display: flex;
  flex-direction: row;
  width: 70.2px;
  height: fit-content;
  box-sizing: border-box;
}
.applicant-page-1 .arrow {
  width: 6.8px;
  height: 13.5px;
}
.applicant-page-1 .prev-btn {
  margin: 8.2px 18.6px 8px 0;
  display: flex;
  width: 6.8px;
  height: 13.5px;
  box-sizing: border-box;
}
.applicant-page-1 .arrow-1 {
  width: 6.8px;
  height: 13.5px;
}
.applicant-page-1 .prev-btn-1 {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-right: 14.9px;
  display: flex;
  padding: 8.1px 12.1px 8.1px 13.5px;
  width: 32.4px;
  height: 29.7px;
  box-sizing: border-box;
}
.applicant-page-1 .option-btn {
  width: 50px;
  height: 29.7px;
}
.applicant-page-1 .container-5 {
  margin: 0px 0 9.4px 0;
  display: flex;
  flex-direction: row;
  width: 220px;
  height: fit-content;
  box-sizing: border-box;
}
.applicant-page-1 .safaribrowser {
  margin: 3px 7px 0 0;
  display: inline-block;
  width: 583px;
  overflow-wrap: break-word;
  font-family: 'SF Compact Display', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.applicant-page-1 .refresh {
  margin-bottom: 5px;
  width: 10px;
  height: 12px;
}
.applicant-page-1 .address-bar {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 17.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 7px 0 0;
  width: 1143px;
  height: fit-content;
  box-sizing: border-box;
}
.applicant-page-1 .share {
  width: 13.5px;
  height: 18.9px;
}
.applicant-page-1 .share-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin: 0 10.8px 9.4px 0;
  display: flex;
  padding: 4.7px 18.2px 6.1px 18.2px;
  width: 50px;
  height: 29.7px;
  box-sizing: border-box;
}
.applicant-page-1 .view {
  width: 14.9px;
  height: 14.9px;
}
.applicant-page-1 .view-search-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin: 0 17.5px 9.4px 0;
  display: flex;
  padding: 7.4px 17.6px 7.4px 17.5px;
  width: 50px;
  height: 29.7px;
  box-sizing: border-box;
}
.applicant-page-1 .add-btn {
  margin-top: 6.7px;
  width: 32.4px;
  height: 32.4px;
}
.applicant-page-1 .container-3 {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  width: 160.7px;
  height: fit-content;
  box-sizing: border-box;
}
.applicant-page-1 .browser-bar {
  box-shadow: 0px 1px 0px 0px #B5B4B5;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(180deg, #EBEAEB, #D7D6D7);
  position: relative;
  margin: 0 103.5px 0 10.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 42.8px 0px 0.1px 17.6px;
  width: 1728px;
  box-sizing: border-box;
}
.applicant-page-1 .text-8 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  color: var(--gray-500, #6B7280);
}
.applicant-page-1 .bar {
  background: var(--gray-501, #F9FAFB);
  margin-bottom: 15px;
  display: flex;
  padding: 11.5px 0;
  width: 1842px;
  box-sizing: border-box;
}
.applicant-page-1 .avatar {
  border-radius: 100px;
  background: var(--avatar-neil-sims, url('assets/images/Avatar4.jpeg') 50% / cover no-repeat);
  margin: 3px 15px 0 0;
  width: 80px;
  height: 80px;
}
.applicant-page-1 .applicant-name-pronouns {
  margin: 0 0 15px 0.9px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  color: #000000;
}
.applicant-name-pronouns {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 32px;
  line-height: 1.333;
}
.applicant-page-1 .text-1 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-semibold-font-family, 'Inter');
  font-weight: var(--text-smfont-semibold-font-weight, 600);
  font-size: var(--text-smfont-semibold-font-size, 14px);
  line-height: var(--text-smfont-semibold-line-height, 1.5);
  color: var(--green-800, #03543F);
}
.applicant-page-1 .badge-1 {
  border-radius: 6px;
  border: 1px solid #03543F;
  background: var(--green-100, #DEF7EC);
  margin-right: 8px;
  display: flex;
  padding: 1px 11.1px;
  box-sizing: border-box;
}
.applicant-page-1 .text {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-semibold-font-family, 'Inter');
  font-weight: var(--text-smfont-semibold-font-weight, 600);
  font-size: var(--text-smfont-semibold-font-size, 14px);
  line-height: var(--text-smfont-semibold-line-height, 1.5);
  color: var(--green-800, #03543F);
}
.applicant-page-1 .badge {
  border-radius: 6px;
  border: 1px solid #03543F;
  background: var(--green-100, #DEF7EC);
  display: flex;
  padding: 1px 11.3px;
  box-sizing: border-box;
}
.applicant-page-1 .container {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-1 .container-2 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.applicant-page-1 .applicant-deets {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.applicant-page-1 .folder-open {
  margin-right: 8px;
  width: 24px;
  height: 24px;
}
.applicant-page-1 .text-10 {
  overflow-wrap: break-word;
  font-family: var(--text-basefont-medium-font-family, 'Inter');
  font-weight: var(--text-basefont-medium-font-weight, 500);
  font-size: var(--text-basefont-medium-font-size, 16px);
  line-height: var(--text-basefont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.applicant-page-1 .button {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  margin: 23px 0 20px 0;
  display: flex;
  flex-direction: row;
  padding: 8px 12.7px 8px 12px;
  box-sizing: border-box;
}
.applicant-page-1 .header {
  margin: 0 6px 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1665px;
  box-sizing: border-box;
}
.applicant-page-1 .about-applicant {
  margin-bottom: 14px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 34px;
  line-height: 1;
  color: #000000;
}
.applicant-page-1 .about-body {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 28px;
  line-height: 1;
  color: #000000;
}
.applicant-page-1 .about {
  margin: 0 37.2px 35px 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-1 .label {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: #111928;
}
.applicant-page-1 .container {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: #6B7280;
}
.applicant-page-1 .input {
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  background: #F9FAFB;
  padding: 7px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-1 .input-number {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-1 .label-1 {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: #111928;
}
.applicant-page-1 .container-1 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: #6B7280;
}
.applicant-page-1 .input-1 {
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  background: #F9FAFB;
  padding: 7px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-1 .input-number-1 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-1 .applicant-application {
  display: flex;
  flex-direction: column;
  width: 271px;
  box-sizing: border-box;
}
.applicant-page-1 .label-2 {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: #111928;
}
.applicant-page-1 .container-2 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: #6B7280;
}
.applicant-page-1 .input-2 {
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  background: #F9FAFB;
  padding: 7px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-1 .input-number-2 {
  margin-bottom: 11px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-1 .preferred-days {
  margin-bottom: 3px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.25;
  color: #000000;
}
.applicant-page-1 .vector-4 {
  width: 13.5px;
  height: 13.5px;
}
.applicant-page-1 .calendar-month {
  margin: 2.3px 10.3px 2.3px 0;
  display: flex;
  width: 13.5px;
  height: 13.5px;
  box-sizing: border-box;
}
.applicant-page-1 .select-period {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-normal-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-normal-font-weight, 400);
  font-size: var(--leading-tighttext-smfont-normal-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-normal-line-height, 1.25);
  color: var(--gray-500, #6B7280);
}
.applicant-page-1 .datepicker {
  border-radius: 8px;
  border: 1px solid var(--gray-3001, #D1D5DB);
  background: var(--gray-501, #F9FAFB);
  display: flex;
  flex-direction: row;
  padding: 11px 0 11px 17.3px;
  width: 271px;
  box-sizing: border-box;
}
.applicant-page-1 .frame-1000004350 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-1 .preferred-timing {
  display: flex;
  flex-direction: column;
  width: 271px;
  box-sizing: border-box;
}
.applicant-page-1 .label-3 {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: #111928;
}
.applicant-page-1 .vector-5 {
  width: 10.7px;
  height: 13.3px;
}
.applicant-page-1 .map-pin {
  margin: 3.8px 12.7px 3.8px 0;
  display: flex;
  width: 10.7px;
  height: 13.3px;
  box-sizing: border-box;
}
.applicant-page-1 .container-3 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: #6B7280;
}
.applicant-page-1 .input-3 {
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  background: #F9FAFB;
  display: flex;
  flex-direction: row;
  padding: 7px 0 7px 17.7px;
  width: 271px;
  box-sizing: border-box;
}
.applicant-page-1 .input-number-3 {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-1 .label-4 {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: #111928;
}
.applicant-page-1 .container-4 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: #6B7280;
}
.applicant-page-1 .input-4 {
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  background: #F9FAFB;
  padding: 7px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-1 .input-number-4 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-1 .preferred-timing-1 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.applicant-page-1 .frame-1015 {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1671px;
  box-sizing: border-box;
}
.applicant-page-1 .relevant-experience {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 34px;
  line-height: 1;
  color: #000000;
}
.relevant-experience-sub37 {
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 34px;
  line-height: 1.333;
}
.relevant-experience-sub55 {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 34px;
  line-height: 1.333;
}
.relevant-experience {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 34px;
  line-height: 1.333;
  color: #3291FF;
}
.applicant-page-1 .suporting-text {
  margin-right: 15px;
  width: 179px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-1 .vector-6 {
  width: 12px;
  height: 12px;
}
.applicant-page-1 .expand-outline {
  margin: 9px 0;
  display: flex;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.applicant-page-1 .list-item {
  margin: 0 17px 8px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 206px;
  box-sizing: border-box;
}
.applicant-page-1 .border-t {
  background: var(--gray-2002, #E5E7EB);
  margin-bottom: 8px;
  width: 240px;
  height: 1px;
}
.applicant-page-1 .suporting-text-1 {
  margin-right: 15px;
  width: 179px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-1 .vector-7 {
  width: 12px;
  height: 12px;
}
.applicant-page-1 .expand-outline-1 {
  margin: 9px 0;
  display: flex;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.applicant-page-1 .content-1 {
  margin: 0 18px 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 206px;
  box-sizing: border-box;
}
.applicant-page-1 .list-item-1 {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  box-sizing: border-box;
}
.applicant-page-1 .border-t-1 {
  background: var(--gray-2002, #E5E7EB);
  margin-bottom: 8px;
  width: 240px;
  height: 1px;
}
.applicant-page-1 .suporting-text-2 {
  margin-right: 15px;
  width: 179px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-1 .vector-8 {
  width: 12px;
  height: 12px;
}
.applicant-page-1 .expand-outline-2 {
  margin: 9px 0;
  display: flex;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.applicant-page-1 .content-2 {
  margin: 0 18px 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 206px;
  box-sizing: border-box;
}
.applicant-page-1 .list-item-2 {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  box-sizing: border-box;
}
.applicant-page-1 .border-t-2 {
  background: var(--gray-2002, #E5E7EB);
  margin-bottom: 8px;
  width: 240px;
  height: 1px;
}
.applicant-page-1 .suporting-text-3 {
  margin-right: 15px;
  width: 179px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-1 .vector-9 {
  width: 12px;
  height: 12px;
}
.applicant-page-1 .expand-outline-3 {
  margin: 9px 0;
  display: flex;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.applicant-page-1 .content-3 {
  margin: 0 18px 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 206px;
  box-sizing: border-box;
}
.applicant-page-1 .list-item-3 {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  box-sizing: border-box;
}
.applicant-page-1 .border-t-3 {
  background: var(--gray-2002, #E5E7EB);
  margin-bottom: 8px;
  width: 240px;
  height: 1px;
}
.applicant-page-1 .suporting-text-4 {
  margin-right: 15px;
  width: 179px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-1 .vector-10 {
  width: 12px;
  height: 12px;
}
.applicant-page-1 .expand-outline-4 {
  margin: 9px 0;
  display: flex;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.applicant-page-1 .content-4 {
  margin: 0 18px 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 206px;
  box-sizing: border-box;
}
.applicant-page-1 .list-item-4 {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  box-sizing: border-box;
}
.applicant-page-1 .border-t-4 {
  background: var(--gray-2002, #E5E7EB);
  margin-bottom: 8px;
  width: 240px;
  height: 1px;
}
.applicant-page-1 .suporting-text-5 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #1A56DB;
}
.applicant-page-1 .content-5 {
  margin: 0 16px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.applicant-page-1 .list-item-5 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-1 .list {
  border-radius: 8px;
  border: 1px solid var(--gray-2002, #E5E7EB);
  background: var(--white-4, #FFFFFF);
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px 0;
  box-sizing: border-box;
}
.applicant-page-1 .experience {
  border-radius: 8px;
  position: relative;
  display: flex;
  padding-left: 0.9px;
  height: 322.1px;
  box-sizing: border-box;
}
.applicant-page-1 .skills-1 {
  margin-bottom: 2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 34px;
  line-height: 1;
  color: #000000;
}
.applicant-page-1 .text-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-1 .badge-2 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  display: flex;
  width: 218px;
  height: fit-content;
  box-sizing: border-box;
}
.applicant-page-1 .frame-1000004325 {
  margin-bottom: 8px;
  display: flex;
  width: 218px;
  box-sizing: border-box;
}
.applicant-page-1 .text-3 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-1 .badge-3 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  display: flex;
  width: 218px;
  height: fit-content;
  box-sizing: border-box;
}
.applicant-page-1 .frame-1000004326 {
  margin-bottom: 5px;
  display: flex;
  width: 218px;
  box-sizing: border-box;
}
.applicant-page-1 .text-4 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-1 .badge-4 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  display: flex;
  width: 218px;
  height: fit-content;
  box-sizing: border-box;
}
.applicant-page-1 .frame-1000004327 {
  margin-bottom: 5px;
  display: flex;
  width: 218px;
  box-sizing: border-box;
}
.applicant-page-1 .text-5 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-1 .badge-5 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  margin-bottom: 5px;
  display: flex;
  width: 218px;
  box-sizing: border-box;
}
.applicant-page-1 .text-6 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-1 .badge-6 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  margin-bottom: 5px;
  display: flex;
  width: 218px;
  box-sizing: border-box;
}
.applicant-page-1 .text-7 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  line-height: 1.5;
  color: #111928;
}
.applicant-page-1 .button-1 {
  border-radius: 8px;
  border: 1px solid #000000;
  background: #76A9FA;
  display: flex;
  padding-right: 0.8px;
  width: 218px;
  box-sizing: border-box;
}
.applicant-page-1 .frame-1000004324 {
  margin-left: 0.9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 218px;
  box-sizing: border-box;
}
.applicant-page-1 .skills {
  margin: 0px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.applicant-page-1 .experience-and-skills {
  margin: 0 6.5px 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1304.5px;
  box-sizing: border-box;
}
.applicant-page-1 .relevant-experience-1 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 34px;
  line-height: 1;
  color: #000000;
}
.relevant-experience-1 {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 34px;
  line-height: 1.333;
}
.applicant-page-1 .custom {
  margin-right: 22.3px;
  display: flex;
  box-sizing: border-box;
}
.applicant-page-1 .container-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.applicant-page-1 .text-9 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  color: var(--white-4, #FFFFFF);
}
.applicant-page-1 .button-2 {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  position: absolute;
  left: 678px;
  bottom: 349.1px;
  display: flex;
  padding: 29px 15.9px 29px 15px;
  box-sizing: border-box;
}
.applicant-page-1 .content {
  position: relative;
  margin: 0 114.5px 0 56.5px;
  display: flex;
  box-sizing: border-box;
}
.applicant-page-1 .frame-1000004341 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-1 .container-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1842px;
  height: fit-content;
  box-sizing: border-box;
}
.applicant-page-1 .group-1010 {
  width: 61px;
  height: 60px;
}
.applicant-page-1 .sidebar {
  position: absolute;
  left: -27px;
  top: 50%;
  translate: 0 -50%;
  display: flex;
  width: 61px;
  height: 60px;
  box-sizing: border-box;
}
.applicant-page {
  background: #EDF0F4;
  display: flex;
  width: 1728px;
  box-sizing: border-box;
}
