.applicant-profile-web-version-1 .logo {
  margin-right: 15px;
  width: 979px;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 26px;
  text-transform: uppercase;
  color: #000000;
}
.applicant-profile-web-version-1 .home {
  margin-right: 10.5px;
  width: 210.5px;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.applicant-profile-web-version-1 .login {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.applicant-profile-web-version-1 .links {
  margin: 4.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 265.4px;
  height: fit-content;
  box-sizing: border-box;
}
.applicant-profile-web-version-1 .navbar-desktop {
  border-bottom: 1px solid #000000;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 17px 90.6px 16px 90px;
  width: 1440px;
  box-sizing: border-box;
}
.applicant-profile-web-version-1 .applied-to {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  color: #000000;
}
.applied-to-sub36 {
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 36px;
  line-height: 1.333;
}
.applied-to-sub35 {
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.333;
}
.applied-to {
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 36px;
  line-height: 1.333;
}
.applicant-profile-web-version-1 .sticky-applied {
  border-bottom: 1px solid #000000;
  background: #ECECEC;
  position: relative;
  margin-bottom: 16px;
  display: flex;
  padding: 16.5px 0 15.5px 1px;
  width: 1440px;
  box-sizing: border-box;
}
.applicant-profile-web-version-1 .pfp {
  border-radius: 9999px;
  background: url('assets/images/Pfp.png') 50% / cover no-repeat;
  margin-right: 39.4px;
  width: 80px;
  height: 80px;
}
.applicant-profile-web-version-1 .applicant-name {
  margin: 22.2px 0 21.8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  color: #000000;
}
.applicant-profile-web-version-1 .head {
  border-radius: 9999px;
  margin: 0 43px 7px 43px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-profile-web-version-1 .about-applicant {
  margin-bottom: 23px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 34px;
  line-height: 1;
  color: #000000;
}
.about-applicant-sub43 {
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 700;
  font-size: 34px;
  line-height: 1.333;
}
.about-applicant {
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 34px;
  line-height: 1.333;
}
.applicant-profile-web-version-1 .relevant-experience-1 {
  margin-right: 23.7px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 34px;
  line-height: 1;
  color: #000000;
}
.relevant-experience-1-sub37 {
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 34px;
  line-height: 1.333;
}
.relevant-experience-1-sub36 {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 34px;
  line-height: 1.333;
}
.relevant-experience-1 {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 34px;
  line-height: 1.333;
  color: #3291FF;
}
.applicant-profile-web-version-1 .frame-3 {
  margin-bottom: 14.1px;
  width: 28.2px;
  height: 28.2px;
}
.applicant-profile-web-version-1 .frame-1 {
  margin-bottom: 16.9px;
  width: 28.2px;
  height: 28.2px;
}
.applicant-profile-web-version-1 .frame-2 {
  margin-bottom: 15.5px;
  width: 28.2px;
  height: 28.2px;
}
.applicant-profile-web-version-1 .frame-4 {
  margin-bottom: 15.5px;
  width: 28.2px;
  height: 28.2px;
}
.applicant-profile-web-version-1 .frame-5 {
  width: 28.2px;
  height: 28.2px;
}
.applicant-profile-web-version-1 .container-3 {
  margin: 49.3px 0 62.9px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28.2px;
  height: fit-content;
  box-sizing: border-box;
}
.applicant-profile-web-version-1 .container-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.applicant-profile-web-version-1 .line-42 {
  background: #000000;
  position: absolute;
  left: 50%;
  top: 38px;
  translate: -50% 0;
  width: 325.4px;
  height: 1px;
}
.applicant-profile-web-version-1 .line-43 {
  background: #000000;
  position: absolute;
  left: 50%;
  top: 81.7px;
  translate: -50% 0;
  width: 325.4px;
  height: 1px;
}
.applicant-profile-web-version-1 .line-44 {
  background: #000000;
  position: absolute;
  left: 50%;
  top: 126.8px;
  translate: -50% 0;
  width: 325.4px;
  height: 1px;
}
.applicant-profile-web-version-1 .line-45 {
  background: #000000;
  position: absolute;
  left: 50%;
  bottom: 145px;
  translate: -50% 0;
  width: 325.4px;
  height: 1px;
}
.applicant-profile-web-version-1 .line-46 {
  background: #000000;
  position: absolute;
  left: 50%;
  bottom: 101.3px;
  translate: -50% 0;
  width: 325.4px;
  height: 1px;
}
.applicant-profile-web-version-1 .line-47 {
  background: #000000;
  position: absolute;
  left: 50%;
  bottom: 56.2px;
  translate: -50% 0;
  width: 325.4px;
  height: 1px;
}
.applicant-profile-web-version-1 .experience {
  position: relative;
  display: flex;
  padding: 0 11.3px 0 0px;
  box-sizing: border-box;
}
.skills-sub31 {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 34px;
  line-height: 1.333;
}
.skills {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 34px;
  line-height: 1.333;
  color: #3291FF;
}
.applicant-profile-web-version-1 .skills {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 34px;
  line-height: 1;
  color: #000000;
}
.skills-sub33 {
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 34px;
  line-height: 1.333;
}
.applicant-profile-web-version-1 .container-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 756.4px;
  box-sizing: border-box;
}
.applicant-profile-web-version-1 .container {
  margin: 28px 215.2px 0 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.applicant-profile-web-version-1 .current-status {
  margin-bottom: 12px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.current-status-sub6 {
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.333;
}
.current-status {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.333;
}
.applicant-profile-web-version-1 .s {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.111;
  color: #A1A1A1;
}
.applicant-profile-web-version-1 .table-head-1 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  display: flex;
  padding: 1.5px 7.8px;
  box-sizing: border-box;
}
.applicant-profile-web-version-1 .m {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.111;
  color: #A1A1A1;
}
.applicant-profile-web-version-1 .table-head-2 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  display: flex;
  padding: 1.5px 6.2px;
  box-sizing: border-box;
}
.applicant-profile-web-version-1 .t {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.111;
  color: #EAEAEA;
}
.applicant-profile-web-version-1 .table-head-3 {
  border-radius: 4px;
  background: #000000;
  display: flex;
  padding: 2.5px 8.8px;
  box-sizing: border-box;
}
.applicant-profile-web-version-1 .w {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.111;
  color: #A1A1A1;
}
.applicant-profile-web-version-1 .table-head-4 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  display: flex;
  padding: 1.5px 5.6px;
  box-sizing: border-box;
}
.applicant-profile-web-version-1 .t-1 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.111;
  color: #EAEAEA;
}
.applicant-profile-web-version-1 .table-head-5 {
  border-radius: 4px;
  background: #000000;
  display: flex;
  padding: 2.5px 8.8px;
  box-sizing: border-box;
}
.applicant-profile-web-version-1 .f {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.111;
  color: #A1A1A1;
}
.applicant-profile-web-version-1 .table-head-6 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  display: flex;
  padding: 1.5px 9.2px;
  box-sizing: border-box;
}
.applicant-profile-web-version-1 .s-1 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.111;
  color: #A1A1A1;
}
.applicant-profile-web-version-1 .table-head-7 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  display: flex;
  padding: 1.5px 7.3px;
  box-sizing: border-box;
}
.applicant-profile-web-version-1 .table-head {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.applicant-profile-web-version-1 .days-available-1 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.days-available-1-sub6 {
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.333;
}
.days-available-1 {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.333;
}
.applicant-profile-web-version-1 .days-available {
  position: relative;
  margin-bottom: 24px;
  display: flex;
  align-self: flex-start;
  padding: 26px 0 0 2px;
  box-sizing: border-box;
}
.applicant-profile-web-version-1 .hours {
  margin-bottom: 12px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.hours-sub6 {
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.333;
}
.hours-sub5 {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.333;
}
.applicant-profile-web-version-1 .location {
  margin-bottom: 131px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.location-sub6 {
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.333;
}
.location-sub5 {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.333;
}
.applicant-profile-web-version-1 .resume-icon {
  position: relative;
  width: 25.6px;
  height: 25.6px;
}
.applicant-profile-web-version-1 .ellipse-25 {
  border-radius: 16px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 32px;
  height: 32px;
}
.applicant-profile-web-version-1 .resume-button {
  position: relative;
  margin-right: 3px;
  display: flex;
  padding: 2.8px 3.2px 3.6px 3.2px;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.applicant-profile-web-version-1 .view-resume-1 {
  margin: 7.4px 0 6.6px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: #000000;
}
.applicant-profile-web-version-1 .view-resume {
  margin-right: 14.3px;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-profile-web-version-1 .container-5 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.applicant-profile-web-version-1 .rectangle-3358 {
  border-radius: 10px;
  border: 1px solid #000000;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.applicant-profile-web-version-1 .side-bar {
  position: relative;
  margin-bottom: 181px;
  display: flex;
  padding: 15px 4.3px 12px 6px;
  box-sizing: border-box;
}
.applicant-profile-web-version-1 .container-2 {
  margin: 0 37px 14px 43px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-profile-web-version-1 .relevant-experience {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 34px;
  line-height: 1;
  color: #000000;
}
.relevant-experience {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 34px;
  line-height: 1.333;
}
.applicant-profile-web-version-1 .label {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 500;
  font-size: 40px;
  line-height: 0.5;
  color: #FAFAFA;
}
.applicant-profile-web-version-1 .button {
  border-radius: 6px;
  background: #3291FF;
  display: flex;
  padding: 39.3px 0;
  width: 280px;
  height: fit-content;
  box-sizing: border-box;
}
.applicant-profile-web-version-1 .send-offer {
  border-radius: 6px;
  position: absolute;
  top: 53px;
  right: 408px;
  display: flex;
  width: 280px;
  box-sizing: border-box;
}
.applicant-profile-web-version-1 .custom {
  position: relative;
  margin: 0 43px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.applicant-profile-web-version-1 .body {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-profile-web-version-1 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  box-sizing: border-box;
}
