.applicant-page-contact-pop-up-page .close-btn {
  border-radius: 8.1px;
  background: #FC615C;
  margin-right: 10.8px;
  width: 16.2px;
  height: 16.2px;
}
.applicant-page-contact-pop-up-page .restore-btn {
  border-radius: 8.1px;
  background: #FDBE40;
  margin-right: 10.8px;
  width: 16.2px;
  height: 16.2px;
}
.applicant-page-contact-pop-up-page .minimize-btn {
  border-radius: 8.1px;
  background: #34CA49;
  width: 16.2px;
  height: 16.2px;
}
.applicant-page-contact-pop-up-page .action-bttn {
  margin: 5.4px 17.5px 8.1px 0;
  display: flex;
  flex-direction: row;
  width: 70.2px;
  height: fit-content;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .arrow {
  width: 6.8px;
  height: 13.5px;
}
.applicant-page-contact-pop-up-page .prev-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-right: 2.7px;
  display: flex;
  padding: 8.2px 16px 8px 9.7px;
  width: 32.4px;
  height: 29.7px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .arrow-1 {
  width: 6.8px;
  height: 13.5px;
}
.applicant-page-contact-pop-up-page .prev-btn-2 {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-right: 14.9px;
  display: flex;
  padding: 8.1px 12.1px 8.1px 13.5px;
  width: 32.4px;
  height: 29.7px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .option-btn {
  width: 50px;
  height: 29.7px;
}
.applicant-page-contact-pop-up-page .container-2 {
  margin-bottom: 9.4px;
  display: flex;
  flex-direction: row;
  width: 220px;
  height: fit-content;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .safaribrowser {
  margin: 3px 7px 0 0;
  display: inline-block;
  width: 583px;
  overflow-wrap: break-word;
  font-family: 'SF Compact Display', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.applicant-page-contact-pop-up-page .refresh {
  margin-bottom: 5px;
  width: 10px;
  height: 12px;
}
.applicant-page-contact-pop-up-page .address-bar {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 17.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 7px 0 0;
  width: 1143px;
  height: fit-content;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .share {
  width: 13.5px;
  height: 18.9px;
}
.applicant-page-contact-pop-up-page .share-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin: 0 10.8px 9.4px 0;
  display: flex;
  padding: 4.7px 18.2px 6.1px 18.2px;
  width: 50px;
  height: 29.7px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .view {
  width: 14.9px;
  height: 14.9px;
}
.applicant-page-contact-pop-up-page .view-search-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin: 0 17.5px 9.4px 0;
  display: flex;
  padding: 7.4px 17.6px 7.4px 17.5px;
  width: 50px;
  height: 29.7px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .add-btn {
  margin-top: 6.8px;
  width: 32.4px;
  height: 32.4px;
}
.applicant-page-contact-pop-up-page .container-4 {
  display: flex;
  flex-direction: row;
  width: 160.7px;
  height: fit-content;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .browser-bar {
  box-shadow: 0px 1px 0px 0px #B5B4B5;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(180deg, #EBEAEB, #D7D6D7);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  padding: 42.8px 0px 0px 17.6px;
  width: 1728px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .text-3 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  color: var(--gray-500, #6B7280);
}
.applicant-page-contact-pop-up-page .bar {
  background: var(--gray-501, #F9FAFB);
  margin-bottom: 15px;
  display: flex;
  align-self: flex-start;
  padding: 11.5px 0;
  width: 1621px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .avatar {
  border-radius: 100px;
  background: var(--avatar-neil-sims, url('assets/images/Avatar4.jpeg') 50% / cover no-repeat);
  margin: 3px 15px 0 0;
  width: 80px;
  height: 80px;
}
.applicant-page-contact-pop-up-page .joey-smith-he-him {
  margin-bottom: 15px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  color: #000000;
}
.joey-smith-he-him {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 32px;
  line-height: 1.333;
}
.applicant-page-contact-pop-up-page .text-2 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-semibold-font-family, 'Inter');
  font-weight: var(--text-smfont-semibold-font-weight, 600);
  font-size: var(--text-smfont-semibold-font-size, 14px);
  line-height: var(--text-smfont-semibold-line-height, 1.5);
  color: var(--green-800, #03543F);
}
.applicant-page-contact-pop-up-page .badge-1 {
  border-radius: 6px;
  border: 1px solid #03543F;
  background: var(--green-100, #DEF7EC);
  margin-right: 8px;
  display: flex;
  padding: 1px 11.1px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .text-1 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-semibold-font-family, 'Inter');
  font-weight: var(--text-smfont-semibold-font-weight, 600);
  font-size: var(--text-smfont-semibold-font-size, 14px);
  line-height: var(--text-smfont-semibold-line-height, 1.5);
  color: var(--green-800, #03543F);
}
.applicant-page-contact-pop-up-page .badge {
  border-radius: 6px;
  border: 1px solid #03543F;
  background: var(--green-100, #DEF7EC);
  display: flex;
  padding: 1px 11.3px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .container-3 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .container-6 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .applicant-deets {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .folder-open {
  margin-right: 8px;
  width: 24px;
  height: 24px;
}
.applicant-page-contact-pop-up-page .text-10 {
  overflow-wrap: break-word;
  font-family: var(--text-basefont-medium-font-family, 'Inter');
  font-weight: var(--text-basefont-medium-font-weight, 500);
  font-size: var(--text-basefont-medium-font-size, 16px);
  line-height: var(--text-basefont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.applicant-page-contact-pop-up-page .button-1 {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  margin: 23px 0 20px 0;
  display: flex;
  flex-direction: row;
  padding: 8px 12.7px 8px 12px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .header {
  margin-bottom: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 1525px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .about-applicant {
  margin: 0 0.5px 14px 0.5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 34px;
  line-height: 1;
  color: #000000;
}
.applicant-page-contact-pop-up-page .about-body {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 28px;
  line-height: 1;
  color: #000000;
}
.applicant-page-contact-pop-up-page .about {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .label {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: #111928;
}
.applicant-page-contact-pop-up-page .container {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: #6B7280;
}
.applicant-page-contact-pop-up-page .input {
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  background: #F9FAFB;
  padding: 7px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .input-number {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .label-1 {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: #111928;
}
.applicant-page-contact-pop-up-page .container-1 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: #6B7280;
}
.applicant-page-contact-pop-up-page .input-1 {
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  background: #F9FAFB;
  padding: 7px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .input-number-1 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .applicant-application {
  display: flex;
  flex-direction: column;
  width: 271px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .label-2 {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: #111928;
}
.applicant-page-contact-pop-up-page .container-2 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: #6B7280;
}
.applicant-page-contact-pop-up-page .input-2 {
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  background: #F9FAFB;
  padding: 7px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .input-number-2 {
  margin-bottom: 11px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .preferred-days {
  margin-bottom: 3px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.25;
  color: #000000;
}
.applicant-page-contact-pop-up-page .vector-11 {
  width: 13.5px;
  height: 13.5px;
}
.applicant-page-contact-pop-up-page .calendar-month {
  margin: 2.3px 10.3px 2.3px 0;
  display: flex;
  width: 13.5px;
  height: 13.5px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .select-period {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-normal-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-normal-font-weight, 400);
  font-size: var(--leading-tighttext-smfont-normal-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-normal-line-height, 1.25);
  color: var(--gray-500, #6B7280);
}
.applicant-page-contact-pop-up-page .datepicker {
  border-radius: 8px;
  border: 1px solid var(--gray-3001, #D1D5DB);
  background: var(--gray-501, #F9FAFB);
  display: flex;
  flex-direction: row;
  padding: 11px 0 11px 17.3px;
  width: 271px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .frame-1000004350 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .preferred-timing {
  display: flex;
  flex-direction: column;
  width: 271px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .label-3 {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: #111928;
}
.applicant-page-contact-pop-up-page .vector-12 {
  width: 10.7px;
  height: 13.3px;
}
.applicant-page-contact-pop-up-page .map-pin {
  margin: 3.8px 12.7px 3.8px 0;
  display: flex;
  width: 10.7px;
  height: 13.3px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .container-3 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: #6B7280;
}
.applicant-page-contact-pop-up-page .input-3 {
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  background: #F9FAFB;
  display: flex;
  flex-direction: row;
  padding: 7px 0 7px 17.7px;
  width: 271px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .input-number-3 {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .label-4 {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: #111928;
}
.applicant-page-contact-pop-up-page .container-4 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: #6B7280;
}
.applicant-page-contact-pop-up-page .input-4 {
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  background: #F9FAFB;
  padding: 7px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .input-number-4 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .preferred-timing-1 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .frame-10151 {
  margin-bottom: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 1530px;
  box-sizing: border-box;
}
.relevant-experience {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 34px;
  line-height: 1.333;
  color: #3291FF;
}
.applicant-page-contact-pop-up-page .relevant-experience {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 34px;
  line-height: 1;
  color: #000000;
}
.relevant-experience-sub37 {
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 34px;
  line-height: 1.333;
}
.relevant-experience-sub55 {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 34px;
  line-height: 1.333;
}
.applicant-page-contact-pop-up-page .suporting-text {
  margin-right: 25px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-contact-pop-up-page .vector-13 {
  width: 12px;
  height: 12px;
}
.applicant-page-contact-pop-up-page .expand-outline {
  margin: 9px 0;
  display: flex;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .list-item {
  margin: 0 17px 8px 15px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .border-t {
  background: var(--gray-2002, #E5E7EB);
  margin-bottom: 8px;
  width: 240px;
  height: 1px;
}
.applicant-page-contact-pop-up-page .suporting-text-1 {
  margin-right: 15px;
  width: 179px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-contact-pop-up-page .vector-14 {
  width: 12px;
  height: 12px;
}
.applicant-page-contact-pop-up-page .expand-outline-1 {
  margin: 9px 0;
  display: flex;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .content-1 {
  margin: 0 18px 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 206px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .list-item-1 {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .border-t-1 {
  background: var(--gray-2002, #E5E7EB);
  margin-bottom: 8px;
  width: 240px;
  height: 1px;
}
.applicant-page-contact-pop-up-page .suporting-text-2 {
  margin-right: 22.5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-contact-pop-up-page .vector-15 {
  width: 12px;
  height: 12px;
}
.applicant-page-contact-pop-up-page .expand-outline-2 {
  margin: 9px 0;
  display: flex;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .content-2 {
  margin: 0 18px 0 16px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .list-item-2 {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .border-t-2 {
  background: var(--gray-2002, #E5E7EB);
  margin-bottom: 8px;
  width: 240px;
  height: 1px;
}
.applicant-page-contact-pop-up-page .suporting-text-3 {
  margin-right: 18.4px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-contact-pop-up-page .vector-16 {
  width: 12px;
  height: 12px;
}
.applicant-page-contact-pop-up-page .expand-outline-3 {
  margin: 9px 0;
  display: flex;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .content-3 {
  margin: 0 18px 0 16px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .list-item-3 {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .border-t-3 {
  background: var(--gray-2002, #E5E7EB);
  margin-bottom: 8px;
  width: 240px;
  height: 1px;
}
.applicant-page-contact-pop-up-page .suporting-text-4 {
  margin-right: 15px;
  width: 179px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-contact-pop-up-page .vector-17 {
  width: 12px;
  height: 12px;
}
.applicant-page-contact-pop-up-page .expand-outline-4 {
  margin: 9px 0;
  display: flex;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .content-4 {
  margin: 0 18px 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 206px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .list-item-4 {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .border-t-4 {
  background: var(--gray-2002, #E5E7EB);
  margin-bottom: 8px;
  width: 240px;
  height: 1px;
}
.applicant-page-contact-pop-up-page .suporting-text-5 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #1A56DB;
}
.applicant-page-contact-pop-up-page .content-5 {
  margin: 0 16px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .list-item-5 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .list {
  border-radius: 8px;
  border: 1px solid var(--gray-2002, #E5E7EB);
  background: var(--white-4, #FFFFFF);
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px 0;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .experience {
  border-radius: 8px;
  position: relative;
  display: flex;
  padding-left: 0.9px;
  height: 322.1px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .skills-1 {
  margin-bottom: 2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 34px;
  line-height: 1;
  color: #000000;
}
.applicant-page-contact-pop-up-page .text-4 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-contact-pop-up-page .badge-2 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  display: flex;
  padding: 2.5px 0;
  width: 218px;
  height: fit-content;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .frame-1000004325 {
  margin-bottom: 8px;
  display: flex;
  width: 218px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .text-5 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-contact-pop-up-page .badge-3 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  display: flex;
  padding: 2.5px 0;
  width: 218px;
  height: fit-content;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .frame-1000004326 {
  margin-bottom: 5px;
  display: flex;
  width: 218px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .text-6 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-contact-pop-up-page .badge-4 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  display: flex;
  padding: 2.5px 5.3px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .frame-1000004327 {
  margin-bottom: 5px;
  display: flex;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .text-7 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-contact-pop-up-page .badge-5 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  margin-bottom: 5px;
  display: flex;
  padding: 2.5px 0;
  width: 218px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .text-8 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.applicant-page-contact-pop-up-page .badge-6 {
  border-radius: 6px;
  border: 1px solid #000000;
  background: #C3DDFD;
  margin-bottom: 5px;
  display: flex;
  padding: 2.5px 0;
  width: 218px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .text-9 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: #111928;
}
.applicant-page-contact-pop-up-page .button-2 {
  border-radius: 8px;
  border: 1px solid #000000;
  background: #76A9FA;
  display: flex;
  padding: 2.5px 0.4px 2.5px 0;
  width: 218px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .frame-1000004324 {
  margin-left: 0.9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .skills {
  margin: 0px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .experience-and-skills {
  margin: 0 235.9px 45px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 1164px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .relevant-experience-1 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 34px;
  line-height: 1;
  color: #000000;
}
.relevant-experience-1-sub40 {
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 34px;
  line-height: 1.333;
}
.relevant-experience-1-sub39 {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 34px;
  line-height: 1.333;
}
.relevant-experience-1 {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 34px;
  line-height: 1.333;
}
.applicant-page-contact-pop-up-page .custom {
  display: flex;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .container-5 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .text-11 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: var(--white-4, #FFFFFF);
}
.applicant-page-contact-pop-up-page .button-3 {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  position: absolute;
  left: 604.5px;
  bottom: 365.1px;
  display: flex;
  padding: 14px 0.5px 14px 0;
  width: 319px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .content {
  position: relative;
  margin-left: 46px;
  display: flex;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .container-7 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .vector-2 {
  width: 11.7px;
  height: 11.7px;
}
.applicant-page-contact-pop-up-page .modal-header {
  margin-bottom: 24.1px;
  display: flex;
  align-self: flex-end;
  width: 11.7px;
  height: 11.7px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .next-friday-should-b {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: var(--gray-500, #6B7280);
}
.applicant-page-contact-pop-up-page .modal-body {
  margin-bottom: 20px;
  display: flex;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .next-friday-should-b-1 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--text-basefont-normal-font-family, 'Inter');
  font-weight: var(--text-basefont-normal-font-weight, 400);
  font-size: var(--text-basefont-normal-font-size, 16px);
  line-height: var(--text-basefont-normal-line-height, 1.5);
  color: #111928;
}
.applicant-page-contact-pop-up-page .project-description {
  margin-bottom: 16px;
  display: flex;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .text {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.applicant-page-contact-pop-up-page .button {
  border-radius: 8px;
  background: #1A56DB;
  display: flex;
  padding: 8px 12.3px 8px 12px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .modal-footer {
  margin-bottom: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .rectangle-1729 {
  border-radius: 12px;
  background: #1C64F2;
  margin-right: 16px;
  width: 12px;
  height: 12px;
}
.applicant-page-contact-pop-up-page .rectangle-1730 {
  border-radius: 12px;
  background: #D1D5DB;
  width: 12px;
  height: 12px;
}
.applicant-page-contact-pop-up-page .frame-1015 {
  display: flex;
  flex-direction: row;
  width: 40px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .modal {
  border-radius: 8px;
  border: 1px solid var(--gray-2002, #E5E7EB);
  background: var(--white-4, #FFFFFF);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 19.7px 19.6px 9.5px 19.6px;
  width: 416px;
  height: fit-content;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .container-1 {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 14.5px;
  bottom: 0px;
  display: flex;
  width: 1591px;
  height: 1346px;
}
.applicant-page-contact-pop-up-page .frame-1000004341 {
  position: relative;
  margin-left: 122.5px;
  display: flex;
  padding-bottom: 4.9px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1928.4px;
  height: fit-content;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .job-ez {
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.applicant-page-contact-pop-up-page .job-ez-word-mark {
  background: #000000;
  position: relative;
  margin-bottom: 100px;
  display: flex;
  padding: 16px 3.3px 16px 3px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .vector-3 {
  width: 22.5px;
  height: 22.5px;
}
.applicant-page-contact-pop-up-page .list-1 {
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  padding: 16.3px 17.8px;
  width: 58px;
  height: 55px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .frame-1000004346 {
  margin-bottom: 171.5px;
  display: flex;
  width: 58px;
  height: 55px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .vector-4 {
  width: 17.5px;
  height: 17.5px;
}
.applicant-page-contact-pop-up-page .list-item-6 {
  margin-bottom: 44.5px;
  display: flex;
  width: 17.5px;
  height: 17.5px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .vector-5 {
  width: 20px;
  height: 17.5px;
}
.applicant-page-contact-pop-up-page .list-item-7 {
  margin: 0 2.5px 40.8px 2.5px;
  display: flex;
  width: 20px;
  height: 17.5px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .vector-6 {
  width: 25px;
  height: 25px;
}
.applicant-page-contact-pop-up-page .list-item-8 {
  display: flex;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .list-2 {
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30.3px 16.5px 26.5px 16.5px;
  width: 58px;
  height: fit-content;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .frame-1000004347 {
  margin-bottom: 171.5px;
  display: flex;
  width: 58px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .vector-7 {
  width: 17.5px;
  height: 25px;
}
.applicant-page-contact-pop-up-page .list-item-9 {
  margin: 0 0 31.5px 0px;
  display: flex;
  width: 17.5px;
  height: 25px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .vector-8 {
  width: 20px;
  height: 20px;
}
.applicant-page-contact-pop-up-page .list-item-10 {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .list-3 {
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 26.5px 19px 29px 19px;
  width: 58px;
  height: fit-content;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .frame-1000004348 {
  display: flex;
  width: 58px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .frame-1000004349 {
  margin-right: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 58px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .sidebar-free-component {
  background: #0C2B5A;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 100px 0;
  width: 137px;
  height: fit-content;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page .sidebar {
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: flex;
  width: 137px;
  box-sizing: border-box;
}
.applicant-page-contact-pop-up-page {
  background: #EDF0F4;
  display: flex;
  width: 1728px;
  box-sizing: border-box;
}
