.applicants-page .rectangle-148 {
  background: url('assets/images/Rectangle148.png') 50% / cover no-repeat;
  margin-bottom: 42px;
  align-self: flex-start;
  width: 255px;
  height: 62px;
}
.applicants-page .overview {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #BFBFBF;
}
.applicants-page .vector {
  width: 22.5px;
  height: 22.5px;
}
.applicants-page .material-symbolsdashboard {
  margin: 3.8px 11.8px 3.8px 0;
  display: flex;
  width: 22.5px;
  height: 22.5px;
  box-sizing: border-box;
}
.applicants-page .dashboard {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #F9DA33;
}
.applicants-page .container-10 {
  margin: 0 1.3px 32px 1.3px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.applicants-page .vector-1 {
  width: 22.5px;
  height: 26.3px;
}
.applicants-page .mdibell {
  margin: 2.5px 11.8px 1.3px 0;
  display: flex;
  width: 22.5px;
  height: 26.3px;
  box-sizing: border-box;
}
.applicants-page .dashboard-1 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #E0E0E0;
}
.applicants-page .container-2 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.applicants-page .container {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.4px;
  line-height: 1.5;
  color: #0C2B5A;
}
.applicants-page .container-23 {
  border-radius: 15px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  padding: 3px 5.9px 3px 6px;
  box-sizing: border-box;
}
.applicants-page .container-13 {
  margin: 0 0 32px 1.3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 317.3px;
  box-sizing: border-box;
}
.applicants-page .vector-5 {
  width: 25px;
  height: 20px;
}
.applicants-page .material-symbolsmail {
  margin: 5px 10.5px 5px 0;
  display: flex;
  width: 25px;
  height: 20px;
  box-sizing: border-box;
}
.applicants-page .dashboard-5 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #E0E0E0;
}
.applicants-page .container-12 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.applicants-page .container-1 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.4px;
  line-height: 1.5;
  color: #0C2B5A;
}
.applicants-page .container-26 {
  border-radius: 15px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  padding: 3px 5.9px 3px 6px;
  box-sizing: border-box;
}
.applicants-page .container-18 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 318.5px;
  box-sizing: border-box;
}
.applicants-page .container-1 {
  border-radius: 8px;
  background: rgba(191, 191, 191, 0.1);
  position: relative;
  margin-bottom: 56px;
  display: flex;
  flex-direction: column;
  padding: 24px 16px 24px 18.5px;
  width: fit-content;
  box-sizing: border-box;
}
.applicants-page .manage-listings {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -0.4px;
  line-height: 1.5;
  color: #BFBFBF;
}
.applicants-page .vector-2 {
  width: 26.3px;
  height: 26.3px;
}
.applicants-page .carbonadd-filled {
  margin: 1.9px 9.9px 1.9px 0;
  display: flex;
  width: 26.3px;
  height: 26.3px;
  box-sizing: border-box;
}
.applicants-page .dashboard-2 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #E0E0E0;
}
.applicants-page .container-17 {
  margin: 0 0.6px 32px 0.6px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.applicants-page .vector-6 {
  width: 22.5px;
  height: 15px;
}
.applicants-page .material-symbolsmenu {
  margin: 7.5px 11.8px 7.5px 0;
  display: flex;
  width: 22.5px;
  height: 15px;
  box-sizing: border-box;
}
.applicants-page .dashboard-6 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #E0E0E0;
}
.applicants-page .container-6 {
  margin: 0 2.5px 32px 2.5px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.applicants-page .vector-4 {
  width: 27.5px;
  height: 17.5px;
}
.applicants-page .icbaseline-people {
  margin: 6.3px 9.3px 6.3px 0;
  display: flex;
  width: 27.5px;
  height: 17.5px;
  box-sizing: border-box;
}
.applicants-page .dashboard-4 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #E0E0E0;
}
.applicants-page .container-9 {
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.applicants-page .vector-8 {
  width: 22.5px;
  height: 25px;
}
.applicants-page .mdicalendar {
  margin: 1.3px 11.8px 3.8px 0;
  display: flex;
  width: 22.5px;
  height: 25px;
  box-sizing: border-box;
}
.applicants-page .dashboard-8 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #E0E0E0;
}
.applicants-page .container-30 {
  margin: 0 2.5px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.applicants-page .container-32 {
  border-radius: 8px;
  background: rgba(191, 191, 191, 0.1);
  position: relative;
  margin-bottom: 56px;
  display: flex;
  flex-direction: column;
  padding: 24px 0 24px 17.3px;
  width: fit-content;
  box-sizing: border-box;
}
.applicants-page .manage-listings-1 {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #BFBFBF;
}
.applicants-page .vector-3 {
  width: 20px;
  height: 20px;
}
.applicants-page .mdiaccount {
  margin: 2px 13px 8px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.applicants-page .dashboard-3 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #E0E0E0;
}
.applicants-page .container-33 {
  margin: 0 1.3px 32px 1.3px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.applicants-page .vector-7 {
  width: 22.5px;
  height: 22.5px;
}
.applicants-page .material-symbolslogout {
  margin: 0.8px 11.8px 6.8px 0;
  display: flex;
  width: 22.5px;
  height: 22.5px;
  box-sizing: border-box;
}
.applicants-page .dashboard-7 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #E0E0E0;
}
.applicants-page .container-35 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.applicants-page .container-21 {
  border-radius: 8px;
  background: rgba(191, 191, 191, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 24px 0 33px 19.8px;
  width: fit-content;
  box-sizing: border-box;
}
.applicants-page .sidebar {
  background: #0C2B5A;
  position: relative;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 41px 30px 40px;
  width: 434px;
  box-sizing: border-box;
}
.applicants-page .dashboard-9 {
  margin-right: 18px;
  width: 1130.6px;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: #0C2B5A;
}
.applicants-page .group {
  width: 22.8px;
  height: 18.9px;
}
.applicants-page .sort-amount-asc {
  margin: 4.5px 0 12.6px 0;
  display: flex;
  width: 22.8px;
  height: 18.9px;
  box-sizing: border-box;
}
.applicants-page .page-header {
  border-radius: 8px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 22px 33.6px 22px 25px;
  width: 1230px;
  box-sizing: border-box;
}
.applicants-page .vector-30 {
  width: 7.7px;
  height: 14.2px;
}
.applicants-page .frame-10000043101 {
  border-radius: 6px;
  border: 1px solid var(--stroke, #DFE4EA);
  background: var(--white-white, #FFFFFF);
  display: flex;
  padding: 8.9px 12.2px;
  width: 34px;
  height: 34px;
  box-sizing: border-box;
}
.applicants-page .container-6 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  color: var(--white-white, #FFFFFF);
}
.applicants-page .frame-10000043071 {
  border-radius: 6px;
  background: var(--primary-color, #3758F9);
  display: flex;
  padding: 8px 13.3px;
  box-sizing: border-box;
}
.applicants-page .container-7 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  color: var(--primary-text-color-1, #637381);
}
.applicants-page .frame-10000043051 {
  border-radius: 6px;
  border: 1px solid var(--stroke, #DFE4EA);
  background: var(--white-white, #FFFFFF);
  display: flex;
  padding: 7px 11.2px;
  box-sizing: border-box;
}
.applicants-page .container-8 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  color: var(--primary-text-color-1, #637381);
}
.applicants-page .frame-10000043031 {
  border-radius: 6px;
  border: 1px solid var(--stroke, #DFE4EA);
  background: var(--white-white, #FFFFFF);
  display: flex;
  padding: 7px 10.9px;
  box-sizing: border-box;
}
.applicants-page .container-9 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  color: var(--primary-text-color-1, #637381);
}
.applicants-page .frame-10000043061 {
  border-radius: 6px;
  border: 1px solid var(--stroke, #DFE4EA);
  background: var(--white-white, #FFFFFF);
  display: flex;
  padding: 7px 10.9px;
  box-sizing: border-box;
}
.applicants-page .vector-31 {
  width: 7.6px;
  height: 14.2px;
}
.applicants-page .frame-10000043091 {
  border-radius: 6px;
  border: 1px solid var(--stroke, #DFE4EA);
  background: var(--white-white, #FFFFFF);
  display: flex;
  padding: 8.9px 12.2px;
  width: 34px;
  height: 34px;
  box-sizing: border-box;
}
.applicants-page .pagination-1 {
  margin: 0 240px 36px 0;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  width: fit-content;
  box-sizing: border-box;
}
.applicants-page .pfp {
  border-radius: 9999px;
  background: url('assets/images/Pfp.png') 50% / cover no-repeat;
  width: 35.6px;
  height: 36.1px;
}
.applicants-page .applicant-name {
  margin: 8.1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.applicants-page .container-34 {
  margin: 0 11.4px 28.8px 11.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 237.5px;
  box-sizing: border-box;
}
.applicants-page .applied-to {
  margin: 0 6.5px 10.1px 0;
  width: 288.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  color: #000000;
}
.applied-to {
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.333;
}
.applicants-page .group-1 {
  width: 8.5px;
  height: 11.4px;
}
.applicants-page .personal-file {
  position: relative;
  display: flex;
  width: 8.5px;
  height: 11.4px;
  box-sizing: border-box;
}
.applicants-page .ellipse-25 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 17.8px;
  height: 18.1px;
}
.applicants-page .resume-button {
  position: relative;
  margin-right: 2.9px;
  display: flex;
  padding: 3.3px 4.6px 3.4px 4.8px;
  width: 17.8px;
  height: 18.1px;
  box-sizing: border-box;
}
.applicants-page .view-resume-1 {
  margin: 3.1px 0 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #000000;
}
.applicants-page .view-resume {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.applicants-page .container-8 {
  margin: 0 10.1px 13.3px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 368.7px;
  box-sizing: border-box;
}
.applicants-page .s {
  position: absolute;
  right: 4.4px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.applicants-page .table-head-1 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 14px;
  height: 13px;
}
.applicants-page .m {
  position: absolute;
  right: 3.2px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.applicants-page .table-head-2 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 14px;
  height: 13px;
}
.applicants-page .t {
  position: absolute;
  right: 4.4px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #EAEAEA;
}
.applicants-page .table-head-3 {
  border-radius: 4px;
  background: #000000;
  position: relative;
  width: 14px;
  height: 13px;
}
.applicants-page .w {
  position: absolute;
  right: 3.2px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.applicants-page .table-head-4 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 14px;
  height: 13px;
}
.applicants-page .t-1 {
  position: absolute;
  right: 4.4px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #EAEAEA;
}
.applicants-page .table-head-5 {
  border-radius: 4px;
  background: #000000;
  position: relative;
  width: 14px;
  height: 13px;
}
.applicants-page .f {
  position: absolute;
  right: 5.1px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.applicants-page .table-head-6 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 15px;
  height: 13px;
}
.applicants-page .container-28 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 71px;
  height: fit-content;
  box-sizing: border-box;
}
.applicants-page .s-1 {
  position: absolute;
  right: 3.9px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.applicants-page .table-head-7 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 13px;
  height: 13px;
}
.applicants-page .table-head {
  position: relative;
  margin-bottom: 29.6px;
  display: flex;
  align-self: flex-end;
  padding: 0 13px 0 14px;
  width: 98px;
  box-sizing: border-box;
}
.applicants-page .button-text {
  overflow-wrap: break-word;
  font-family: var(--body-medium-medium-font-family, 'Inter');
  font-weight: var(--body-medium-medium-font-weight, 500);
  font-size: var(--body-medium-medium-font-size, 16px);
  line-height: var(--body-medium-medium-line-height, 1.5);
  color: var(--white-white, #FFFFFF);
}
.applicants-page .button {
  background: var(--primary-color, #3758F9);
  margin-right: 5.9px;
  display: flex;
  align-self: center;
  padding: 13px 0;
  width: 147px;
  box-sizing: border-box;
}
.applicants-page .applicant-card-web {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0.1px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-right: 168px;
  display: flex;
  flex-direction: column;
  padding: 9px 3.1px 3px 10px;
  width: 392px;
  box-sizing: border-box;
}
.applicants-page .pfp-1 {
  border-radius: 9999px;
  background: url('assets/images/Pfp.png') 50% / cover no-repeat;
  width: 35.6px;
  height: 36.1px;
}
.applicants-page .applicant-name-1 {
  margin: 8.1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.applicants-page .container-15 {
  margin: 0 11.4px 28.8px 11.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 237.5px;
  box-sizing: border-box;
}
.applicants-page .applied-to-1 {
  margin: 0 6.5px 10.1px 0;
  width: 288.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  color: #000000;
}
.applied-to-1 {
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.333;
}
.applicants-page .group-2 {
  width: 8.5px;
  height: 11.4px;
}
.applicants-page .personal-file-1 {
  position: relative;
  display: flex;
  width: 8.5px;
  height: 11.4px;
  box-sizing: border-box;
}
.applicants-page .ellipse-251 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 17.8px;
  height: 18.1px;
}
.applicants-page .resume-button-1 {
  position: relative;
  margin-right: 2.9px;
  display: flex;
  padding: 3.3px 4.6px 3.4px 4.8px;
  width: 17.8px;
  height: 18.1px;
  box-sizing: border-box;
}
.applicants-page .view-resume-3 {
  margin: 3.1px 0 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #000000;
}
.applicants-page .view-resume-2 {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.applicants-page .container-14 {
  margin: 0 10.1px 13.3px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 368.7px;
  box-sizing: border-box;
}
.applicants-page .s-2 {
  position: absolute;
  right: 4.4px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.applicants-page .table-head-9 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 14px;
  height: 13px;
}
.applicants-page .m-1 {
  position: absolute;
  right: 3.2px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.applicants-page .table-head-10 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 14px;
  height: 13px;
}
.applicants-page .t-2 {
  position: absolute;
  right: 4.4px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #EAEAEA;
}
.applicants-page .table-head-11 {
  border-radius: 4px;
  background: #000000;
  position: relative;
  width: 14px;
  height: 13px;
}
.applicants-page .w-1 {
  position: absolute;
  right: 3.2px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.applicants-page .table-head-12 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 14px;
  height: 13px;
}
.applicants-page .t-3 {
  position: absolute;
  right: 4.4px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #EAEAEA;
}
.applicants-page .table-head-13 {
  border-radius: 4px;
  background: #000000;
  position: relative;
  width: 14px;
  height: 13px;
}
.applicants-page .f-1 {
  position: absolute;
  right: 5.1px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.applicants-page .table-head-14 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 15px;
  height: 13px;
}
.applicants-page .container-31 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 71px;
  height: fit-content;
  box-sizing: border-box;
}
.applicants-page .s-3 {
  position: absolute;
  right: 3.9px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.applicants-page .table-head-15 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 13px;
  height: 13px;
}
.applicants-page .table-head-8 {
  position: relative;
  margin-bottom: 29.6px;
  display: flex;
  align-self: flex-end;
  padding: 0 13px 0 14px;
  width: 98px;
  box-sizing: border-box;
}
.applicants-page .button-text-1 {
  overflow-wrap: break-word;
  font-family: var(--body-medium-medium-font-family, 'Inter');
  font-weight: var(--body-medium-medium-font-weight, 500);
  font-size: var(--body-medium-medium-font-size, 16px);
  line-height: var(--body-medium-medium-line-height, 1.5);
  color: var(--white-white, #FFFFFF);
}
.applicants-page .button-1 {
  background: var(--primary-color, #3758F9);
  margin-right: 5.9px;
  display: flex;
  align-self: center;
  padding: 13px 0;
  width: 147px;
  box-sizing: border-box;
}
.applicants-page .applicant-card-web-1 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0.1px solid #000000;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 9px 3.1px 3px 10px;
  width: 392px;
  box-sizing: border-box;
}
.applicants-page .row {
  margin-bottom: 45px;
  display: flex;
  flex-direction: row;
  width: 952px;
  box-sizing: border-box;
}
.applicants-page .pfp-2 {
  border-radius: 9999px;
  background: url('assets/images/Pfp.png') 50% / cover no-repeat;
  width: 35.6px;
  height: 36.1px;
}
.applicants-page .applicant-name-2 {
  margin: 8.1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.applicants-page .container-4 {
  margin: 0 11.4px 28.8px 11.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 237.5px;
  box-sizing: border-box;
}
.applicants-page .applied-to-2 {
  margin: 0 6.5px 10.1px 0;
  width: 288.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  color: #000000;
}
.applied-to-2 {
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.333;
}
.applicants-page .group-3 {
  width: 8.5px;
  height: 11.4px;
}
.applicants-page .personal-file-2 {
  position: relative;
  display: flex;
  width: 8.5px;
  height: 11.4px;
  box-sizing: border-box;
}
.applicants-page .ellipse-252 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 17.8px;
  height: 18.1px;
}
.applicants-page .resume-button-2 {
  position: relative;
  margin-right: 2.9px;
  display: flex;
  padding: 3.3px 4.6px 3.4px 4.8px;
  width: 17.8px;
  height: 18.1px;
  box-sizing: border-box;
}
.applicants-page .view-resume-5 {
  margin: 3.1px 0 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #000000;
}
.applicants-page .view-resume-4 {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.applicants-page .container-7 {
  margin: 0 10.1px 13.3px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 368.7px;
  box-sizing: border-box;
}
.applicants-page .s-4 {
  position: absolute;
  right: 4.4px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.applicants-page .table-head-17 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 14px;
  height: 13px;
}
.applicants-page .m-2 {
  position: absolute;
  right: 3.2px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.applicants-page .table-head-18 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 14px;
  height: 13px;
}
.applicants-page .t-4 {
  position: absolute;
  right: 4.4px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #EAEAEA;
}
.applicants-page .table-head-19 {
  border-radius: 4px;
  background: #000000;
  position: relative;
  width: 14px;
  height: 13px;
}
.applicants-page .w-2 {
  position: absolute;
  right: 3.2px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.applicants-page .table-head-20 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 14px;
  height: 13px;
}
.applicants-page .t-5 {
  position: absolute;
  right: 4.4px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #EAEAEA;
}
.applicants-page .table-head-21 {
  border-radius: 4px;
  background: #000000;
  position: relative;
  width: 14px;
  height: 13px;
}
.applicants-page .f-2 {
  position: absolute;
  right: 5.1px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.applicants-page .table-head-22 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 15px;
  height: 13px;
}
.applicants-page .container-3 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 71px;
  height: fit-content;
  box-sizing: border-box;
}
.applicants-page .s-5 {
  position: absolute;
  right: 3.9px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.applicants-page .table-head-23 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 13px;
  height: 13px;
}
.applicants-page .table-head-16 {
  position: relative;
  margin-bottom: 29.6px;
  display: flex;
  align-self: flex-end;
  padding: 0 13px 0 14px;
  width: 98px;
  box-sizing: border-box;
}
.applicants-page .button-text-2 {
  overflow-wrap: break-word;
  font-family: var(--body-medium-medium-font-family, 'Inter');
  font-weight: var(--body-medium-medium-font-weight, 500);
  font-size: var(--body-medium-medium-font-size, 16px);
  line-height: var(--body-medium-medium-line-height, 1.5);
  color: var(--white-white, #FFFFFF);
}
.applicants-page .button-2 {
  background: var(--primary-color, #3758F9);
  margin-right: 5.9px;
  display: flex;
  align-self: center;
  padding: 13px 0;
  width: 147px;
  box-sizing: border-box;
}
.applicants-page .applicant-card-web-2 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0.1px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-right: 168px;
  display: flex;
  flex-direction: column;
  padding: 9px 3.1px 3px 10px;
  width: 392px;
  box-sizing: border-box;
}
.applicants-page .pfp-3 {
  border-radius: 9999px;
  background: url('assets/images/Pfp.png') 50% / cover no-repeat;
  width: 35.6px;
  height: 36.1px;
}
.applicants-page .applicant-name-3 {
  margin: 8.1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.applicants-page .container-24 {
  margin: 0 11.4px 28.8px 11.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 237.5px;
  box-sizing: border-box;
}
.applicants-page .applied-to-3 {
  margin: 0 6.5px 10.1px 0;
  width: 288.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  color: #000000;
}
.applied-to-3 {
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.333;
}
.applicants-page .group-4 {
  width: 8.5px;
  height: 11.4px;
}
.applicants-page .personal-file-3 {
  position: relative;
  display: flex;
  width: 8.5px;
  height: 11.4px;
  box-sizing: border-box;
}
.applicants-page .ellipse-253 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 17.8px;
  height: 18.1px;
}
.applicants-page .resume-button-3 {
  position: relative;
  margin-right: 2.9px;
  display: flex;
  padding: 3.3px 4.6px 3.4px 4.8px;
  width: 17.8px;
  height: 18.1px;
  box-sizing: border-box;
}
.applicants-page .view-resume-7 {
  margin: 3.1px 0 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #000000;
}
.applicants-page .view-resume-6 {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.applicants-page .container-20 {
  margin: 0 10.1px 13.3px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 368.7px;
  box-sizing: border-box;
}
.applicants-page .s-6 {
  position: absolute;
  right: 4.4px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.applicants-page .table-head-25 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 14px;
  height: 13px;
}
.applicants-page .m-3 {
  position: absolute;
  right: 3.2px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.applicants-page .table-head-26 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 14px;
  height: 13px;
}
.applicants-page .t-6 {
  position: absolute;
  right: 4.4px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #EAEAEA;
}
.applicants-page .table-head-27 {
  border-radius: 4px;
  background: #000000;
  position: relative;
  width: 14px;
  height: 13px;
}
.applicants-page .w-3 {
  position: absolute;
  right: 3.2px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.applicants-page .table-head-28 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 14px;
  height: 13px;
}
.applicants-page .t-7 {
  position: absolute;
  right: 4.4px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #EAEAEA;
}
.applicants-page .table-head-29 {
  border-radius: 4px;
  background: #000000;
  position: relative;
  width: 14px;
  height: 13px;
}
.applicants-page .f-3 {
  position: absolute;
  right: 5.1px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.applicants-page .table-head-30 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 15px;
  height: 13px;
}
.applicants-page .container-25 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 71px;
  height: fit-content;
  box-sizing: border-box;
}
.applicants-page .s-7 {
  position: absolute;
  right: 3.9px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.applicants-page .table-head-31 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 13px;
  height: 13px;
}
.applicants-page .table-head-24 {
  position: relative;
  margin-bottom: 29.6px;
  display: flex;
  align-self: flex-end;
  padding: 0 13px 0 14px;
  width: 98px;
  box-sizing: border-box;
}
.applicants-page .button-text-3 {
  overflow-wrap: break-word;
  font-family: var(--body-medium-medium-font-family, 'Inter');
  font-weight: var(--body-medium-medium-font-weight, 500);
  font-size: var(--body-medium-medium-font-size, 16px);
  line-height: var(--body-medium-medium-line-height, 1.5);
  color: var(--white-white, #FFFFFF);
}
.applicants-page .button-3 {
  background: var(--primary-color, #3758F9);
  margin-right: 5.9px;
  display: flex;
  align-self: center;
  padding: 13px 0;
  width: 147px;
  box-sizing: border-box;
}
.applicants-page .applicant-card-web-3 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0.1px solid #000000;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 9px 3.1px 3px 10px;
  width: 392px;
  box-sizing: border-box;
}
.applicants-page .row-1 {
  margin-bottom: 45px;
  display: flex;
  flex-direction: row;
  width: 952px;
  box-sizing: border-box;
}
.applicants-page .pfp-4 {
  border-radius: 9999px;
  background: url('assets/images/Pfp.png') 50% / cover no-repeat;
  width: 35.6px;
  height: 36.1px;
}
.applicants-page .applicant-name-4 {
  margin: 8.1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.applicants-page .container-36 {
  margin: 0 11.4px 28.8px 11.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 237.5px;
  box-sizing: border-box;
}
.applicants-page .applied-to-4 {
  margin: 0 6.5px 10.1px 0;
  width: 288.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  color: #000000;
}
.applied-to-4 {
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.333;
}
.applicants-page .group-5 {
  width: 8.5px;
  height: 11.4px;
}
.applicants-page .personal-file-4 {
  position: relative;
  display: flex;
  width: 8.5px;
  height: 11.4px;
  box-sizing: border-box;
}
.applicants-page .ellipse-254 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 17.8px;
  height: 18.1px;
}
.applicants-page .resume-button-4 {
  position: relative;
  margin-right: 2.9px;
  display: flex;
  padding: 3.3px 4.6px 3.4px 4.8px;
  width: 17.8px;
  height: 18.1px;
  box-sizing: border-box;
}
.applicants-page .view-resume-9 {
  margin: 3.1px 0 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #000000;
}
.applicants-page .view-resume-8 {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.applicants-page .container-11 {
  margin: 0 10.1px 13.3px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 368.7px;
  box-sizing: border-box;
}
.applicants-page .s-8 {
  position: absolute;
  right: 4.4px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.applicants-page .table-head-33 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 14px;
  height: 13px;
}
.applicants-page .m-4 {
  position: absolute;
  right: 3.2px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.applicants-page .table-head-34 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 14px;
  height: 13px;
}
.applicants-page .t-8 {
  position: absolute;
  right: 4.4px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #EAEAEA;
}
.applicants-page .table-head-35 {
  border-radius: 4px;
  background: #000000;
  position: relative;
  width: 14px;
  height: 13px;
}
.applicants-page .w-4 {
  position: absolute;
  right: 3.2px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.applicants-page .table-head-36 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 14px;
  height: 13px;
}
.applicants-page .t-9 {
  position: absolute;
  right: 4.4px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #EAEAEA;
}
.applicants-page .table-head-37 {
  border-radius: 4px;
  background: #000000;
  position: relative;
  width: 14px;
  height: 13px;
}
.applicants-page .f-4 {
  position: absolute;
  right: 5.1px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.applicants-page .table-head-38 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 15px;
  height: 13px;
}
.applicants-page .container-5 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 71px;
  height: fit-content;
  box-sizing: border-box;
}
.applicants-page .s-9 {
  position: absolute;
  right: 3.9px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.applicants-page .table-head-39 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 13px;
  height: 13px;
}
.applicants-page .table-head-32 {
  position: relative;
  margin-bottom: 29.6px;
  display: flex;
  align-self: flex-end;
  padding: 0 13px 0 14px;
  width: 98px;
  box-sizing: border-box;
}
.applicants-page .button-text-4 {
  overflow-wrap: break-word;
  font-family: var(--body-medium-medium-font-family, 'Inter');
  font-weight: var(--body-medium-medium-font-weight, 500);
  font-size: var(--body-medium-medium-font-size, 16px);
  line-height: var(--body-medium-medium-line-height, 1.5);
  color: var(--white-white, #FFFFFF);
}
.applicants-page .button-4 {
  background: var(--primary-color, #3758F9);
  margin-right: 5.9px;
  display: flex;
  align-self: center;
  padding: 13px 0;
  width: 147px;
  box-sizing: border-box;
}
.applicants-page .applicant-card-web-4 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0.1px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-right: 168px;
  display: flex;
  flex-direction: column;
  padding: 9px 3.1px 3px 10px;
  width: 392px;
  box-sizing: border-box;
}
.applicants-page .pfp-5 {
  border-radius: 9999px;
  background: url('assets/images/Pfp.png') 50% / cover no-repeat;
  width: 35.6px;
  height: 36.1px;
}
.applicants-page .applicant-name-5 {
  margin: 8.1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.applicants-page .container-27 {
  margin: 0 11.4px 28.8px 11.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 237.5px;
  box-sizing: border-box;
}
.applicants-page .applied-to-5 {
  margin: 0 6.5px 10.1px 0;
  width: 288.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  color: #000000;
}
.applied-to-5 {
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.333;
}
.applicants-page .group-6 {
  width: 8.5px;
  height: 11.4px;
}
.applicants-page .personal-file-5 {
  position: relative;
  display: flex;
  width: 8.5px;
  height: 11.4px;
  box-sizing: border-box;
}
.applicants-page .ellipse-255 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 17.8px;
  height: 18.1px;
}
.applicants-page .resume-button-5 {
  position: relative;
  margin-right: 2.9px;
  display: flex;
  padding: 3.3px 4.6px 3.4px 4.8px;
  width: 17.8px;
  height: 18.1px;
  box-sizing: border-box;
}
.applicants-page .view-resume-11 {
  margin: 3.1px 0 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #000000;
}
.applicants-page .view-resume-10 {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.applicants-page .container-37 {
  margin: 0 10.1px 13.3px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 368.7px;
  box-sizing: border-box;
}
.applicants-page .s-10 {
  position: absolute;
  right: 4.4px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.applicants-page .table-head-41 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 14px;
  height: 13px;
}
.applicants-page .m-5 {
  position: absolute;
  right: 3.2px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.applicants-page .table-head-42 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 14px;
  height: 13px;
}
.applicants-page .t-10 {
  position: absolute;
  right: 4.4px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #EAEAEA;
}
.applicants-page .table-head-43 {
  border-radius: 4px;
  background: #000000;
  position: relative;
  width: 14px;
  height: 13px;
}
.applicants-page .w-5 {
  position: absolute;
  right: 3.2px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.applicants-page .table-head-44 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 14px;
  height: 13px;
}
.applicants-page .t-11 {
  position: absolute;
  right: 4.4px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #EAEAEA;
}
.applicants-page .table-head-45 {
  border-radius: 4px;
  background: #000000;
  position: relative;
  width: 14px;
  height: 13px;
}
.applicants-page .f-5 {
  position: absolute;
  right: 5.1px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.applicants-page .table-head-46 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 15px;
  height: 13px;
}
.applicants-page .container-29 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 71px;
  height: fit-content;
  box-sizing: border-box;
}
.applicants-page .s-11 {
  position: absolute;
  right: 3.9px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.applicants-page .table-head-47 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 13px;
  height: 13px;
}
.applicants-page .table-head-40 {
  position: relative;
  margin-bottom: 29.6px;
  display: flex;
  align-self: flex-end;
  padding: 0 13px 0 14px;
  width: 98px;
  box-sizing: border-box;
}
.applicants-page .button-text-5 {
  overflow-wrap: break-word;
  font-family: var(--body-medium-medium-font-family, 'Inter');
  font-weight: var(--body-medium-medium-font-weight, 500);
  font-size: var(--body-medium-medium-font-size, 16px);
  line-height: var(--body-medium-medium-line-height, 1.5);
  color: var(--white-white, #FFFFFF);
}
.applicants-page .button-5 {
  background: var(--primary-color, #3758F9);
  margin-right: 5.9px;
  display: flex;
  align-self: center;
  padding: 13px 0;
  width: 147px;
  box-sizing: border-box;
}
.applicants-page .applicant-card-web-5 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0.1px solid #000000;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 9px 3.1px 3px 10px;
  width: 392px;
  box-sizing: border-box;
}
.applicants-page .row-2 {
  display: flex;
  flex-direction: row;
  width: 952px;
  box-sizing: border-box;
}
.applicants-page .applicants {
  margin: 0 19px 49px 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  width: 952px;
  box-sizing: border-box;
}
.applicants-page .vector-16 {
  width: 7.7px;
  height: 14.2px;
}
.applicants-page .frame-1000004310 {
  border-radius: 6px;
  border: 1px solid var(--stroke, #DFE4EA);
  background: var(--white-white, #FFFFFF);
  display: flex;
  padding: 8.9px 12.2px;
  width: 34px;
  height: 34px;
  box-sizing: border-box;
}
.applicants-page .container-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  color: var(--white-white, #FFFFFF);
}
.applicants-page .frame-1000004307 {
  border-radius: 6px;
  background: var(--primary-color, #3758F9);
  display: flex;
  padding: 8px 13.3px;
  box-sizing: border-box;
}
.applicants-page .container-3 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  color: var(--primary-text-color-1, #637381);
}
.applicants-page .frame-1000004305 {
  border-radius: 6px;
  border: 1px solid var(--stroke, #DFE4EA);
  background: var(--white-white, #FFFFFF);
  display: flex;
  padding: 7px 11.2px;
  box-sizing: border-box;
}
.applicants-page .container-4 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  color: var(--primary-text-color-1, #637381);
}
.applicants-page .frame-1000004303 {
  border-radius: 6px;
  border: 1px solid var(--stroke, #DFE4EA);
  background: var(--white-white, #FFFFFF);
  display: flex;
  padding: 7px 10.9px;
  box-sizing: border-box;
}
.applicants-page .container-5 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  color: var(--primary-text-color-1, #637381);
}
.applicants-page .frame-1000004306 {
  border-radius: 6px;
  border: 1px solid var(--stroke, #DFE4EA);
  background: var(--white-white, #FFFFFF);
  display: flex;
  padding: 7px 10.9px;
  box-sizing: border-box;
}
.applicants-page .vector-17 {
  width: 7.6px;
  height: 14.2px;
}
.applicants-page .frame-1000004309 {
  border-radius: 6px;
  border: 1px solid var(--stroke, #DFE4EA);
  background: var(--white-white, #FFFFFF);
  display: flex;
  padding: 8.9px 12.2px;
  width: 34px;
  height: 34px;
  box-sizing: border-box;
}
.applicants-page .pagination {
  margin-right: 240px;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  width: fit-content;
  box-sizing: border-box;
}
.applicants-page .container-19 {
  margin: 114px 0 26px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1230px;
  height: fit-content;
  box-sizing: border-box;
}
.applicants-page .container-22 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.applicants-page .close-btn {
  border-radius: 8.1px;
  background: #FC615C;
  margin-right: 10.8px;
  width: 16.2px;
  height: 16.2px;
}
.applicants-page .restore-btn {
  border-radius: 8.1px;
  background: #FDBE40;
  margin-right: 10.8px;
  width: 16.2px;
  height: 16.2px;
}
.applicants-page .minimize-btn {
  border-radius: 8.1px;
  background: #34CA49;
  width: 16.2px;
  height: 16.2px;
}
.applicants-page .action-bttn {
  margin: 5.4px 17.5px 8.1px 0;
  display: flex;
  flex-direction: row;
  width: 70.2px;
  height: fit-content;
  box-sizing: border-box;
}
.applicants-page .arrow {
  width: 6.8px;
  height: 13.5px;
}
.applicants-page .prev-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-right: 2.7px;
  display: flex;
  padding: 8.1px 13.5px 8.1px 12.2px;
  width: 32.4px;
  height: 29.7px;
  box-sizing: border-box;
}
.applicants-page .arrow-1 {
  width: 6.8px;
  height: 13.5px;
}
.applicants-page .prev-btn-2 {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-right: 14.9px;
  display: flex;
  padding: 8.1px 12.1px 8.1px 13.5px;
  width: 32.4px;
  height: 29.7px;
  box-sizing: border-box;
}
.applicants-page .option-btn {
  width: 50px;
  height: 29.7px;
}
.applicants-page .container-16 {
  margin-bottom: 9.4px;
  display: flex;
  flex-direction: row;
  width: 220px;
  height: fit-content;
  box-sizing: border-box;
}
.applicants-page .safaribrowser {
  margin: 3px 7px 0 0;
  display: inline-block;
  width: 583px;
  overflow-wrap: break-word;
  font-family: 'SF Compact Display', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.applicants-page .refresh {
  margin-bottom: 5px;
  width: 10px;
  height: 12px;
}
.applicants-page .address-bar {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 17.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 7px 0 0;
  width: 1143px;
  height: fit-content;
  box-sizing: border-box;
}
.applicants-page .share {
  width: 13.5px;
  height: 18.9px;
}
.applicants-page .share-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin: 0 10.8px 9.4px 0;
  display: flex;
  padding: 4.7px 18.2px 6.1px 18.2px;
  width: 50px;
  height: 29.7px;
  box-sizing: border-box;
}
.applicants-page .view {
  width: 14.9px;
  height: 14.9px;
}
.applicants-page .view-search-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin: 0 17.5px 9.4px 0;
  display: flex;
  padding: 7.4px 17.6px 7.4px 17.5px;
  width: 50px;
  height: 29.7px;
  box-sizing: border-box;
}
.applicants-page .add-btn {
  margin-top: 6.7px;
  width: 32.4px;
  height: 32.4px;
}
.applicants-page .container {
  display: flex;
  flex-direction: row;
  width: 160.7px;
  height: fit-content;
  box-sizing: border-box;
}
.applicants-page .browser-bar {
  box-shadow: 0px 1px 0px 0px #B5B4B5;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(180deg, #EBEAEB, #D7D6D7);
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 42.8px 0px 0.1px 17.6px;
  box-sizing: border-box;
}
.applicants-page {
  background: #EDF0F4;
  display: flex;
  padding-right: 40px;
  width: 1728px;
  box-sizing: border-box;
}
