.app-name-ideation .new-app-names-what-to-highlight-perfect-match-match-you-your-speed-part-time-self-managementfreedom-alot-of-apps-emphasizebeing-your-own-boss-things-to-avoid-names-like-temp-match-might-imply-that-thematch-is-temporary-not-the-job-the-word-instant-snag-employment-linklinked-similar-to-competitorsimplying-full-time-jobs-ideas-job-jam-needs-iconography-to-make-sense-iconography-implies-game-catchy-iconography-might-overlap-with-some-on-pages-provide-options-for-different-interpretations-of-jam-parter-connect-emphasizes-the-self-driven-part-of-the-app-also-emphasizes-part-time-aspect-of-the-app-alittle-chunky-parter-feels-alittle-weird-and-takes-some-context-to-understand-shift-time-itried-shifti-ez-and-variations-but-cannot-escape-theshifty-allegations-shift-helps-emphasize-part-time-alittle-forceful-like-saying-shift-time-go-to-work-could-be-contrary-to-thebe-your-own-boss-messaging-common-in-our-competitors-your-part-your-time-striking-names-shocking-not-very-descriptive-heavily-reliant-on-could-feel-combative-your-part-implies-responsibility {
  margin-right: 108.2px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.new-app-names-what-to-highlight-perfect-match-match-you-your-speed-part-time-self-managementfreedom-alot-of-apps-emphasizebeing-your-own-boss-things-to-avoid-names-like-temp-match-might-imply-that-thematch-is-temporary-not-the-job-the-word-instant-snag-employment-linklinked-similar-to-competitorsimplying-full-time-jobs-ideas-job-jam-needs-iconography-to-make-sense-iconography-implies-game-catchy-iconography-might-overlap-with-some-on-pages-provide-options-for-different-interpretations-of-jam-parter-connect-emphasizes-the-self-driven-part-of-the-app-also-emphasizes-part-time-aspect-of-the-app-alittle-chunky-parter-feels-alittle-weird-and-takes-some-context-to-understand-shift-time-itried-shifti-ez-and-variations-but-cannot-escape-theshifty-allegations-shift-helps-emphasize-part-time-alittle-forceful-like-saying-shift-time-go-to-work-could-be-contrary-to-thebe-your-own-boss-messaging-common-in-our-competitors-your-part-your-time-striking-names-shocking-not-very-descriptive-heavily-reliant-on-could-feel-combative-your-part-implies-responsibility-sub5 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 40px;
  line-height: 1.333;
}
.new-app-names-what-to-highlight-perfect-match-match-you-your-speed-part-time-self-managementfreedom-alot-of-apps-emphasizebeing-your-own-boss-things-to-avoid-names-like-temp-match-might-imply-that-thematch-is-temporary-not-the-job-the-word-instant-snag-employment-linklinked-similar-to-competitorsimplying-full-time-jobs-ideas-job-jam-needs-iconography-to-make-sense-iconography-implies-game-catchy-iconography-might-overlap-with-some-on-pages-provide-options-for-different-interpretations-of-jam-parter-connect-emphasizes-the-self-driven-part-of-the-app-also-emphasizes-part-time-aspect-of-the-app-alittle-chunky-parter-feels-alittle-weird-and-takes-some-context-to-understand-shift-time-itried-shifti-ez-and-variations-but-cannot-escape-theshifty-allegations-shift-helps-emphasize-part-time-alittle-forceful-like-saying-shift-time-go-to-work-could-be-contrary-to-thebe-your-own-boss-messaging-common-in-our-competitors-your-part-your-time-striking-names-shocking-not-very-descriptive-heavily-reliant-on-could-feel-combative-your-part-implies-responsibility-sub4 {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.333;
}
.new-app-names-what-to-highlight-perfect-match-match-you-your-speed-part-time-self-managementfreedom-alot-of-apps-emphasizebeing-your-own-boss-things-to-avoid-names-like-temp-match-might-imply-that-thematch-is-temporary-not-the-job-the-word-instant-snag-employment-linklinked-similar-to-competitorsimplying-full-time-jobs-ideas-job-jam-needs-iconography-to-make-sense-iconography-implies-game-catchy-iconography-might-overlap-with-some-on-pages-provide-options-for-different-interpretations-of-jam-parter-connect-emphasizes-the-self-driven-part-of-the-app-also-emphasizes-part-time-aspect-of-the-app-alittle-chunky-parter-feels-alittle-weird-and-takes-some-context-to-understand-shift-time-itried-shifti-ez-and-variations-but-cannot-escape-theshifty-allegations-shift-helps-emphasize-part-time-alittle-forceful-like-saying-shift-time-go-to-work-could-be-contrary-to-thebe-your-own-boss-messaging-common-in-our-competitors-your-part-your-time-striking-names-shocking-not-very-descriptive-heavily-reliant-on-could-feel-combative-your-part-implies-responsibility-sub3 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.333;
}
.new-app-names-what-to-highlight-perfect-match-match-you-your-speed-part-time-self-managementfreedom-alot-of-apps-emphasizebeing-your-own-boss-things-to-avoid-names-like-temp-match-might-imply-that-thematch-is-temporary-not-the-job-the-word-instant-snag-employment-linklinked-similar-to-competitorsimplying-full-time-jobs-ideas-job-jam-needs-iconography-to-make-sense-iconography-implies-game-catchy-iconography-might-overlap-with-some-on-pages-provide-options-for-different-interpretations-of-jam-parter-connect-emphasizes-the-self-driven-part-of-the-app-also-emphasizes-part-time-aspect-of-the-app-alittle-chunky-parter-feels-alittle-weird-and-takes-some-context-to-understand-shift-time-itried-shifti-ez-and-variations-but-cannot-escape-theshifty-allegations-shift-helps-emphasize-part-time-alittle-forceful-like-saying-shift-time-go-to-work-could-be-contrary-to-thebe-your-own-boss-messaging-common-in-our-competitors-your-part-your-time-striking-names-shocking-not-very-descriptive-heavily-reliant-on-could-feel-combative-your-part-implies-responsibility {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.333;
}
.app-name-ideation .basilcalendar-solid {
  margin: 0 0 27.2px 0.4px;
  width: 112px;
  height: 112px;
}
.app-name-ideation .vector-2 {
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 83.6px;
  height: 80.6px;
}
.app-name-ideation .j {
  position: relative;
  margin-top: 34.8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 48px;
  color: #FFFFFF;
}
.app-name-ideation .j-1 {
  position: relative;
  margin-top: 34.8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 48px;
  color: #FFFFFF;
}
.app-name-ideation .basilcalendar-solid-1 {
  position: relative;
  margin: 0 0 43px 6.4px;
  display: flex;
  flex-direction: row;
  padding: 34.8px 14.5px 0 14.8px;
  width: fit-content;
  box-sizing: border-box;
}
.app-name-ideation .job {
  margin-right: 0.7px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 48px;
  color: #000000;
}
.app-name-ideation .j-4 {
  margin-right: 0.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 48px;
  color: #000000;
}
.app-name-ideation .am {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 48px;
  color: #000000;
}
.app-name-ideation .container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.app-name-ideation .job-jam {
  margin-right: 1.3px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 48px;
  color: #000000;
}
.app-name-ideation .container-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.app-name-ideation .j-2 {
  position: absolute;
  left: 70px;
  bottom: 116px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 48px;
  color: #000000;
}
.app-name-ideation .j-3 {
  position: absolute;
  right: 63.3px;
  bottom: 116px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 48px;
  color: #000000;
}
.app-name-ideation .vector-3 {
  width: 27px;
  height: 18px;
}
.app-name-ideation .arcticonstetris-1 {
  position: absolute;
  left: 50%;
  top: 2px;
  translate: -50% 0;
  display: flex;
  width: 27px;
  height: 18px;
  box-sizing: border-box;
}
.app-name-ideation .job-jam-logos {
  position: relative;
  margin: 13px 42.4px 776px 0;
  display: flex;
  box-sizing: border-box;
}
.app-name-ideation .vector-4 {
  width: 56.5px;
  height: 66.8px;
}
.app-name-ideation .material-symbolswork {
  transform: rotate(26.087deg);
  margin: 0 0 112.2px 71.7px;
  display: flex;
  width: 56.5px;
  height: 66.8px;
  box-sizing: border-box;
}
.app-name-ideation .your-part {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 48px;
  color: #000000;
}
.app-name-ideation .container-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.app-name-ideation .vector-5 {
  width: 47.3px;
  height: 112.3px;
}
.app-name-ideation .game-iconsperson {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  display: flex;
  width: 47.3px;
  height: 112.3px;
  box-sizing: border-box;
}
.app-name-ideation .group-2 {
  position: absolute;
  top: 35px;
  right: 70.1px;
  width: 35.1px;
  height: 54.9px;
}
.app-name-ideation .your-part-logos {
  position: relative;
  margin: 31px 0 912px 0;
  display: flex;
  box-sizing: border-box;
}
.app-name-ideation .container-3 {
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.app-name-ideation .tempus-latin-fortime-referencing-the-temporary-nature-of-part-time-work-fortunainspired-by-fortuna-the-roman-goddess-of-luck-and-fortune-reflecting-the-chance-aspect-of-finding-part-time-work-pantheonreferencing-the-collective-nature-of-the-platform-like-agathering-place-for-various-part-time-opportunities-jobifysimiliar-to-shopify-but-for-jobs-however-site-already-exists-with-this-name {
  margin-right: 175.1px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.tempus-latin-fortime-referencing-the-temporary-nature-of-part-time-work-fortunainspired-by-fortuna-the-roman-goddess-of-luck-and-fortune-reflecting-the-chance-aspect-of-finding-part-time-work-pantheonreferencing-the-collective-nature-of-the-platform-like-agathering-place-for-various-part-time-opportunities-jobifysimiliar-to-shopify-but-for-jobs-however-site-already-exists-with-this-name-sub3 {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.333;
}
.tempus-latin-fortime-referencing-the-temporary-nature-of-part-time-work-fortunainspired-by-fortuna-the-roman-goddess-of-luck-and-fortune-reflecting-the-chance-aspect-of-finding-part-time-work-pantheonreferencing-the-collective-nature-of-the-platform-like-agathering-place-for-various-part-time-opportunities-jobifysimiliar-to-shopify-but-for-jobs-however-site-already-exists-with-this-name-sub6 {
  font-family: 'Inter';
  font-weight: 800;
  font-size: 24px;
  line-height: 1.333;
}
.tempus-latin-fortime-referencing-the-temporary-nature-of-part-time-work-fortunainspired-by-fortuna-the-roman-goddess-of-luck-and-fortune-reflecting-the-chance-aspect-of-finding-part-time-work-pantheonreferencing-the-collective-nature-of-the-platform-like-agathering-place-for-various-part-time-opportunities-jobifysimiliar-to-shopify-but-for-jobs-however-site-already-exists-with-this-name-sub11 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.333;
}
.tempus-latin-fortime-referencing-the-temporary-nature-of-part-time-work-fortunainspired-by-fortuna-the-roman-goddess-of-luck-and-fortune-reflecting-the-chance-aspect-of-finding-part-time-work-pantheonreferencing-the-collective-nature-of-the-platform-like-agathering-place-for-various-part-time-opportunities-jobifysimiliar-to-shopify-but-for-jobs-however-site-already-exists-with-this-name {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.333;
}
.app-name-ideation .temp-us {
  margin: 52px 0 190px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 40px;
  color: #000000;
}
.app-name-ideation .container-2 {
  margin-bottom: 79px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.app-name-ideation .flex-hire-already-athing-gig-match-gig-now-technically-aplatform-for-ey-contractors-get-agig-already-an-app-for-musiciansbars-but-only-has-9-reviews-on-app-store-work-wise-already-aname-for-acorporate-work-from-home-solution-job-net-kickoff-janus-jobs-janus-the-greekroman-god-of-beginnings-transitions-time-doorways-opportunities-openings-and-endings-temp-time {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.flex-hire-already-athing-gig-match-gig-now-technically-aplatform-for-ey-contractors-get-agig-already-an-app-for-musiciansbars-but-only-has-9-reviews-on-app-store-work-wise-already-aname-for-acorporate-work-from-home-solution-job-net-kickoff-janus-jobs-janus-the-greekroman-god-of-beginnings-transitions-time-doorways-opportunities-openings-and-endings-temp-time-sub3 {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.333;
}
.flex-hire-already-athing-gig-match-gig-now-technically-aplatform-for-ey-contractors-get-agig-already-an-app-for-musiciansbars-but-only-has-9-reviews-on-app-store-work-wise-already-aname-for-acorporate-work-from-home-solution-job-net-kickoff-janus-jobs-janus-the-greekroman-god-of-beginnings-transitions-time-doorways-opportunities-openings-and-endings-temp-time-sub12 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.333;
}
.flex-hire-already-athing-gig-match-gig-now-technically-aplatform-for-ey-contractors-get-agig-already-an-app-for-musiciansbars-but-only-has-9-reviews-on-app-store-work-wise-already-aname-for-acorporate-work-from-home-solution-job-net-kickoff-janus-jobs-janus-the-greekroman-god-of-beginnings-transitions-time-doorways-opportunities-openings-and-endings-temp-time {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.333;
}
.app-name-ideation {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 13px 20.8px 424px 20px;
  width: 1584px;
  box-sizing: border-box;
}
