.appy-detailed-description-and-info .line-3 {
  background: #000000;
  margin-bottom: 9px;
  width: 38px;
  height: 2px;
}
.appy-detailed-description-and-info .line-2 {
  background: #000000;
  margin-bottom: 9px;
  width: 38px;
  height: 2px;
}
.appy-detailed-description-and-info .line-4 {
  background: #000000;
  width: 38px;
  height: 2px;
}
.appy-detailed-description-and-info .container-5 {
  margin: 18px 0 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 38px;
  height: fit-content;
  box-sizing: border-box;
}
.appy-detailed-description-and-info .rectangle-1 {
  border-radius: 28.5px;
  border: 2px solid #000000;
  margin-right: 46px;
  width: 189px;
  height: 57px;
}
.appy-detailed-description-and-info .what-part-time-job-are-you-seeking {
  margin-right: 19.5px;
  width: 601.4px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}
.appy-detailed-description-and-info .container-6 {
  margin: 4px 0 8px 0;
  width: 26px;
  height: 27px;
}
.appy-detailed-description-and-info .container-12 {
  border-radius: 28.5px;
  border: 2px solid #000000;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 9px 22px 9px 25.1px;
  width: 694px;
  box-sizing: border-box;
}
.appy-detailed-description-and-info .container-7 {
  display: flex;
  flex-direction: row;
  width: 929px;
  box-sizing: border-box;
}
.appy-detailed-description-and-info .hi {
  margin-right: 9.5px;
  width: 131.2px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.appy-detailed-description-and-info .line-7 {
  background: #000000;
  transform: rotate(45deg);
  margin: 0 0px 0px 0;
  width: 10px;
  height: 1px;
}
.appy-detailed-description-and-info .line-8 {
  background: #000000;
  transform: rotate(-45deg);
  margin-top: 0px;
  width: 10px;
  height: 1px;
}
.appy-detailed-description-and-info .container-9 {
  margin: 5px 0 13px 0;
  display: flex;
  flex-direction: row;
  width: 20px;
  height: fit-content;
  box-sizing: border-box;
}
.appy-detailed-description-and-info .container {
  border-radius: 28.5px;
  border: 2px solid #000000;
  position: relative;
  margin: 13px 0 12px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 12px 7px 16.3px;
  width: 189px;
  height: fit-content;
  box-sizing: border-box;
}
.appy-detailed-description-and-info .container-3 {
  margin: 0 0 156px 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1617px;
  box-sizing: border-box;
}
.appy-detailed-description-and-info .qualification {
  margin: 37px 19.5px 15px 0;
  display: inline-block;
  width: 302.1px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}
.appy-detailed-description-and-info .part-time-job-title {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 48px;
  color: #000000;
}
.appy-detailed-description-and-info .container-2 {
  border-radius: 45.5px;
  border: 2px solid #000000;
  position: relative;
  display: flex;
  padding: 18px 30.2px 15px 31.2px;
  box-sizing: border-box;
}
.appy-detailed-description-and-info .container-4 {
  margin: 0 38.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 884.6px;
  box-sizing: border-box;
}
.appy-detailed-description-and-info .line-26 {
  background: #000000;
  margin-bottom: 11px;
  align-self: flex-start;
  width: 308px;
  height: 1px;
}
.appy-detailed-description-and-info .working-area {
  margin: 0 38.2px 17px 38.2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}
.appy-detailed-description-and-info .line-27 {
  background: #000000;
  margin-bottom: 14px;
  align-self: flex-start;
  width: 308px;
  height: 1px;
}
.appy-detailed-description-and-info .conditions-of-employment {
  margin: 0 38px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}
.appy-detailed-description-and-info .line-28 {
  background: #000000;
  margin-bottom: 11px;
  width: 308px;
  height: 1px;
}
.appy-detailed-description-and-info .about-the-role {
  margin-right: 8px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}
.appy-detailed-description-and-info .container-11 {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 308px;
  height: fit-content;
  box-sizing: border-box;
}
.appy-detailed-description-and-info .yr {
  position: relative;
  margin-bottom: 34px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}
.appy-detailed-description-and-info .container-1 {
  margin-bottom: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 512.7px;
  box-sizing: border-box;
}
.appy-detailed-description-and-info .line-29 {
  background: #000000;
  margin-bottom: 18px;
  align-self: flex-start;
  width: 308px;
  height: 1px;
}
.appy-detailed-description-and-info .about-company {
  margin: 0 38.3px 26px 38.3px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}
.appy-detailed-description-and-info .line-30 {
  background: #000000;
  margin-bottom: 14px;
  align-self: flex-start;
  width: 308px;
  height: 1px;
}
.appy-detailed-description-and-info .how-to-apply {
  margin: 0 38.3px 23px 38.3px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}
.appy-detailed-description-and-info .line-31 {
  background: #000000;
  margin-bottom: 14px;
  align-self: flex-start;
  width: 308px;
  height: 1px;
}
.appy-detailed-description-and-info .recruiter-contact-information {
  margin: 0 38px 19px 38px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}
.appy-detailed-description-and-info .line-32 {
  background: #000000;
  margin-bottom: 96px;
  align-self: flex-start;
  width: 308px;
  height: 1px;
}
.appy-detailed-description-and-info .apply {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 40px;
  color: #000000;
}
.appy-detailed-description-and-info .container-10 {
  border-radius: 28.5px;
  border: 2px solid #000000;
  position: relative;
  margin-left: 55px;
  display: flex;
  align-self: center;
  padding: 0 0 9px 0.6px;
  width: 189px;
  box-sizing: border-box;
}
.appy-detailed-description-and-info .container-8 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1672px;
  height: fit-content;
  box-sizing: border-box;
}
.appy-detailed-description-and-info .rectangle-8 {
  border-radius: 28.5px;
  border: 2px solid #000000;
  position: absolute;
  left: 367px;
  top: 520px;
  width: 189px;
  height: 57px;
}
.appy-detailed-description-and-info .rectangle-121 {
  border-radius: 7px;
  border: 1px solid #000000;
  position: absolute;
  top: 996px;
  right: -536px;
  width: 1748px;
  height: 123px;
}
.appy-detailed-description-and-info {
  background: #FFFFFF;
  display: flex;
  padding-top: 62px;
  width: 1202px;
  box-sizing: border-box;
}
