.autocomplete-input .vector {
  width: 13.5px;
  height: 13.5px;
}
.autocomplete-input .search-outline {
  margin: 2.3px 10.3px 2.3px 0;
  display: flex;
  width: 13.5px;
  height: 13.5px;
  box-sizing: border-box;
}
.autocomplete-input .quick-search-for-anything {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-normal-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-normal-font-weight, 400);
  font-size: var(--leading-tighttext-smfont-normal-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-normal-line-height, 1.25);
  color: var(--gray-500, #6B7280);
}
.autocomplete-input {
  border-radius: 8px;
  border: 1px solid var(--gray-2002, #E5E7EB);
  background: var(--gray-501, #F9FAFB);
  display: flex;
  flex-direction: row;
  padding: 22.5px 0 22.5px 17.3px;
  width: 908px;
  box-sizing: border-box;
}
