.button-3 .text {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.button {
  border-radius: 8px;
  background: var(--primary-800, #1E429F);
  padding: 10px 20px;
  box-sizing: border-box;
}
