.completed-application .logo {
  margin-right: 30px;
  width: 1281px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 40px;
  letter-spacing: -0.4px;
  line-height: 1.5;
  color: #000000;
}
.completed-application .vector {
  width: 30px;
  height: 20px;
}
.completed-application .material-symbolsmenu {
  margin: 20px 0;
  display: flex;
  width: 30px;
  height: 20px;
  box-sizing: border-box;
}
.completed-application .container-3 {
  background: #D9D9D9;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 42px 19px 57px;
  width: 1440px;
  box-sizing: border-box;
}
.completed-application .ellipse-25 {
  border-radius: 58.5px;
  background: #D9D9D9;
  width: 117px;
  height: 117px;
}
.completed-application .withdraw-application {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.2px;
  line-height: 1.5;
  color: #000000;
}
.completed-application .frame-427318932 {
  border-radius: 50px;
  border: 1px solid #000000;
  background: #D9D9D9;
  margin-right: 31px;
  display: flex;
  padding: 9px 0.9px 9px 0;
  width: 276px;
  box-sizing: border-box;
}
.completed-application .view-application {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.2px;
  line-height: 1.5;
  color: #000000;
}
.completed-application .frame-427318928 {
  border-radius: 50px;
  border: 1px solid #000000;
  background: #9E9E9E;
  display: flex;
  padding: 9px 0.3px 9px 0;
  width: 232px;
  box-sizing: border-box;
}
.completed-application .container-2 {
  margin: 34px 0 33px 0;
  display: flex;
  flex-direction: row;
  width: 539px;
  height: fit-content;
  box-sizing: border-box;
}
.completed-application .container {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1279px;
  box-sizing: border-box;
}
.completed-application .barista {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 32px;
  letter-spacing: -0.4px;
  line-height: 1.5;
  color: #000000;
}
.completed-application .compass-coffee {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.3px;
  line-height: 1.5;
  color: #000000;
}
.completed-application .hr {
  margin-right: 31.2px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.3px;
  line-height: 1.5;
  color: #000000;
}
.completed-application .on-site {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.2px;
  line-height: 1.5;
  color: #000000;
}
.completed-application .frame-427318929 {
  border-radius: 10px;
  border: 1px solid #000000;
  background: #D9D9D9;
  margin: 2px 13px 3px 0;
  display: flex;
  padding: 4px 14.8px 4px 14px;
  box-sizing: border-box;
}
.completed-application .full-time {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.2px;
  line-height: 1.5;
  color: #000000;
}
.completed-application .frame-427318930 {
  border-radius: 10px;
  border: 1px solid #000000;
  background: #D9D9D9;
  margin: 2px 13px 3px 0;
  display: flex;
  padding: 4px 14.5px 4px 14px;
  box-sizing: border-box;
}
.completed-application .entry-level {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.2px;
  line-height: 1.5;
  color: #000000;
}
.completed-application .frame-427318931 {
  border-radius: 10px;
  border: 1px solid #000000;
  background: #D9D9D9;
  margin: 2px 0 3px 0;
  display: flex;
  padding: 4px 14.5px 4px 14px;
  box-sizing: border-box;
}
.completed-application .container-5 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.completed-application .container-1 {
  border-bottom: 1px solid #9E9E9E;
  position: relative;
  margin-bottom: 62px;
  display: flex;
  flex-direction: column;
  padding: 71px 57px 74px 104px;
  width: fit-content;
  box-sizing: border-box;
}
.completed-application .as-acompass-barista-you-will-create-awelcoming-atmosphere-and-provide-legendary-customer-service-seek-opportunities-to-engage-and-connect-with-customers-craft-drinks-that-uphold-the-quality-standards-our-customers-expect-from-us-taste-coffee-every-day-to-expand-your-palette-and-coffee-knowledge-support-your-fellow-team-members-in-upholding-our-mission-follow-cleaning-standards-to-ensure-our-cafes-are-fresh-clean-and-safe-continue-to-learn-and-growtraining-is-continuous-in-every-role-youll-make-agreat-barista-if-you-are-acoffee-lover-that-includes-drinking-it-making-it-and-talking-about-it-able-to-learn-quickly-and-are-excited-to-learn-more-about-coffee-able-to-understand-and-carry-out-oral-and-written-instructions-and-request-clarification-when-needed-able-to-demonstrate-strong-interpersonal-skills-able-to-work-as-part-of-ateam-able-to-build-relationships-and-converse-with-all-types-of-customers-energized-by-afast-paced-environment-aproblem-solver-someone-that-looks-for-ways-to-help-your-team-and-customers-receptive-to-feedback-excited-to-continue-your-coffee-journey-at-compassthe-opportunities-ahead-are-endless-summary-of-experience-no-previous-experience-required-basic-qualifications-maintain-regular-and-consistent-attendance-and-punctuality-with-or-without-reasonable-accommodation-available-to-work-flexible-hours-that-may-include-early-mornings-evenings-weekends-nights-andor-holidays-uphold-cafe-operational-standards-engage-with-and-understand-our-customers-including-discovering-and-responding-to-customer-needs-through-clear-and-pleasant-communication-prepare-food-and-drinks-to-standard-or-customized-customer-requests-available-to-perform-many-different-tasks-within-the-cafe-during-each-shift-the-pay-range-for-this-role-is-1719-usd-per-hour-pi-237304385 {
  margin: 0 101px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.3px;
  line-height: 1.5;
  color: #000000;
}
.completed-application .container-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.completed-application .your-application-was-submitted {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.2px;
  line-height: 1.5;
  color: #000000;
}
.completed-application .frame-427318933 {
  border: 1px solid #000000;
  background: #9E9E9E;
  position: absolute;
  left: 50%;
  top: 65px;
  translate: -50% 0;
  display: flex;
  padding: 19px 0.1px 19px 0;
  width: 415px;
  box-sizing: border-box;
}
.completed-application {
  background: #FFFFFF;
  display: flex;
  width: 1440px;
  box-sizing: border-box;
}
