.create-password-prompt .input {
  border-radius: 8px;
  border: 1px solid var(--gray-3001, #D1D5DB);
  background: var(--gray-501, #F9FAFB);
  position: absolute;
  left: 73.5px;
  top: 351px;
  width: 438.9px;
  height: 41.2px;
}
.create-password-prompt .flowbite {
  overflow-wrap: break-word;
  font-family: 'Literata';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.create-password-prompt .navbar-1 {
  display: flex;
  box-sizing: border-box;
}
.create-password-prompt .vector {
  width: 16.8px;
  height: 13.4px;
}
.create-password-prompt .component {
  margin: 10.8px 0 11.8px 0;
  display: flex;
  width: 16.8px;
  height: 13.4px;
  box-sizing: border-box;
}
.create-password-prompt .navbar {
  background: var(--white-4, #FFFFFF);
  margin-bottom: 3.7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24.7px 81.9px 24.7px 116px;
  width: 1512px;
  box-sizing: border-box;
}
.create-password-prompt .create-apassword {
  position: relative;
  margin: 0 1.1px 68.3px 1.1px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: #000000;
}
.create-password-prompt .text {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-4, #FFFFFF);
}
.create-password-prompt .button {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  display: flex;
  padding: 8.6px 0.4px 8.6px 0;
  width: 438.9px;
  box-sizing: border-box;
}
.create-password-prompt .container-1 {
  margin: 226.7px 139.7px 562.7px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.create-password-prompt .unsplash-h-6-hywt-9-pnu {
  background: url('assets/images/UnsplashH6Hywt9Pnu.jpeg') 50% / cover no-repeat;
  width: 745px;
  height: 935px;
}
.create-password-prompt .container-2 {
  margin: 0 116px 0 72.4px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.create-password-prompt .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.create-password-prompt {
  background: #FFFFFF;
  display: flex;
  width: 1512px;
  box-sizing: border-box;
}
