.create-job-seeker-account .your-profile {
  margin: 0 30px 29px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 40px;
  letter-spacing: -0.4px;
  line-height: 1.5;
  color: #000000;
}
.create-job-seeker-account .personal-information {
  margin: 0 806.8px 39px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.3px;
  line-height: 1.5;
  color: #000000;
}
.create-job-seeker-account .ellipse-25 {
  border-radius: 103px;
  background: #D9D9D9;
  margin: 6px 115px 0 0;
  width: 206px;
  height: 206px;
}
.create-job-seeker-account .name {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.3px;
  line-height: 1.5;
  color: #000000;
}
.create-job-seeker-account .frame-427318913 {
  border-radius: 50px;
  border: 1px solid #000000;
  margin-right: 53px;
  display: flex;
  padding: 9px 160.3px 9px 0;
  width: 306px;
  box-sizing: border-box;
}
.create-job-seeker-account .location {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.3px;
  line-height: 1.5;
  color: #000000;
}
.create-job-seeker-account .frame-427318915 {
  border-radius: 50px;
  border: 1px solid #000000;
  display: flex;
  padding: 9px 130.3px 9px 0;
  width: 306px;
  box-sizing: border-box;
}
.create-job-seeker-account .container-1 {
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  width: 665px;
  box-sizing: border-box;
}
.create-job-seeker-account .phone {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.3px;
  line-height: 1.5;
  color: #000000;
}
.create-job-seeker-account .frame-427318914 {
  border-radius: 50px;
  border: 1px solid #000000;
  margin-bottom: 19px;
  padding: 9px 39px;
  width: fit-content;
  box-sizing: border-box;
}
.create-job-seeker-account .email {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.3px;
  line-height: 1.5;
  color: #000000;
}
.create-job-seeker-account .frame-427318921 {
  border-radius: 50px;
  border: 1px solid #000000;
  padding: 9px 39px;
  width: fit-content;
  box-sizing: border-box;
}
.create-job-seeker-account .container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.create-job-seeker-account .container-3 {
  margin: 0 0 59px 49px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.create-job-seeker-account .about-me {
  margin: 0 927.1px 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.3px;
  line-height: 1.5;
  color: #000000;
}
.create-job-seeker-account .frame-427318920 {
  border-radius: 50px;
  border: 1px solid #000000;
  margin-bottom: 79px;
  width: 1035px;
  height: 179px;
}
.create-job-seeker-account .experience {
  margin: 0 911.4px 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.3px;
  line-height: 1.5;
  color: #000000;
}
.create-job-seeker-account .experience-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.3px;
  line-height: 1.5;
  color: #000000;
}
.create-job-seeker-account .frame-427318916 {
  border-radius: 50px;
  border: 1px solid #000000;
  margin-bottom: 24px;
  padding: 9px 39px;
  width: fit-content;
  box-sizing: border-box;
}
.create-job-seeker-account .experience-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.3px;
  line-height: 1.5;
  color: #000000;
}
.create-job-seeker-account .frame-427318917 {
  border-radius: 50px;
  border: 1px solid #000000;
  margin-bottom: 25px;
  padding: 9px 39px;
  width: fit-content;
  box-sizing: border-box;
}
.create-job-seeker-account .container {
  margin: 0 15.2px 34px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.3px;
  line-height: 1.5;
  color: #000000;
}
.create-job-seeker-account .skills {
  margin: 0 978.3px 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.3px;
  line-height: 1.5;
  color: #000000;
}
.create-job-seeker-account .skill-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.3px;
  line-height: 1.5;
  color: #000000;
}
.create-job-seeker-account .frame-427318918 {
  border-radius: 50px;
  border: 1px solid #000000;
  margin-right: 25px;
  display: flex;
  padding: 9px 120.2px 9px 0;
  width: 262px;
  box-sizing: border-box;
}
.create-job-seeker-account .skill-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.3px;
  line-height: 1.5;
  color: #000000;
}
.create-job-seeker-account .frame-427318922 {
  border-radius: 50px;
  border: 1px solid #000000;
  margin-right: 33px;
  display: flex;
  padding: 9px 36.9px 9px 0;
  width: 182px;
  box-sizing: border-box;
}
.create-job-seeker-account .container-1 {
  margin: 10px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.3px;
  line-height: 1.5;
  color: #000000;
}
.create-job-seeker-account .container-2 {
  margin: 0 517.2px 57px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.create-job-seeker-account .complete-setup {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.3px;
  line-height: 1.5;
  color: #000000;
}
.create-job-seeker-account .frame-427318911 {
  border-radius: 50px;
  border: 1px solid #000000;
  background: #9E9E9E;
  margin-right: 22px;
  display: flex;
  padding: 9px 0.4px 9px 0;
  width: 257px;
  box-sizing: border-box;
}
.create-job-seeker-account {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 67px 0 55px 0;
  width: 1440px;
  box-sizing: border-box;
}
