.delete-confirmation .vector {
  width: 11.7px;
  height: 11.7px;
}
.delete-confirmation .modal-header {
  margin-bottom: 27.6px;
  display: flex;
  align-self: flex-end;
  width: 11.7px;
  height: 11.7px;
  box-sizing: border-box;
}
.delete-confirmation .vector-1 {
  width: 35px;
  height: 35px;
}
.delete-confirmation .exclamation {
  margin-bottom: 19.5px;
  display: flex;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
}
.delete-confirmation .next-friday-should-b {
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--text-basefont-normal-font-family, 'Inter');
  font-weight: var(--text-basefont-normal-font-weight, 400);
  font-size: var(--text-basefont-normal-font-size, 16px);
  line-height: var(--text-basefont-normal-line-height, 1.5);
  color: var(--gray-500, #6B7280);
}
.delete-confirmation .project-description {
  display: flex;
  box-sizing: border-box;
}
.delete-confirmation .modal-body {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.delete-confirmation .text {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.delete-confirmation .button {
  border-radius: 8px;
  background: #1A56DB;
  margin-right: 16px;
  display: flex;
  padding: 8px 12.9px 8px 12px;
  box-sizing: border-box;
}
.delete-confirmation .text-1 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--gray-800, #1F2A37);
}
.delete-confirmation .button-1 {
  border-radius: 8px;
  border: 1px solid var(--gray-2002, #E5E7EB);
  margin: 1.5px 0;
  display: flex;
  padding: 7px 11.7px 7px 11px;
  box-sizing: border-box;
}
.delete-confirmation .modal-footer {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.delete-confirmation {
  border-radius: 8px;
  border: 1px solid #4B5563;
  background: var(--white-4, #FFFFFF);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 19.7px 19.6px 23.5px 19.6px;
  width: 713px;
  box-sizing: border-box;
}
