.edit-delete .edit-delete-alisting-flow {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 128px;
  line-height: 0.109;
  color: #FFFFFF;
}
.edit-delete {
  background: #32BC42;
  display: flex;
  padding: 96px 11.2px 81px 2px;
  width: 1597px;
  box-sizing: border-box;
}
