.employer-sign-up-confirmation-1 .close-btn {
  border-radius: 8.1px;
  background: #FC615C;
  margin-right: 10.8px;
  width: 16.2px;
  height: 16.2px;
}
.employer-sign-up-confirmation-1 .restore-btn {
  border-radius: 8.1px;
  background: #FDBE40;
  margin-right: 10.8px;
  width: 16.2px;
  height: 16.2px;
}
.employer-sign-up-confirmation-1 .minimize-btn {
  border-radius: 8.1px;
  background: #34CA49;
  width: 16.2px;
  height: 16.2px;
}
.employer-sign-up-confirmation-1 .action-bttn {
  margin: 5.4px 17.5px 8.1px 0;
  display: flex;
  flex-direction: row;
  width: 70.2px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .arrow {
  width: 6.8px;
  height: 13.5px;
}
.employer-sign-up-confirmation-1 .prev-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-right: 2.7px;
  display: flex;
  padding: 8.1px 13.5px 8.1px 12.2px;
  width: 32.4px;
  height: 29.7px;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .arrow-1 {
  width: 6.8px;
  height: 13.5px;
}
.employer-sign-up-confirmation-1 .prev-btn-2 {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-right: 14.9px;
  display: flex;
  padding: 8.1px 12.1px 8.1px 13.5px;
  width: 32.4px;
  height: 29.7px;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .option-btn {
  width: 50px;
  height: 29.7px;
}
.employer-sign-up-confirmation-1 .container-3 {
  margin: 0px 0 9.4px 0;
  display: flex;
  flex-direction: row;
  width: 220px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .safaribrowser {
  margin: 3px 7px 0 0;
  display: inline-block;
  width: 583px;
  overflow-wrap: break-word;
  font-family: 'SF Compact Display', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.employer-sign-up-confirmation-1 .refresh {
  margin-bottom: 5px;
  width: 10px;
  height: 12px;
}
.employer-sign-up-confirmation-1 .address-bar {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 17.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 7px 0 0;
  width: 1143px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .share {
  width: 13.5px;
  height: 18.9px;
}
.employer-sign-up-confirmation-1 .share-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin: 0 10.8px 9.4px 0;
  display: flex;
  padding: 4.7px 18.2px 6.1px 18.2px;
  width: 50px;
  height: 29.7px;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .view {
  width: 14.9px;
  height: 14.9px;
}
.employer-sign-up-confirmation-1 .view-search-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin: 0 17.5px 9.4px 0;
  display: flex;
  padding: 7.4px 17.6px 7.4px 17.5px;
  width: 50px;
  height: 29.7px;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .add-btn {
  margin-top: 6.7px;
  width: 32.4px;
  height: 32.4px;
}
.employer-sign-up-confirmation-1 .container {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  width: 160.7px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .browser-bar {
  box-shadow: 0px 1px 0px 0px #B5B4B5;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(180deg, #EBEAEB, #D7D6D7);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 42.8px 0px 0.1px 17.6px;
  width: 1728px;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .rectangle {
  background: var(--neutrals-10-i, #F8F8FD);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 610.2px;
  height: 850px;
}
.employer-sign-up-confirmation-1 .rectangle-2733 {
  transform: rotate(64deg);
  width: 768px;
  height: 568.7px;
}
.employer-sign-up-confirmation-1 .pattern {
  margin: 1060.6px 216.2px 0 0;
  display: flex;
  width: 768px;
  height: 568.7px;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .job-ez {
  overflow-wrap: break-word;
  font-family: 'Red Hat Display';
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.2px;
  line-height: 1.5;
  color: var(--color-text, #202430);
}
.employer-sign-up-confirmation-1 .logo-2 {
  margin: 0 47.1px 1593.2px 0;
  display: flex;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .young-man-with-tablet {
  background: url('assets/images/YoungManWithTablet.png') 50% / contain no-repeat;
  margin: 108.6px 0 783.7px 0;
  width: 481px;
  height: 737px;
}
.employer-sign-up-confirmation-1 .container-5 {
  position: absolute;
  left: -827px;
  bottom: -624.7px;
  display: flex;
  flex-direction: row;
  width: 1587px;
  height: 1629.2px;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .bg {
  background: #F8F8FD;
  position: relative;
  width: 760.3px;
  height: 1035px;
}
.employer-sign-up-confirmation-1 .element {
  position: relative;
  margin-right: 215.7px;
  display: flex;
  width: 760.3px;
  height: 1035px;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .caption {
  overflow-wrap: break-word;
  font-family: var(--body-normal-semi-bold-font-family, 'Epilogue');
  font-weight: var(--body-normal-semi-bold-font-weight, 600);
  font-size: var(--body-normal-semi-bold-font-size, 16px);
  line-height: var(--body-normal-semi-bold-line-height, 1.6);
  color: var(--brands-primary, #4640DE);
}
.employer-sign-up-confirmation-1 .tab-menu {
  background: var(--neutrals-0, #FFFFFF);
  display: flex;
  padding: 7px 12.6px 7px 12px;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .caption-1 {
  overflow-wrap: break-word;
  font-family: var(--body-normal-semi-bold-font-family, 'Epilogue');
  font-weight: var(--body-normal-semi-bold-font-weight, 600);
  font-size: var(--body-normal-semi-bold-font-size, 16px);
  line-height: var(--body-normal-semi-bold-line-height, 1.6);
  color: var(--brands-primary, #4640DE);
}
.employer-sign-up-confirmation-1 .tab-menu-1 {
  background: var(--lights-blue, #E9EBFD);
  display: flex;
  padding: 7px 12.8px 7px 12px;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .frame-1284 {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: fit-content;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .label-1 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--body-normal-semi-bold-font-family, 'Epilogue');
  font-weight: var(--body-normal-semi-bold-font-weight, 600);
  font-size: var(--body-normal-semi-bold-font-size, 16px);
  line-height: var(--body-normal-semi-bold-line-height, 1.6);
  color: var(--neutrals-80, #515B6F);
}
.employer-sign-up-confirmation-1 .this-is-placeholder {
  overflow-wrap: break-word;
  font-family: var(--body-normal-regular-font-family, 'Epilogue');
  font-weight: var(--body-normal-regular-font-weight, 400);
  font-size: var(--body-normal-regular-font-size, 16px);
  line-height: var(--body-normal-regular-line-height, 1.6);
  color: var(--neutrals-40, #A8ADB7);
}
.employer-sign-up-confirmation-1 .input {
  border: 1px solid var(--neutrals-20, #D6DDEB);
  background: var(--neutrals-0, #FFFFFF);
  padding: 11px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .textfield {
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .label-2 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--body-normal-semi-bold-font-family, 'Epilogue');
  font-weight: var(--body-normal-semi-bold-font-weight, 600);
  font-size: var(--body-normal-semi-bold-font-size, 16px);
  line-height: var(--body-normal-semi-bold-line-height, 1.6);
  color: var(--neutrals-80, #515B6F);
}
.employer-sign-up-confirmation-1 .this-is-placeholder-1 {
  overflow-wrap: break-word;
  font-family: var(--body-normal-regular-font-family, 'Epilogue');
  font-weight: var(--body-normal-regular-font-weight, 400);
  font-size: var(--body-normal-regular-font-size, 16px);
  line-height: var(--body-normal-regular-line-height, 1.6);
  color: var(--neutrals-40, #A8ADB7);
}
.employer-sign-up-confirmation-1 .input-1 {
  border: 1px solid var(--neutrals-20, #D6DDEB);
  background: var(--neutrals-0, #FFFFFF);
  padding: 11px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .textfield-1 {
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .label-3 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--body-normal-semi-bold-font-family, 'Epilogue');
  font-weight: var(--body-normal-semi-bold-font-weight, 600);
  font-size: var(--body-normal-semi-bold-font-size, 16px);
  line-height: var(--body-normal-semi-bold-line-height, 1.6);
  color: var(--neutrals-80, #515B6F);
}
.employer-sign-up-confirmation-1 .this-is-placeholder-2 {
  overflow-wrap: break-word;
  font-family: var(--body-normal-regular-font-family, 'Epilogue');
  font-weight: var(--body-normal-regular-font-weight, 400);
  font-size: var(--body-normal-regular-font-size, 16px);
  line-height: var(--body-normal-regular-line-height, 1.6);
  color: var(--neutrals-40, #A8ADB7);
}
.employer-sign-up-confirmation-1 .input-2 {
  border: 1px solid var(--neutrals-20, #D6DDEB);
  background: var(--neutrals-0, #FFFFFF);
  padding: 11px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .textfield-2 {
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .label-4 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--body-normal-semi-bold-font-family, 'Epilogue');
  font-weight: var(--body-normal-semi-bold-font-weight, 600);
  font-size: var(--body-normal-semi-bold-font-size, 16px);
  line-height: var(--body-normal-semi-bold-line-height, 1.6);
  color: var(--neutrals-80, #515B6F);
}
.employer-sign-up-confirmation-1 .this-is-placeholder-3 {
  overflow-wrap: break-word;
  font-family: var(--body-normal-regular-font-family, 'Epilogue');
  font-weight: var(--body-normal-regular-font-weight, 400);
  font-size: var(--body-normal-regular-font-size, 16px);
  line-height: var(--body-normal-regular-line-height, 1.6);
  color: var(--neutrals-40, #A8ADB7);
}
.employer-sign-up-confirmation-1 .input-3 {
  border: 1px solid var(--neutrals-20, #D6DDEB);
  background: var(--neutrals-0, #FFFFFF);
  padding: 11px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .textfield-3 {
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .label {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--gray-900, #111928);
}
.employer-sign-up-confirmation-1 .text {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.employer-sign-up-confirmation-1 .button {
  border-radius: 8px 0 0 8px;
  border: 1px solid var(--gray-3001, #D1D5DB);
  background: var(--gray-800, #1F2A37);
  display: flex;
  padding: 10.5px 19.6px 10.5px 20px;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .placeholder {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-normal-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-normal-font-weight, 400);
  font-size: var(--leading-tighttext-smfont-normal-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-normal-line-height, 1.25);
  color: var(--gray-900, #111928);
}
.employer-sign-up-confirmation-1 .input-field {
  border-radius: 0 8px 8px 0;
  border: 1px solid var(--gray-3001, #D1D5DB);
  background: var(--gray-501, #F9FAFB);
  padding: 12px 16px;
  width: 421px;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .file-input {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .file-upload {
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .caption-2 {
  overflow-wrap: break-word;
  font-family: var(--button-normal-font-family, 'Epilogue');
  font-weight: var(--button-normal-font-weight, 700);
  font-size: var(--button-normal-font-size, 16px);
  line-height: var(--button-normal-line-height, 1.6);
  color: var(--neutrals-0, #FFFFFF);
}
.employer-sign-up-confirmation-1 .button-1 {
  background: #4640DE;
  display: flex;
  padding: 12px 0;
  width: 536px;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .forms {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .already-have-an-account-1 {
  opacity: 0.7;
  margin-right: 8.2px;
  overflow-wrap: break-word;
  font-family: var(--body-normal-regular-font-family, 'Epilogue');
  font-weight: var(--body-normal-regular-font-weight, 400);
  font-size: var(--body-normal-regular-font-size, 16px);
  line-height: var(--body-normal-regular-line-height, 1.6);
  color: var(--color-black, #202430);
}
.employer-sign-up-confirmation-1 .login {
  margin-bottom: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--brands-primary, #4640DE);
}
.employer-sign-up-confirmation-1 .already-have-an-account {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .landing-page-sign-up-desktop {
  background: var(--neutrals-0, #FFFFFF);
  margin: 183px 0;
  display: flex;
  flex-direction: column;
  width: 536px;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .container-2 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .rectangle-4551 {
  border-radius: 4px;
  border: 1px solid #000000;
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  top: 137.6px;
  translate: -50% 0;
  width: 1159.2px;
  height: 759.8px;
}
.employer-sign-up-confirmation-1 .thank-you-for-your-interest-in-job-ez {
  margin: 21.1px 24px 0 0;
  display: inline-block;
  width: 855.2px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  color: #000000;
}
.employer-sign-up-confirmation-1 .vector-2 {
  width: 22.4px;
  height: 22.7px;
}
.employer-sign-up-confirmation-1 .xoutline {
  margin-bottom: 46.4px;
  display: flex;
  width: 22.4px;
  height: 22.7px;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .container-1 {
  position: relative;
  margin: 0 0 210.9px 70.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 901.6px;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .we-will-reach-back-out-to-you-when-we-finish-verifying-your-company-or-if-we-need-more-information-to-complete-the-verification {
  position: relative;
  margin: 0 136.1px 136px 0;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5;
  color: #000000;
}
.employer-sign-up-confirmation-1 .text-1 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: var(--white-4, #FFFFFF);
}
.employer-sign-up-confirmation-1 .button-2 {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  position: relative;
  margin-right: 136.1px;
  display: flex;
  padding: 16.5px 0;
  width: 243px;
  box-sizing: border-box;
}
.employer-sign-up-confirmation-1 .container-4 {
  background: rgba(217, 217, 217, 0.4);
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.employer-sign-up-confirmation-1 .employer-sign-in {
  background: var(--color-white, #FFFFFF);
  position: relative;
  width: fit-content;
  box-sizing: border-box;
}
.employer-sign-up-confirmation {
  background: #EDF0F4;
  display: flex;
  flex-direction: column;
  width: 1728px;
  box-sizing: border-box;
}
