.employer-dashboard-1 .rectangle-148 {
  background: url('assets/images/Rectangle148.png') 50% / cover no-repeat;
  margin-bottom: 42px;
  align-self: flex-start;
  width: 255px;
  height: 62px;
}
.employer-dashboard-1 .overview {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #BFBFBF;
}
.employer-dashboard-1 .vector-2 {
  width: 22.5px;
  height: 22.5px;
}
.employer-dashboard-1 .material-symbolsdashboard {
  margin: 3.8px 11.8px 3.8px 0;
  display: flex;
  width: 22.5px;
  height: 22.5px;
  box-sizing: border-box;
}
.employer-dashboard-1 .dashboard {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #F9DA33;
}
.employer-dashboard-1 .container-32 {
  margin: 0 1.3px 32px 1.3px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.employer-dashboard-1 .vector-3 {
  width: 22.5px;
  height: 26.3px;
}
.employer-dashboard-1 .mdibell {
  margin: 2.5px 11.8px 1.3px 0;
  display: flex;
  width: 22.5px;
  height: 26.3px;
  box-sizing: border-box;
}
.employer-dashboard-1 .dashboard-2 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #E0E0E0;
}
.employer-dashboard-1 .container-19 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.employer-dashboard-1 .container {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.4px;
  line-height: 1.5;
  color: #0C2B5A;
}
.employer-dashboard-1 .container-37 {
  border-radius: 15px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  padding: 3px 5.9px 3px 6px;
  box-sizing: border-box;
}
.employer-dashboard-1 .container-35 {
  margin: 0 0 32px 1.3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 317.3px;
  box-sizing: border-box;
}
.employer-dashboard-1 .vector-7 {
  width: 25px;
  height: 20px;
}
.employer-dashboard-1 .material-symbolsmail {
  margin: 5px 10.5px 5px 0;
  display: flex;
  width: 25px;
  height: 20px;
  box-sizing: border-box;
}
.employer-dashboard-1 .dashboard-6 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #E0E0E0;
}
.employer-dashboard-1 .container-47 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.employer-dashboard-1 .container-1 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.4px;
  line-height: 1.5;
  color: #0C2B5A;
}
.employer-dashboard-1 .container-1 {
  border-radius: 15px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  padding: 3px 5.9px 3px 6px;
  box-sizing: border-box;
}
.employer-dashboard-1 .container-15 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 318.5px;
  box-sizing: border-box;
}
.employer-dashboard-1 .container-17 {
  border-radius: 8px;
  background: rgba(191, 191, 191, 0.1);
  position: relative;
  margin-bottom: 56px;
  display: flex;
  flex-direction: column;
  padding: 24px 16px 24px 18.5px;
  width: fit-content;
  box-sizing: border-box;
}
.employer-dashboard-1 .manage-listings {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -0.4px;
  line-height: 1.5;
  color: #BFBFBF;
}
.employer-dashboard-1 .vector-4 {
  width: 26.3px;
  height: 26.3px;
}
.employer-dashboard-1 .carbonadd-filled {
  margin: 1.9px 9.9px 1.9px 0;
  display: flex;
  width: 26.3px;
  height: 26.3px;
  box-sizing: border-box;
}
.employer-dashboard-1 .dashboard-3 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #E0E0E0;
}
.employer-dashboard-1 .container-53 {
  margin: 0 0.6px 32px 0.6px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.employer-dashboard-1 .vector-8 {
  width: 22.5px;
  height: 15px;
}
.employer-dashboard-1 .material-symbolsmenu {
  margin: 7.5px 11.8px 7.5px 0;
  display: flex;
  width: 22.5px;
  height: 15px;
  box-sizing: border-box;
}
.employer-dashboard-1 .dashboard-7 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #E0E0E0;
}
.employer-dashboard-1 .container-51 {
  margin: 0 2.5px 32px 2.5px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.employer-dashboard-1 .vector-6 {
  width: 27.5px;
  height: 17.5px;
}
.employer-dashboard-1 .icbaseline-people {
  margin: 6.3px 9.3px 6.3px 0;
  display: flex;
  width: 27.5px;
  height: 17.5px;
  box-sizing: border-box;
}
.employer-dashboard-1 .dashboard-5 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #E0E0E0;
}
.employer-dashboard-1 .container-43 {
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.employer-dashboard-1 .vector-10 {
  width: 22.5px;
  height: 25px;
}
.employer-dashboard-1 .mdicalendar {
  margin: 1.3px 11.8px 3.8px 0;
  display: flex;
  width: 22.5px;
  height: 25px;
  box-sizing: border-box;
}
.employer-dashboard-1 .dashboard-9 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #E0E0E0;
}
.employer-dashboard-1 .container-8 {
  margin: 0 2.5px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.employer-dashboard-1 .container-10 {
  border-radius: 8px;
  background: rgba(191, 191, 191, 0.1);
  position: relative;
  margin-bottom: 56px;
  display: flex;
  flex-direction: column;
  padding: 24px 0 24px 17.3px;
  width: fit-content;
  box-sizing: border-box;
}
.employer-dashboard-1 .manage-listings-1 {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #BFBFBF;
}
.employer-dashboard-1 .vector-5 {
  width: 20px;
  height: 20px;
}
.employer-dashboard-1 .mdiaccount {
  margin: 2px 13px 8px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.employer-dashboard-1 .dashboard-4 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #E0E0E0;
}
.employer-dashboard-1 .container-2 {
  margin: 0 1.3px 32px 1.3px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.employer-dashboard-1 .vector-9 {
  width: 22.5px;
  height: 22.5px;
}
.employer-dashboard-1 .material-symbolslogout {
  margin: 0.8px 11.8px 6.8px 0;
  display: flex;
  width: 22.5px;
  height: 22.5px;
  box-sizing: border-box;
}
.employer-dashboard-1 .dashboard-8 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #E0E0E0;
}
.employer-dashboard-1 .container-22 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.employer-dashboard-1 .container-29 {
  border-radius: 8px;
  background: rgba(191, 191, 191, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 24px 0 33px 19.8px;
  width: fit-content;
  box-sizing: border-box;
}
.employer-dashboard-1 .container-45 {
  background: #0C2B5A;
  position: relative;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 41px 30px 40px;
  width: 434px;
  box-sizing: border-box;
}
.employer-dashboard-1 .dashboard-1 {
  margin: 2px 18px 2px 0;
  display: inline-block;
  width: 1027px;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: #0C2B5A;
}
.employer-dashboard-1 .post-ajob {
  margin-right: 7px;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #0C2B5A;
}
.employer-dashboard-1 .vector-11 {
  width: 14px;
  height: 14px;
}
.employer-dashboard-1 .material-symbolsadd {
  margin: 5px 0;
  display: flex;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
}
.employer-dashboard-1 .container-4 {
  border-radius: 8px;
  background: #F9DA33;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 8px 0;
  width: 150px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-dashboard-1 .container-12 {
  border-radius: 8px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 10px 20px 25px;
  width: 1230px;
  box-sizing: border-box;
}
.employer-dashboard-1 .vector-12 {
  width: 25px;
  height: 23.8px;
}
.employer-dashboard-1 .material-symbolswork {
  margin: 2.5px 15.5px 3.7px 0;
  display: flex;
  width: 25px;
  height: 23.8px;
  box-sizing: border-box;
}
.employer-dashboard-1 .container-2 {
  margin-right: 12.6px;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #F6F6F6;
}
.employer-dashboard-1 .active-jobs {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #F6F6F6;
}
.employer-dashboard-1 .container-23 {
  border-radius: 8px;
  background: #28BA10;
  position: relative;
  margin-right: 24px;
  display: flex;
  flex-direction: row;
  padding: 24px 0 30px 0;
  width: 255px;
  box-sizing: border-box;
}
.employer-dashboard-1 .vector-13 {
  width: 27.5px;
  height: 17.5px;
}
.employer-dashboard-1 .icbaseline-people-1 {
  margin: 6.3px 1.3px 6.3px 0;
  display: flex;
  width: 27.5px;
  height: 17.5px;
  box-sizing: border-box;
}
.employer-dashboard-1 .k {
  margin-right: 7.1px;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #F6F6F6;
}
.employer-dashboard-1 .candidates {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #F6F6F6;
}
.employer-dashboard-1 .container-44 {
  border-radius: 8px;
  background: #EFA30F;
  position: relative;
  margin-right: 23px;
  display: flex;
  flex-direction: row;
  padding: 24px 0 30px 25.3px;
  width: 255px;
  box-sizing: border-box;
}
.employer-dashboard-1 .claritynew-line {
  margin-right: 5px;
  width: 30px;
  height: 30px;
}
.employer-dashboard-1 .container-3 {
  margin-right: 12.6px;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #F6F6F6;
}
.employer-dashboard-1 .new-applicants {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #F6F6F6;
}
.employer-dashboard-1 .container-6 {
  border-radius: 8px;
  background: #1073BA;
  position: relative;
  margin-right: 24px;
  display: flex;
  flex-direction: row;
  padding: 24px 11.1px 30px 24px;
  box-sizing: border-box;
}
.employer-dashboard-1 .group {
  width: 22.5px;
  height: 21.3px;
}
.employer-dashboard-1 .icon-park-outlineeyes {
  margin: 4.4px 13.8px 4.4px 0;
  display: flex;
  width: 22.5px;
  height: 21.3px;
  box-sizing: border-box;
}
.employer-dashboard-1 .k-1 {
  margin-right: 13.2px;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #F6F6F6;
}
.employer-dashboard-1 .profile-views {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #F6F6F6;
}
.employer-dashboard-1 .container-57 {
  border-radius: 8px;
  background: #BA1010;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 24px 0 30px 0;
  width: 255px;
  box-sizing: border-box;
}
.employer-dashboard-1 .container-49 {
  margin-bottom: 64px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.employer-dashboard-1 .todays-tasks {
  margin-right: 16.5px;
  width: 540.5px;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
  color: #545454;
}
.employer-dashboard-1 .upcoming-interviews {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
  color: #545454;
}
.employer-dashboard-1 .container-3 {
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 778.4px;
  box-sizing: border-box;
}
.employer-dashboard-1 .all-tasks {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #0C2B5A;
}
.employer-dashboard-1 .container-28 {
  border-radius: 4px;
  background: #BCD4F8;
  position: relative;
  display: flex;
  padding: 6px 10.5px 6px 10px;
  box-sizing: border-box;
}
.employer-dashboard-1 .completed {
  margin: 6px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-dashboard-1 .snoozed {
  margin: 6px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-dashboard-1 .container-55 {
  margin: 0 6px 5px 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 387.9px;
  box-sizing: border-box;
}
.employer-dashboard-1 .line-42 {
  background: #E2E2E2;
  margin-bottom: 27.8px;
  width: 533px;
  height: 1px;
}
.employer-dashboard-1 .vector-21 {
  width: 22.5px;
  height: 22.5px;
}
.employer-dashboard-1 .mdicheckbox-outline {
  margin: 0 18.8px 1.8px 0;
  display: flex;
  width: 22.5px;
  height: 22.5px;
  box-sizing: border-box;
}
.employer-dashboard-1 .follow-up-with-interviews-for-social-media-strategist {
  margin-top: 0.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-dashboard-1 .container-48 {
  margin: 0 19.8px 55.8px 19.8px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.employer-dashboard-1 .vector-22 {
  width: 22.5px;
  height: 22.5px;
}
.employer-dashboard-1 .mdicheckbox-outline-1 {
  margin: 0 18.8px 1.8px 0;
  display: flex;
  width: 22.5px;
  height: 22.5px;
  box-sizing: border-box;
}
.employer-dashboard-1 .follow-up-with-interviews-for-social-media-strategist-1 {
  margin-top: 0.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-dashboard-1 .container-9 {
  margin: 0 18.8px 27px 18.8px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.employer-dashboard-1 .line-45 {
  background: #E2E2E2;
  margin-bottom: 27.8px;
  width: 533px;
  height: 1px;
}
.employer-dashboard-1 .vector-23 {
  width: 22.5px;
  height: 22.5px;
}
.employer-dashboard-1 .mdicheckbox-outline-2 {
  margin: 0 18.8px 1.8px 0;
  display: flex;
  width: 22.5px;
  height: 22.5px;
  box-sizing: border-box;
}
.employer-dashboard-1 .follow-up-with-interviews-for-social-media-strategist-2 {
  margin-top: 0.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-dashboard-1 .container-24 {
  margin: 0 18.8px 27px 18.8px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.employer-dashboard-1 .line-46 {
  background: #E2E2E2;
  margin-bottom: 27.8px;
  width: 533px;
  height: 1px;
}
.employer-dashboard-1 .vector-24 {
  width: 22.5px;
  height: 22.5px;
}
.employer-dashboard-1 .mdicheckbox-outline-3 {
  margin: 0 18.8px 1.8px 0;
  display: flex;
  width: 22.5px;
  height: 22.5px;
  box-sizing: border-box;
}
.employer-dashboard-1 .follow-up-with-interviews-for-social-media-strategist-3 {
  margin-top: 0.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-dashboard-1 .container-33 {
  margin: 0 18.8px 27px 18.8px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.employer-dashboard-1 .line-47 {
  background: #E2E2E2;
  width: 533px;
  height: 1px;
}
.employer-dashboard-1 .container-5 {
  border-radius: 8px;
  background: #FFFFFF;
  position: relative;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  padding: 10px 0 28px 0;
  box-sizing: border-box;
}
.employer-dashboard-1 .line-49 {
  background: #E2E2E2;
  position: absolute;
  left: 0px;
  top: 131px;
  right: 0px;
  height: 1px;
}
.employer-dashboard-1 .today {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #0C2B5A;
}
.employer-dashboard-1 .container-18 {
  border-radius: 4px;
  background: #BCD4F8;
  position: relative;
  padding: 6px 20px;
  width: 88px;
  box-sizing: border-box;
}
.employer-dashboard-1 .upcoming {
  margin: 6px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-dashboard-1 .completed-1 {
  margin: 6px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-dashboard-1 .container-34 {
  margin: 0 6px 5px 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 405.6px;
  box-sizing: border-box;
}
.employer-dashboard-1 .line-48 {
  background: #E2E2E2;
  margin-bottom: 11px;
  width: 673px;
  height: 1px;
}
.employer-dashboard-1 .rectangle-183 {
  background: url('assets/images/Rectangle186.jpeg') 50% / cover no-repeat, linear-gradient(#D9D9D9, #D9D9D9);
  margin-bottom: 48px;
  width: 40px;
  height: 40px;
}
.employer-dashboard-1 .rectangle-184 {
  background: url('assets/images/Rectangle186.jpeg') 50% / cover no-repeat, linear-gradient(#D9D9D9, #D9D9D9);
  width: 40px;
  height: 40px;
}
.employer-dashboard-1 .container-39 {
  margin: 3px 16px 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-dashboard-1 .michael-scott {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-dashboard-1 .for-social-media-strategist {
  margin-bottom: 40px;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.for-social-media-strategist {
  font-family: 'Gothic A1';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.333;
  color: #0C2B5A;
}
.employer-dashboard-1 .michael-scott-1 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-dashboard-1 .for-social-media-strategist-1 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.for-social-media-strategist-1 {
  font-family: 'Gothic A1';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.333;
  color: #0C2B5A;
}
.employer-dashboard-1 .container-30 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.employer-dashboard-1 .container-27 {
  margin: 5px 0 9px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.employer-dashboard-1 .at-915-pst {
  margin-bottom: 64px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-dashboard-1 .at-915-pst-1 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-dashboard-1 .container-16 {
  margin: 17px 20.4px 21px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.employer-dashboard-1 .rectangle-188 {
  border-radius: 8px;
  background: #EEEEEE;
  position: relative;
  width: 6px;
  height: 150px;
}
.employer-dashboard-1 .container-20 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.employer-dashboard-1 .container-50 {
  margin: 0 6px 6px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 647px;
  box-sizing: border-box;
}
.employer-dashboard-1 .line-50 {
  background: #E2E2E2;
  margin-bottom: 24px;
  width: 673px;
  height: 1px;
}
.employer-dashboard-1 .rectangle-185 {
  background: url('assets/images/Rectangle186.jpeg') 50% / cover no-repeat, linear-gradient(#D9D9D9, #D9D9D9);
  margin: 3px 16px 5px 0;
  width: 40px;
  height: 40px;
}
.employer-dashboard-1 .michael-scott-2 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.for-social-media-strategist-2 {
  font-family: 'Gothic A1';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.333;
  color: #0C2B5A;
}
.employer-dashboard-1 .for-social-media-strategist-2 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-dashboard-1 .container-38 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.employer-dashboard-1 .container-54 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.employer-dashboard-1 .at-915-pst-2 {
  margin: 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-dashboard-1 .container-40 {
  margin: 0 32.4px 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 620.6px;
  box-sizing: border-box;
}
.employer-dashboard-1 .line-51 {
  background: #E2E2E2;
  margin-bottom: 24px;
  width: 673px;
  height: 1px;
}
.employer-dashboard-1 .rectangle-186 {
  background: url('assets/images/Rectangle186.jpeg') 50% / cover no-repeat, linear-gradient(#D9D9D9, #D9D9D9);
  margin: 3px 16px 5px 0;
  width: 40px;
  height: 40px;
}
.employer-dashboard-1 .michael-scott-3 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-dashboard-1 .for-social-media-strategist-3 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.for-social-media-strategist-3 {
  font-family: 'Gothic A1';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.333;
  color: #0C2B5A;
}
.employer-dashboard-1 .container-31 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.employer-dashboard-1 .container-14 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.employer-dashboard-1 .at-915-pst-3 {
  margin: 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-dashboard-1 .container-52 {
  margin: 0 32.4px 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 620.6px;
  box-sizing: border-box;
}
.employer-dashboard-1 .line-52 {
  background: #E2E2E2;
  width: 673px;
  height: 1px;
}
.employer-dashboard-1 .container-26 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 673px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-dashboard-1 .container-41 {
  border-radius: 8px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 10px 0 4px 0;
  width: 673px;
  box-sizing: border-box;
}
.employer-dashboard-1 .container-42 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.employer-dashboard-1 .line-43 {
  background: #E2E2E2;
  position: absolute;
  left: 1px;
  top: 131px;
  width: 533px;
  height: 1px;
}
.employer-dashboard-1 .rectangle-187 {
  border-radius: 8px;
  background: #EEEEEE;
  position: absolute;
  left: 521px;
  top: 63px;
  width: 6px;
  height: 150px;
}
.employer-dashboard-1 .container-25 {
  position: relative;
  margin-bottom: 64px;
  display: flex;
  box-sizing: border-box;
}
.employer-dashboard-1 .recently-posted-jobs {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
  color: #545454;
}
.employer-dashboard-1 .social-media-strategist {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #545454;
}
.employer-dashboard-1 .remote-usa {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-dashboard-1 .container-13 {
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.employer-dashboard-1 .view-applicants {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-dashboard-1 .group-334 {
  border-radius: 8px;
  background: #F9DA33;
  position: relative;
  margin-top: 16px;
  display: flex;
  padding: 8px 14px;
  box-sizing: border-box;
}
.employer-dashboard-1 .container {
  margin: 0 0 8px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1182px;
  box-sizing: border-box;
}
.employer-dashboard-1 .created-on-december-142023 {
  margin: 0 12px 24px 0;
  display: inline-block;
  width: 1021px;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-dashboard-1 .manage-listing {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #0C2B5A;
}
.employer-dashboard-1 .group-335 {
  border-radius: 8px;
  border: 2px solid #F9DA33;
  position: relative;
  margin-top: 8px;
  display: flex;
  padding: 8px 17.3px 8px 16px;
  box-sizing: border-box;
}
.employer-dashboard-1 .container-36 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1183px;
  box-sizing: border-box;
}
.employer-dashboard-1 .container-21 {
  border-radius: 8px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 32px 31px 15px;
  width: 1230px;
  box-sizing: border-box;
}
.employer-dashboard-1 .container-7 {
  margin: 114px 0 22px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.employer-dashboard-1 .container-46 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.employer-dashboard-1 .close-btn {
  border-radius: 8.1px;
  background: #FC615C;
  margin-right: 10.8px;
  width: 16.2px;
  height: 16.2px;
}
.employer-dashboard-1 .restore-btn {
  border-radius: 8.1px;
  background: #FDBE40;
  margin-right: 10.8px;
  width: 16.2px;
  height: 16.2px;
}
.employer-dashboard-1 .minimize-btn {
  border-radius: 8.1px;
  background: #34CA49;
  width: 16.2px;
  height: 16.2px;
}
.employer-dashboard-1 .action-bttn {
  margin: 5.4px 17.5px 8.1px 0;
  display: flex;
  flex-direction: row;
  width: 70.2px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-dashboard-1 .arrow {
  width: 6.8px;
  height: 13.5px;
}
.employer-dashboard-1 .prev-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-right: 2.7px;
  display: flex;
  padding: 8.1px 13.5px 8.1px 12.2px;
  width: 32.4px;
  height: 29.7px;
  box-sizing: border-box;
}
.employer-dashboard-1 .arrow-1 {
  width: 6.8px;
  height: 13.5px;
}
.employer-dashboard-1 .prev-btn-2 {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-right: 14.9px;
  display: flex;
  padding: 8.1px 12.1px 8.1px 13.5px;
  width: 32.4px;
  height: 29.7px;
  box-sizing: border-box;
}
.employer-dashboard-1 .option-btn {
  width: 50px;
  height: 29.7px;
}
.employer-dashboard-1 .container-11 {
  margin: 0px 0 9.4px 0;
  display: flex;
  flex-direction: row;
  width: 220px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-dashboard-1 .safaribrowser {
  margin: 3px 7px 0 0;
  display: inline-block;
  width: 583px;
  overflow-wrap: break-word;
  font-family: 'SF Compact Display', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.employer-dashboard-1 .refresh {
  margin-bottom: 5px;
  width: 10px;
  height: 12px;
}
.employer-dashboard-1 .address-bar {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 17.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 7px 0 0;
  width: 1143px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-dashboard-1 .share {
  width: 13.5px;
  height: 18.9px;
}
.employer-dashboard-1 .share-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin: 0 10.8px 9.4px 0;
  display: flex;
  padding: 4.7px 18.2px 6.1px 18.2px;
  width: 50px;
  height: 29.7px;
  box-sizing: border-box;
}
.employer-dashboard-1 .view {
  width: 14.9px;
  height: 14.9px;
}
.employer-dashboard-1 .view-search-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin: 0 17.5px 9.4px 0;
  display: flex;
  padding: 7.4px 17.6px 7.4px 17.5px;
  width: 50px;
  height: 29.7px;
  box-sizing: border-box;
}
.employer-dashboard-1 .add-btn {
  margin-top: 6.7px;
  width: 32.4px;
  height: 32.4px;
}
.employer-dashboard-1 .container-56 {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  width: 160.7px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-dashboard-1 .group-333 {
  box-shadow: 0px 1px 0px 0px #B5B4B5;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(180deg, #EBEAEB, #D7D6D7);
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 42.8px 0px 0.1px 17.6px;
  box-sizing: border-box;
}
.employer-dashboard {
  background: #EDF0F4;
  display: flex;
  padding-right: 40px;
  width: 1728px;
  box-sizing: border-box;
}
