.employer-post-ajob-review-info-1 .rectangle-148 {
  background: url('assets/images/Rectangle148.png') 50% / cover no-repeat;
  margin-bottom: 42px;
  align-self: flex-start;
  width: 255px;
  height: 62px;
}
.employer-post-ajob-review-info-1 .overview {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #BFBFBF;
}
.employer-post-ajob-review-info-1 .vector-2 {
  width: 22.5px;
  height: 22.5px;
}
.employer-post-ajob-review-info-1 .material-symbolsdashboard {
  margin: 3.8px 11.8px 3.8px 0;
  display: flex;
  width: 22.5px;
  height: 22.5px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .dashboard {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #E0E0E0;
}
.employer-post-ajob-review-info-1 .container-15 {
  margin: 0 1.3px 32px 1.3px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .vector-3 {
  width: 22.5px;
  height: 26.3px;
}
.employer-post-ajob-review-info-1 .mdibell {
  margin: 2.5px 11.8px 1.3px 0;
  display: flex;
  width: 22.5px;
  height: 26.3px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .dashboard-1 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #E0E0E0;
}
.employer-post-ajob-review-info-1 .container-8 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .container {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.4px;
  line-height: 1.5;
  color: #0C2B5A;
}
.employer-post-ajob-review-info-1 .container-36 {
  border-radius: 15px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  padding: 3px 5.9px 3px 6px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .container-35 {
  margin: 0 0 32px 1.3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 317.3px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .vector-7 {
  width: 25px;
  height: 20px;
}
.employer-post-ajob-review-info-1 .material-symbolsmail {
  margin: 5px 10.5px 5px 0;
  display: flex;
  width: 25px;
  height: 20px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .dashboard-5 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #E0E0E0;
}
.employer-post-ajob-review-info-1 .container-4 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .container-1 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.4px;
  line-height: 1.5;
  color: #0C2B5A;
}
.employer-post-ajob-review-info-1 .container-6 {
  border-radius: 15px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  padding: 3px 5.9px 3px 6px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .container-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 318.5px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .container-12 {
  border-radius: 8px;
  background: rgba(191, 191, 191, 0.1);
  position: relative;
  margin-bottom: 56px;
  display: flex;
  flex-direction: column;
  padding: 24px 16px 24px 18.5px;
  width: fit-content;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .manage-listings {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -0.4px;
  line-height: 1.5;
  color: #BFBFBF;
}
.employer-post-ajob-review-info-1 .vector-4 {
  width: 26.3px;
  height: 26.3px;
}
.employer-post-ajob-review-info-1 .carbonadd-filled {
  margin: 1.9px 9.9px 1.9px 0;
  display: flex;
  width: 26.3px;
  height: 26.3px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .dashboard-2 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #E0E0E0;
}
.employer-post-ajob-review-info-1 .container-19 {
  margin: 0 0.6px 32px 0.6px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .vector-8 {
  width: 22.5px;
  height: 15px;
}
.employer-post-ajob-review-info-1 .material-symbolsmenu {
  margin: 7.5px 11.8px 7.5px 0;
  display: flex;
  width: 22.5px;
  height: 15px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .dashboard-6 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #F9DA33;
}
.employer-post-ajob-review-info-1 .container-9 {
  margin: 0 2.5px 32px 2.5px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .vector-6 {
  width: 27.5px;
  height: 17.5px;
}
.employer-post-ajob-review-info-1 .icbaseline-people {
  margin: 6.3px 9.3px 6.3px 0;
  display: flex;
  width: 27.5px;
  height: 17.5px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .dashboard-4 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #E0E0E0;
}
.employer-post-ajob-review-info-1 .container-2 {
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .vector-10 {
  width: 22.5px;
  height: 25px;
}
.employer-post-ajob-review-info-1 .mdicalendar {
  margin: 1.3px 11.8px 3.8px 0;
  display: flex;
  width: 22.5px;
  height: 25px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .dashboard-8 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #E0E0E0;
}
.employer-post-ajob-review-info-1 .container-24 {
  margin: 0 2.5px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .container-31 {
  border-radius: 8px;
  background: rgba(191, 191, 191, 0.1);
  position: relative;
  margin-bottom: 56px;
  display: flex;
  flex-direction: column;
  padding: 24px 0 24px 17.3px;
  width: fit-content;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .manage-listings-1 {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #BFBFBF;
}
.employer-post-ajob-review-info-1 .vector-5 {
  width: 20px;
  height: 20px;
}
.employer-post-ajob-review-info-1 .mdiaccount {
  margin: 2px 13px 8px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .dashboard-3 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #E0E0E0;
}
.employer-post-ajob-review-info-1 .container-11 {
  margin: 0 1.3px 32px 1.3px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .vector-9 {
  width: 22.5px;
  height: 22.5px;
}
.employer-post-ajob-review-info-1 .material-symbolslogout {
  margin: 0.8px 11.8px 6.8px 0;
  display: flex;
  width: 22.5px;
  height: 22.5px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .dashboard-7 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #E0E0E0;
}
.employer-post-ajob-review-info-1 .container-7 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .container-23 {
  border-radius: 8px;
  background: rgba(191, 191, 191, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 24px 0 33px 19.8px;
  width: fit-content;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .container-21 {
  background: #0C2B5A;
  position: relative;
  margin: 0 24px 145px 0;
  display: flex;
  flex-direction: column;
  padding: 130px 41px 30px 40px;
  width: 434px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .congrats {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 32px;
  line-height: 0.625;
  color: #000000;
}
.employer-post-ajob-review-info-1 .your-listing-is-now-live-feel-free-to-preview-the-listing-below {
  margin: 0 0.5px 40px 0.5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #202020;
}
.employer-post-ajob-review-info-1 .recently-posted-jobs {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
  color: #545454;
}
.employer-post-ajob-review-info-1 .social-media-strategist {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #545454;
}
.employer-post-ajob-review-info-1 .remote-usa {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-post-ajob-review-info-1 .container-25 {
  margin-right: 7.5px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .vector-11 {
  width: 6.7px;
  height: 6.7px;
}
.employer-post-ajob-review-info-1 .mdidot {
  margin: 9.7px 0 35.7px 0;
  display: flex;
  width: 6.7px;
  height: 6.7px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .container-16 {
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .view-applicants {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-post-ajob-review-info-1 .group-334 {
  border-radius: 8px;
  background: #F9DA33;
  position: relative;
  margin-top: 16px;
  display: flex;
  padding: 8px 14px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .container-29 {
  margin: 0 0 8px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1182px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .created-on-december-142023 {
  margin: 0 12px 24px 0;
  display: inline-block;
  width: 1021px;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-post-ajob-review-info-1 .manage-listing {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #0C2B5A;
}
.employer-post-ajob-review-info-1 .group-335 {
  border-radius: 8px;
  border: 2px solid #F9DA33;
  position: relative;
  margin-top: 8px;
  display: flex;
  padding: 8px 17.3px 8px 16px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .container-18 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1183px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .group-342 {
  border-radius: 8px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 32px 31px 15px;
  width: 1230px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .social-media-strategist-1 {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #545454;
}
.employer-post-ajob-review-info-1 .remote-usa-1 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-post-ajob-review-info-1 .container-33 {
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .view-applicants-1 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-post-ajob-review-info-1 .group-336 {
  border-radius: 8px;
  background: #F9DA33;
  position: relative;
  margin-top: 16px;
  display: flex;
  padding: 8px 14px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .container-13 {
  margin: 0 0 8px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1182px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .created-on-december-1420231 {
  margin: 0 12px 24px 0;
  display: inline-block;
  width: 1021px;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-post-ajob-review-info-1 .manage-listing-1 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #0C2B5A;
}
.employer-post-ajob-review-info-1 .group-337 {
  border-radius: 8px;
  border: 2px solid #F9DA33;
  position: relative;
  margin-top: 8px;
  display: flex;
  padding: 8px 17.3px 8px 16px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .container-30 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1183px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .group-341 {
  border-radius: 8px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 32px 31px 15px;
  width: 1230px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .social-media-strategist-3 {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #545454;
}
.employer-post-ajob-review-info-1 .remote-usa-3 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-post-ajob-review-info-1 .container-22 {
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .view-applicants-3 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-post-ajob-review-info-1 .group-338 {
  border-radius: 8px;
  background: #F9DA33;
  position: relative;
  margin-top: 16px;
  display: flex;
  padding: 8px 14px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .container-20 {
  margin: 0 0 8px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1182px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .created-on-december-1420233 {
  margin: 0 12px 24px 0;
  display: inline-block;
  width: 1021px;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-post-ajob-review-info-1 .manage-listing-3 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #0C2B5A;
}
.employer-post-ajob-review-info-1 .group-339 {
  border-radius: 8px;
  border: 2px solid #F9DA33;
  position: relative;
  margin-top: 8px;
  display: flex;
  padding: 8px 17.3px 8px 16px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .container-17 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1183px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .group-340 {
  border-radius: 8px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 32px 31px 15px;
  width: 1230px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .social-media-strategist-2 {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #545454;
}
.employer-post-ajob-review-info-1 .remote-usa-2 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-post-ajob-review-info-1 .container-32 {
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .view-applicants-2 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-post-ajob-review-info-1 .group-3361 {
  border-radius: 8px;
  background: #F9DA33;
  position: relative;
  margin-top: 16px;
  display: flex;
  padding: 8px 14px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .container-28 {
  margin: 0 0 8px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1182px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .created-on-december-1420232 {
  margin: 0 12px 24px 0;
  display: inline-block;
  width: 1021px;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-post-ajob-review-info-1 .manage-listing-2 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #0C2B5A;
}
.employer-post-ajob-review-info-1 .group-3371 {
  border-radius: 8px;
  border: 2px solid #F9DA33;
  position: relative;
  margin-top: 8px;
  display: flex;
  padding: 8px 17.3px 8px 16px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .container-34 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1183px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .group-343 {
  border-radius: 8px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 32px 31px 15px;
  width: 1230px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .social-media-strategist-4 {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #545454;
}
.employer-post-ajob-review-info-1 .remote-usa-4 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-post-ajob-review-info-1 .container-26 {
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .view-applicants-4 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-post-ajob-review-info-1 .group-3381 {
  border-radius: 8px;
  background: #F9DA33;
  position: relative;
  margin-top: 16px;
  display: flex;
  padding: 8px 14px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .container-14 {
  margin: 0 0 8px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1182px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .created-on-december-1420234 {
  margin: 0 12px 24px 0;
  display: inline-block;
  width: 1021px;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.employer-post-ajob-review-info-1 .manage-listing-4 {
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #0C2B5A;
}
.employer-post-ajob-review-info-1 .group-3391 {
  border-radius: 8px;
  border: 2px solid #F9DA33;
  position: relative;
  margin-top: 8px;
  display: flex;
  padding: 8px 17.3px 8px 16px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .container-10 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1183px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .group-344 {
  border-radius: 8px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 32px 31px 15px;
  width: 1230px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .container-1 {
  margin-top: 138px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .container-5 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .close-btn {
  border-radius: 8.1px;
  background: #FC615C;
  margin-right: 10.8px;
  width: 16.2px;
  height: 16.2px;
}
.employer-post-ajob-review-info-1 .restore-btn {
  border-radius: 8.1px;
  background: #FDBE40;
  margin-right: 10.8px;
  width: 16.2px;
  height: 16.2px;
}
.employer-post-ajob-review-info-1 .minimize-btn {
  border-radius: 8.1px;
  background: #34CA49;
  width: 16.2px;
  height: 16.2px;
}
.employer-post-ajob-review-info-1 .action-bttn {
  margin: 5.4px 17.5px 8.1px 0;
  display: flex;
  flex-direction: row;
  width: 70.2px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .arrow {
  width: 6.8px;
  height: 13.5px;
}
.employer-post-ajob-review-info-1 .prev-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-right: 2.7px;
  display: flex;
  padding: 8.1px 13.5px 8.1px 12.2px;
  width: 32.4px;
  height: 29.7px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .arrow-1 {
  width: 6.8px;
  height: 13.5px;
}
.employer-post-ajob-review-info-1 .prev-btn-2 {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-right: 14.9px;
  display: flex;
  padding: 8.1px 12.1px 8.1px 13.5px;
  width: 32.4px;
  height: 29.7px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .option-btn {
  width: 50px;
  height: 29.7px;
}
.employer-post-ajob-review-info-1 .container-27 {
  margin: 0px 0 9.4px 0;
  display: flex;
  flex-direction: row;
  width: 220px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .safaribrowser {
  margin: 3px 7px 0 0;
  display: inline-block;
  width: 583px;
  overflow-wrap: break-word;
  font-family: 'SF Compact Display', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.employer-post-ajob-review-info-1 .refresh {
  margin-bottom: 5px;
  width: 10px;
  height: 12px;
}
.employer-post-ajob-review-info-1 .address-bar {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 17.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 7px 0 0;
  width: 1143px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .share {
  width: 13.5px;
  height: 18.9px;
}
.employer-post-ajob-review-info-1 .share-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin: 0 10.8px 9.4px 0;
  display: flex;
  padding: 4.7px 18.2px 6.1px 18.2px;
  width: 50px;
  height: 29.7px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .view {
  width: 14.9px;
  height: 14.9px;
}
.employer-post-ajob-review-info-1 .view-search-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin: 0 17.5px 9.4px 0;
  display: flex;
  padding: 7.4px 17.6px 7.4px 17.5px;
  width: 50px;
  height: 29.7px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .add-btn {
  margin-top: 6.7px;
  width: 32.4px;
  height: 32.4px;
}
.employer-post-ajob-review-info-1 .container {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  width: 160.7px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-post-ajob-review-info-1 .group-333 {
  box-shadow: 0px 1px 0px 0px #B5B4B5;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(180deg, #EBEAEB, #D7D6D7);
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 42.8px 0px 0.1px 17.6px;
  box-sizing: border-box;
}
.employer-post-ajob-review-info {
  background: #EDF0F4;
  display: flex;
  padding-right: 40px;
  width: 1728px;
  box-sizing: border-box;
}
