.employer-my-listings-page .close-btn {
  border-radius: 8.1px;
  background: #FC615C;
  margin-right: 10.8px;
  width: 16.2px;
  height: 16.2px;
}
.employer-my-listings-page .restore-btn {
  border-radius: 8.1px;
  background: #FDBE40;
  margin-right: 10.8px;
  width: 16.2px;
  height: 16.2px;
}
.employer-my-listings-page .minimize-btn {
  border-radius: 8.1px;
  background: #34CA49;
  width: 16.2px;
  height: 16.2px;
}
.employer-my-listings-page .action-bttn {
  margin: 5.4px 17.5px 8.1px 0;
  display: flex;
  flex-direction: row;
  width: 70.2px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-my-listings-page .arrow {
  width: 6.8px;
  height: 13.5px;
}
.employer-my-listings-page .prev-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-right: 2.7px;
  display: flex;
  padding: 8.1px 13.5px 8.1px 12.2px;
  width: 32.4px;
  height: 29.7px;
  box-sizing: border-box;
}
.employer-my-listings-page .arrow-1 {
  width: 6.8px;
  height: 13.5px;
}
.employer-my-listings-page .prev-btn-2 {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-right: 14.9px;
  display: flex;
  padding: 8.1px 12.1px 8.1px 13.5px;
  width: 32.4px;
  height: 29.7px;
  box-sizing: border-box;
}
.employer-my-listings-page .option-btn {
  width: 50px;
  height: 29.7px;
}
.employer-my-listings-page .container {
  margin-bottom: 9.4px;
  display: flex;
  flex-direction: row;
  width: 220px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-my-listings-page .safaribrowser {
  margin: 3px 7px 0 0;
  display: inline-block;
  width: 583px;
  overflow-wrap: break-word;
  font-family: 'SF Compact Display', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.employer-my-listings-page .refresh {
  margin-bottom: 5px;
  width: 10px;
  height: 12px;
}
.employer-my-listings-page .address-bar {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 17.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 7px 0 0;
  width: 1143px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-my-listings-page .share {
  width: 13.5px;
  height: 18.9px;
}
.employer-my-listings-page .share-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin: 0 10.8px 9.4px 0;
  display: flex;
  padding: 4.7px 18.2px 6.1px 18.2px;
  width: 50px;
  height: 29.7px;
  box-sizing: border-box;
}
.employer-my-listings-page .view {
  width: 14.9px;
  height: 14.9px;
}
.employer-my-listings-page .view-search-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin: 0 17.5px 9.4px 0;
  display: flex;
  padding: 7.4px 17.6px 7.4px 17.5px;
  width: 50px;
  height: 29.7px;
  box-sizing: border-box;
}
.employer-my-listings-page .add-btn {
  margin-top: 6.7px;
  width: 32.4px;
  height: 32.4px;
}
.employer-my-listings-page .container-5 {
  display: flex;
  flex-direction: row;
  width: 160.7px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-my-listings-page .browser-bar {
  box-shadow: 0px 1px 0px 0px #B5B4B5;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(180deg, #EBEAEB, #D7D6D7);
  position: relative;
  margin-bottom: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 42.8px 0px 0.1px 17.6px;
  width: 1728px;
  box-sizing: border-box;
}
.employer-my-listings-page .job-ez-1 {
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.employer-my-listings-page .job-ez-word-mark {
  background: #000000;
  position: relative;
  margin-bottom: 100px;
  display: flex;
  padding: 16px 3.3px 16px 3px;
  box-sizing: border-box;
}
.employer-my-listings-page .vector-7 {
  width: 22.5px;
  height: 22.5px;
}
.employer-my-listings-page .list {
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  padding: 16.3px 17.8px;
  width: 58px;
  height: 55px;
  box-sizing: border-box;
}
.employer-my-listings-page .frame-1000004346 {
  margin-bottom: 171.5px;
  display: flex;
  width: 58px;
  height: 55px;
  box-sizing: border-box;
}
.employer-my-listings-page .vector-8 {
  width: 17.5px;
  height: 17.5px;
}
.employer-my-listings-page .list-item {
  margin-bottom: 44.5px;
  display: flex;
  width: 17.5px;
  height: 17.5px;
  box-sizing: border-box;
}
.employer-my-listings-page .vector-9 {
  width: 20px;
  height: 17.5px;
}
.employer-my-listings-page .list-item-1 {
  margin: 0 2.5px 40.8px 2.5px;
  display: flex;
  width: 20px;
  height: 17.5px;
  box-sizing: border-box;
}
.employer-my-listings-page .vector-10 {
  width: 25px;
  height: 25px;
}
.employer-my-listings-page .list-item-2 {
  display: flex;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}
.employer-my-listings-page .list-1 {
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30.3px 16.5px 26.5px 16.5px;
  width: 58px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-my-listings-page .frame-1000004347 {
  margin-bottom: 171.5px;
  display: flex;
  width: 58px;
  box-sizing: border-box;
}
.employer-my-listings-page .vector-11 {
  width: 17.5px;
  height: 25px;
}
.employer-my-listings-page .list-item-3 {
  margin: 0 0 31.5px 0px;
  display: flex;
  width: 17.5px;
  height: 25px;
  box-sizing: border-box;
}
.employer-my-listings-page .vector-12 {
  width: 20px;
  height: 20px;
}
.employer-my-listings-page .list-item-4 {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.employer-my-listings-page .list-2 {
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 26.5px 19px 29px 19px;
  width: 58px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-my-listings-page .frame-1000004348 {
  display: flex;
  width: 58px;
  box-sizing: border-box;
}
.employer-my-listings-page .frame-1000004349 {
  margin-right: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 58px;
  box-sizing: border-box;
}
.employer-my-listings-page .sidebar-free-component {
  background: #0C2B5A;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 100px 0;
  width: 137px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-my-listings-page .sidebar {
  margin: 0 180.5px 184.5px 0;
  display: flex;
  width: 137px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-my-listings-page .ph {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  color: var(--gray-900, #111928);
}
.employer-my-listings-page .avatar {
  border-radius: 999px;
  background: #9CA3AF;
  margin: 2px 12px 2px 0;
  display: flex;
  padding: 8px 7.7px;
  box-sizing: border-box;
}
.employer-my-listings-page .job-ez {
  overflow-wrap: break-word;
  font-family: var(--text-2-xlfont-semibold-font-family, 'Inter');
  font-weight: var(--text-2-xlfont-semibold-font-weight, 600);
  font-size: var(--text-2-xlfont-semibold-font-size, 24px);
  line-height: var(--text-2-xlfont-semibold-line-height, 1.5);
  color: var(--gray-900, #111928);
}
.employer-my-listings-page .logo {
  margin: 0.5px 32.6px 0.5px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.employer-my-listings-page .vector-2 {
  width: 13.5px;
  height: 13.5px;
}
.employer-my-listings-page .search-outline {
  margin: 2.3px 10.3px 5.3px 0;
  display: flex;
  width: 13.5px;
  height: 13.5px;
  box-sizing: border-box;
}
.employer-my-listings-page .search-for-alisting {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: var(--gray-500, #6B7280);
}
.employer-my-listings-page .search {
  border-radius: 8px;
  border: 1px solid var(--gray-3001, #D1D5DB);
  background: var(--gray-501, #F9FAFB);
  display: flex;
  flex-direction: row;
  padding: 7px 0 7px 11.3px;
  width: 249px;
  box-sizing: border-box;
}
.employer-my-listings-page .nav-links {
  display: flex;
  width: 249px;
  box-sizing: border-box;
}
.employer-my-listings-page .container-6 {
  margin: 1px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.employer-my-listings-page .text {
  margin-right: 12px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
  color: var(--white-4, #FFFFFF);
}
.employer-my-listings-page .vector-3 {
  width: 9.3px;
  height: 9.3px;
}
.employer-my-listings-page .plus-outline {
  margin: 6.8px 0;
  display: flex;
  width: 9.3px;
  height: 9.3px;
  box-sizing: border-box;
}
.employer-my-listings-page .button {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  display: flex;
  flex-direction: row;
  padding: 8px 15.3px 8px 12px;
  box-sizing: border-box;
}
.employer-my-listings-page .cta {
  display: flex;
  box-sizing: border-box;
}
.employer-my-listings-page .navbar {
  border-radius: 8px;
  background: var(--white-4, #FFFFFF);
  margin-bottom: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 22px 23.5px;
  width: 1230px;
  box-sizing: border-box;
}
.employer-my-listings-page .text-1 {
  margin-right: 12.9px;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.employer-my-listings-page .vector-5 {
  width: 11.7px;
  height: 6.7px;
}
.employer-my-listings-page .chevron-down {
  margin: 7.2px 0;
  display: flex;
  width: 11.7px;
  height: 6.7px;
  box-sizing: border-box;
}
.employer-my-listings-page .button-1 {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  display: flex;
  flex-direction: row;
  padding: 10px 0 10px 20px;
  width: 118px;
  box-sizing: border-box;
}
.employer-my-listings-page .dropdown-buttons {
  margin-right: 25px;
  display: flex;
  width: 118px;
  box-sizing: border-box;
}
.employer-my-listings-page .text-2 {
  margin-right: 12.5px;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.employer-my-listings-page .vector-6 {
  width: 11.7px;
  height: 6.7px;
}
.employer-my-listings-page .chevron-down-outline {
  margin: 7.2px 0;
  display: flex;
  width: 11.7px;
  height: 6.7px;
  box-sizing: border-box;
}
.employer-my-listings-page .button-2 {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  display: flex;
  flex-direction: row;
  padding: 10px 0 10px 20px;
  width: 123px;
  box-sizing: border-box;
}
.employer-my-listings-page .dropdown-buttons-1 {
  display: flex;
  width: 123px;
  box-sizing: border-box;
}
.employer-my-listings-page .frame-10291 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.employer-my-listings-page .vector-4 {
  width: 11.7px;
  height: 16.7px;
}
.employer-my-listings-page .sort {
  margin: 12.2px 0;
  display: flex;
  width: 11.7px;
  height: 16.7px;
  box-sizing: border-box;
}
.employer-my-listings-page .frame-1029 {
  margin: 0 82.7px 0 68.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1078.8px;
  box-sizing: border-box;
}
.employer-my-listings-page .nav-filter {
  margin-bottom: 31.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1230px;
  box-sizing: border-box;
}
.employer-my-listings-page .ph-1 {
  overflow-wrap: break-word;
  font-family: var(--leading-nonetext-xsfont-medium-font-family, 'Inter');
  font-weight: var(--leading-nonetext-xsfont-medium-font-weight, 500);
  font-size: var(--leading-nonetext-xsfont-medium-font-size, 12px);
  line-height: var(--leading-nonetext-xsfont-medium-line-height, 1);
  color: var(--gray-900, #111928);
}
.employer-my-listings-page .avatar-1 {
  border-radius: 999px;
  background: var(--gray-100, #F3F4F6);
  margin: 0 12px 32px 0;
  display: flex;
  padding: 9px 6.7px;
  box-sizing: border-box;
}
.employer-my-listings-page .heading-1 {
  margin-bottom: 8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-2-xlfont-bold-font-family, 'Inter');
  font-weight: var(--leading-tighttext-2-xlfont-bold-font-weight, 700);
  font-size: var(--leading-tighttext-2-xlfont-bold-font-size, 24px);
  line-height: var(--leading-tighttext-2-xlfont-bold-line-height, 1.25);
  color: var(--gray-900, #111928);
}
.employer-my-listings-page .text-6 {
  margin-right: 3.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-500, #6B7280);
}
.employer-my-listings-page .heading-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.employer-my-listings-page .main-info {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.employer-my-listings-page .text-7 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: #1A56DB;
}
.employer-my-listings-page .button-3 {
  border-radius: 8px;
  border: 1px solid #1A56DB;
  margin: 6px 10.5px 0 0;
  display: flex;
  padding: 9px 19.8px 9px 19px;
  box-sizing: border-box;
}
.employer-my-listings-page .text-9 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.employer-my-listings-page .button-4 {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  position: relative;
  padding: 10px 20px;
  box-sizing: border-box;
}
.employer-my-listings-page .container {
  position: absolute;
  right: 7.2px;
  bottom: 5px;
  overflow-wrap: break-word;
  font-family: var(--leading-nonetext-smfont-medium-font-family, 'Inter');
  font-weight: var(--leading-nonetext-smfont-medium-font-weight, 500);
  font-size: var(--leading-nonetext-smfont-medium-font-size, 14px);
  line-height: var(--leading-nonetext-smfont-medium-line-height, 1);
  color: var(--white-4, #FFFFFF);
}
.employer-my-listings-page .indicators {
  border-radius: 12px;
  background: #31C48D;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 24px;
  height: 24px;
}
.employer-my-listings-page .indicator-examples {
  position: relative;
  padding: 6px 0.5px 0 0;
  width: 148.5px;
  box-sizing: border-box;
}
.employer-my-listings-page .buttons {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.employer-my-listings-page .heading {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 961px;
  box-sizing: border-box;
}
.employer-my-listings-page .vector-15 {
  width: 18.8px;
  height: 20.8px;
}
.employer-my-listings-page .trash {
  margin: 2.1px 20.1px 67.1px 0;
  display: flex;
  width: 18.8px;
  height: 20.8px;
  box-sizing: border-box;
}
.employer-my-listings-page .heading-2 {
  margin-bottom: 10px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--gray-900, #111928);
}
.employer-my-listings-page .text-8 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  color: var(--gray-500, #6B7280);
}
.employer-my-listings-page .frame-1000004317 {
  display: flex;
  box-sizing: border-box;
}
.employer-my-listings-page .frame-1030 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.employer-my-listings-page .text-3 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--primary-800, #1E429F);
}
.employer-my-listings-page .badge {
  border-radius: 6px;
  background: var(--primary-100, #E1EFFE);
  margin-bottom: 2.5px;
  display: flex;
  padding: 2px 10.1px;
  box-sizing: border-box;
}
.employer-my-listings-page .vector-13 {
  width: 5.8px;
  height: 11.7px;
}
.employer-my-listings-page .dollar {
  margin: 3.2px 8.4px 3.2px 0;
  display: flex;
  width: 5.8px;
  height: 11.7px;
  box-sizing: border-box;
}
.employer-my-listings-page .text-4 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--primary-800, #1E429F);
}
.employer-my-listings-page .badge-1 {
  border-radius: 6px;
  background: var(--primary-100, #E1EFFE);
  margin: 0 0 2.5px 16px;
  display: flex;
  flex-direction: row;
  padding: 2px 10.3px 2px 14.1px;
  width: fit-content;
  box-sizing: border-box;
}
.employer-my-listings-page .vector-14 {
  width: 9.3px;
  height: 11.7px;
}
.employer-my-listings-page .pin {
  margin: 3.2px 6.5px 3.2px 0;
  display: flex;
  width: 9.3px;
  height: 11.7px;
  box-sizing: border-box;
}
.employer-my-listings-page .text-5 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--primary-800, #1E429F);
}
.employer-my-listings-page .badge-2 {
  border-radius: 6px;
  background: var(--primary-100, #E1EFFE);
  display: flex;
  flex-direction: row;
  padding: 2px 10.2px 2px 12.3px;
  width: fit-content;
  box-sizing: border-box;
}
.employer-my-listings-page .job-tags {
  margin-bottom: 19px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.employer-my-listings-page .text-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 919px;
  box-sizing: border-box;
}
.employer-my-listings-page .container-1 {
  margin-left: 3.1px;
  display: flex;
  flex-direction: row;
  width: 957.9px;
  box-sizing: border-box;
}
.employer-my-listings-page .listing-card-web {
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  border: 1px solid #E5E7EB;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12.5px 15px 10.5px 24px;
  width: 1000px;
  box-sizing: border-box;
}
.employer-my-listings-page .ph-2 {
  overflow-wrap: break-word;
  font-family: var(--leading-nonetext-xsfont-medium-font-family, 'Inter');
  font-weight: var(--leading-nonetext-xsfont-medium-font-weight, 500);
  font-size: var(--leading-nonetext-xsfont-medium-font-size, 12px);
  line-height: var(--leading-nonetext-xsfont-medium-line-height, 1);
  color: var(--gray-900, #111928);
}
.employer-my-listings-page .avatar-2 {
  border-radius: 999px;
  background: var(--gray-100, #F3F4F6);
  margin: 0 12px 32px 0;
  display: flex;
  padding: 9px 6.7px;
  box-sizing: border-box;
}
.employer-my-listings-page .heading-5 {
  margin-bottom: 8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-2-xlfont-bold-font-family, 'Inter');
  font-weight: var(--leading-tighttext-2-xlfont-bold-font-weight, 700);
  font-size: var(--leading-tighttext-2-xlfont-bold-font-size, 24px);
  line-height: var(--leading-tighttext-2-xlfont-bold-line-height, 1.25);
  color: var(--gray-900, #111928);
}
.employer-my-listings-page .text-14 {
  margin-right: 3.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-500, #6B7280);
}
.employer-my-listings-page .heading-text-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.employer-my-listings-page .main-info-1 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.employer-my-listings-page .text-15 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: #1A56DB;
}
.employer-my-listings-page .button-5 {
  border-radius: 8px;
  border: 1px solid #1A56DB;
  margin-right: 16px;
  display: flex;
  padding: 9px 19.8px 9px 19px;
  box-sizing: border-box;
}
.employer-my-listings-page .text-16 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.employer-my-listings-page .button-6 {
  border-radius: 8px;
  background: #C81E1E;
  padding: 10px 20px;
  width: 179px;
  box-sizing: border-box;
}
.employer-my-listings-page .buttons-1 {
  margin-bottom: 21px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.employer-my-listings-page .heading-4 {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 961px;
  box-sizing: border-box;
}
.employer-my-listings-page .heading-3 {
  margin-bottom: 10px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--gray-900, #111928);
}
.employer-my-listings-page .text-10 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  color: var(--gray-500, #6B7280);
}
.employer-my-listings-page .frame-1000004318 {
  display: flex;
  box-sizing: border-box;
}
.employer-my-listings-page .listing-description {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.employer-my-listings-page .text-11 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--primary-800, #1E429F);
}
.employer-my-listings-page .badge-3 {
  border-radius: 6px;
  background: var(--primary-100, #E1EFFE);
  margin-bottom: 2.5px;
  display: flex;
  padding: 2px 10.1px;
  box-sizing: border-box;
}
.employer-my-listings-page .vector-16 {
  width: 5.8px;
  height: 11.7px;
}
.employer-my-listings-page .dollar-1 {
  margin: 3.2px 8.4px 3.2px 0;
  display: flex;
  width: 5.8px;
  height: 11.7px;
  box-sizing: border-box;
}
.employer-my-listings-page .text-12 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--primary-800, #1E429F);
}
.employer-my-listings-page .badge-4 {
  border-radius: 6px;
  background: var(--primary-100, #E1EFFE);
  margin: 0 0 2.5px 16px;
  display: flex;
  flex-direction: row;
  padding: 2px 10.3px 2px 14.1px;
  width: fit-content;
  box-sizing: border-box;
}
.employer-my-listings-page .vector-17 {
  width: 9.3px;
  height: 11.7px;
}
.employer-my-listings-page .pin-1 {
  margin: 3.2px 6.5px 3.2px 0;
  display: flex;
  width: 9.3px;
  height: 11.7px;
  box-sizing: border-box;
}
.employer-my-listings-page .text-13 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--primary-800, #1E429F);
}
.employer-my-listings-page .badge-5 {
  border-radius: 6px;
  background: var(--primary-100, #E1EFFE);
  display: flex;
  flex-direction: row;
  padding: 2px 10.2px 2px 12.3px;
  width: fit-content;
  box-sizing: border-box;
}
.employer-my-listings-page .job-tags-1 {
  margin-bottom: 19px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.employer-my-listings-page .text-info-1 {
  margin-left: 42px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 919px;
  box-sizing: border-box;
}
.employer-my-listings-page .listing-card-web-1 {
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  border: 1px solid #E5E7EB;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12.5px 15px 10.5px 24px;
  width: 1000px;
  box-sizing: border-box;
}
.employer-my-listings-page .ph-3 {
  overflow-wrap: break-word;
  font-family: var(--leading-nonetext-xsfont-medium-font-family, 'Inter');
  font-weight: var(--leading-nonetext-xsfont-medium-font-weight, 500);
  font-size: var(--leading-nonetext-xsfont-medium-font-size, 12px);
  line-height: var(--leading-nonetext-xsfont-medium-line-height, 1);
  color: var(--gray-900, #111928);
}
.employer-my-listings-page .avatar-3 {
  border-radius: 999px;
  background: var(--gray-100, #F3F4F6);
  margin: 0 12px 32px 0;
  display: flex;
  padding: 9px 6.7px;
  box-sizing: border-box;
}
.employer-my-listings-page .heading-7 {
  margin-bottom: 8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-2-xlfont-bold-font-family, 'Inter');
  font-weight: var(--leading-tighttext-2-xlfont-bold-font-weight, 700);
  font-size: var(--leading-tighttext-2-xlfont-bold-font-size, 24px);
  line-height: var(--leading-tighttext-2-xlfont-bold-line-height, 1.25);
  color: var(--gray-900, #111928);
}
.employer-my-listings-page .text-20 {
  margin-right: 3.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-500, #6B7280);
}
.employer-my-listings-page .heading-text-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.employer-my-listings-page .main-info-2 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.employer-my-listings-page .text-21 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: #1A56DB;
}
.employer-my-listings-page .button-7 {
  border-radius: 8px;
  border: 1px solid #1A56DB;
  margin: 6px 10.5px 0 0;
  display: flex;
  padding: 9px 19.8px 9px 19px;
  box-sizing: border-box;
}
.employer-my-listings-page .text-23 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.employer-my-listings-page .button-8 {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  position: relative;
  padding: 10px 20px;
  box-sizing: border-box;
}
.employer-my-listings-page .container-1 {
  position: absolute;
  right: 7.2px;
  bottom: 5px;
  overflow-wrap: break-word;
  font-family: var(--leading-nonetext-smfont-medium-font-family, 'Inter');
  font-weight: var(--leading-nonetext-smfont-medium-font-weight, 500);
  font-size: var(--leading-nonetext-smfont-medium-font-size, 14px);
  line-height: var(--leading-nonetext-smfont-medium-line-height, 1);
  color: var(--white-4, #FFFFFF);
}
.employer-my-listings-page .indicators-1 {
  border-radius: 12px;
  background: #31C48D;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 24px;
  height: 24px;
}
.employer-my-listings-page .indicator-examples-1 {
  position: relative;
  padding: 6px 0.5px 0 0;
  width: 148.5px;
  box-sizing: border-box;
}
.employer-my-listings-page .buttons-2 {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.employer-my-listings-page .heading-6 {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 961px;
  box-sizing: border-box;
}
.employer-my-listings-page .vector-20 {
  width: 18.8px;
  height: 20.8px;
}
.employer-my-listings-page .trash-1 {
  margin: 2.1px 20.1px 67.1px 0;
  display: flex;
  width: 18.8px;
  height: 20.8px;
  box-sizing: border-box;
}
.employer-my-listings-page .heading-8 {
  margin-bottom: 10px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--gray-900, #111928);
}
.employer-my-listings-page .text-22 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  color: var(--gray-500, #6B7280);
}
.employer-my-listings-page .frame-10000043171 {
  display: flex;
  box-sizing: border-box;
}
.employer-my-listings-page .frame-10301 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.employer-my-listings-page .text-17 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--primary-800, #1E429F);
}
.employer-my-listings-page .badge-6 {
  border-radius: 6px;
  background: var(--primary-100, #E1EFFE);
  margin-bottom: 2.5px;
  display: flex;
  padding: 2px 10.1px;
  box-sizing: border-box;
}
.employer-my-listings-page .vector-18 {
  width: 5.8px;
  height: 11.7px;
}
.employer-my-listings-page .dollar-2 {
  margin: 3.2px 8.4px 3.2px 0;
  display: flex;
  width: 5.8px;
  height: 11.7px;
  box-sizing: border-box;
}
.employer-my-listings-page .text-18 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--primary-800, #1E429F);
}
.employer-my-listings-page .badge-7 {
  border-radius: 6px;
  background: var(--primary-100, #E1EFFE);
  margin: 0 0 2.5px 16px;
  display: flex;
  flex-direction: row;
  padding: 2px 10.3px 2px 14.1px;
  width: fit-content;
  box-sizing: border-box;
}
.employer-my-listings-page .vector-19 {
  width: 9.3px;
  height: 11.7px;
}
.employer-my-listings-page .pin-2 {
  margin: 3.2px 6.5px 3.2px 0;
  display: flex;
  width: 9.3px;
  height: 11.7px;
  box-sizing: border-box;
}
.employer-my-listings-page .text-19 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--primary-800, #1E429F);
}
.employer-my-listings-page .badge-8 {
  border-radius: 6px;
  background: var(--primary-100, #E1EFFE);
  display: flex;
  flex-direction: row;
  padding: 2px 10.2px 2px 12.3px;
  width: fit-content;
  box-sizing: border-box;
}
.employer-my-listings-page .job-tags-2 {
  margin-bottom: 19px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.employer-my-listings-page .text-info-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 919px;
  box-sizing: border-box;
}
.employer-my-listings-page .container-4 {
  margin-left: 3.1px;
  display: flex;
  flex-direction: row;
  width: 957.9px;
  box-sizing: border-box;
}
.employer-my-listings-page .listing-card-web-2 {
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  border: 1px solid #E5E7EB;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12.5px 15px 10.5px 24px;
  width: 1000px;
  box-sizing: border-box;
}
.employer-my-listings-page .ph-4 {
  overflow-wrap: break-word;
  font-family: var(--leading-nonetext-xsfont-medium-font-family, 'Inter');
  font-weight: var(--leading-nonetext-xsfont-medium-font-weight, 500);
  font-size: var(--leading-nonetext-xsfont-medium-font-size, 12px);
  line-height: var(--leading-nonetext-xsfont-medium-line-height, 1);
  color: var(--gray-900, #111928);
}
.employer-my-listings-page .avatar-4 {
  border-radius: 999px;
  background: var(--gray-100, #F3F4F6);
  margin: 0 12px 32px 0;
  display: flex;
  padding: 9px 6.7px;
  box-sizing: border-box;
}
.employer-my-listings-page .heading-11 {
  margin-bottom: 8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-2-xlfont-bold-font-family, 'Inter');
  font-weight: var(--leading-tighttext-2-xlfont-bold-font-weight, 700);
  font-size: var(--leading-tighttext-2-xlfont-bold-font-size, 24px);
  line-height: var(--leading-tighttext-2-xlfont-bold-line-height, 1.25);
  color: var(--gray-900, #111928);
}
.employer-my-listings-page .text-28 {
  margin-right: 3.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-500, #6B7280);
}
.employer-my-listings-page .heading-text-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.employer-my-listings-page .main-info-3 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.employer-my-listings-page .text-29 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: #1A56DB;
}
.employer-my-listings-page .button-9 {
  border-radius: 8px;
  border: 1px solid #1A56DB;
  margin-right: 16px;
  display: flex;
  padding: 9px 19.8px 9px 19px;
  box-sizing: border-box;
}
.employer-my-listings-page .text-30 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.employer-my-listings-page .button-10 {
  border-radius: 8px;
  background: #E3A008;
  padding: 10px 20px;
  width: 74px;
  box-sizing: border-box;
}
.employer-my-listings-page .buttons-3 {
  margin-bottom: 21px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.employer-my-listings-page .heading-10 {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 961px;
  box-sizing: border-box;
}
.employer-my-listings-page .heading-9 {
  margin-bottom: 10px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--gray-900, #111928);
}
.employer-my-listings-page .text-24 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  color: var(--gray-500, #6B7280);
}
.employer-my-listings-page .frame-10000043181 {
  display: flex;
  box-sizing: border-box;
}
.employer-my-listings-page .listing-description-1 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.employer-my-listings-page .text-25 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--primary-800, #1E429F);
}
.employer-my-listings-page .badge-9 {
  border-radius: 6px;
  background: var(--primary-100, #E1EFFE);
  margin-bottom: 2.5px;
  display: flex;
  padding: 2px 10.1px;
  box-sizing: border-box;
}
.employer-my-listings-page .vector-21 {
  width: 5.8px;
  height: 11.7px;
}
.employer-my-listings-page .dollar-3 {
  margin: 3.2px 8.4px 3.2px 0;
  display: flex;
  width: 5.8px;
  height: 11.7px;
  box-sizing: border-box;
}
.employer-my-listings-page .text-26 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--primary-800, #1E429F);
}
.employer-my-listings-page .badge-10 {
  border-radius: 6px;
  background: var(--primary-100, #E1EFFE);
  margin: 0 0 2.5px 16px;
  display: flex;
  flex-direction: row;
  padding: 2px 10.3px 2px 14.1px;
  width: fit-content;
  box-sizing: border-box;
}
.employer-my-listings-page .vector-22 {
  width: 9.3px;
  height: 11.7px;
}
.employer-my-listings-page .pin-3 {
  margin: 3.2px 6.5px 3.2px 0;
  display: flex;
  width: 9.3px;
  height: 11.7px;
  box-sizing: border-box;
}
.employer-my-listings-page .text-27 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--primary-800, #1E429F);
}
.employer-my-listings-page .badge-11 {
  border-radius: 6px;
  background: var(--primary-100, #E1EFFE);
  display: flex;
  flex-direction: row;
  padding: 2px 10.2px 2px 12.3px;
  width: fit-content;
  box-sizing: border-box;
}
.employer-my-listings-page .job-tags-3 {
  margin-bottom: 19px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.employer-my-listings-page .text-info-3 {
  margin-left: 42px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 919px;
  box-sizing: border-box;
}
.employer-my-listings-page .listing-card-web-3 {
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  border: 1px solid #E5E7EB;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12.5px 15px 10.5px 24px;
  width: 1000px;
  box-sizing: border-box;
}
.employer-my-listings-page .ph-5 {
  overflow-wrap: break-word;
  font-family: var(--leading-nonetext-xsfont-medium-font-family, 'Inter');
  font-weight: var(--leading-nonetext-xsfont-medium-font-weight, 500);
  font-size: var(--leading-nonetext-xsfont-medium-font-size, 12px);
  line-height: var(--leading-nonetext-xsfont-medium-line-height, 1);
  color: var(--gray-900, #111928);
}
.employer-my-listings-page .avatar-5 {
  border-radius: 999px;
  background: var(--gray-100, #F3F4F6);
  margin: 0 12px 32px 0;
  display: flex;
  padding: 9px 6.7px;
  box-sizing: border-box;
}
.employer-my-listings-page .heading-13 {
  margin-bottom: 8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-2-xlfont-bold-font-family, 'Inter');
  font-weight: var(--leading-tighttext-2-xlfont-bold-font-weight, 700);
  font-size: var(--leading-tighttext-2-xlfont-bold-font-size, 24px);
  line-height: var(--leading-tighttext-2-xlfont-bold-line-height, 1.25);
  color: var(--gray-900, #111928);
}
.employer-my-listings-page .text-34 {
  margin-right: 3.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-500, #6B7280);
}
.employer-my-listings-page .heading-text-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.employer-my-listings-page .main-info-4 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.employer-my-listings-page .text-35 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: #1A56DB;
}
.employer-my-listings-page .button-11 {
  border-radius: 8px;
  border: 1px solid #1A56DB;
  margin: 6px 10.5px 0 0;
  display: flex;
  padding: 9px 19.8px 9px 19px;
  box-sizing: border-box;
}
.employer-my-listings-page .text-37 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.employer-my-listings-page .button-12 {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  position: relative;
  padding: 10px 20px;
  box-sizing: border-box;
}
.employer-my-listings-page .container-2 {
  position: absolute;
  right: 7.2px;
  bottom: 5px;
  overflow-wrap: break-word;
  font-family: var(--leading-nonetext-smfont-medium-font-family, 'Inter');
  font-weight: var(--leading-nonetext-smfont-medium-font-weight, 500);
  font-size: var(--leading-nonetext-smfont-medium-font-size, 14px);
  line-height: var(--leading-nonetext-smfont-medium-line-height, 1);
  color: var(--white-4, #FFFFFF);
}
.employer-my-listings-page .indicators-2 {
  border-radius: 12px;
  background: #31C48D;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 24px;
  height: 24px;
}
.employer-my-listings-page .indicator-examples-2 {
  position: relative;
  padding: 6px 0.5px 0 0;
  width: 148.5px;
  box-sizing: border-box;
}
.employer-my-listings-page .buttons-4 {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.employer-my-listings-page .heading-12 {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 961px;
  box-sizing: border-box;
}
.employer-my-listings-page .vector-25 {
  width: 18.8px;
  height: 20.8px;
}
.employer-my-listings-page .trash-2 {
  margin: 2.1px 20.1px 67.1px 0;
  display: flex;
  width: 18.8px;
  height: 20.8px;
  box-sizing: border-box;
}
.employer-my-listings-page .heading-14 {
  margin-bottom: 10px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--gray-900, #111928);
}
.employer-my-listings-page .text-36 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  color: var(--gray-500, #6B7280);
}
.employer-my-listings-page .frame-10000043172 {
  display: flex;
  box-sizing: border-box;
}
.employer-my-listings-page .frame-10302 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.employer-my-listings-page .text-31 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--primary-800, #1E429F);
}
.employer-my-listings-page .badge-12 {
  border-radius: 6px;
  background: var(--primary-100, #E1EFFE);
  margin-bottom: 2.5px;
  display: flex;
  padding: 2px 10.1px;
  box-sizing: border-box;
}
.employer-my-listings-page .vector-23 {
  width: 5.8px;
  height: 11.7px;
}
.employer-my-listings-page .dollar-4 {
  margin: 3.2px 8.4px 3.2px 0;
  display: flex;
  width: 5.8px;
  height: 11.7px;
  box-sizing: border-box;
}
.employer-my-listings-page .text-32 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--primary-800, #1E429F);
}
.employer-my-listings-page .badge-13 {
  border-radius: 6px;
  background: var(--primary-100, #E1EFFE);
  margin: 0 0 2.5px 16px;
  display: flex;
  flex-direction: row;
  padding: 2px 10.3px 2px 14.1px;
  width: fit-content;
  box-sizing: border-box;
}
.employer-my-listings-page .vector-24 {
  width: 9.3px;
  height: 11.7px;
}
.employer-my-listings-page .pin-4 {
  margin: 3.2px 6.5px 3.2px 0;
  display: flex;
  width: 9.3px;
  height: 11.7px;
  box-sizing: border-box;
}
.employer-my-listings-page .text-33 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--primary-800, #1E429F);
}
.employer-my-listings-page .badge-14 {
  border-radius: 6px;
  background: var(--primary-100, #E1EFFE);
  display: flex;
  flex-direction: row;
  padding: 2px 10.2px 2px 12.3px;
  width: fit-content;
  box-sizing: border-box;
}
.employer-my-listings-page .job-tags-4 {
  margin-bottom: 19px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.employer-my-listings-page .text-info-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 919px;
  box-sizing: border-box;
}
.employer-my-listings-page .container-3 {
  margin-left: 3.1px;
  display: flex;
  flex-direction: row;
  width: 957.9px;
  box-sizing: border-box;
}
.employer-my-listings-page .listing-card-web-4 {
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  border: 1px solid #E5E7EB;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12.5px 15px 10.5px 24px;
  width: 1000px;
  box-sizing: border-box;
}
.employer-my-listings-page .listings {
  margin: 0 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  box-sizing: border-box;
}
.employer-my-listings-page .body {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1230px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-my-listings-page .container-2 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 1547.5px;
  box-sizing: border-box;
}
.employer-my-listings-page {
  background: #EDF0F4;
  display: flex;
  flex-direction: column;
  width: 1728px;
  box-sizing: border-box;
}
