.employer-error-page .close-btn {
  border-radius: 8.1px;
  background: #FC615C;
  margin-right: 10.8px;
  width: 16.2px;
  height: 16.2px;
}
.employer-error-page .restore-btn {
  border-radius: 8.1px;
  background: #FDBE40;
  margin-right: 10.8px;
  width: 16.2px;
  height: 16.2px;
}
.employer-error-page .minimize-btn {
  border-radius: 8.1px;
  background: #34CA49;
  width: 16.2px;
  height: 16.2px;
}
.employer-error-page .action-bttn {
  margin: 5.4px 17.6px 8.1px 0;
  display: flex;
  flex-direction: row;
  width: 70.2px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-error-page .arrow {
  width: 6.8px;
  height: 13.5px;
}
.employer-error-page .prev-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-right: 2.7px;
  display: flex;
  padding: 8.1px 13.5px 8.1px 12.2px;
  width: 32.4px;
  height: 29.7px;
  box-sizing: border-box;
}
.employer-error-page .arrow-1 {
  width: 6.8px;
  height: 13.5px;
}
.employer-error-page .prev-btn-2 {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-right: 14.9px;
  display: flex;
  padding: 8.1px 12.1px 8.1px 13.5px;
  width: 32.4px;
  height: 29.7px;
  box-sizing: border-box;
}
.employer-error-page .option-btn {
  border-radius: 3px;
  width: 50px;
  height: 29.7px;
}
.employer-error-page .container-1 {
  margin-bottom: 9.4px;
  display: flex;
  flex-direction: row;
  width: 220.1px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-error-page .safaribrowser {
  margin: 3px 7px 0 0;
  display: inline-block;
  width: 583px;
  overflow-wrap: break-word;
  font-family: 'SF Compact Display', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.employer-error-page .refresh {
  margin-bottom: 5px;
  width: 10px;
  height: 12px;
}
.employer-error-page .address-bar {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 17.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 7px 0 0;
  width: 1143px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-error-page .share {
  width: 13.5px;
  height: 18.9px;
}
.employer-error-page .share-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin: 0 10.8px 9.4px 0;
  display: flex;
  padding: 4.7px 18.2px 6.1px 18.2px;
  width: 50px;
  height: 29.7px;
  box-sizing: border-box;
}
.employer-error-page .view {
  width: 14.9px;
  height: 14.9px;
}
.employer-error-page .view-search-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin: 0 17.5px 9.4px 0;
  display: flex;
  padding: 7.4px 17.6px 7.4px 17.5px;
  width: 50px;
  height: 29.7px;
  box-sizing: border-box;
}
.employer-error-page .add-btn {
  margin-top: 6.8px;
  width: 32.4px;
  height: 32.4px;
}
.employer-error-page .container {
  display: flex;
  flex-direction: row;
  width: 160.7px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-error-page .web-header {
  box-shadow: 0px 1px 0px 0px #B5B4B5;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(180deg, #EBEAEB, #D7D6D7);
  position: relative;
  margin-bottom: 241px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 42.8px 0 0px 17.6px;
  width: 1728px;
  box-sizing: border-box;
}
.employer-error-page .error-page-not-found {
  margin: 0 28px 32px 28px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 400;
  font-size: 50px;
  color: #C8C8C8;
}
.employer-error-page .and-image {
  width: 653px;
  height: 289px;
}
.employer-error-page .imaging {
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.employer-error-page .vector-31 {
  width: 19.2px;
  height: 19.2px;
}
.employer-error-page .home {
  margin: 2.4px 10.4px 2.4px 0;
  display: flex;
  width: 19.2px;
  height: 19.2px;
  box-sizing: border-box;
}
.employer-error-page .text {
  overflow-wrap: break-word;
  font-family: var(--text-basefont-medium-font-family, 'Inter');
  font-weight: var(--text-basefont-medium-font-weight, 500);
  font-size: var(--text-basefont-medium-font-size, 16px);
  line-height: var(--text-basefont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.employer-error-page .button {
  border-radius: 8px;
  background: var(--blue-700, #1A56DB);
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  padding: 8px 12.9px 8px 14.4px;
  box-sizing: border-box;
}
.employer-error-page .vector-32 {
  width: 19.2px;
  height: 19.2px;
}
.employer-error-page .phone {
  margin: 2.4px 10.4px 2.4px 0;
  display: flex;
  width: 19.2px;
  height: 19.2px;
  box-sizing: border-box;
}
.employer-error-page .text-1 {
  overflow-wrap: break-word;
  font-family: var(--text-basefont-medium-font-family, 'Inter');
  font-weight: var(--text-basefont-medium-font-weight, 500);
  font-size: var(--text-basefont-medium-font-size, 16px);
  line-height: var(--text-basefont-medium-line-height, 1.5);
  color: var(--primary-700, #1A56DB);
}
.employer-error-page .button-1 {
  border-radius: 8px;
  border: 1px solid var(--primary-700, #1A56DB);
  display: flex;
  flex-direction: row;
  padding: 7px 11.3px 7px 13.4px;
  box-sizing: border-box;
}
.employer-error-page .buttons {
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.employer-error-page .body {
  margin-left: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.employer-error-page {
  background: #EDF0F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 322px;
  width: 1728px;
  box-sizing: border-box;
}
