.employer-profile-page-short .close-btn {
  border-radius: 8.1px;
  background: #FC615C;
  margin-right: 10.8px;
  width: 16.2px;
  height: 16.2px;
}
.employer-profile-page-short .restore-btn {
  border-radius: 8.1px;
  background: #FDBE40;
  margin-right: 10.8px;
  width: 16.2px;
  height: 16.2px;
}
.employer-profile-page-short .minimize-btn {
  border-radius: 8.1px;
  background: #34CA49;
  width: 16.2px;
  height: 16.2px;
}
.employer-profile-page-short .action-bttn {
  margin: 5.4px 17.5px 8.1px 0;
  display: flex;
  flex-direction: row;
  width: 70.2px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-profile-page-short .arrow {
  width: 6.8px;
  height: 13.5px;
}
.employer-profile-page-short .prev-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-right: 2.7px;
  display: flex;
  padding: 8.1px 13.5px 8.1px 12.2px;
  width: 32.4px;
  height: 29.7px;
  box-sizing: border-box;
}
.employer-profile-page-short .arrow-1 {
  width: 6.8px;
  height: 13.5px;
}
.employer-profile-page-short .prev-btn-2 {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-right: 14.9px;
  display: flex;
  padding: 8.1px 12.1px 8.1px 13.5px;
  width: 32.4px;
  height: 29.7px;
  box-sizing: border-box;
}
.employer-profile-page-short .option-btn {
  width: 50px;
  height: 29.7px;
}
.employer-profile-page-short .container {
  margin: 0px 0 9.4px 0;
  display: flex;
  flex-direction: row;
  width: 220px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-profile-page-short .safaribrowser {
  margin: 3px 7px 0 0;
  display: inline-block;
  width: 583px;
  overflow-wrap: break-word;
  font-family: 'SF Compact Display', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.employer-profile-page-short .refresh {
  margin-bottom: 5px;
  width: 10px;
  height: 12px;
}
.employer-profile-page-short .address-bar {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 17.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 7px 0 0;
  width: 1143px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-profile-page-short .share {
  width: 13.5px;
  height: 18.9px;
}
.employer-profile-page-short .share-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin: 0 10.8px 9.4px 0;
  display: flex;
  padding: 4.7px 18.2px 6.1px 18.2px;
  width: 50px;
  height: 29.7px;
  box-sizing: border-box;
}
.employer-profile-page-short .view {
  width: 14.9px;
  height: 14.9px;
}
.employer-profile-page-short .view-search-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin: 0 17.5px 9.4px 0;
  display: flex;
  padding: 7.4px 17.6px 7.4px 17.5px;
  width: 50px;
  height: 29.7px;
  box-sizing: border-box;
}
.employer-profile-page-short .add-btn {
  margin-top: 6.7px;
  width: 32.4px;
  height: 32.4px;
}
.employer-profile-page-short .container-2 {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  width: 160.7px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-profile-page-short .browser-bar {
  box-shadow: 0px 1px 0px 0px #B5B4B5;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(180deg, #EBEAEB, #D7D6D7);
  position: relative;
  margin-bottom: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 42.8px 0px 0.1px 17.6px;
  width: 1728px;
  box-sizing: border-box;
}
.employer-profile-page-short .group-1010 {
  width: 61px;
  height: 60px;
}
.employer-profile-page-short .sidebar {
  margin: 383px 218.5px 837.4px 0;
  display: flex;
  width: 61px;
  height: 60px;
  box-sizing: border-box;
}
.employer-profile-page-short .your-profile {
  overflow-wrap: break-word;
  font-family: var(--text-2-xlfont-semibold-font-family, 'Inter');
  font-weight: var(--text-2-xlfont-semibold-font-weight, 600);
  font-size: var(--text-2-xlfont-semibold-font-size, 24px);
  line-height: var(--text-2-xlfont-semibold-line-height, 1.5);
  color: var(--gray-900, #111928);
}
.employer-profile-page-short .logo {
  display: flex;
  box-sizing: border-box;
}
.employer-profile-page-short .editing {
  margin-right: 8.8px;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: #1A56DB;
}
.employer-profile-page-short .vector-2 {
  width: 18px;
  height: 18px;
}
.employer-profile-page-short .edit-outline {
  margin: 9px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.employer-profile-page-short .edit-icon {
  position: absolute;
  top: 50%;
  right: 35px;
  translate: 0 -50%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.employer-profile-page-short .navbar {
  border-radius: 8px;
  background: var(--white-4, #FFFFFF);
  position: relative;
  padding: 24px 68px;
  box-sizing: border-box;
}
.employer-profile-page-short .label {
  margin-bottom: 20px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.employer-profile-page-short .ph {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 0.667;
  color: var(--gray-900, #111928);
}
.employer-profile-page-short .avatar {
  border-radius: 999px;
  background: #9CA3AF;
  position: relative;
  display: flex;
  padding: 31.7px 0px 31.7px 0;
  width: 79.4px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-profile-page-short .vector-3 {
  width: 24.8px;
  height: 24.8px;
}
.employer-profile-page-short .edit-outline-1 {
  position: absolute;
  top: 5.3px;
  right: 0px;
  display: flex;
  width: 24.8px;
  height: 24.8px;
  box-sizing: border-box;
}
.employer-profile-page-short .group-1000 {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-self: flex-start;
  padding-right: 2.5px;
  width: 81.9px;
  box-sizing: border-box;
}
.employer-profile-page-short .label-4 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--body-normal-semi-bold-font-family, 'Epilogue');
  font-weight: var(--body-normal-semi-bold-font-weight, 600);
  font-size: var(--body-normal-semi-bold-font-size, 16px);
  line-height: var(--body-normal-semi-bold-line-height, 1.6);
  color: var(--neutrals-80, #515B6F);
}
.employer-profile-page-short .this-is-placeholder {
  overflow-wrap: break-word;
  font-family: var(--body-normal-regular-font-family, 'Epilogue');
  font-weight: var(--body-normal-regular-font-weight, 400);
  font-size: var(--body-normal-regular-font-size, 16px);
  line-height: var(--body-normal-regular-line-height, 1.6);
  color: var(--neutrals-80, #515B6F);
}
.employer-profile-page-short .input-3 {
  border: 1px solid var(--neutrals-20, #D6DDEB);
  background: var(--neutrals-0, #FFFFFF);
  padding: 11px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.employer-profile-page-short .frame-1000004329 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.employer-profile-page-short .label-5 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--body-normal-semi-bold-font-family, 'Epilogue');
  font-weight: var(--body-normal-semi-bold-font-weight, 600);
  font-size: var(--body-normal-semi-bold-font-size, 16px);
  line-height: var(--body-normal-semi-bold-line-height, 1.6);
  color: var(--neutrals-80, #515B6F);
}
.employer-profile-page-short .this-is-placeholder-1 {
  overflow-wrap: break-word;
  font-family: var(--body-normal-regular-font-family, 'Epilogue');
  font-weight: var(--body-normal-regular-font-weight, 400);
  font-size: var(--body-normal-regular-font-size, 16px);
  line-height: var(--body-normal-regular-line-height, 1.6);
  color: var(--neutrals-80, #515B6F);
}
.employer-profile-page-short .input-4 {
  border: 1px solid var(--neutrals-20, #D6DDEB);
  background: var(--neutrals-0, #FFFFFF);
  padding: 11px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.employer-profile-page-short .textfield {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.employer-profile-page-short .label-6 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--body-normal-semi-bold-font-family, 'Epilogue');
  font-weight: var(--body-normal-semi-bold-font-weight, 600);
  font-size: var(--body-normal-semi-bold-font-size, 16px);
  line-height: var(--body-normal-semi-bold-line-height, 1.6);
  color: var(--neutrals-80, #515B6F);
}
.employer-profile-page-short .this-is-placeholder-2 {
  overflow-wrap: break-word;
  font-family: var(--body-normal-regular-font-family, 'Epilogue');
  font-weight: var(--body-normal-regular-font-weight, 400);
  font-size: var(--body-normal-regular-font-size, 16px);
  line-height: var(--body-normal-regular-line-height, 1.6);
  color: var(--neutrals-80, #515B6F);
}
.employer-profile-page-short .input-5 {
  border: 1px solid var(--neutrals-20, #D6DDEB);
  background: var(--neutrals-0, #FFFFFF);
  padding: 11px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.employer-profile-page-short .textfield-1 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.employer-profile-page-short .label-1 {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--gray-900, #111928);
}
.employer-profile-page-short .write-text-here {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: var(--gray-500, #6B7280);
}
.employer-profile-page-short .input {
  border-radius: 8px;
  border: 1px solid var(--gray-3001, #D1D5DB);
  background: var(--gray-501, #F9FAFB);
  padding: 10px 15px 152px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.employer-profile-page-short .textarea {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.employer-profile-page-short .checkbox-1 {
  border-radius: 4px;
  border: 0.5px solid var(--gray-3001, #D1D5DB);
  background: var(--gray-501, #F9FAFB);
  margin: 2.5px 8px 2.5px 0;
  width: 16px;
  height: 16px;
}
.employer-profile-page-short .write-label-text-here {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--gray-900, #111928);
}
.employer-profile-page-short .label-helper-text {
  display: flex;
  box-sizing: border-box;
}
.employer-profile-page-short .checkbox {
  border-radius: 4px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.employer-profile-page-short .label-2 {
  margin-bottom: 20px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.employer-profile-page-short .label-7 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--body-normal-semi-bold-font-family, 'Epilogue');
  font-weight: var(--body-normal-semi-bold-font-weight, 600);
  font-size: var(--body-normal-semi-bold-font-size, 16px);
  line-height: var(--body-normal-semi-bold-line-height, 1.6);
  color: var(--neutrals-80, #515B6F);
}
.employer-profile-page-short .this-is-placeholder-3 {
  overflow-wrap: break-word;
  font-family: var(--body-normal-regular-font-family, 'Epilogue');
  font-weight: var(--body-normal-regular-font-weight, 400);
  font-size: var(--body-normal-regular-font-size, 16px);
  line-height: var(--body-normal-regular-line-height, 1.6);
  color: var(--neutrals-40, #A8ADB7);
}
.employer-profile-page-short .input-6 {
  border: 1px solid var(--neutrals-20, #D6DDEB);
  background: var(--neutrals-0, #FFFFFF);
  padding: 11px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.employer-profile-page-short .textfield-2 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.employer-profile-page-short .label-8 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--body-normal-semi-bold-font-family, 'Epilogue');
  font-weight: var(--body-normal-semi-bold-font-weight, 600);
  font-size: var(--body-normal-semi-bold-font-size, 16px);
  line-height: var(--body-normal-semi-bold-line-height, 1.6);
  color: var(--neutrals-80, #515B6F);
}
.employer-profile-page-short .this-is-placeholder-4 {
  overflow-wrap: break-word;
  font-family: var(--body-normal-regular-font-family, 'Epilogue');
  font-weight: var(--body-normal-regular-font-weight, 400);
  font-size: var(--body-normal-regular-font-size, 16px);
  line-height: var(--body-normal-regular-line-height, 1.6);
  color: var(--neutrals-40, #A8ADB7);
}
.employer-profile-page-short .input-7 {
  border: 1px solid var(--neutrals-20, #D6DDEB);
  background: var(--neutrals-0, #FFFFFF);
  padding: 11px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.employer-profile-page-short .textfield-3 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.employer-profile-page-short .label-3 {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--gray-900, #111928);
}
.employer-profile-page-short .select {
  margin-right: 9px;
  width: 962.3px;
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-normal-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-normal-font-weight, 400);
  font-size: var(--leading-tighttext-smfont-normal-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-normal-line-height, 1.25);
  color: var(--gray-500, #6B7280);
}
.employer-profile-page-short .vector-4 {
  width: 9.3px;
  height: 5.3px;
}
.employer-profile-page-short .chevron-down {
  margin: 6.3px 0;
  display: flex;
  width: 9.3px;
  height: 5.3px;
  box-sizing: border-box;
}
.employer-profile-page-short .input-2 {
  border-radius: 8px;
  border: 1px solid var(--gray-3001, #D1D5DB);
  background: var(--gray-501, #F9FAFB);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 14.3px 11px 11px;
  width: 1008px;
  box-sizing: border-box;
}
.employer-profile-page-short .input-1 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.employer-profile-page-short .checkbox-2 {
  border-radius: 4px;
  border: 0.5px solid var(--gray-3001, #D1D5DB);
  background: var(--gray-501, #F9FAFB);
  margin: 2.5px 8px 2.5px 0;
  width: 16px;
  height: 16px;
}
.employer-profile-page-short .write-label-text-here-1 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--gray-900, #111928);
}
.employer-profile-page-short .label-helper-text-1 {
  display: flex;
  box-sizing: border-box;
}
.employer-profile-page-short .nav-link {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.employer-profile-page-short .caption {
  overflow-wrap: break-word;
  font-family: var(--button-normal-font-family, 'Epilogue');
  font-weight: var(--button-normal-font-weight, 700);
  font-size: var(--button-normal-font-size, 16px);
  line-height: var(--button-normal-line-height, 1.6);
  color: var(--neutrals-0, #FFFFFF);
}
.employer-profile-page-short .button {
  background: #4640DE;
  display: flex;
  padding: 12px 0;
  width: 1008px;
  box-sizing: border-box;
}
.employer-profile-page-short .forms {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.employer-profile-page-short .frame-1000004334 {
  position: relative;
  width: 1230px;
  height: 1280.4px;
  box-sizing: border-box;
}
.employer-profile-page-short .container-1 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 1509.5px;
  box-sizing: border-box;
}
.employer-profile-page-short {
  background: #EDF0F4;
  display: flex;
  flex-direction: column;
  width: 1728px;
  box-sizing: border-box;
}
