.employer-close-listing .close-btn {
  border-radius: 8.1px;
  background: #FC615C;
  margin-right: 10.8px;
  width: 16.2px;
  height: 16.2px;
}
.employer-close-listing .restore-btn {
  border-radius: 8.1px;
  background: #FDBE40;
  margin-right: 10.8px;
  width: 16.2px;
  height: 16.2px;
}
.employer-close-listing .minimize-btn {
  border-radius: 8.1px;
  background: #34CA49;
  width: 16.2px;
  height: 16.2px;
}
.employer-close-listing .action-bttn {
  margin: 5.4px 17.5px 8.1px 0;
  display: flex;
  flex-direction: row;
  width: 70.2px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-close-listing .arrow {
  width: 6.8px;
  height: 13.5px;
}
.employer-close-listing .prev-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-right: 2.7px;
  display: flex;
  padding: 8.1px 13.5px 8.1px 12.2px;
  width: 32.4px;
  height: 29.7px;
  box-sizing: border-box;
}
.employer-close-listing .arrow-1 {
  width: 6.8px;
  height: 13.5px;
}
.employer-close-listing .prev-btn-2 {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-right: 14.9px;
  display: flex;
  padding: 8.1px 12.1px 8.1px 13.5px;
  width: 32.4px;
  height: 29.7px;
  box-sizing: border-box;
}
.employer-close-listing .option-btn {
  width: 50px;
  height: 29.7px;
}
.employer-close-listing .container-1 {
  margin-bottom: 9.4px;
  display: flex;
  flex-direction: row;
  width: 220px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-close-listing .safaribrowser {
  margin: 3px 7px 0 0;
  display: inline-block;
  width: 583px;
  overflow-wrap: break-word;
  font-family: 'SF Compact Display', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.employer-close-listing .refresh {
  margin-bottom: 5px;
  width: 10px;
  height: 12px;
}
.employer-close-listing .address-bar {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 17.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 7px 0 0;
  width: 1143px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-close-listing .share {
  width: 13.5px;
  height: 18.9px;
}
.employer-close-listing .share-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin: 0 10.8px 9.4px 0;
  display: flex;
  padding: 4.7px 18.2px 6.1px 18.2px;
  width: 50px;
  height: 29.7px;
  box-sizing: border-box;
}
.employer-close-listing .view {
  width: 14.9px;
  height: 14.9px;
}
.employer-close-listing .view-search-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin: 0 17.5px 9.4px 0;
  display: flex;
  padding: 7.4px 17.6px 7.4px 17.5px;
  width: 50px;
  height: 29.7px;
  box-sizing: border-box;
}
.employer-close-listing .add-btn {
  margin-top: 6.7px;
  width: 32.4px;
  height: 32.4px;
}
.employer-close-listing .container {
  display: flex;
  flex-direction: row;
  width: 160.7px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-close-listing .browser-bar {
  box-shadow: 0px 1px 0px 0px #B5B4B5;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(180deg, #EBEAEB, #D7D6D7);
  position: relative;
  margin-bottom: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 42.8px 0px 0.1px 17.6px;
  width: 1728px;
  box-sizing: border-box;
}
.employer-close-listing .job-ez-1 {
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.employer-close-listing .job-ez-word-mark {
  background: #000000;
  position: relative;
  margin-bottom: 100px;
  display: flex;
  padding: 16px 3.3px 16px 3px;
  box-sizing: border-box;
}
.employer-close-listing .vector-4 {
  width: 22.5px;
  height: 22.5px;
}
.employer-close-listing .list {
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  padding: 16.3px 17.8px;
  width: 58px;
  height: 55px;
  box-sizing: border-box;
}
.employer-close-listing .frame-1000004346 {
  margin-bottom: 171.5px;
  display: flex;
  width: 58px;
  height: 55px;
  box-sizing: border-box;
}
.employer-close-listing .vector-5 {
  width: 17.5px;
  height: 17.5px;
}
.employer-close-listing .list-item {
  margin-bottom: 44.5px;
  display: flex;
  width: 17.5px;
  height: 17.5px;
  box-sizing: border-box;
}
.employer-close-listing .vector-6 {
  width: 20px;
  height: 17.5px;
}
.employer-close-listing .list-item-1 {
  margin: 0 2.5px 40.8px 2.5px;
  display: flex;
  width: 20px;
  height: 17.5px;
  box-sizing: border-box;
}
.employer-close-listing .vector-7 {
  width: 25px;
  height: 25px;
}
.employer-close-listing .list-item-2 {
  display: flex;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}
.employer-close-listing .list-1 {
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30.3px 16.5px 26.5px 16.5px;
  width: 58px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-close-listing .frame-1000004347 {
  margin-bottom: 171.5px;
  display: flex;
  width: 58px;
  box-sizing: border-box;
}
.employer-close-listing .vector-8 {
  width: 17.5px;
  height: 25px;
}
.employer-close-listing .list-item-3 {
  margin: 0 0 31.5px 0px;
  display: flex;
  width: 17.5px;
  height: 25px;
  box-sizing: border-box;
}
.employer-close-listing .vector-9 {
  width: 20px;
  height: 20px;
}
.employer-close-listing .list-item-4 {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.employer-close-listing .list-2 {
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 26.5px 19px 29px 19px;
  width: 58px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-close-listing .frame-1000004348 {
  display: flex;
  width: 58px;
  box-sizing: border-box;
}
.employer-close-listing .frame-1000004349 {
  margin-right: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 58px;
  box-sizing: border-box;
}
.employer-close-listing .sidebar-free-component {
  background: #0C2B5A;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 100px 0;
  width: 137px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-close-listing .sidebar {
  margin-right: 185.5px;
  display: flex;
  width: 137px;
  box-sizing: border-box;
}
.employer-close-listing .ph {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  color: var(--gray-900, #111928);
}
.employer-close-listing .avatar {
  border-radius: 999px;
  background: #9CA3AF;
  margin: 2px 12px 2px 0;
  display: flex;
  padding: 8px 7.7px;
  box-sizing: border-box;
}
.employer-close-listing .job-ez {
  overflow-wrap: break-word;
  font-family: var(--text-2-xlfont-semibold-font-family, 'Inter');
  font-weight: var(--text-2-xlfont-semibold-font-weight, 600);
  font-size: var(--text-2-xlfont-semibold-font-size, 24px);
  line-height: var(--text-2-xlfont-semibold-line-height, 1.5);
  color: var(--gray-900, #111928);
}
.employer-close-listing .logo {
  margin: 1.5px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.employer-close-listing .text {
  margin-right: 12px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
  color: var(--white-4, #FFFFFF);
}
.employer-close-listing .vector-2 {
  width: 9.3px;
  height: 9.3px;
}
.employer-close-listing .plus-outline {
  margin: 6.8px 0;
  display: flex;
  width: 9.3px;
  height: 9.3px;
  box-sizing: border-box;
}
.employer-close-listing .button {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  display: flex;
  flex-direction: row;
  padding: 8px 15.3px 8px 12px;
  box-sizing: border-box;
}
.employer-close-listing .cta {
  display: flex;
  box-sizing: border-box;
}
.employer-close-listing .navbar {
  border-radius: 8px;
  background: var(--white-4, #FFFFFF);
  margin-bottom: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 22px 18.5px;
  width: 1220px;
  box-sizing: border-box;
}
.employer-close-listing .title {
  overflow-wrap: break-word;
  font-family: var(--text-basefont-semibold-font-family, 'Inter');
  font-weight: var(--text-basefont-semibold-font-weight, 600);
  font-size: var(--text-basefont-semibold-font-size, 16px);
  line-height: var(--text-basefont-semibold-line-height, 1.5);
  color: var(--blue-700, #1A56DB);
}
.employer-close-listing .vector-3 {
  width: 12px;
  height: 9.3px;
}
.employer-close-listing .text-1 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.employer-close-listing .vector-3 {
  width: 12px;
  height: 9.3px;
}
.employer-close-listing .arrow-left {
  margin: 4.3px 10px 4.3px 0;
  display: flex;
  width: 12px;
  height: 9.3px;
  box-sizing: border-box;
}
.employer-close-listing .text-1 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.employer-close-listing .button-2 {
  border-radius: 8px;
  background: var(--blue-700, #1A56DB);
  margin-right: 185.6px;
  display: flex;
  flex-direction: row;
  padding: 8px 12.1px 8px 14px;
  width: fit-content;
  box-sizing: border-box;
}
.employer-close-listing .title {
  overflow-wrap: break-word;
  font-family: var(--text-basefont-semibold-font-family, 'Inter');
  font-weight: var(--text-basefont-semibold-font-weight, 600);
  font-size: var(--text-basefont-semibold-font-size, 16px);
  line-height: var(--text-basefont-semibold-line-height, 1.5);
  color: var(--blue-700, #1A56DB);
}
.employer-close-listing .description {
  margin-bottom: 12px;
  display: flex;
  box-sizing: border-box;
}
.employer-close-listing .vector-3 {
  width: 12px;
  height: 9.3px;
}
.employer-close-listing .arrow-left {
  margin: 4.3px 10px 4.3px 0;
  display: flex;
  width: 12px;
  height: 9.3px;
  box-sizing: border-box;
}
.employer-close-listing .text-1 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.employer-close-listing .button-2 {
  border-radius: 8px;
  background: var(--blue-700, #1A56DB);
  margin-right: 185.6px;
  display: flex;
  flex-direction: row;
  padding: 8px 12.1px 8px 14px;
  width: fit-content;
  box-sizing: border-box;
}
.employer-close-listing .alerts {
  border-radius: 8px;
  border: 1px solid #1A56DB;
  background: var(--blue-100, #E1EFFE);
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  padding: 15px 0 15px 15px;
  width: 896px;
  height: 102px;
  box-sizing: border-box;
}
.employer-close-listing .vector-10 {
  width: 10.7px;
  height: 9.3px;
}
.employer-close-listing .bars {
  margin: 4.3px 10.7px 4.3px 0;
  display: flex;
  width: 10.7px;
  height: 9.3px;
  box-sizing: border-box;
}
.employer-close-listing .text-2 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.employer-close-listing .button-1 {
  border-radius: 8px;
  background: var(--blue-700, #1A56DB);
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 8px 12.7px 8px 14.7px;
  box-sizing: border-box;
}
.employer-close-listing .frame-1024 {
  position: relative;
  display: flex;
  padding: 52px 372px 16px 0;
  width: 896px;
  box-sizing: border-box;
}
.employer-close-listing .frame-1000004335 {
  margin: 32px 0 781px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1220px;
  height: fit-content;
  box-sizing: border-box;
}
.employer-close-listing .container-2 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 1542.5px;
  box-sizing: border-box;
}
.employer-close-listing {
  background: #EDF0F4;
  display: flex;
  flex-direction: column;
  width: 1728px;
  box-sizing: border-box;
}
