.finalists .temp-us-job-ez-job-jam-side-quest-hire-ez-alba-emplo-fortuna-job-net-job-finder {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}
.finalists {
  background: #FFFFFF;
  padding: 111px 40px 134px 40px;
  box-sizing: border-box;
}
