.flowbite-icons-outline .vector-2 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-outline .briefcase-outline {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-3 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .zoom-in-outline {
  margin: 0px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-4 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .zoom-out-outline {
  margin: 0px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-5 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-outline .file-outline {
  margin: 0px 0;
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-6 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-outline .folder-plus-outline {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-7 {
  width: 12px;
  height: 20px;
}
.flowbite-icons-outline .star-half-outline {
  margin: 0px 0;
  display: flex;
  width: 12px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-8 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-outline .star-outline {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-9 {
  width: 20px;
  height: 14px;
}
.flowbite-icons-outline .video-cam-outline {
  margin: 3px 0;
  display: flex;
  width: 20px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-10 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-outline .map-pin-outline {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-11 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .clock-outline {
  margin: 0px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .container-17 {
  margin: 0 1px 24px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 1px);
  box-sizing: border-box;
}
.flowbite-icons-outline .vector {
  width: 20px;
  height: 16px;
}
.flowbite-icons-outline .envelope-outline {
  margin: 2px 0;
  display: flex;
  width: 20px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-1 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-outline .envelope-open-outline {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-12 {
  width: 18px;
  height: 20px;
}
.flowbite-icons-outline .trash-outline {
  margin-bottom: 0px;
  display: flex;
  width: 18px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-13 {
  width: 12px;
  height: 20px;
}
.flowbite-icons-outline .paper-clip-outline {
  margin-bottom: 0px;
  display: flex;
  width: 12px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-14 {
  width: 14px;
  height: 20px;
}
.flowbite-icons-outline .phone-outline {
  margin-bottom: 0px;
  display: flex;
  width: 14px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-15 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-outline .clipboard-outline {
  margin-bottom: 0px;
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-16 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .sun-outline {
  margin-bottom: 0px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-17 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-outline .star-half-stroke-outline {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-18 {
  width: 14px;
  height: 20px;
}
.flowbite-icons-outline .map-pin-alt-outline {
  display: flex;
  width: 14px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-19 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-outline .microphone-outline {
  margin-bottom: 0px;
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .container-8 {
  margin: 0 3px 24px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 3px);
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-20 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-outline .file-lines-outline {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-21 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-outline .file-import-outline {
  margin-bottom: 0px;
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-22 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-outline .file-export-outline {
  margin-bottom: 0px;
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-23 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .file-circle-plus-outline {
  margin-bottom: 0px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-24 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-outline .file-copy-outline {
  margin-bottom: 0px;
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-25 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-outline .zip-outline {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-26 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-outline .folder-outline {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-27 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .folder-plus-outline-1 {
  margin-bottom: 0px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-28 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-outline .archive-outline {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-29 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-outline .cog-outline {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .container-22 {
  margin: 0 2px 24px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 4px);
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-30 {
  width: 18px;
  height: 20px;
}
.flowbite-icons-outline .moon-outline {
  margin-bottom: 0px;
  display: flex;
  width: 18px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-31 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-outline .filter-outline {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-32 {
  width: 20px;
  height: 14px;
}
.flowbite-icons-outline .table-column-outline {
  margin: 3px 0;
  display: flex;
  width: 20px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-33 {
  width: 20px;
  height: 14px;
}
.flowbite-icons-outline .table-row-outline {
  margin: 3px 0;
  display: flex;
  width: 20px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-34 {
  width: 20px;
  height: 12px;
}
.flowbite-icons-outline .list-outline {
  margin: 4px 0;
  display: flex;
  width: 20px;
  height: 12px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-35 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-outline .align-center-outline {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-36 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .globe-outline {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-37 {
  width: 14px;
  height: 20px;
}
.flowbite-icons-outline .user-outline {
  margin-bottom: 0px;
  display: flex;
  width: 14px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-38 {
  width: 18px;
  height: 14px;
}
.flowbite-icons-outline .arrow-right-outline {
  margin: 3px 0;
  display: flex;
  width: 18px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-39 {
  width: 14px;
  height: 18px;
}
.flowbite-icons-outline .arrow-up-outline {
  margin: 1px 0;
  display: flex;
  width: 14px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .container-19 {
  margin: 0 4px 25px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 5px);
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-40 {
  width: 18px;
  height: 14px;
}
.flowbite-icons-outline .arrow-left-outline {
  margin: 2px 0;
  display: flex;
  width: 18px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-41 {
  width: 14px;
  height: 18px;
}
.flowbite-icons-outline .arrow-down-outline {
  display: flex;
  width: 14px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-218 {
  width: 8px;
  height: 14px;
}
.flowbite-icons-outline .chevron-right-outline {
  margin: 2px 0;
  display: flex;
  width: 8px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-219 {
  width: 14px;
  height: 8px;
}
.flowbite-icons-outline .chevron-up-outline {
  margin: 5px 0;
  display: flex;
  width: 14px;
  height: 8px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-216 {
  width: 8px;
  height: 14px;
}
.flowbite-icons-outline .chevron-left-outline {
  margin: 2px 0;
  display: flex;
  width: 8px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-217 {
  width: 14px;
  height: 8px;
}
.flowbite-icons-outline .chevron-down-outline {
  margin: 5px 0;
  display: flex;
  width: 14px;
  height: 8px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-42 {
  width: 10px;
  height: 16px;
}
.flowbite-icons-outline .caret-right-outline {
  margin: 1px 0;
  display: flex;
  width: 10px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-43 {
  width: 16px;
  height: 10px;
}
.flowbite-icons-outline .caret-up-outline {
  margin: 4px 0;
  display: flex;
  width: 16px;
  height: 10px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-44 {
  width: 10px;
  height: 16px;
}
.flowbite-icons-outline .caret-left-outline {
  margin: 1px 0;
  display: flex;
  width: 10px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-45 {
  width: 16px;
  height: 10px;
}
.flowbite-icons-outline .caret-down-outline {
  margin: 4px 0;
  display: flex;
  width: 16px;
  height: 10px;
  box-sizing: border-box;
}
.flowbite-icons-outline .container-23 {
  margin: 0 3px 25px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 5px);
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-46 {
  width: 12px;
  height: 10px;
}
.flowbite-icons-outline .chevron-double-right-outline {
  margin: 5px 0;
  display: flex;
  width: 12px;
  height: 10px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-47 {
  width: 10px;
  height: 12px;
}
.flowbite-icons-outline .chevron-double-up-outline {
  margin: 4px 0;
  display: flex;
  width: 10px;
  height: 12px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-48 {
  width: 12px;
  height: 10px;
}
.flowbite-icons-outline .chevron-double-left-outline {
  margin: 5px 0;
  display: flex;
  width: 12px;
  height: 10px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-49 {
  width: 10px;
  height: 12px;
}
.flowbite-icons-outline .chevron-double-down-outline {
  margin: 4px 0;
  display: flex;
  width: 10px;
  height: 12px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-50 {
  width: 16px;
  height: 14px;
}
.flowbite-icons-outline .bars-outline {
  margin: 3px 0;
  display: flex;
  width: 16px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-51 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-outline .adjustments-horizontal-outline {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-52 {
  width: 18px;
  height: 20px;
}
.flowbite-icons-outline .adjustments-vertical-outline {
  display: flex;
  width: 18px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-53 {
  width: 20px;
  height: 14px;
}
.flowbite-icons-outline .eye-outline {
  margin: 3px 0;
  display: flex;
  width: 20px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-54 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-outline .info-outline {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-55 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-outline .exclamation-outline {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .container-2 {
  margin: 0 2px 24px 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 6px);
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-56 {
  width: 18px;
  height: 16px;
}
.flowbite-icons-outline .arrow-right-to-bracket-outline {
  margin: 2px 0;
  display: flex;
  width: 18px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-57 {
  width: 16px;
  height: 18px;
}
.flowbite-icons-outline .arrow-down-to-bracket-outline {
  margin: 1px 0;
  display: flex;
  width: 16px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-58 {
  width: 14px;
  height: 20px;
}
.flowbite-icons-outline .sort-outline {
  display: flex;
  width: 14px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-59 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .rocket-outline {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-60 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-outline .question-mark-outline {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-61 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .users-group-outline {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-62 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .users-outline {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-63 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .add-user-outline {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-64 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .remove-user-outline {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-65 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .edit-user-outline {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .container-10 {
  margin: 0 1px 24px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 2px);
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-66 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .user-settings-outline {
  margin: 0px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-67 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .user-circle-outline {
  margin-bottom: 0px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-68 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-outline .calendar-month-outline {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-69 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-outline .calendar-day-outline {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-70 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-outline .message-dots-outline {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-71 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-outline .messages-outline {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-72 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-outline .file-chart-bar-outline {
  margin-top: 0px;
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-73 {
  width: 18px;
  height: 16px;
}
.flowbite-icons-outline .chart-outline {
  margin: 2px 0;
  display: flex;
  width: 18px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-74 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .chart-pie-outline {
  margin: 0px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-75 {
  width: 10px;
  height: 20px;
}
.flowbite-icons-outline .dollar-outline {
  margin: 0px 0;
  display: flex;
  width: 10px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .container-7 {
  margin: 0 6px 24px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 6px);
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-76 {
  width: 16px;
  height: 18px;
}
.flowbite-icons-outline .euro-outline {
  margin: 1px 0 1.1px 0;
  display: flex;
  width: 16px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-77 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-outline .bell-outline {
  margin-top: 0.1px;
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-78 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .bell-active-alt-outline {
  margin-bottom: 0.1px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-79 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .bell-active-outline {
  margin-bottom: 0.1px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-80 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .bell-on-outline {
  margin-bottom: 0.1px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-81 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-outline .edit-outline {
  margin: 1px 0 1.1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-82 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .sale-percent-outline {
  margin-bottom: 0.1px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-83 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .tag-outline {
  margin-bottom: 0.1px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-84 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .cart-outline {
  margin-bottom: 0.1px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-85 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .cart-plus-outline {
  margin-bottom: 0.1px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .container-9 {
  margin: 0 1px 23.9px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 3px);
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-86 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-outline .cart-plus-alt-outline {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-87 {
  width: 20px;
  height: 14px;
}
.flowbite-icons-outline .credit-card-outline {
  margin: 3px 0;
  display: flex;
  width: 20px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-88 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-outline .wallet-outline {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-89 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .fingerprint-outline {
  margin: 0px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-90 {
  width: 18px;
  height: 20px;
}
.flowbite-icons-outline .papper-plane-outline {
  display: flex;
  width: 18px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-91 {
  width: 10px;
  height: 20px;
}
.flowbite-icons-outline .caret-sort-outline {
  margin: 0px 0;
  display: flex;
  width: 10px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-92 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-outline .inbox-outline {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-93 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-outline .inbox-full-outline {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-94 {
  width: 18px;
  height: 20px;
}
.flowbite-icons-outline .adress-book-outline {
  margin: 0px 0;
  display: flex;
  width: 18px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-95 {
  width: 20px;
  height: 16px;
}
.flowbite-icons-outline .profile-card-outline {
  margin: 2px 0;
  display: flex;
  width: 20px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .container-18 {
  margin: 0 1px 22px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 2px);
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-96 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-outline .phone-outline-1 {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-97 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-outline .bullhorn-outline {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-98 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-outline .hourglass-outline {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-99 {
  width: 18px;
  height: 16px;
}
.flowbite-icons-outline .forward-outline {
  margin: 2px 0;
  display: flex;
  width: 18px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-100 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-outline .share-nodes-outline {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-101 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .download-outline {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-102 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .upload-outline {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-103 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .printer-outline {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-104 {
  width: 20px;
  height: 16px;
}
.flowbite-icons-outline .camera-foto-outline {
  margin: 2px 0;
  display: flex;
  width: 20px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-105 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .desktop-pc-outline {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .container-15 {
  margin: 0 0 22px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 1px);
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-106 {
  width: 18px;
  height: 16px;
}
.flowbite-icons-outline .volume-up-outline {
  margin: 4px 0;
  display: flex;
  width: 18px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-107 {
  width: 14px;
  height: 16px;
}
.flowbite-icons-outline .volume-down-outline {
  margin: 4px 0;
  display: flex;
  width: 14px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-108 {
  width: 8px;
  height: 14px;
}
.flowbite-icons-outline .chevron-sort-outline {
  margin: 5px 0;
  display: flex;
  width: 8px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-outline .swatchbook-outline {
  width: 24px;
  height: 24px;
}
.flowbite-icons-outline .vector-111 {
  width: 4px;
  height: 18px;
}
.flowbite-icons-outline .dots-vertical-outline {
  margin: 3px 0;
  display: flex;
  width: 4px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-112 {
  width: 20px;
  height: 4px;
}
.flowbite-icons-outline .dots-horizontal-outline {
  margin: 10px 0;
  display: flex;
  width: 20px;
  height: 4px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-113 {
  width: 16px;
  height: 16px;
}
.flowbite-icons-outline .arrow-up-right-from-square-outline {
  margin: 4px 0;
  display: flex;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-114 {
  width: 16px;
  height: 16px;
}
.flowbite-icons-outline .link-outline {
  margin: 4px 0;
  display: flex;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-115 {
  width: 18px;
  height: 14px;
}
.flowbite-icons-outline .code-outline {
  margin: 5px 0;
  display: flex;
  width: 18px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-116 {
  width: 18px;
  height: 16px;
}
.flowbite-icons-outline .terminal-outline {
  margin: 4px 0;
  display: flex;
  width: 18px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .container-5 {
  margin: 0 1px 23px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 2px);
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-117 {
  width: 16px;
  height: 18px;
}
.flowbite-icons-outline .shield-outline {
  display: flex;
  width: 16px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-118 {
  width: 16px;
  height: 16px;
}
.flowbite-icons-outline .maximize-outline {
  margin: 1px 0;
  display: flex;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-119 {
  width: 16px;
  height: 16px;
}
.flowbite-icons-outline .grid-outline {
  margin: 1px 0;
  display: flex;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-120 {
  width: 16px;
  height: 16px;
}
.flowbite-icons-outline .grid-plus-outline {
  margin: 1px 0;
  display: flex;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-121 {
  width: 18px;
  height: 16px;
}
.flowbite-icons-outline .annotation-outline {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-122 {
  width: 18px;
  height: 14px;
}
.flowbite-icons-outline .cash-outline {
  margin: 2px 0;
  display: flex;
  width: 18px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-123 {
  width: 16px;
  height: 16px;
}
.flowbite-icons-outline .ordored-list-outline {
  margin: 1px 0;
  display: flex;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-124 {
  width: 14px;
  height: 16px;
}
.flowbite-icons-outline .letter-bold-outline {
  margin: 1px 0;
  display: flex;
  width: 14px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-125 {
  width: 12px;
  height: 16px;
}
.flowbite-icons-outline .italic-outline {
  margin: 1px 0;
  display: flex;
  width: 12px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-126 {
  width: 14px;
  height: 16px;
}
.flowbite-icons-outline .underline-outline {
  margin: 1px 0;
  display: flex;
  width: 14px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .container-12 {
  margin: 0 3px 25px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 5px);
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-127 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .thumbs-up-outline {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-128 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .thumbs-down-outline {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-129 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-outline .store-outline {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-130 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-outline .newspapper-outline {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-131 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-outline .layers-outline {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-132 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-outline .pin-outline {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-133 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-outline .message-caption-outline {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-134 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-outline .arrow-sort-letters-outline {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-135 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-outline .arrow-sort-outline {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-136 {
  width: 16px;
  height: 18px;
}
.flowbite-icons-outline .play-outline {
  margin: 1px 0;
  display: flex;
  width: 16px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .container-20 {
  margin: 0 2px 24px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 2px);
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-137 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-outline .clapperboard-play-outline {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-138 {
  width: 14px;
  height: 14px;
}
.flowbite-icons-outline .xoutline {
  margin: 3px 0;
  display: flex;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-140 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .file-shield-outline {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-141 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-outline .file-pdf-outline {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-142 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-outline .file-check-outline {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-143 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-outline .file-video-outline {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-144 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-outline .file-ppt-outline {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-145 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-outline .file-music-outline {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-146 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-outline .file-csv-outline {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-147 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-outline .file-code-outline {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .container-21 {
  margin: 0 2px 24px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 2px);
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-139 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-outline .file-word-outline {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-148 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-outline .file-image-outline {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-149 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-outline .copy-outline {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-150 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .clone-outline {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-151 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .file-pen-outline {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-152 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .paste-outline {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-153 {
  width: 18px;
  height: 16px;
}
.flowbite-icons-outline .chart-line-up-outline {
  margin: 2px 0;
  display: flex;
  width: 18px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-154 {
  width: 18px;
  height: 16px;
}
.flowbite-icons-outline .chart-line-down-outline {
  margin: 2px 0;
  display: flex;
  width: 18px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-155 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-outline .chart-mixed-outline {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-156 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .badge-check-outline {
  margin: 0px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .container-6 {
  margin: 0 0 24px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 2px);
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-157 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .scale-balanced-outline {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-158 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-outline .window-outline {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-159 {
  width: 18px;
  height: 20px;
}
.flowbite-icons-outline .bug-outline {
  display: flex;
  width: 18px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-160 {
  width: 16px;
  height: 16px;
}
.flowbite-icons-outline .arrow-right-to-bracket-outline-1 {
  margin: 2px 0;
  display: flex;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-161 {
  width: 18px;
  height: 20px;
}
.flowbite-icons-outline .rotate-outline {
  display: flex;
  width: 18px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-162 {
  width: 16px;
  height: 14px;
}
.flowbite-icons-outline .arrow-right-arrow-left-outline {
  margin: 3px 0;
  display: flex;
  width: 16px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-163 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-outline .arrows-repeat-outline {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-164 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-outline .arrows-repeat-1-outline {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-165 {
  width: 8px;
  height: 14px;
}
.flowbite-icons-outline .angle-right-outline {
  margin: 3px 0;
  display: flex;
  width: 8px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-202 {
  width: 20px;
  height: 14px;
}
.flowbite-icons-outline .reply-all-outline {
  margin: 3px 0;
  display: flex;
  width: 20px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-outline .container-16 {
  margin: 0 0 24px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 0px);
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-166 {
  width: 14px;
  height: 8px;
}
.flowbite-icons-outline .angle-down-outline {
  margin: 6px 0;
  display: flex;
  width: 14px;
  height: 8px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-167 {
  width: 8px;
  height: 14px;
}
.flowbite-icons-outline .angle-left-outline {
  margin: 3px 0;
  display: flex;
  width: 8px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-168 {
  width: 14px;
  height: 8px;
}
.flowbite-icons-outline .angle-top-outline {
  margin: 6px 0;
  display: flex;
  width: 14px;
  height: 8px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-169 {
  width: 20px;
  height: 16px;
}
.flowbite-icons-outline .cloud-arrow-up-outline {
  margin: 2px 0;
  display: flex;
  width: 20px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-170 {
  width: 15.9px;
  height: 20px;
}
.flowbite-icons-outline .code-branch-outline {
  display: flex;
  width: 15.9px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-171 {
  width: 18px;
  height: 20px;
}
.flowbite-icons-outline .code-pull-request-outline {
  margin-bottom: 0px;
  display: flex;
  width: 18px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-172 {
  width: 14px;
  height: 20px;
}
.flowbite-icons-outline .code-merge-outline {
  margin-bottom: 0px;
  display: flex;
  width: 14px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-173 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-outline .code-fork-outline {
  margin-bottom: 0px;
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-174 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-outline .window-restore-outline {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-203 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .user-headset-outline {
  margin-bottom: 0px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .container {
  margin: 0 0 24px 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 3px);
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-175 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .atom-outline {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-176 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .palette-outline {
  margin: 0px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-177 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .wand-magic-sparkles-outline {
  margin: 0px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-178 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .draw-square-outline {
  margin: 0px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-179 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .rule-combined-outline {
  margin: 0px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-180 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-outline .heart-outline {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-181 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .brain-outline {
  margin: 0px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-182 {
  width: 12px;
  height: 20px;
}
.flowbite-icons-outline .dna-outline {
  margin: 0px 0;
  display: flex;
  width: 12px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-183 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .face-laugh-outline {
  margin: 0px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-201 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-outline .blender-phone-outline {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .container-3 {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-184 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .face-grin-outline {
  margin: 0px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-185 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .face-grin-stars-outline {
  margin: 0px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-186 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .face-explode-outline {
  margin: 0px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-187 {
  width: 18px;
  height: 14px;
}
.flowbite-icons-outline .quote-outline {
  margin: 3px 0;
  display: flex;
  width: 18px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-188 {
  width: 20px;
  height: 19px;
}
.flowbite-icons-outline .mail-box-outline {
  margin: 1px 0 0px 0;
  display: flex;
  width: 20px;
  height: 19px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-189 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-outline .folder-outline-1 {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-190 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .gift-outline {
  margin: 0px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-191 {
  width: 14px;
  height: 20px;
}
.flowbite-icons-outline .receipt-outline {
  display: flex;
  width: 14px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-192 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .pen-nib-outline {
  margin: 0px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-200 {
  width: 20px;
  height: 14px;
}
.flowbite-icons-outline .share-all-outline {
  margin: 3px 0;
  display: flex;
  width: 20px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-outline .container-14 {
  margin: 0 0 25px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 0px);
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-193 {
  width: 17px;
  height: 18px;
}
.flowbite-icons-outline .pen-outline {
  margin: 1px 0;
  display: flex;
  width: 17px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-194 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .calendar-edit-outline {
  margin-top: 0px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-195 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .life-buoy-outline {
  margin-bottom: 0px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-196 {
  width: 18px;
  height: 20px;
}
.flowbite-icons-outline .tablet-outline {
  margin-top: 0px;
  display: flex;
  width: 18px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-197 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-outline .headphones-outline {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-198 {
  width: 18px;
  height: 20px;
}
.flowbite-icons-outline .database-outline {
  margin-top: 0px;
  display: flex;
  width: 18px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-199 {
  width: 20px;
  height: 14px;
}
.flowbite-icons-outline .keyboard-outline {
  margin: 3px 0;
  display: flex;
  width: 20px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-204 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-outline .compress-outline {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-205 {
  width: 12px;
  height: 16px;
}
.flowbite-icons-outline .backward-step-outline {
  margin: 2px 0;
  display: flex;
  width: 12px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-206 {
  width: 12px;
  height: 16px;
}
.flowbite-icons-outline .forward-step-outline {
  margin: 2px 0;
  display: flex;
  width: 12px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .container-11 {
  margin: 0 4px 24px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 5px);
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-211 {
  width: 20px;
  height: 16px;
}
.flowbite-icons-outline .rectangle-list-outline {
  margin: 2px 0;
  display: flex;
  width: 20px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-207 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-outline .computer-speaker-outline {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-208 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-outline .shuffle-outline {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-209 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-outline .minimize-outline {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-210 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-outline .expand-outline {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-213 {
  width: 18px;
  height: 16px;
}
.flowbite-icons-outline .list-music-outline {
  margin: 2px 0;
  display: flex;
  width: 18px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-212 {
  width: 20px;
  height: 16px;
}
.flowbite-icons-outline .captioning-outline {
  margin: 2px 0;
  display: flex;
  width: 20px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-214 {
  background: #1F2A37;
  width: 14px;
  height: 2px;
}
.flowbite-icons-outline .minus-outline {
  margin: 11px 0 7px 0;
  display: flex;
  width: 14px;
  height: 2px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-215 {
  width: 14px;
  height: 14px;
}
.flowbite-icons-outline .plus-outline {
  margin: 4px 0 2px 0;
  display: flex;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-237 {
  width: 20px;
  height: 14px;
}
.flowbite-icons-outline .ticket-outline {
  margin: 4px 0 2px 0;
  display: flex;
  width: 20px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-outline .container-13 {
  margin: 0 2px 25px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 2px);
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-221 {
  width: 16px;
  height: 18px;
}
.flowbite-icons-outline .lock-outline {
  display: flex;
  width: 16px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-220 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-outline .unlock-outline {
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-224 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-outline .search-outline {
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-223 {
  width: 16px;
  height: 12px;
}
.flowbite-icons-outline .check-outline {
  margin: 3px 0;
  display: flex;
  width: 16px;
  height: 12px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-222 {
  width: 16px;
  height: 18px;
}
.flowbite-icons-outline .bag-outline {
  display: flex;
  width: 16px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-229 {
  width: 20px;
  height: 16px;
}
.flowbite-icons-outline .open-book-outline {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-228 {
  width: 16px;
  height: 18px;
}
.flowbite-icons-outline .fire-outline {
  display: flex;
  width: 16px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-227 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-outline .home-outline {
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-226 {
  width: 12px;
  height: 18px;
}
.flowbite-icons-outline .bookmark-outline {
  display: flex;
  width: 12px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-225 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-outline .check-circle-outline {
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .container-4 {
  margin: 0 1px 25px 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 5px);
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-236 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-outline .xcircle-outline {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-235 {
  width: 18px;
  height: 20px;
}
.flowbite-icons-outline .clipboard-list-outline {
  display: flex;
  width: 18px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-234 {
  width: 18px;
  height: 20px;
}
.flowbite-icons-outline .clipboard-check-outline {
  display: flex;
  width: 18px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-233 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-outline .image-outline {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-231 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-outline .eye-slash-outline {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-230 {
  width: 20px;
  height: 16px;
}
.flowbite-icons-outline .truck-outline {
  margin: 2px 0;
  display: flex;
  width: 20px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-232 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-outline .book-outline {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-outline .vector-238 {
  border-radius: 8px;
  width: 10px;
  height: 16px;
}
.flowbite-icons-outline .pause-outline {
  margin: 2px 0;
  display: flex;
  width: 10px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-outline .container-1 {
  margin: 0 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 320px;
  box-sizing: border-box;
}
.flowbite-icons-outline {
  border-radius: 8px;
  border: 1px solid var(--white-4, #FFFFFF);
  background: var(--white-4, #FFFFFF);
  display: flex;
  flex-direction: column;
  padding: 18px 17px 43px 24px;
  box-sizing: border-box;
}
