.flowbite-icons-solid .vector {
  width: 20px;
  height: 18px;
}
.flowbite-icons-solid .briefcase {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-1 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .zoom-in {
  margin-bottom: 0px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-2 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .zoom-out {
  margin-bottom: 0px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-3 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-solid .file {
  margin-bottom: 0px;
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-4 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .folder-plus {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-5 {
  width: 12px;
  height: 18px;
}
.flowbite-icons-solid .star-half {
  margin: 1px 0;
  display: flex;
  width: 12px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-6 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .star {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-7 {
  width: 20px;
  height: 14px;
}
.flowbite-icons-solid .videocamera {
  margin: 3px 0;
  display: flex;
  width: 20px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-8 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-solid .map-pin {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-9 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .clock {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .container-19 {
  margin: 0 4px 24px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 4px);
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-10 {
  width: 18px;
  height: 20px;
}
.flowbite-icons-solid .trash {
  display: flex;
  width: 18px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-11 {
  width: 12px;
  height: 20px;
}
.flowbite-icons-solid .paper-clip {
  display: flex;
  width: 12px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-12 {
  width: 14px;
  height: 20px;
}
.flowbite-icons-solid .phone {
  display: flex;
  width: 14px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-13 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-solid .clipboard {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-14 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .sun {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-15 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .star-half-stroke {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-16 {
  width: 13.9px;
  height: 20px;
}
.flowbite-icons-solid .map-pin-alt {
  display: flex;
  width: 13.9px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-17 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-solid .microphone {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-18 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-solid .file-lines {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-19 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-solid .file-import {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .container-16 {
  margin: 0 6px 24px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 7px);
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-20 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-solid .file-export {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-21 {
  width: 19px;
  height: 20px;
}
.flowbite-icons-solid .file-circle-plus {
  display: flex;
  width: 19px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-22 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-solid .file-copy {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-23 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-solid .zip {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-24 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-solid .folder {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-25 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .folder-plus-1 {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-26 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-solid .archive {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-27 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .cog {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-28 {
  width: 18px;
  height: 20px;
}
.flowbite-icons-solid .moon {
  display: flex;
  width: 18px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-29 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .filter {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .container-15 {
  margin: 0 5px 24px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 7px);
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-30 {
  width: 20px;
  height: 14px;
}
.flowbite-icons-solid .table-column {
  margin: 3px 0;
  display: flex;
  width: 20px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-31 {
  width: 20px;
  height: 14px;
}
.flowbite-icons-solid .table-row {
  margin: 3px 0;
  display: flex;
  width: 20px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-32 {
  width: 20px;
  height: 12px;
}
.flowbite-icons-solid .list {
  margin: 4px 0;
  display: flex;
  width: 20px;
  height: 12px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-33 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .align-center {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-34 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .globe {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-35 {
  width: 14px;
  height: 20px;
}
.flowbite-icons-solid .user {
  margin-bottom: 0px;
  display: flex;
  width: 14px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-36 {
  width: 18px;
  height: 14px;
}
.flowbite-icons-solid .arrow-right {
  margin: 3px 0;
  display: flex;
  width: 18px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-37 {
  width: 14px;
  height: 18px;
}
.flowbite-icons-solid .arrow-up {
  margin: 1px 0;
  display: flex;
  width: 14px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-38 {
  width: 18px;
  height: 14px;
}
.flowbite-icons-solid .arrow-left {
  margin: 3px 0;
  display: flex;
  width: 18px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-39 {
  width: 14px;
  height: 18px;
}
.flowbite-icons-solid .arrow-down {
  margin: 1px 0;
  display: flex;
  width: 14px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .container-23 {
  margin: 0 7px 26px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 7px);
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-140 {
  width: 8px;
  height: 14px;
}
.flowbite-icons-solid .chevron-right {
  margin: 1px 0;
  display: flex;
  width: 8px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-141 {
  width: 14px;
  height: 8px;
}
.flowbite-icons-solid .chevron-up {
  margin: 4px 0;
  display: flex;
  width: 14px;
  height: 8px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-40 {
  width: 8px;
  height: 14px;
}
.flowbite-icons-solid .chevron-left {
  margin: 1px 0;
  display: flex;
  width: 8px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-41 {
  width: 14px;
  height: 8px;
}
.flowbite-icons-solid .chevron-down {
  margin: 4px 0;
  display: flex;
  width: 14px;
  height: 8px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-42 {
  width: 8px;
  height: 14px;
}
.flowbite-icons-solid .caret-right {
  margin: 1px 0;
  display: flex;
  width: 8px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-43 {
  width: 13px;
  height: 8px;
}
.flowbite-icons-solid .caret-up {
  margin: 4px 0;
  display: flex;
  width: 13px;
  height: 8px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-44 {
  width: 8px;
  height: 14px;
}
.flowbite-icons-solid .caret-left {
  margin: 1px 0;
  display: flex;
  width: 8px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-45 {
  width: 14px;
  height: 8px;
}
.flowbite-icons-solid .caret-down {
  margin: 4px 0;
  display: flex;
  width: 14px;
  height: 8px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-46 {
  width: 16px;
  height: 14px;
}
.flowbite-icons-solid .chevron-double-right {
  margin: 1px 0;
  display: flex;
  width: 16px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-47 {
  width: 14px;
  height: 16px;
}
.flowbite-icons-solid .chevron-double-up {
  display: flex;
  width: 14px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-solid .container-20 {
  margin: 0 7px 26px 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 13px);
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-48 {
  width: 16px;
  height: 14px;
}
.flowbite-icons-solid .chevron-double-left {
  margin: 3px 0;
  display: flex;
  width: 16px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-49 {
  width: 14px;
  height: 16px;
}
.flowbite-icons-solid .chevron-double-down {
  margin: 2px 0;
  display: flex;
  width: 14px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-50 {
  width: 16px;
  height: 14px;
}
.flowbite-icons-solid .bars {
  margin: 3px 0;
  display: flex;
  width: 16px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-51 {
  width: 20px;
  height: 18.5px;
}
.flowbite-icons-solid .adjustments-horizontal {
  margin: 0.8px 0;
  display: flex;
  width: 20px;
  height: 18.5px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-52 {
  width: 18.5px;
  height: 20px;
}
.flowbite-icons-solid .adjustments-vertical {
  display: flex;
  width: 18.5px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-53 {
  width: 20px;
  height: 14px;
}
.flowbite-icons-solid .eye {
  margin: 3px 0;
  display: flex;
  width: 20px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-54 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .info {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-55 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .exclamation {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-56 {
  width: 18px;
  height: 16px;
}
.flowbite-icons-solid .arrow-left-to-bracket {
  margin: 2px 0;
  display: flex;
  width: 18px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-57 {
  width: 16px;
  height: 18px;
}
.flowbite-icons-solid .arrow-down-to-bracket {
  margin: 1px 0;
  display: flex;
  width: 16px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .container-2 {
  margin: 0 6px 24px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 8px);
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-58 {
  width: 14px;
  height: 20px;
}
.flowbite-icons-solid .sort {
  margin-bottom: 0px;
  display: flex;
  width: 14px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-59 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .rocket {
  margin-bottom: 0px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-60 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .question-mark {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-61 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .users-group {
  margin-bottom: 0px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-62 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .users {
  margin-bottom: 0px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-63 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .add-user {
  margin-bottom: 0px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-64 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .remove-user {
  margin-bottom: 0px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-65 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .edit-user {
  margin-bottom: 0px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-66 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .user-settings {
  margin-bottom: 0px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-67 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .user-circle {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .container-6 {
  margin: 0 4px 24px 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 7px);
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-68 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .calendar-month {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-69 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .calendar-day {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-70 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-solid .message-dots {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-71 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-solid .messages {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-72 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-solid .file-chart-bar {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-73 {
  width: 18px;
  height: 16px;
}
.flowbite-icons-solid .chart {
  margin: 2px 0;
  display: flex;
  width: 18px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-74 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .chart-pie {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-75 {
  width: 10px;
  height: 20px;
}
.flowbite-icons-solid .dollar {
  display: flex;
  width: 10px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-76 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-solid .euro {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-77 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-solid .bell {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .container-7 {
  margin: 0 6px 24px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 7px);
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-78 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .bell-active-alt {
  margin-bottom: 0px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-79 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .bell-active {
  margin-bottom: 0px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-80 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .bell-on {
  margin-bottom: 0px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-81 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .edit {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-82 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .sale-percent {
  margin-bottom: 0px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-83 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .tag {
  margin-bottom: 0px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-84 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .cart {
  margin-bottom: 0px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-85 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .cart-plus {
  margin-bottom: 0px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-86 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .cart-plus-alt {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-87 {
  width: 20px;
  height: 14px;
}
.flowbite-icons-solid .credit-card {
  margin: 3px 0;
  display: flex;
  width: 20px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-solid .container-12 {
  margin: 0 4px 24px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 4px);
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-88 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .wallet {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-89 {
  width: 20.1px;
  height: 20px;
}
.flowbite-icons-solid .fingerprint {
  display: flex;
  width: 20.1px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-100 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .share-nodes {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-91 {
  width: 10px;
  height: 20px;
}
.flowbite-icons-solid .caret-sort {
  margin-bottom: 0px;
  display: flex;
  width: 10px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-92 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .inbox {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-93 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .inbox-full {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-94 {
  width: 18px;
  height: 20px;
}
.flowbite-icons-solid .adress-book {
  margin-bottom: 0px;
  display: flex;
  width: 18px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-95 {
  width: 20px;
  height: 16px;
}
.flowbite-icons-solid .profile-card {
  margin: 2px 0;
  display: flex;
  width: 20px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-96 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .phone-1 {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-97 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .bullhorn {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .container-10 {
  margin: 0 5px 24px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 6px);
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-98 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-solid .hourglass {
  margin-bottom: 0px;
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-99 {
  width: 18px;
  height: 16px;
}
.flowbite-icons-solid .forward {
  margin: 2px 0;
  display: flex;
  width: 18px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-90 {
  width: 18px;
  height: 20px;
}
.flowbite-icons-solid .papper-plane {
  display: flex;
  width: 18px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-101 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .download {
  margin-bottom: 0px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-102 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .upload {
  margin-bottom: 0px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-103 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .printer {
  margin-bottom: 0px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-104 {
  width: 20px;
  height: 16px;
}
.flowbite-icons-solid .camera-foto {
  margin: 2px 0;
  display: flex;
  width: 20px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-105 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .desktop-pc {
  margin-bottom: 0px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-106 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-solid .thumbs-up {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-107 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-solid .thumbs-down {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .container-1 {
  margin: 0 4px 24px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 6px);
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-108 {
  width: 20px;
  height: 14px;
}
.flowbite-icons-solid .envelope {
  margin: 3px 0;
  display: flex;
  width: 20px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-109 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-solid .envelope-open {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-110 {
  width: 14px;
  height: 14px;
}
.flowbite-icons-solid .x {
  margin: 3px 0;
  display: flex;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-111 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-solid .clapperboard-play {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-112 {
  width: 16px;
  height: 18px;
}
.flowbite-icons-solid .play {
  margin: 1px 0;
  display: flex;
  width: 16px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-113 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-solid .arrow-sort {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-114 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .arrow-sort-letters {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-115 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-solid .message-caption {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-116 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-solid .pin {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-117 {
  width: 18px;
  height: 20px;
}
.flowbite-icons-solid .layers {
  display: flex;
  width: 18px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .container-13 {
  margin: 0 5px 23px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 5px);
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-118 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .newspapper {
  margin: 2px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-119 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .store {
  margin: 2px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-120 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .volume-up {
  margin: 2px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-121 {
  width: 16px;
  height: 18px;
}
.flowbite-icons-solid .volume-down {
  margin: 2px 0;
  display: flex;
  width: 16px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-122 {
  width: 10px;
  height: 16px;
}
.flowbite-icons-solid .chevron-sort {
  margin: 3px 0;
  display: flex;
  width: 10px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-123 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .swatchbook {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-124 {
  width: 4px;
  height: 18px;
}
.flowbite-icons-solid .dots-vertical {
  margin: 2px 0;
  display: flex;
  width: 4px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-125 {
  width: 20px;
  height: 4px;
}
.flowbite-icons-solid .dots-horizontal {
  margin: 9px 0;
  display: flex;
  width: 20px;
  height: 4px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-126 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .arrow-up-right-from-square {
  margin: 2px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-127 {
  width: 20px;
  height: 22px;
}
.flowbite-icons-solid .link {
  display: flex;
  width: 20px;
  height: 22px;
  box-sizing: border-box;
}
.flowbite-icons-solid .container-22 {
  margin: 0 4px 23px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 5px);
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-130 {
  width: 18px;
  height: 20px;
}
.flowbite-icons-solid .shield {
  display: flex;
  width: 18px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-131 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .maximize {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-132 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .grid {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-133 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .grid-plus {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-134 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-solid .annotation {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-135 {
  width: 22px;
  height: 16px;
}
.flowbite-icons-solid .cash {
  margin: 2px 0;
  display: flex;
  width: 22px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-136 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .ordored-list {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-137 {
  width: 16px;
  height: 18px;
}
.flowbite-icons-solid .letter-bold {
  margin: 1px 0;
  display: flex;
  width: 16px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-138 {
  width: 14px;
  height: 18px;
}
.flowbite-icons-solid .italic {
  margin: 1px 0;
  display: flex;
  width: 14px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-139 {
  width: 16px;
  height: 18px;
}
.flowbite-icons-solid .underline {
  margin: 1px 0;
  display: flex;
  width: 16px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .container-4 {
  margin: 0 6px 24px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 7px);
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-142 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-solid .file-word {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-143 {
  width: 19.9px;
  height: 20px;
}
.flowbite-icons-solid .file-shield {
  display: flex;
  width: 19.9px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-144 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .file-pdf {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-145 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-solid .file-check {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-146 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-solid .file-video {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-147 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .file-ppt {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-148 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-solid .file-music {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-149 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .file-csv {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-150 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-solid .file-code {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-207 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .computer-speaker {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .container-11 {
  margin: 0 4px 23.9px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 6px);
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-151 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-solid .file-image {
  margin: 0.1px 0;
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-152 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-solid .copy {
  margin: 0.1px 0;
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-153 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .clone {
  margin: 0.1px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-154 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .file-pen {
  margin: 0.1px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-155 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .paste {
  margin: 0.1px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-156 {
  width: 18px;
  height: 16px;
}
.flowbite-icons-solid .chart-line-up {
  margin: 2.1px 0;
  display: flex;
  width: 18px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-157 {
  width: 18px;
  height: 16px;
}
.flowbite-icons-solid .chart-line-down {
  margin: 2.1px 0;
  display: flex;
  width: 18px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-158 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .chart-mixed {
  margin: 1.1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-159 {
  width: 20.1px;
  height: 20.1px;
}
.flowbite-icons-solid .badge-check {
  display: flex;
  width: 20.1px;
  height: 20.1px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-208 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-solid .shuffle {
  margin: 1.1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .container-9 {
  margin: 0 4px 22.9px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 6px);
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-160 {
  width: 20px;
  height: 21px;
}
.flowbite-icons-solid .scale-balanced {
  display: flex;
  width: 20px;
  height: 21px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-161 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-solid .window {
  margin: 2px 0 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-162 {
  width: 18px;
  height: 20px;
}
.flowbite-icons-solid .bug {
  margin-top: 1px;
  display: flex;
  width: 18px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-163 {
  width: 16px;
  height: 16px;
}
.flowbite-icons-solid .arrow-right-to-bracket {
  margin: 3px 0 2px 0;
  display: flex;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-164 {
  width: 18px;
  height: 20px;
}
.flowbite-icons-solid .rotate {
  margin-top: 1px;
  display: flex;
  width: 18px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-165 {
  width: 18px;
  height: 16px;
}
.flowbite-icons-solid .arrow-right-arrow-left {
  margin: 3px 0 2px 0;
  display: flex;
  width: 18px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-166 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-solid .arrows-repeat {
  margin: 2px 0 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-167 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-solid .arrows-repeat-1 {
  margin: 2px 0 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-168 {
  width: 8px;
  height: 14px;
}
.flowbite-icons-solid .angle-right {
  margin: 4px 0 3px 0;
  display: flex;
  width: 8px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-209 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .minimize {
  margin: 2px 0 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .container-8 {
  margin: 0 5px 24px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 5px);
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-169 {
  width: 14px;
  height: 8px;
}
.flowbite-icons-solid .angle-down {
  margin: 6px 0;
  display: flex;
  width: 14px;
  height: 8px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-170 {
  width: 8px;
  height: 14px;
}
.flowbite-icons-solid .angle-left {
  margin: 3px 0;
  display: flex;
  width: 8px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-171 {
  width: 14px;
  height: 8px;
}
.flowbite-icons-solid .angle-up {
  margin: 6px 0;
  display: flex;
  width: 14px;
  height: 8px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-172 {
  width: 20px;
  height: 16px;
}
.flowbite-icons-solid .cloud-arrow-up {
  margin: 2px 0;
  display: flex;
  width: 20px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-173 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-solid .code-branch {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-174 {
  width: 18px;
  height: 20px;
}
.flowbite-icons-solid .code-pull-request {
  display: flex;
  width: 18px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-175 {
  width: 14px;
  height: 20px;
}
.flowbite-icons-solid .code-merge {
  display: flex;
  width: 14px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-176 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-solid .code-fork {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-177 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-solid .window-restore {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-210 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .expand {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .container-17 {
  margin: 0 5px 24px 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 8px);
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-178 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .atom {
  margin-top: 0px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-179 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .palette {
  margin-bottom: 0px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-180 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .wand-magic-sparkles {
  margin: 0px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-181 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .draw-square {
  margin: 0px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-182 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .rule-combined {
  margin: 0px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-183 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-solid .heart {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-184 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .brain {
  margin: 0px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-185 {
  width: 12px;
  height: 20px;
}
.flowbite-icons-solid .dna {
  margin: 0px 0;
  display: flex;
  width: 12px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-186 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .face-laugh {
  margin: 0px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-211 {
  width: 20px;
  height: 16px;
}
.flowbite-icons-solid .rectangle-list {
  margin: 2px 0;
  display: flex;
  width: 20px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-solid .container {
  margin: 0 4px 24px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 4px);
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-187 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .face-grin {
  margin: 0px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-188 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .face-grin-stars {
  margin: 0px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-189 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .face-explode {
  margin: 0px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-190 {
  width: 18px;
  height: 14px;
}
.flowbite-icons-solid .quote {
  margin: 3px 0;
  display: flex;
  width: 18px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-191 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .mail-box {
  margin: 0px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-192 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .folder-1 {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-193 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .gift {
  margin: 0px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-194 {
  width: 14px;
  height: 20px;
}
.flowbite-icons-solid .receipt {
  display: flex;
  width: 14px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-195 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .pen-nib {
  margin: 0px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-212 {
  width: 20px;
  height: 16px;
}
.flowbite-icons-solid .captioning {
  margin: 2px 0;
  display: flex;
  width: 20px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-solid .container-14 {
  margin: 0 4px 24px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 4px);
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-196 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .pen {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-197 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .calendar-edit {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-198 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .life-buoy {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-199 {
  width: 18px;
  height: 20px;
}
.flowbite-icons-solid .tablet {
  display: flex;
  width: 18px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-200 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-solid .headphones {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-201 {
  width: 18px;
  height: 20px;
}
.flowbite-icons-solid .database {
  display: flex;
  width: 18px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-202 {
  width: 20px;
  height: 14px;
}
.flowbite-icons-solid .keyboard {
  margin: 3px 0;
  display: flex;
  width: 20px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-203 {
  width: 18px;
  height: 14px;
}
.flowbite-icons-solid .share-all {
  margin: 3px 0;
  display: flex;
  width: 18px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-204 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .blender-phone {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-213 {
  width: 18px;
  height: 16px;
}
.flowbite-icons-solid .list-music {
  margin: 2px 0;
  display: flex;
  width: 18px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-solid .container-5 {
  margin: 0 5px 24px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 6px);
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-205 {
  width: 18px;
  height: 14px;
}
.flowbite-icons-solid .reply-all {
  margin: 3px 0;
  display: flex;
  width: 18px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-206 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .user-headset {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-214 {
  width: 12px;
  height: 16px;
}
.flowbite-icons-solid .forward-step {
  margin: 2px 0;
  display: flex;
  width: 12px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-216 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .compress {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-215 {
  width: 12px;
  height: 16px;
}
.flowbite-icons-solid .backward-step {
  margin: 2px 0;
  display: flex;
  width: 12px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-128 {
  width: 20px;
  height: 16px;
}
.flowbite-icons-solid .code {
  margin: 2px 0;
  display: flex;
  width: 20px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-129 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-solid .terminal {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-217 {
  background: #1F2A37;
  width: 14px;
  height: 2px;
}
.flowbite-icons-solid .minus {
  margin: 10px 0 8px 0;
  display: flex;
  width: 14px;
  height: 2px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-218 {
  width: 14px;
  height: 14px;
}
.flowbite-icons-solid .plus {
  margin: 3px 0;
  display: flex;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-228 {
  width: 20px;
  height: 14px;
}
.flowbite-icons-solid .ticket {
  margin: 3px 0;
  display: flex;
  width: 20px;
  height: 14px;
  box-sizing: border-box;
}
.flowbite-icons-solid .container-21 {
  margin: 0 0 24px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 1px);
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-236 {
  width: 16px;
  height: 18px;
}
.flowbite-icons-solid .lock {
  margin: 1px 0;
  display: flex;
  width: 16px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-235 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .lock-open {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-234 {
  width: 19.5px;
  height: 19.5px;
}
.flowbite-icons-solid .search {
  margin: 0.5px 0 0px 0;
  display: flex;
  width: 19.5px;
  height: 19.5px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-233 {
  width: 16px;
  height: 12px;
}
.flowbite-icons-solid .check {
  margin: 4px 0;
  display: flex;
  width: 16px;
  height: 12px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-232 {
  width: 17.8px;
  height: 20px;
}
.flowbite-icons-solid .bag {
  display: flex;
  width: 17.8px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-222 {
  width: 20px;
  height: 16px;
}
.flowbite-icons-solid .open-book {
  margin: 2px 0;
  display: flex;
  width: 20px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-221 {
  width: 16px;
  height: 18px;
}
.flowbite-icons-solid .fire {
  margin: 1px 0;
  display: flex;
  width: 16px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-231 {
  width: 20px;
  height: 20px;
}
.flowbite-icons-solid .home {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-230 {
  width: 12px;
  height: 20px;
}
.flowbite-icons-solid .bookmark {
  display: flex;
  width: 12px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-229 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .check-circle {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .container-3 {
  margin: 0 0 23px 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 6px);
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-227 {
  width: 18px;
  height: 18px;
}
.flowbite-icons-solid .xcircle {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-226 {
  width: 18px;
  height: 20px;
}
.flowbite-icons-solid .clipboard-list {
  display: flex;
  width: 18px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-225 {
  width: 18px;
  height: 20px;
}
.flowbite-icons-solid .clipboard-check {
  display: flex;
  width: 18px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-224 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-solid .image {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-220 {
  width: 20px;
  height: 18px;
}
.flowbite-icons-solid .eye-slash {
  margin: 1px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-219 {
  width: 20px;
  height: 15.8px;
}
.flowbite-icons-solid .truck {
  margin: 2px 0 2.3px 0;
  display: flex;
  width: 20px;
  height: 15.8px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-223 {
  width: 16px;
  height: 20px;
}
.flowbite-icons-solid .book {
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.flowbite-icons-solid .vector-237 {
  border-radius: 8px;
  width: 10px;
  height: 16px;
}
.flowbite-icons-solid .pause {
  margin: 2px 0;
  display: flex;
  width: 10px;
  height: 16px;
  box-sizing: border-box;
}
.flowbite-icons-solid .container-18 {
  margin: 0 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 320px;
  box-sizing: border-box;
}
.flowbite-icons-solid {
  border-radius: 8px;
  border: 1px solid var(--white-4, #FFFFFF);
  background: var(--white-4, #FFFFFF);
  display: flex;
  flex-direction: column;
  padding: 18px 15px 43px 22px;
  box-sizing: border-box;
}
