.frame-17 .part-time-pal {
  margin-right: 69px;
  overflow-wrap: break-word;
  font-family: 'Gothic A1';
  font-weight: 600;
  font-size: 400px;
  line-height: 1.367;
  color: #FFFFFF;
}
.frame-17 .ellipse-20 {
  border-radius: 89px;
  margin-bottom: 14px;
  width: 178px;
  height: 178px;
}
.frame-17 .vector-229 {
  width: 326px;
  height: 167px;
}
.frame-17 .container {
  margin: 34px 0 154px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 326px;
  height: fit-content;
  box-sizing: border-box;
}
.frame-17 {
  background: #163D77;
  display: flex;
  flex-direction: row;
  padding: 38px 94px 0 93px;
  width: 3064px;
  box-sizing: border-box;
}
