.frame-1000004437 .application-to-compass-coffee-barista {
  margin-right: 15px;
  width: 558px;
  overflow-wrap: break-word;
  font-family: var(--text-xlfont-semibold-font-family, 'Inter');
  font-weight: var(--text-xlfont-semibold-font-weight, 600);
  font-size: var(--text-xlfont-semibold-font-size, 20px);
  line-height: var(--text-xlfont-semibold-line-height, 1.5);
  color: var(--gray-900, #111928);
}
.frame-1000004437 .vector {
  width: 14px;
  height: 14px;
}
.frame-1000004437 .x {
  margin: 8px 0;
  display: flex;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
}
.frame-1000004437 .frame-1000004373 {
  border-bottom: 1px solid #E5E7EB;
  margin-bottom: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 29px 13px 24px;
  width: 100%;
  box-sizing: border-box;
}
.frame-1000004437 .vector-1 {
  width: 15.1px;
  height: 15.1px;
}
.frame-1000004437 .badge-check {
  margin: 1.4px 7.4px 1.4px 0;
  display: flex;
  width: 15.1px;
  height: 15.1px;
  box-sizing: border-box;
}
.frame-1000004437 .text {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-medium-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-medium-font-weight, 500);
  font-size: var(--leading-tighttext-smfont-medium-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-medium-line-height, 1.25);
  color: #1A56DB;
}
.frame-1000004437 .nav-item {
  border-radius: 6px;
  margin-right: 16.6px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-basis: 109.9px;
  box-sizing: border-box;
}
.frame-1000004437 .line {
  background: #E5E7EB;
  margin: 9px 16px 8px 0;
  height: 1px;
  flex-grow: 1;
  flex-basis: 135px;
}
.frame-1000004437 .text-1 {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-medium-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-medium-font-weight, 500);
  font-size: var(--leading-tighttext-smfont-medium-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-medium-line-height, 1.25);
  color: var(--gray-500, #6B7280);
}
.frame-1000004437 .nav-item-1 {
  margin-right: 16.2px;
  display: flex;
  flex-grow: 1;
  flex-basis: 96.8px;
  box-sizing: border-box;
}
.frame-1000004437 .line-1 {
  background: #E5E7EB;
  margin: 9px 16px 8px 0;
  height: 1px;
  flex-grow: 1;
  flex-basis: 135px;
}
.frame-1000004437 .nav-link {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-medium-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-medium-font-weight, 500);
  font-size: var(--leading-tighttext-smfont-medium-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-medium-line-height, 1.25);
  color: var(--gray-500, #6B7280);
}
.frame-1000004437 .nav-item-2 {
  border-radius: 6px;
  display: flex;
  flex-grow: 1;
  flex-basis: 48.1px;
  box-sizing: border-box;
}
.frame-1000004437 .frame-1000004377 {
  margin: 0 24.9px 0 25.4px;
  display: flex;
  flex-direction: row;
  width: calc(100% - 50.4px);
  box-sizing: border-box;
}
.frame-1000004437 .frame-1000004374 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.frame-1000004437 .personal-information {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-basefont-medium-font-family, 'Inter');
  font-weight: var(--text-basefont-medium-font-weight, 500);
  font-size: var(--text-basefont-medium-font-size, 16px);
  line-height: var(--text-basefont-medium-line-height, 1.5);
  color: #000000;
}
.frame-1000004437 .label {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.frame-1000004437 .john-doe {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-normal-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-normal-font-weight, 400);
  font-size: var(--leading-tighttext-smfont-normal-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-normal-line-height, 1.25);
  color: #111928;
}
.frame-1000004437 .autocomplete-input {
  border-radius: 8px;
  border: 1px solid var(--gray-2002, #E5E7EB);
  background: var(--gray-501, #F9FAFB);
  padding: 11px 15px;
  width: 100%;
  box-sizing: border-box;
}
.frame-1000004437 .frame-1000004380 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.frame-1000004437 .label-1 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.frame-1000004437 .johndoeemail-com {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-normal-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-normal-font-weight, 400);
  font-size: var(--leading-tighttext-smfont-normal-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-normal-line-height, 1.25);
  color: #111928;
}
.frame-1000004437 .autocomplete-input-1 {
  border-radius: 8px;
  border: 1px solid var(--gray-2002, #E5E7EB);
  background: var(--gray-501, #F9FAFB);
  padding: 11px 15px;
  width: 100%;
  box-sizing: border-box;
}
.frame-1000004437 .frame-1000004382 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.frame-1000004437 .label-2 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.frame-1000004437 .united-states-1 {
  margin-right: 9px;
  width: 538.3px;
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-normal-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-normal-font-weight, 400);
  font-size: var(--leading-tighttext-smfont-normal-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-normal-line-height, 1.25);
  color: #111928;
}
.frame-1000004437 .vector-2 {
  width: 9.3px;
  height: 5.3px;
}
.frame-1000004437 .chevron-down {
  margin: 6.3px 0;
  display: flex;
  width: 9.3px;
  height: 5.3px;
  box-sizing: border-box;
}
.frame-1000004437 .autocomplete-input-2 {
  border-radius: 8px;
  border: 1px solid var(--gray-2002, #E5E7EB);
  background: var(--gray-501, #F9FAFB);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 18.3px 11px 15px;
  width: 100%;
  box-sizing: border-box;
}
.frame-1000004437 .frame-1000004384 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.frame-1000004437 .label-3 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.frame-1000004437 .container {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-normal-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-normal-font-weight, 400);
  font-size: var(--leading-tighttext-smfont-normal-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-normal-line-height, 1.25);
  color: #111928;
}
.frame-1000004437 .autocomplete-input-3 {
  border-radius: 8px;
  border: 1px solid var(--gray-2002, #E5E7EB);
  background: var(--gray-501, #F9FAFB);
  padding: 11px 15px;
  width: 100%;
  box-sizing: border-box;
}
.frame-1000004437 .frame-1000004383 {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.frame-1000004437 .frame-1000004385 {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.frame-1000004437 .frame-1000004378 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.frame-1000004437 .choose-aresume {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-basefont-medium-font-family, 'Inter');
  font-weight: var(--text-basefont-medium-font-weight, 500);
  font-size: var(--text-basefont-medium-font-size, 16px);
  line-height: var(--text-basefont-medium-line-height, 1.5);
  color: #000000;
}
.frame-1000004437 .default {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
  color: #111928;
}
.frame-1000004437 .vector-3 {
  width: 16px;
  height: 20px;
}
.frame-1000004437 .file-lines {
  margin: 6.5px 16px 6.5px 0;
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.frame-1000004437 .john-resume-ny-pdf {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #000000;
}
.frame-1000004437 .updated-on-4162024 {
  margin-right: 14.8px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
  color: #9E9E9E;
}
.frame-1000004437 .frame-1000004364 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.frame-1000004437 .frame-1000004370 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.frame-1000004437 .preview {
  margin: 7.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #000000;
}
.frame-1000004437 .frame-1000004365 {
  border-radius: 4px;
  border: 1px solid #1C64F2;
  background: #E5EDFF;
  margin-bottom: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 13.4px 11px 17px;
  width: 100%;
  box-sizing: border-box;
}
.frame-1000004437 .vector-4 {
  width: 16px;
  height: 20px;
}
.frame-1000004437 .file-lines-1 {
  margin: 6.5px 16px 6.5px 0;
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.frame-1000004437 .john-resume-nj-pdf {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #000000;
}
.frame-1000004437 .updated-on-3162024 {
  margin-right: 13.4px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
  color: #9E9E9E;
}
.frame-1000004437 .frame-10000043641 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.frame-1000004437 .frame-1000004371 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.frame-1000004437 .preview-1 {
  margin: 7.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #000000;
}
.frame-1000004437 .frame-1000004368 {
  border-radius: 4px;
  border: 1px solid #E5E7EB;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 13.4px 11px 17px;
  width: 100%;
  box-sizing: border-box;
}
.frame-1000004437 .frame-1000004369 {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.frame-1000004437 .frame-10000043781 {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.frame-1000004437 .text-2 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: #1C64F2;
}
.frame-1000004437 .button {
  border-radius: 8px;
  border: 1px solid #1C64F2;
  display: flex;
  align-self: flex-start;
  padding: 9px 19.4px 9px 19px;
  box-sizing: border-box;
}
.frame-1000004437 .frame-1000004372 {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.frame-1000004437 .frame-1000004386 {
  margin: 0 24px 20px 24px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 48px);
  box-sizing: border-box;
}
.frame-1000004437 .text-3 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.frame-1000004437 .button-1 {
  border-radius: 8px;
  background: var(--primary-600, #1C64F2);
  padding: 10px 20px;
  box-sizing: border-box;
}
.frame-1000004437 .frame-1000004376 {
  border-top: 1px solid #E5E7EB;
  display: flex;
  padding: 13px 24px 14px 24px;
  width: 100%;
  box-sizing: border-box;
}
.frame-1000004437 {
  border-radius: 8px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
