.frame-16 .temp-us-justification {
  margin: 0 14px 48px 14px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 40px;
  color: #000000;
}
.frame-16 .origins-tempus-latin-word-for-time-temporary-nature-of-part-time-work-the-emphasis-on-fitting-the-part-time-work-into-the-users-schedule-temp-us-temp-like-atemp-at-acompany-for-temporary-employee-showing-theflexibility-users-have-on-the-app-us-user-oriented-for-everyone-the-app-itself-is-on-your-side-supporting-the-user-catchy {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}
.frame-16 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 104px 102.6px 795px 26px;
  width: 1161px;
  box-sizing: border-box;
}
