.full-create-account .logo {
  margin-right: 30px;
  width: 1281px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 40px;
  letter-spacing: -0.4px;
  line-height: 1.5;
  color: #000000;
}
.full-create-account .vector {
  width: 30px;
  height: 20px;
}
.full-create-account .material-symbolsmenu {
  margin: 20px 0;
  display: flex;
  width: 30px;
  height: 20px;
  box-sizing: border-box;
}
.full-create-account .container-3 {
  background: #D9D9D9;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 42px 19px 57px;
  width: 1440px;
  box-sizing: border-box;
}
.full-create-account .ellipse-25 {
  border-radius: 58.5px;
  background: #D9D9D9;
  width: 117px;
  height: 117px;
}
.full-create-account .save {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.2px;
  line-height: 1.5;
  color: #000000;
}
.full-create-account .frame-427318932 {
  border-radius: 50px;
  border: 1px solid #000000;
  background: #D9D9D9;
  display: flex;
  padding: 9px 0.6px 9px 0;
  width: 126px;
  box-sizing: border-box;
}
.full-create-account .apply {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.2px;
  line-height: 1.5;
  color: #000000;
}
.full-create-account .frame-427318928 {
  border-radius: 50px;
  border: 1px solid #000000;
  background: #9E9E9E;
  display: flex;
  padding: 9px 0.1px 9px 0;
  width: 133px;
  box-sizing: border-box;
}
.full-create-account .container-7 {
  margin: 34px 0 33px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 334px;
  height: fit-content;
  box-sizing: border-box;
}
.full-create-account .container-1 {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1240px;
  box-sizing: border-box;
}
.full-create-account .barista {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 32px;
  letter-spacing: -0.4px;
  line-height: 1.5;
  color: #000000;
}
.full-create-account .compass-coffee {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.3px;
  line-height: 1.5;
  color: #000000;
}
.full-create-account .hr {
  margin-right: 31.2px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.3px;
  line-height: 1.5;
  color: #000000;
}
.full-create-account .on-site {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.2px;
  line-height: 1.5;
  color: #000000;
}
.full-create-account .frame-427318929 {
  border-radius: 10px;
  border: 1px solid #000000;
  background: #D9D9D9;
  margin: 2px 13px 3px 0;
  display: flex;
  padding: 4px 14.8px 4px 14px;
  box-sizing: border-box;
}
.full-create-account .full-time {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.2px;
  line-height: 1.5;
  color: #000000;
}
.full-create-account .frame-427318930 {
  border-radius: 10px;
  border: 1px solid #000000;
  background: #D9D9D9;
  margin: 2px 13px 3px 0;
  display: flex;
  padding: 4px 14.5px 4px 14px;
  box-sizing: border-box;
}
.full-create-account .entry-level {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.2px;
  line-height: 1.5;
  color: #000000;
}
.full-create-account .frame-427318931 {
  border-radius: 10px;
  border: 1px solid #000000;
  background: #D9D9D9;
  margin: 2px 0 3px 0;
  display: flex;
  padding: 4px 14.5px 4px 14px;
  box-sizing: border-box;
}
.full-create-account .container-5 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.full-create-account .container-4 {
  border-bottom: 1px solid #9E9E9E;
  position: relative;
  margin-bottom: 62px;
  display: flex;
  flex-direction: column;
  padding: 71px 96px 74px 104px;
  width: fit-content;
  box-sizing: border-box;
}
.full-create-account .as-acompass-barista-you-will-create-awelcoming-atmosphere-and-provide-legendary-customer-service-seek-opportunities-to-engage-and-connect-with-customers-craft-drinks-that-uphold-the-quality-standards-our-customers-expect-from-us-taste-coffee-every-day-to-expand-your-palette-and-coffee-knowledge-support-your-fellow-team-members-in-upholding-our-mission-follow-cleaning-standards-to-ensure-our-cafes-are-fresh-clean-and-safe-continue-to-learn-and-growtraining-is-continuous-in-every-role-youll-make-agreat-barista-if-you-are-acoffee-lover-that-includes-drinking-it-making-it-and-talking-about-it-able-to-learn-quickly-and-are-excited-to-learn-more-about-coffee-able-to-understand-and-carry-out-oral-and-written-instructions-and-request-clarification-when-needed-able-to-demonstrate-strong-interpersonal-skills-able-to-work-as-part-of-ateam-able-to-build-relationships-and-converse-with-all-types-of-customers-energized-by-afast-paced-environment-aproblem-solver-someone-that-looks-for-ways-to-help-your-team-and-customers-receptive-to-feedback-excited-to-continue-your-coffee-journey-at-compassthe-opportunities-ahead-are-endless-summary-of-experience-no-previous-experience-required-basic-qualifications-maintain-regular-and-consistent-attendance-and-punctuality-with-or-without-reasonable-accommodation-available-to-work-flexible-hours-that-may-include-early-mornings-evenings-weekends-nights-andor-holidays-uphold-cafe-operational-standards-engage-with-and-understand-our-customers-including-discovering-and-responding-to-customer-needs-through-clear-and-pleasant-communication-prepare-food-and-drinks-to-standard-or-customized-customer-requests-available-to-perform-many-different-tasks-within-the-cafe-during-each-shift-the-pay-range-for-this-role-is-1719-usd-per-hour-pi-237304385 {
  margin: 0 101px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.3px;
  line-height: 1.5;
  color: #000000;
}
.full-create-account .container {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.full-create-account .progress-bar-here {
  margin: 6px 15px 12px 0;
  display: inline-block;
  width: 471.7px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.2px;
  line-height: 1.5;
  color: #000000;
}
.full-create-account .x {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 32px;
  letter-spacing: -0.4px;
  line-height: 1.5;
  color: #000000;
}
.full-create-account .container-2 {
  margin-bottom: 11px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  width: 508px;
  box-sizing: border-box;
}
.full-create-account .create-an-account-step-1 {
  margin-bottom: 53px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 32px;
  letter-spacing: -0.4px;
  line-height: 1.5;
  color: #000000;
}
.full-create-account .email-1 {
  margin: 0 567.9px 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.3px;
  line-height: 1.5;
  color: #000000;
}
.full-create-account .email {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.3px;
  line-height: 1.5;
  color: #9E9E9E;
}
.full-create-account .frame-427318924 {
  border: 1px solid #000000;
  margin: 0 0 25px 20px;
  padding: 9px 39px;
  width: fit-content;
  box-sizing: border-box;
}
.full-create-account .password-2 {
  margin: 0 518.2px 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.3px;
  line-height: 1.5;
  color: #000000;
}
.full-create-account .password-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.3px;
  line-height: 1.5;
  color: #9E9E9E;
}
.full-create-account .frame-427318933 {
  border: 1px solid #000000;
  margin: 0 0 25px 20px;
  padding: 9px 39px;
  width: fit-content;
  box-sizing: border-box;
}
.full-create-account .confirm-password {
  margin: 0 424.2px 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.3px;
  line-height: 1.5;
  color: #000000;
}
.full-create-account .password {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.3px;
  line-height: 1.5;
  color: #9E9E9E;
}
.full-create-account .frame-427318935 {
  border: 1px solid #000000;
  margin: 0 0 75px 20px;
  padding: 9px 39px;
  width: fit-content;
  box-sizing: border-box;
}
.full-create-account .create-account {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.2px;
  line-height: 1.5;
  color: #000000;
}
.full-create-account .frame-427318934 {
  border-radius: 50px;
  border: 1px solid #000000;
  background: #9E9E9E;
  margin: 0 0 40px 20px;
  display: flex;
  padding: 9px 0;
  width: 223px;
  box-sizing: border-box;
}
.full-create-account .already-have-an-account-click-to-login {
  margin-right: 0.9px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.2px;
  line-height: 1.5;
  color: #000000;
}
.already-have-an-account-click-to-login-sub5 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.2px;
  line-height: 1.333;
}
.already-have-an-account-click-to-login {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  text-decoration-line: underline;
  letter-spacing: -0.2px;
  line-height: 1.333;
}
.full-create-account .container-6 {
  border: 1px solid #000000;
  background: #D9D9D9;
  position: absolute;
  left: 50%;
  bottom: 61px;
  translate: -50% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px 44.3px 0 44.3px;
  width: 941px;
  height: 840px;
  box-sizing: border-box;
}
.full-create-account .step-2-is-all-other-profile-informationresume-name-pronouns-about-experience-skills-contact-location-about-languages {
  position: absolute;
  top: 302px;
  right: 82.1px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.2px;
  line-height: 1.5;
  color: #000000;
}
.full-create-account {
  background: #FFFFFF;
  display: flex;
  width: 1440px;
  box-sizing: border-box;
}
