.group-10 .ellipse-20 {
  border-radius: 89px;
  margin: 0 0 14px 1.3px;
  width: 178px;
  height: 178px;
}
.group-10 .vector-229 {
  margin: 0 0 14px 1.3px;
  width: 326px;
  height: 167px;
}
.group-10 .part-time-pal {
  overflow-wrap: break-word;
  font-family: 'Saira';
  font-weight: 400;
  font-size: 400px;
  line-height: 1.367;
  color: #000000;
}
.group-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 2466.7px;
  box-sizing: border-box;
}
