.home-diff-version-11 .rectangle-17 {
  border: 2px solid #000000;
  margin-bottom: 50px;
  width: 1752px;
  height: 117px;
}
.home-diff-version-11 .line-12 {
  background: #000000;
  margin-bottom: 9px;
  width: 38px;
  height: 2px;
}
.home-diff-version-11 .line-10 {
  background: #000000;
  margin-bottom: 9px;
  width: 38px;
  height: 2px;
}
.home-diff-version-11 .line-11 {
  background: #000000;
  width: 38px;
  height: 2px;
}
.home-diff-version-11 .container-15 {
  margin: 18px 0 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 38px;
  height: fit-content;
  box-sizing: border-box;
}
.home-diff-version-11 .rectangle-10 {
  border-radius: 28.5px;
  border: 2px solid #000000;
  margin-right: 46px;
  width: 189px;
  height: 57px;
}
.home-diff-version-11 .what-part-time-job-are-you-seeking {
  margin-right: 19.5px;
  width: 601.4px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}
.home-diff-version-11 .container-32 {
  margin: 4px 0 8px 0;
  width: 26px;
  height: 27px;
}
.home-diff-version-11 .container-5 {
  border-radius: 28.5px;
  border: 2px solid #000000;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 9px 22px 9px 25.1px;
  width: 694px;
  box-sizing: border-box;
}
.home-diff-version-11 .container-2 {
  display: flex;
  flex-direction: row;
  width: 929px;
  box-sizing: border-box;
}
.home-diff-version-11 .hi {
  margin-right: 9.5px;
  width: 131.2px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.home-diff-version-11 .line-14 {
  background: #000000;
  transform: rotate(45deg);
  margin: 0 0px 0px 0;
  width: 10px;
  height: 1px;
}
.home-diff-version-11 .line-15 {
  background: #000000;
  transform: rotate(-45deg);
  margin-top: 0px;
  width: 10px;
  height: 1px;
}
.home-diff-version-11 .container-8 {
  margin: 5px 0 13px 0;
  display: flex;
  flex-direction: row;
  width: 20px;
  height: fit-content;
  box-sizing: border-box;
}
.home-diff-version-11 .container-31 {
  border-radius: 28.5px;
  border: 2px solid #000000;
  position: relative;
  margin: 9px 0 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 12px 7px 16.3px;
  width: 189px;
  height: fit-content;
  box-sizing: border-box;
}
.home-diff-version-11 .container-3 {
  margin: 0 80px 55px 31px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1617px;
  box-sizing: border-box;
}
.home-diff-version-11 .jobs {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}
.home-diff-version-11 .container-18 {
  border-radius: 28.5px;
  border: 2px solid #000000;
  position: relative;
  display: flex;
  padding: 7px 0 11px 1px;
  width: 189px;
  box-sizing: border-box;
}
.home-diff-version-11 .area {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}
.home-diff-version-11 .container-20 {
  border-radius: 28.5px;
  border: 2px solid #000000;
  position: relative;
  display: flex;
  padding: 7px 0 11px 1px;
  width: 189px;
  box-sizing: border-box;
}
.home-diff-version-11 .map {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}
.home-diff-version-11 .container-26 {
  border-radius: 28.5px;
  border: 2px solid #000000;
  position: relative;
  display: flex;
  padding: 7px 0 11px 1px;
  width: 189px;
  box-sizing: border-box;
}
.home-diff-version-11 .container-4 {
  display: flex;
  flex-direction: row;
  column-gap: 31px;
  width: 629px;
  box-sizing: border-box;
}
.home-diff-version-11 .resume {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}
.home-diff-version-11 .container-19 {
  border-radius: 28.5px;
  border: 2px solid #000000;
  position: relative;
  display: flex;
  padding: 7px 0 11px 1px;
  width: 189px;
  box-sizing: border-box;
}
.home-diff-version-11 .container-28 {
  margin: 0 80px 32px 164px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1484px;
  box-sizing: border-box;
}
.home-diff-version-11 .line-16 {
  background: #000000;
  margin-bottom: 21px;
  width: 1728px;
  height: 2px;
}
.home-diff-version-11 .filter {
  margin: 9px 9.5px 11px 0;
  display: inline-block;
  width: 128px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.home-diff-version-11 .ellipse-15 {
  margin: 2px 8px 0 0;
  width: 18px;
  height: 17px;
}
.home-diff-version-11 .recency {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.home-diff-version-11 .container-16 {
  border-radius: 28.5px;
  border: 2px solid #000000;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 8px 0 10px 9px;
  width: 126px;
  box-sizing: border-box;
}
.home-diff-version-11 .ellipse-17 {
  border-radius: 8.5px;
  margin: 2px 7.6px 0 0;
  width: 17px;
  height: 17px;
}
.home-diff-version-11 .urgent {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.home-diff-version-11 .container-11 {
  border-radius: 28.5px;
  border: 2px solid #000000;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 8px 0 10px 10px;
  width: 109px;
  box-sizing: border-box;
}
.home-diff-version-11 .ellipse-18 {
  margin: 2px 10.4px 0 0;
  width: 18px;
  height: 17px;
}
.home-diff-version-11 .short-term {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.home-diff-version-11 .container-14 {
  border-radius: 28.5px;
  border: 2px solid #000000;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 8px 0 10px 9px;
  width: 144px;
  box-sizing: border-box;
}
.home-diff-version-11 .container-1 {
  margin: 1px 0;
  display: flex;
  flex-direction: row;
  column-gap: 25px;
  box-sizing: border-box;
}
.home-diff-version-11 .ellipse-11 {
  border-radius: 8.5px;
  margin: 8px 37px 13px 0;
  width: 17px;
  height: 17px;
}
.home-diff-version-11 .ellipse-9 {
  border-radius: 9px;
  margin: 2px 7.2px 0 0;
  width: 18px;
  height: 18px;
}
.home-diff-version-11 .pay-rate {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.home-diff-version-11 .container-22 {
  margin: 1px 0 2px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.home-diff-version-11 .polygon-2 {
  border-radius: 2px;
  width: 23px;
  height: 23px;
}
.home-diff-version-11 .container {
  border-radius: 28.5px;
  border: 2px solid #000000;
  position: relative;
  margin: 1px 25px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7px 6px 7px 10px;
  width: 168px;
  height: fit-content;
  box-sizing: border-box;
}
.home-diff-version-11 .ellipse-16 {
  border-radius: 8.5px;
  margin: 2px 10.2px 0 0;
  width: 17px;
  height: 17px;
}
.home-diff-version-11 .education-level {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.home-diff-version-11 .container-7 {
  margin: 1px 0 3px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.home-diff-version-11 .polygon-4 {
  border-radius: 2px;
  width: 23px;
  height: 23px;
}
.home-diff-version-11 .container-23 {
  border-radius: 28.5px;
  border: 2px solid #000000;
  position: relative;
  margin-bottom: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7px 7px 7px 10px;
  width: 229px;
  height: fit-content;
  box-sizing: border-box;
}
.home-diff-version-11 .container-12 {
  margin-top: 1px;
  display: flex;
  flex-direction: row;
  width: 476px;
  height: fit-content;
  box-sizing: border-box;
}
.home-diff-version-11 .ellipse-12 {
  border-radius: 8.5px;
  margin: 8px 0 12px 0;
  width: 17px;
  height: 17px;
}
.home-diff-version-11 .ellipse-14 {
  border-radius: 9px;
  margin: 1px 5.4px 0 0;
  width: 18px;
  height: 18px;
}
.home-diff-version-11 .shifts {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.home-diff-version-11 .container-13 {
  margin: 1px 0 3px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.home-diff-version-11 .polygon-3 {
  border-radius: 2px;
  width: 24px;
  height: 23px;
}
.home-diff-version-11 .container-29 {
  border-radius: 28.5px;
  border: 2px solid #000000;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7px 6px 7px 9px;
  width: 168px;
  box-sizing: border-box;
}
.home-diff-version-11 .container-25 {
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 223px;
  height: fit-content;
  box-sizing: border-box;
}
.home-diff-version-11 .container-17 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1591.5px;
  height: fit-content;
  box-sizing: border-box;
}
.home-diff-version-11 .line-19 {
  transform: rotate(43.966deg);
  position: absolute;
  left: 741.4px;
  bottom: 11.2px;
  width: 5.6px;
  height: 5.4px;
}
.home-diff-version-11 .ellipse-10 {
  border-radius: 9px;
  margin: 2px 7.5px 0 0;
  width: 18px;
  height: 18px;
}
.home-diff-version-11 .location {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.home-diff-version-11 .container-33 {
  border-radius: 28.5px;
  border: 2px solid #000000;
  position: absolute;
  left: 591.5px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  padding: 8px 0 9px 9px;
  width: 168px;
  box-sizing: border-box;
}
.home-diff-version-11 .line-20 {
  transform: rotate(43.966deg);
  position: absolute;
  right: 205.1px;
  bottom: 12.3px;
  width: 5.6px;
  height: 5.4px;
}
.home-diff-version-11 .ellipse-13 {
  border-radius: 8.5px;
  margin: 2px 9.9px 0 0;
  width: 17px;
  height: 17px;
}
.home-diff-version-11 .industry {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.home-diff-version-11 .container-27 {
  border-radius: 28.5px;
  border: 2px solid #000000;
  position: absolute;
  right: 193px;
  bottom: 1px;
  display: flex;
  flex-direction: row;
  padding: 8px 0 10px 10px;
  width: 168px;
  box-sizing: border-box;
}
.home-diff-version-11 .container-24 {
  position: relative;
  margin: 0 105px 19px 31.5px;
  display: flex;
  width: 1591.5px;
  box-sizing: border-box;
}
.home-diff-version-11 .ellipse-19 {
  margin: 1px 7.2px 1px 0;
  width: 18px;
  height: 17px;
}
.home-diff-version-11 .skills-match {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.home-diff-version-11 .container-10 {
  border-radius: 28.5px;
  border: 2px solid #000000;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 9px 14.2px 9px 9px;
  box-sizing: border-box;
}
.home-diff-version-11 .ellipse-20 {
  margin: 1px 8px 1px 0;
  width: 18px;
  height: 17px;
}
.home-diff-version-11 .duration {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.home-diff-version-11 .container-6 {
  border-radius: 28.5px;
  border: 2px solid #000000;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 9px 13.7px 9px 9px;
  box-sizing: border-box;
}
.home-diff-version-11 .ellipse-21 {
  margin: 1px 8px 1px 0;
  width: 18px;
  height: 17px;
}
.home-diff-version-11 .hour {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.home-diff-version-11 .container-9 {
  border-radius: 28.5px;
  border: 2px solid #000000;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 9px 14.4px 9px 9px;
  box-sizing: border-box;
}
.home-diff-version-11 .container-30 {
  margin-right: 994px;
  display: flex;
  flex-direction: row;
  column-gap: 25px;
  width: fit-content;
  box-sizing: border-box;
}
.home-diff-version-11 .container-21 {
  border: 2px solid #000000;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px 13px 120px 11px;
  width: 1752px;
  box-sizing: border-box;
}
.home-diff-version-11 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 509px;
  width: 1728px;
  box-sizing: border-box;
}
