.input-field .label {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--gray-900, #111928);
}
.input-field .vector {
  width: 11.7px;
  height: 16.7px;
}
.input-field .user {
  margin: 3.7px 14.2px 3.7px 0;
  display: flex;
  width: 11.7px;
  height: 16.7px;
  box-sizing: border-box;
}
.input-field .input-text {
  overflow-wrap: break-word;
  font-family: var(--text-basefont-normal-font-family, 'Inter');
  font-weight: var(--text-basefont-normal-font-weight, 400);
  font-size: var(--text-basefont-normal-font-size, 16px);
  line-height: var(--text-basefont-normal-line-height, 1.5);
  color: var(--gray-500, #6B7280);
}
.input-field .container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.input-field .vector-1 {
  width: 7px;
  height: 7px;
}
.input-field .x {
  margin: 8.5px 0;
  display: flex;
  width: 7px;
  height: 7px;
  box-sizing: border-box;
}
.input-field .input {
  border-radius: 8px;
  border: 1px solid var(--gray-3001, #D1D5DB);
  background: var(--gray-501, #F9FAFB);
  margin-bottom: 7.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 13px 17.5px 13px 19.2px;
  width: 100%;
  box-sizing: border-box;
}
.input-field .caption {
  margin-right: 13.9px;
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-normal-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-normal-font-weight, 400);
  font-size: var(--leading-tighttext-smfont-normal-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-normal-line-height, 1.25);
  color: #6B7280;
}
.caption-sub7 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.333;
}
.caption {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.333;
  color: #111928;
}
.input-field {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
