.input-1 .container {
  width: 20px;
  height: 14px;
}
.input-1 .flags-us {
  border-radius: 2px;
  background: #FFFFFF;
  position: relative;
  margin: 3.5px 8px 3.5px 0;
  display: flex;
  width: 20px;
  height: 14px;
  box-sizing: border-box;
}
.input-1 .text {
  margin-right: 12.3px;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--gray-900, #111928);
}
.input-1 .vector {
  width: 9.3px;
  height: 5.3px;
}
.input-1 .chevron-down {
  margin: 7.8px 0;
  display: flex;
  width: 9.3px;
  height: 5.3px;
  box-sizing: border-box;
}
.input-1 .button {
  border-radius: 8px 0 0 8px;
  border: 1px solid var(--gray-3001, #D1D5DB);
  background: var(--gray-100, #F3F4F6);
  display: flex;
  flex-direction: row;
  padding: 15.5px 0 15.5px 20px;
  flex-grow: 1;
  flex-basis: 121px;
  box-sizing: border-box;
}
.input-1 .placeholder {
  margin-right: 12px;
  width: 170.3px;
  overflow-wrap: break-word;
  font-family: var(--text-basefont-normal-font-family, 'Inter');
  font-weight: var(--text-basefont-normal-font-weight, 400);
  font-size: var(--text-basefont-normal-font-size, 16px);
  line-height: var(--text-basefont-normal-line-height, 1.5);
  color: var(--gray-500, #6B7280);
}
.input-1 .vector-1 {
  width: 9.3px;
  height: 5.3px;
}
.input-1 .chevron-down-1 {
  margin: 9.3px 0;
  display: flex;
  width: 9.3px;
  height: 5.3px;
  box-sizing: border-box;
}
.input-1 .input-1 {
  border-radius: 0 8px 8px 0;
  border: 1px solid var(--gray-3001, #D1D5DB);
  background: var(--gray-501, #F9FAFB);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 19.3px 14px 16px;
  flex-grow: 1;
  flex-basis: 227px;
  box-sizing: border-box;
}
.input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}
