.job-ez-sign-up-2 .log-in-or-sign-up {
  margin: 0 340.2px 41px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.job-ez-sign-up-2 .line-11 {
  background: #D1D5DB;
  margin-bottom: 132px;
  width: 644px;
  height: 1px;
}
.job-ez-sign-up-2 .verify-your-email-address {
  margin: 0 0.6px 43.2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  color: #000000;
}
.job-ez-sign-up-2 .line-8 {
  background: #555555;
  margin-bottom: 21.8px;
  width: 418px;
  height: 1px;
}
.job-ez-sign-up-2 .continue {
  margin: 0 0.1px 13.2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.job-ez-sign-up-2 .please-check-your-inbox-for-verification-code {
  margin: 0 0 27px 11px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.job-ez-sign-up-2 .input {
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  background: #F9FAFB;
  width: 56px;
  height: 56px;
}
.job-ez-sign-up-2 .input-1 {
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  background: #F9FAFB;
  width: 56px;
  height: 56px;
}
.job-ez-sign-up-2 .input-2 {
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  background: #F9FAFB;
  width: 56px;
  height: 56px;
}
.job-ez-sign-up-2 .input-3 {
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  background: #F9FAFB;
  width: 56px;
  height: 56px;
}
.job-ez-sign-up-2 .container {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  width: 254px;
  height: fit-content;
  box-sizing: border-box;
}
.job-ez-sign-up-2 .input-4 {
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  background: #F9FAFB;
  position: absolute;
  right: 66px;
  bottom: 0px;
  width: 56px;
  height: 56px;
}
.job-ez-sign-up-2 .input-5 {
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  background: #F9FAFB;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 56px;
  height: 56px;
}
.job-ez-sign-up-2 .input-number {
  position: relative;
  margin: 0 10px 37.7px 0;
  width: 386px;
  box-sizing: border-box;
}
.job-ez-sign-up-2 .text {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-4, #FFFFFF);
}
.job-ez-sign-up-2 .button {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  margin: 0 0 54.1px 0.9px;
  display: flex;
  padding: 8.6px 0.7px 8.6px 0;
  width: 438.9px;
  box-sizing: border-box;
}
.job-ez-sign-up-2 .resend-code {
  margin-right: 12px;
  width: 197px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.job-ez-sign-up-2 .change-email {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.job-ez-sign-up-2 .container-1 {
  margin-right: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 316px;
  box-sizing: border-box;
}
.job-ez-sign-up {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 62px 70px 187.8px 70px;
  width: 784px;
  box-sizing: border-box;
}
