.job-ez-sign-up .log-in-or-sign-up {
  margin: 0 340.2px 41px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.job-ez-sign-up .line-11 {
  background: #D1D5DB;
  margin-bottom: 198px;
  width: 644px;
  height: 1px;
}
.job-ez-sign-up .continue {
  margin: 0 0.1px 27.3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.job-ez-sign-up .create-apassword {
  margin-right: 218.5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: #000000;
}
.job-ez-sign-up .input {
  border-radius: 8px;
  border: 1px solid var(--gray-3001, #D1D5DB);
  background: var(--gray-501, #F9FAFB);
  margin: 0 0 27.8px 1px;
  width: 438.9px;
  height: 41.2px;
}
.job-ez-sign-up .text {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-4, #FFFFFF);
}
.job-ez-sign-up .button {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  margin-right: 1.1px;
  display: flex;
  padding: 8.6px 0.4px 8.6px 0;
  width: 438.9px;
  box-sizing: border-box;
}
.job-ez-sign-up {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 62px 70px 328.2px 70px;
  width: 784px;
  box-sizing: border-box;
}
