.job-ez-sign-up-1 .log-in-or-sign-up {
  margin: 0 15px 41px 15px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.job-ez-sign-up-1 .line-11 {
  background: #D1D5DB;
  margin-bottom: 159.3px;
  width: 644px;
  height: 1px;
}
.job-ez-sign-up-1 .create-apassword {
  margin-right: 220.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: #000000;
}
.job-ez-sign-up-1 .container {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: #000000;
}
.job-ez-sign-up-1 .input {
  border-radius: 8px;
  border: 1px solid var(--gray-3001, #D1D5DB);
  background: var(--gray-501, #F9FAFB);
  position: relative;
  padding: 1.6px 15px;
  box-sizing: border-box;
}
.job-ez-sign-up-1 .continue {
  position: absolute;
  left: 50%;
  top: 3.5px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.job-ez-sign-up-1 .container {
  position: relative;
  margin: 0 1.1px 34.8px 0;
  box-sizing: border-box;
}
.job-ez-sign-up-1 .container-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: #000000;
}
.job-ez-sign-up-1 .input-1 {
  border-radius: 8px;
  border: 1px solid var(--gray-3001, #D1D5DB);
  background: var(--gray-501, #F9FAFB);
  margin: 0 1.1px 17.8px 0;
  padding: 1.6px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.job-ez-sign-up-1 .text {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-4, #FFFFFF);
}
.job-ez-sign-up-1 .button {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  margin-right: 1.1px;
  display: flex;
  padding: 8.6px 0.4px 8.6px 0;
  width: 438.9px;
  box-sizing: border-box;
}
.job-ez-sign-up-1 .container-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.job-ez-sign-up-1 .confirm-password {
  position: absolute;
  left: 172px;
  top: 339.3px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: #000000;
}
.job-ez-sign-up {
  background: #FFFFFF;
  padding: 62px 70px 0 70px;
  width: 784px;
  box-sizing: border-box;
}
