.job-ez-sign-up-4 .log-in-or-sign-up {
  margin: 0 340.2px 41px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.job-ez-sign-up-4 .line-11 {
  background: #D1D5DB;
  margin-bottom: 196px;
  width: 644px;
  height: 1px;
}
.job-ez-sign-up-4 .continue {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.job-ez-sign-up-4 .vector {
  width: 33.6px;
  height: 24px;
}
.job-ez-sign-up-4 .icon-shapes-1 {
  border-radius: 8px;
  background: var(--primary-100, #E1EFFE);
  position: absolute;
  right: 13.9px;
  bottom: 0px;
  display: flex;
  padding: 20px 15.2px 0 15.2px;
  width: 64px;
  height: 64px;
  box-sizing: border-box;
}
.job-ez-sign-up-4 .container {
  position: relative;
  margin: 0 0.1px 9px 0;
  display: flex;
  padding-top: 2px;
  height: 64px;
  box-sizing: border-box;
}
.job-ez-sign-up-4 .thank-you {
  margin: 0 0 3px 0.7px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: #000000;
}
.job-ez-sign-up-4 .you-have-verified-your-email {
  margin: 0 0 4.5px 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.job-ez-sign-up-4 .text {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-4, #FFFFFF);
}
.job-ez-sign-up-4 .button {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  margin-bottom: 17.2px;
  display: flex;
  padding: 8.6px 0.3px 8.6px 0;
  width: 418px;
  box-sizing: border-box;
}
.job-ez-sign-up-4 .icon-shapes {
  border-radius: 8px;
  background: var(--primary-100, #E1EFFE);
  margin-right: 359px;
  width: 4px;
  height: 4px;
}
.job-ez-sign-up {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 62px 70px 300px 70px;
  width: 784px;
  box-sizing: border-box;
}
