.job-listing-26 .logo {
  margin-right: 30px;
  width: 1281px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 40px;
  letter-spacing: -0.4px;
  line-height: 1.5;
  color: #000000;
}
.job-listing-26 .vector {
  width: 30px;
  height: 20px;
}
.job-listing-26 .material-symbolsmenu {
  margin: 20px 0;
  display: flex;
  width: 30px;
  height: 20px;
  box-sizing: border-box;
}
.job-listing-26 .container-2 {
  background: #D9D9D9;
  position: relative;
  margin-bottom: 67px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 42px 19px 57px;
  width: 1440px;
  box-sizing: border-box;
}
.job-listing-26 .ellipse-25 {
  border-radius: 103px;
  background: #D9D9D9;
  margin-right: 163px;
  width: 206px;
  height: 206px;
}
.job-listing-26 .title {
  margin-bottom: 24px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 40px;
  letter-spacing: -0.4px;
  line-height: 1.5;
  color: #000000;
}
.job-listing-26 .company {
  margin-bottom: 24px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.3px;
  line-height: 1.5;
  color: #000000;
}
.job-listing-26 .pay {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.3px;
  line-height: 1.5;
  color: #000000;
}
.job-listing-26 .container-1 {
  margin-bottom: 26px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.job-listing-26 .container {
  margin-bottom: 126px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.job-listing-26 .description-all-other-information {
  margin-bottom: 304px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.3px;
  line-height: 1.5;
  color: #000000;
}
.job-listing-26 .apply {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.3px;
  line-height: 1.5;
  color: #000000;
}
.job-listing-26 .frame-427318928 {
  border-radius: 50px;
  border: 1px solid #000000;
  background: #9E9E9E;
  margin-left: 487px;
  display: flex;
  align-self: center;
  padding: 9px 0.5px 9px 0;
  width: 144px;
  box-sizing: border-box;
}
.job-listing-26 .frame-427318927 {
  border-radius: 50px;
  border: 1px solid #000000;
  margin: 0 77px 0 57px;
  display: flex;
  flex-direction: column;
  padding: 32px 0 40px 93px;
  width: fit-content;
  box-sizing: border-box;
}
.job-listing {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding-bottom: 56px;
  width: 1440px;
  box-sizing: border-box;
}
