.job-listing-5 .logo-1 {
  margin: 2px 12px 2px 0;
  width: 32px;
  height: 32px;
}
.job-listing-5 .flowbite {
  overflow-wrap: break-word;
  font-family: var(--text-2-xlfont-semibold-font-family, 'Inter');
  font-weight: var(--text-2-xlfont-semibold-font-weight, 600);
  font-size: var(--text-2-xlfont-semibold-font-size, 24px);
  line-height: var(--text-2-xlfont-semibold-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.job-listing-5 .logo {
  margin: 2.5px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.job-listing-5 .text-9 {
  overflow-wrap: break-word;
  font-family: var(--text-basefont-medium-font-family, 'Inter');
  font-weight: var(--text-basefont-medium-font-weight, 500);
  font-size: var(--text-basefont-medium-font-size, 16px);
  line-height: var(--text-basefont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.job-listing-5 .link {
  display: flex;
  box-sizing: border-box;
}
.job-listing-5 .text-10 {
  overflow-wrap: break-word;
  font-family: var(--text-basefont-medium-font-family, 'Inter');
  font-weight: var(--text-basefont-medium-font-weight, 500);
  font-size: var(--text-basefont-medium-font-size, 16px);
  line-height: var(--text-basefont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.job-listing-5 .link-1 {
  display: flex;
  box-sizing: border-box;
}
.job-listing-5 .text-11 {
  overflow-wrap: break-word;
  font-family: var(--text-basefont-medium-font-family, 'Inter');
  font-weight: var(--text-basefont-medium-font-weight, 500);
  font-size: var(--text-basefont-medium-font-size, 16px);
  line-height: var(--text-basefont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.job-listing-5 .link-2 {
  display: flex;
  box-sizing: border-box;
}
.job-listing-5 .nav-links {
  margin: 8.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 324.6px;
  height: fit-content;
  box-sizing: border-box;
}
.job-listing-5 .text-12 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.job-listing-5 .button-3 {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  padding: 10px 20px;
  box-sizing: border-box;
}
.job-listing-5 .cta {
  width: 81px;
  box-sizing: border-box;
}
.job-listing-5 .navbar {
  background: var(--gray-800, #1F2A37);
  margin-bottom: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 0;
  width: 1728px;
  box-sizing: border-box;
}
.job-listing-5 .ph {
  overflow-wrap: break-word;
  font-family: var(--leading-nonetext-5-xlfont-medium-font-family, 'Inter');
  font-weight: var(--leading-nonetext-5-xlfont-medium-font-weight, 500);
  font-size: var(--leading-nonetext-5-xlfont-medium-font-size, 48px);
  line-height: var(--leading-nonetext-5-xlfont-medium-line-height, 1);
  color: var(--gray-900, #111928);
}
.job-listing-5 .avatar-1 {
  border-radius: 999px;
  background: var(--gray-100, #F3F4F6);
  display: flex;
  padding: 48px 0;
  width: 144px;
  box-sizing: border-box;
}
.job-listing-5 .text-13 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--primary-700, #1A56DB);
}
.job-listing-5 .button-1 {
  border-radius: 8px;
  border: 1px solid var(--primary-700, #1A56DB);
  margin-right: 20px;
  display: flex;
  padding: 9px 19.4px 9px 19px;
  box-sizing: border-box;
}
.job-listing-5 .text-14 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.job-listing-5 .button-2 {
  border-radius: 8px;
  background: var(--primary-800, #1E429F);
  padding: 10px 20px;
  width: 113px;
  box-sizing: border-box;
}
.job-listing-5 .frame-427318936 {
  position: relative;
  margin: 48px 0 55px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.job-listing-5 .container-1 {
  margin: 0 59px 29px 158px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1511px;
  box-sizing: border-box;
}
.job-listing-5 .compass-coffee-655-new-york-ave-nw {
  margin-bottom: 8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--text-basefont-semibold-font-family, 'Inter');
  font-weight: var(--text-basefont-semibold-font-weight, 600);
  font-size: var(--text-basefont-semibold-font-size, 16px);
  line-height: var(--text-basefont-semibold-line-height, 1.5);
  color: var(--gray-500, #6B7280);
}
.job-listing-5 .barista {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-3-xlfont-extrabold-font-family, 'Inter');
  font-weight: var(--text-3-xlfont-extrabold-font-weight, 800);
  font-size: var(--text-3-xlfont-extrabold-font-size, 30px);
  line-height: var(--text-3-xlfont-extrabold-line-height, 1.5);
  color: var(--gray-900, #111928);
}
.job-listing-5 .title {
  margin: 0 158px 29px 158px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.job-listing-5 .vector-14 {
  width: 6.7px;
  height: 13.3px;
}
.job-listing-5 .dollar {
  margin: 3.8px 8.9px 3.8px 0;
  display: flex;
  width: 6.7px;
  height: 13.3px;
  box-sizing: border-box;
}
.job-listing-5 .text-7 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--gray-900, #111928);
}
.job-listing-5 .badge {
  border-radius: 6px;
  background: var(--gray-100, #F3F4F6);
  display: flex;
  flex-direction: row;
  padding: 2px 12.3px 2px 16.7px;
  box-sizing: border-box;
}
.job-listing-5 .text-15 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--primary-800, #1E429F);
}
.job-listing-5 .badge-1 {
  border-radius: 6px;
  background: var(--primary-100, #E1EFFE);
  display: flex;
  padding: 2px 12px;
  box-sizing: border-box;
}
.job-listing-5 .text-16 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--primary-800, #1E429F);
}
.job-listing-5 .badge-2 {
  border-radius: 6px;
  background: var(--primary-100, #E1EFFE);
  display: flex;
  padding: 2px 12.1px;
  box-sizing: border-box;
}
.job-listing-5 .text-17 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--primary-800, #1E429F);
}
.job-listing-5 .badge-3 {
  border-radius: 6px;
  background: var(--primary-100, #E1EFFE);
  display: flex;
  padding: 2px 12.4px;
  box-sizing: border-box;
}
.job-listing-5 .container {
  margin: 0 158px 52px 158px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  column-gap: 20px;
  width: fit-content;
  box-sizing: border-box;
}
.job-listing-5 .rectangle-3358 {
  border-bottom: 1px solid #9E9E9E;
  margin-bottom: 59px;
  width: 1728px;
  height: 5px;
}
.job-listing-5 .as-acompass-barista-you-will-create-awelcoming-atmosphere-and-provide-legendary-customer-service-seek-opportunities-to-engage-and-connect-with-customers-craft-drinks-that-uphold-the-quality-standards-our-customers-expect-from-us-taste-coffee-every-day-to-expand-your-palette-and-coffee-knowledge-support-your-fellow-team-members-in-upholding-our-mission-follow-cleaning-standards-to-ensure-our-cafes-are-fresh-clean-and-safe-continue-to-learn-and-growtraining-is-continuous-in-every-role-youll-make-agreat-barista-if-you-are-acoffee-lover-that-includes-drinking-it-making-it-and-talking-about-it-able-to-learn-quickly-and-are-excited-to-learn-more-about-coffee-able-to-understand-and-carry-out-oral-and-written-instructions-and-request-clarification-when-needed-able-to-demonstrate-strong-interpersonal-skills-able-to-work-as-part-of-ateam-able-to-build-relationships-and-converse-with-all-types-of-customers-energized-by-afast-paced-environment-aproblem-solver-someone-that-looks-for-ways-to-help-your-team-and-customers-receptive-to-feedback-excited-to-continue-your-coffee-journey-at-compassthe-opportunities-ahead-are-endless-summary-of-experience-no-previous-experience-required-basic-qualifications-maintain-regular-and-consistent-attendance-and-punctuality-with-or-without-reasonable-accommodation-available-to-work-flexible-hours-that-may-include-early-mornings-evenings-weekends-nights-andor-holidays-uphold-cafe-operational-standards-engage-with-and-understand-our-customers-including-discovering-and-responding-to-customer-needs-through-clear-and-pleasant-communication-prepare-food-and-drinks-to-standard-or-customized-customer-requests-available-to-perform-many-different-tasks-within-the-cafe-during-each-shift-the-pay-range-for-this-role-is-1719-usd-per-hour-pi-237304385 {
  margin: 0 158px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-lgfont-normal-font-family, 'Inter');
  font-weight: var(--text-lgfont-normal-font-weight, 400);
  font-size: var(--text-lgfont-normal-font-size, 18px);
  line-height: var(--text-lgfont-normal-line-height, 1.5);
  color: var(--gray-500, #6B7280);
}
.job-listing-5 .container-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.job-listing-5 .application-to-compass-coffee-barista {
  margin-right: 15px;
  width: 558px;
  overflow-wrap: break-word;
  font-family: var(--text-xlfont-semibold-font-family, 'Inter');
  font-weight: var(--text-xlfont-semibold-font-weight, 600);
  font-size: var(--text-xlfont-semibold-font-size, 20px);
  line-height: var(--text-xlfont-semibold-line-height, 1.5);
  color: var(--gray-900, #111928);
}
.job-listing-5 .vector {
  width: 14px;
  height: 14px;
}
.job-listing-5 .x {
  margin: 8px 0;
  display: flex;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
}
.job-listing-5 .frame-1000004373 {
  border-bottom: 1px solid #E5E7EB;
  margin-bottom: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 29px 13px 24px;
  width: 640px;
  box-sizing: border-box;
}
.job-listing-5 .vector-1 {
  width: 15.1px;
  height: 15.1px;
}
.job-listing-5 .badge-check {
  margin: 1.4px 7.4px 1.4px 0;
  display: flex;
  width: 15.1px;
  height: 15.1px;
  box-sizing: border-box;
}
.job-listing-5 .text {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-medium-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-medium-font-weight, 500);
  font-size: var(--leading-tighttext-smfont-medium-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-medium-line-height, 1.25);
  color: #1A56DB;
}
.job-listing-5 .nav-item {
  border-radius: 6px;
  margin-right: 16.6px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.job-listing-5 .line {
  background: #1A56DB;
  margin: 9px 17.4px 8px 0;
  width: 111px;
  height: 1px;
}
.job-listing-5 .vector-2 {
  width: 15.1px;
  height: 15.1px;
}
.job-listing-5 .badge-check-1 {
  margin: 1.4px 7.4px 1.4px 0;
  display: flex;
  width: 15.1px;
  height: 15.1px;
  box-sizing: border-box;
}
.job-listing-5 .text-1 {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-medium-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-medium-font-weight, 500);
  font-size: var(--leading-tighttext-smfont-medium-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-medium-line-height, 1.25);
  color: #1A56DB;
}
.job-listing-5 .nav-item-1 {
  border-radius: 6px;
  margin-right: 16.2px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.job-listing-5 .line-1 {
  background: #1A56DB;
  margin: 9px 17.4px 8px 0;
  width: 111px;
  height: 1px;
}
.job-listing-5 .vector-3 {
  width: 15.1px;
  height: 15.1px;
}
.job-listing-5 .badge-check-2 {
  margin: 1.4px 7.4px 1.4px 0;
  display: flex;
  width: 15.1px;
  height: 15.1px;
  box-sizing: border-box;
}
.job-listing-5 .text-2 {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-medium-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-medium-font-weight, 500);
  font-size: var(--leading-tighttext-smfont-medium-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-medium-line-height, 1.25);
  color: #1A56DB;
}
.job-listing-5 .nav-item-2 {
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.job-listing-5 .frame-1000004377 {
  margin: 0 24.9px 0 25.4px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.job-listing-5 .frame-1000004374 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.job-listing-5 .review-your-application {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-basefont-medium-font-family, 'Inter');
  font-weight: var(--text-basefont-medium-font-weight, 500);
  font-size: var(--text-basefont-medium-font-size, 16px);
  line-height: var(--text-basefont-medium-line-height, 1.5);
  color: #000000;
}
.job-listing-5 .personal-info {
  margin-right: 10.5px;
  width: 555.5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
}
.job-listing-5 .text-4 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: #1C64F2;
}
.job-listing-5 .frame-1000004394 {
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 591.9px;
  box-sizing: border-box;
}
.job-listing-5 .avatar {
  border-radius: 52.5px;
  background: var(--avatar-jese-leos, url('assets/images/Avatar5.jpeg') 50% / cover no-repeat);
  margin-right: 12px;
  width: 42px;
  height: 42px;
}
.job-listing-5 .john-doe {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
}
.job-listing-5 .queen-new-york {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #9CA3AF;
}
.job-listing-5 .frame-1000004391 {
  margin: 1.5px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.job-listing-5 .frame-1000004392 {
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.job-listing-5 .email {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: #000000;
}
.job-listing-5 .johndoeemail-com {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-normal-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-normal-font-weight, 400);
  font-size: var(--leading-tighttext-smfont-normal-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-normal-line-height, 1.25);
  color: #111928;
}
.job-listing-5 .frame-1000004395 {
  margin: 0 1.5px 16px 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.job-listing-5 .phone-country-code {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: #000000;
}
.job-listing-5 .united-states-1 {
  margin-right: 15.1px;
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-normal-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-normal-font-weight, 400);
  font-size: var(--leading-tighttext-smfont-normal-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-normal-line-height, 1.25);
  color: #111928;
}
.job-listing-5 .frame-1000004396 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.job-listing-5 .phone-number {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: #000000;
}
.job-listing-5 .container {
  margin-right: 13.5px;
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-normal-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-normal-font-weight, 400);
  font-size: var(--leading-tighttext-smfont-normal-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-normal-line-height, 1.25);
  color: #111928;
}
.job-listing-5 .frame-1000004397 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.job-listing-5 .frame-1000004398 {
  margin-right: 18px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.job-listing-5 .frame-1000004399 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.job-listing-5 .frame-1000004400 {
  border-bottom: 1px solid #E5E7EB;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  padding: 20px 0.1px 19px 0;
  width: fit-content;
  box-sizing: border-box;
}
.job-listing-5 .resume {
  margin-right: 10.5px;
  width: 555.5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
}
.job-listing-5 .text-5 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: #1C64F2;
}
.job-listing-5 .frame-10000043941 {
  margin: 0 0.1px 12px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 591.9px;
  box-sizing: border-box;
}
.job-listing-5 .vector-4 {
  width: 16px;
  height: 20px;
}
.job-listing-5 .file-lines {
  margin: 6.5px 16px 6.5px 0;
  display: flex;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.job-listing-5 .john-resume-ny-pdf {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #000000;
}
.job-listing-5 .updated-on-4162024 {
  margin-right: 14.8px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
  color: #9E9E9E;
}
.job-listing-5 .frame-1000004364 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.job-listing-5 .frame-1000004371 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.job-listing-5 .preview {
  margin: 7.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #000000;
}
.job-listing-5 .frame-1000004368 {
  border-radius: 4px;
  border: 1px solid #E5E7EB;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 13.4px 11px 17px;
  width: 592px;
  box-sizing: border-box;
}
.job-listing-5 .frame-1000004401 {
  border-bottom: 1px solid #E5E7EB;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 19px;
  width: 592px;
  box-sizing: border-box;
}
.job-listing-5 .additional-info {
  margin-right: 10.5px;
  width: 555.5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
}
.job-listing-5 .text-6 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: #1C64F2;
}
.job-listing-5 .frame-10000043942 {
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 591.9px;
  box-sizing: border-box;
}
.job-listing-5 .do-you-have-work-authorization {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.job-listing-5 .yes {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-normal-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-normal-font-weight, 400);
  font-size: var(--leading-tighttext-smfont-normal-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-normal-line-height, 1.25);
  color: #111928;
}
.job-listing-5 .frame-10000043951 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.job-listing-5 .veteran-status {
  margin-right: 11.7px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.job-listing-5 .im-not-aveteran {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-normal-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-normal-font-weight, 400);
  font-size: var(--leading-tighttext-smfont-normal-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-normal-line-height, 1.25);
  color: #111928;
}
.job-listing-5 .frame-10000043961 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.job-listing-5 .disability-status {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.job-listing-5 .ido-not-have-disability {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-normal-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-normal-font-weight, 400);
  font-size: var(--leading-tighttext-smfont-normal-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-normal-line-height, 1.25);
  color: #111928;
}
.job-listing-5 .frame-10000043971 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.job-listing-5 .frame-10000043991 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.job-listing-5 .frame-1000004402 {
  margin-right: 0.1px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.job-listing-5 .frame-1000004386 {
  margin: 0 24px 20px 24px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.job-listing-5 .text-3 {
  margin: 10px 16.1px 10px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: #1C64F2;
}
.job-listing-5 .text-8 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.job-listing-5 .button {
  border-radius: 8px;
  background: var(--primary-600, #1C64F2);
  padding: 10px 20px;
  width: 88px;
  box-sizing: border-box;
}
.job-listing-5 .frame-1000004376 {
  border-top: 1px solid #E5E7EB;
  display: flex;
  flex-direction: row;
  padding: 13px 24px 14px 0;
  width: 640px;
  box-sizing: border-box;
}
.job-listing-5 .frame-1000004388 {
  border-radius: 8px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.job-listing-5 .container-2 {
  background: rgba(75, 85, 99, 0.5);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  padding-bottom: 95px;
  height: 1027px;
  box-sizing: border-box;
}
.job-listing {
  background: #FFFFFF;
  display: flex;
  width: 1728px;
  box-sizing: border-box;
}
