.job-listing-23 .logo-1 {
  margin: 2px 12px 2px 0;
  width: 32px;
  height: 32px;
}
.job-listing-23 .flowbite {
  overflow-wrap: break-word;
  font-family: var(--text-2-xlfont-semibold-font-family, 'Inter');
  font-weight: var(--text-2-xlfont-semibold-font-weight, 600);
  font-size: var(--text-2-xlfont-semibold-font-size, 24px);
  line-height: var(--text-2-xlfont-semibold-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.job-listing-23 .logo {
  margin: 2.5px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.job-listing-23 .text-1 {
  overflow-wrap: break-word;
  font-family: var(--text-basefont-medium-font-family, 'Inter');
  font-weight: var(--text-basefont-medium-font-weight, 500);
  font-size: var(--text-basefont-medium-font-size, 16px);
  line-height: var(--text-basefont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.job-listing-23 .link {
  display: flex;
  box-sizing: border-box;
}
.job-listing-23 .text-2 {
  overflow-wrap: break-word;
  font-family: var(--text-basefont-medium-font-family, 'Inter');
  font-weight: var(--text-basefont-medium-font-weight, 500);
  font-size: var(--text-basefont-medium-font-size, 16px);
  line-height: var(--text-basefont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.job-listing-23 .link-1 {
  display: flex;
  box-sizing: border-box;
}
.job-listing-23 .text-3 {
  overflow-wrap: break-word;
  font-family: var(--text-basefont-medium-font-family, 'Inter');
  font-weight: var(--text-basefont-medium-font-weight, 500);
  font-size: var(--text-basefont-medium-font-size, 16px);
  line-height: var(--text-basefont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.job-listing-23 .link-2 {
  display: flex;
  box-sizing: border-box;
}
.job-listing-23 .nav-links {
  margin: 8.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 324.6px;
  height: fit-content;
  box-sizing: border-box;
}
.job-listing-23 .text-4 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.job-listing-23 .button-2 {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  padding: 10px 20px;
  box-sizing: border-box;
}
.job-listing-23 .cta {
  width: 81px;
  box-sizing: border-box;
}
.job-listing-23 .navbar {
  background: var(--gray-800, #1F2A37);
  margin-bottom: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 80px;
  width: 1440px;
  box-sizing: border-box;
}
.job-listing-23 .ph {
  overflow-wrap: break-word;
  font-family: var(--leading-nonetext-5-xlfont-medium-font-family, 'Inter');
  font-weight: var(--leading-nonetext-5-xlfont-medium-font-weight, 500);
  font-size: var(--leading-nonetext-5-xlfont-medium-font-size, 48px);
  line-height: var(--leading-nonetext-5-xlfont-medium-line-height, 1);
  color: var(--gray-900, #111928);
}
.job-listing-23 .avatar {
  border-radius: 999px;
  background: var(--gray-100, #F3F4F6);
  display: flex;
  padding: 48px 0;
  width: 144px;
  box-sizing: border-box;
}
.job-listing-23 .text-5 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--primary-700, #1A56DB);
}
.job-listing-23 .button {
  border-radius: 8px;
  border: 1px solid var(--primary-700, #1A56DB);
  margin-right: 20px;
  display: flex;
  padding: 9px 19.4px 9px 19px;
  box-sizing: border-box;
}
.job-listing-23 .text-6 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.job-listing-23 .button-1 {
  border-radius: 8px;
  background: var(--primary-800, #1E429F);
  padding: 10px 20px;
  width: 148px;
  box-sizing: border-box;
}
.job-listing-23 .frame-427318936 {
  margin: 48px 0 55px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.job-listing-23 .container {
  margin: 0 0 29px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1125px;
  box-sizing: border-box;
}
.job-listing-23 .compass-coffee-655-new-york-ave-nw {
  margin-bottom: 8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--text-basefont-semibold-font-family, 'Inter');
  font-weight: var(--text-basefont-semibold-font-weight, 600);
  font-size: var(--text-basefont-semibold-font-size, 16px);
  line-height: var(--text-basefont-semibold-line-height, 1.5);
  color: var(--gray-500, #6B7280);
}
.job-listing-23 .barista {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-3-xlfont-extrabold-font-family, 'Inter');
  font-weight: var(--text-3-xlfont-extrabold-font-weight, 800);
  font-size: var(--text-3-xlfont-extrabold-font-size, 30px);
  line-height: var(--text-3-xlfont-extrabold-line-height, 1.5);
  color: var(--gray-900, #111928);
}
.job-listing-23 .title {
  margin: 0 806.7px 29px 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.job-listing-23 .vector-9 {
  width: 6.7px;
  height: 13.3px;
}
.job-listing-23 .dollar {
  margin: 3.8px 8.9px 3.8px 0;
  display: flex;
  width: 6.7px;
  height: 13.3px;
  box-sizing: border-box;
}
.job-listing-23 .text {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--gray-900, #111928);
}
.job-listing-23 .badge {
  border-radius: 6px;
  background: var(--gray-100, #F3F4F6);
  display: flex;
  flex-direction: row;
  padding: 2px 12.3px 2px 16.7px;
  box-sizing: border-box;
}
.job-listing-23 .text-7 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--primary-800, #1E429F);
}
.job-listing-23 .badge-1 {
  border-radius: 6px;
  background: var(--primary-100, #E1EFFE);
  display: flex;
  padding: 2px 12px;
  box-sizing: border-box;
}
.job-listing-23 .text-8 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--primary-800, #1E429F);
}
.job-listing-23 .badge-2 {
  border-radius: 6px;
  background: var(--primary-100, #E1EFFE);
  display: flex;
  padding: 2px 12.1px;
  box-sizing: border-box;
}
.job-listing-23 .text-9 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--primary-800, #1E429F);
}
.job-listing-23 .badge-3 {
  border-radius: 6px;
  background: var(--primary-100, #E1EFFE);
  display: flex;
  padding: 2px 12.4px;
  box-sizing: border-box;
}
.job-listing-23 .container-1 {
  margin: 0 733px 57px 0;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  width: fit-content;
  box-sizing: border-box;
}
.job-listing-23 .rectangle-3358 {
  border-bottom: 1px solid #9E9E9E;
  margin-bottom: 58px;
  width: 1440px;
  height: 1px;
}
.job-listing-23 .as-acompass-barista-you-will-create-awelcoming-atmosphere-and-provide-legendary-customer-service-seek-opportunities-to-engage-and-connect-with-customers-craft-drinks-that-uphold-the-quality-standards-our-customers-expect-from-us-taste-coffee-every-day-to-expand-your-palette-and-coffee-knowledge-support-your-fellow-team-members-in-upholding-our-mission-follow-cleaning-standards-to-ensure-our-cafes-are-fresh-clean-and-safe-continue-to-learn-and-growtraining-is-continuous-in-every-role-youll-make-agreat-barista-if-you-are-acoffee-lover-that-includes-drinking-it-making-it-and-talking-about-it-able-to-learn-quickly-and-are-excited-to-learn-more-about-coffee-able-to-understand-and-carry-out-oral-and-written-instructions-and-request-clarification-when-needed-able-to-demonstrate-strong-interpersonal-skills-able-to-work-as-part-of-ateam-able-to-build-relationships-and-converse-with-all-types-of-customers-energized-by-afast-paced-environment-aproblem-solver-someone-that-looks-for-ways-to-help-your-team-and-customers-receptive-to-feedback-excited-to-continue-your-coffee-journey-at-compassthe-opportunities-ahead-are-endless-summary-of-experience-no-previous-experience-required-basic-qualifications-maintain-regular-and-consistent-attendance-and-punctuality-with-or-without-reasonable-accommodation-available-to-work-flexible-hours-that-may-include-early-mornings-evenings-weekends-nights-andor-holidays-uphold-cafe-operational-standards-engage-with-and-understand-our-customers-including-discovering-and-responding-to-customer-needs-through-clear-and-pleasant-communication-prepare-food-and-drinks-to-standard-or-customized-customer-requests-available-to-perform-many-different-tasks-within-the-cafe-during-each-shift-the-pay-range-for-this-role-is-1719-usd-per-hour-pi-237304385 {
  margin-right: 28px;
  overflow-wrap: break-word;
  font-family: var(--text-lgfont-normal-font-family, 'Inter');
  font-weight: var(--text-lgfont-normal-font-weight, 400);
  font-size: var(--text-lgfont-normal-font-size, 18px);
  line-height: var(--text-lgfont-normal-line-height, 1.5);
  color: var(--gray-500, #6B7280);
}
.job-listing {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  box-sizing: border-box;
}
