.listing .vector-3 {
  position: absolute;
  top: 62px;
  right: 42px;
  width: 8px;
  height: 8px;
}
.listing .vector-6 {
  width: 20px;
  height: 19px;
}
.listing .start-outline {
  margin: 0.5px 0;
  display: flex;
  width: 20px;
  height: 19px;
  box-sizing: border-box;
}
.listing .listing-title {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.listing .container-3 {
  margin: 0 14px 4.5px 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 215.6px;
  box-sizing: border-box;
}
.listing .basilimage-outline {
  margin-right: 0.1px;
  width: 28.2px;
  height: 28.2px;
}
.listing .company {
  margin: 4px 0 4.2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #9E9E9E;
}
.listing .company-info {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.listing .vector-2 {
  width: 4.5px;
  height: 9.8px;
}
.listing .iconoirdollar {
  margin: 4.6px 4.4px 5.6px 0;
  display: flex;
  width: 4.5px;
  height: 9.8px;
  box-sizing: border-box;
}
.listing .pay-rate {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #9E9E9E;
}
.listing .pay-tag {
  position: relative;
  margin-bottom: 8.2px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.listing .container-1 {
  margin: 0 11.2px 3.8px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 21.2px);
  box-sizing: border-box;
}
.listing .listing-description {
  margin: 4px 10px 13.5px 0;
  display: inline-block;
  width: 232px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #000000;
}
.listing .ionlocation {
  width: 12px;
  height: 12px;
}
.listing .location-tag {
  margin: 0 6px 5px 0;
  display: flex;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.listing .s {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.listing .day {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 2.8px;
  box-sizing: border-box;
}
.listing .m {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.listing .day-1 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 2px;
  box-sizing: border-box;
}
.listing .ellipse-162 {
  border-radius: 5px;
  background: #9E9E9E;
  position: absolute;
  left: 50%;
  top: 5px;
  translate: -50% 0;
  width: 10px;
  height: 10px;
}
.listing .t {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #FFFCFC;
}
.listing .day-2 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 2.9px;
  box-sizing: border-box;
}
.listing .w {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.listing .day-3 {
  position: relative;
  margin-top: 0.5px;
  display: flex;
  padding: 0 1px 0 1.3px;
  box-sizing: border-box;
}
.listing .ellipse-164 {
  border-radius: 5px;
  background: #9E9E9E;
  position: absolute;
  left: 50%;
  top: 5px;
  translate: -50% 0;
  width: 10px;
  height: 10px;
}
.listing .r {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #FFFFFF;
}
.listing .day-4 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 2.7px;
  box-sizing: border-box;
}
.listing .f {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.listing .day-5 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 3.1px;
  box-sizing: border-box;
}
.listing .s-1 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.listing .day-6 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 2.8px;
  box-sizing: border-box;
}
.listing .week {
  display: flex;
  flex-direction: row;
  column-gap: 2px;
  width: fit-content;
  box-sizing: border-box;
}
.listing .container-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.listing .container {
  margin: 0 11px 5.5px 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 25px);
  box-sizing: border-box;
}
.listing .apply {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 10px;
  line-height: 2;
  color: #FFFFFF;
}
.listing .apply-button {
  border-radius: 0 0 10px 10px;
  border-left: 0.1px solid #000000;
  border-right: 0.1px solid #000000;
  border-bottom: 0.1px solid #000000;
  background: #6B93FB;
  position: relative;
  display: flex;
  padding-top: 1px;
  width: 100%;
  box-sizing: border-box;
}
.listing .container-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.listing .hours {
  position: absolute;
  top: 56px;
  right: 11.8px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #9E9E9E;
}
.listing .location {
  position: absolute;
  right: 11.1px;
  bottom: 48px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #9E9E9E;
}
.listing {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  padding-top: 16.5px;
  box-sizing: border-box;
}
