.login-create-an-account-screen .flowbite {
  overflow-wrap: break-word;
  font-family: 'Literata';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.login-create-an-account-screen .navbar-1 {
  display: flex;
  box-sizing: border-box;
}
.login-create-an-account-screen .vector-6 {
  width: 16.8px;
  height: 14.1px;
}
.login-create-an-account-screen .component {
  margin: 10.5px 0 11.5px 0;
  display: flex;
  width: 16.8px;
  height: 14.1px;
  box-sizing: border-box;
}
.login-create-an-account-screen .navbar {
  background: var(--white-4, #FFFFFF);
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 26.7px 81.9px 26.7px 116px;
  width: 1512px;
  box-sizing: border-box;
}
.login-create-an-account-screen .log-in-or-create-an-account {
  margin: 0 80.9px 19px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Helvetica Neue', 'Roboto Condensed';
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5;
  color: #FFFFFF;
}
.login-create-an-account-screen .email-address {
  margin-right: 10.5px;
  width: 362px;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: var(--gray-500, #6B7280);
}
.login-create-an-account-screen .vector-7 {
  width: 7px;
  height: 7px;
}
.login-create-an-account-screen .x {
  margin: 7px 0;
  display: flex;
  width: 7px;
  height: 7px;
  box-sizing: border-box;
}
.login-create-an-account-screen .input {
  border-radius: 8px;
  border: 1px solid var(--gray-3001, #D1D5DB);
  background: var(--gray-501, #F9FAFB);
  margin: 0 24.6px 35px 24.6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 17.5px 10px 15px;
  width: 414px;
  box-sizing: border-box;
}
.login-create-an-account-screen .text {
  overflow-wrap: break-word;
  font-family: var(--text-basefont-medium-font-family, 'Inter');
  font-weight: var(--text-basefont-medium-font-weight, 500);
  font-size: var(--text-basefont-medium-font-size, 16px);
  line-height: var(--text-basefont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.login-create-an-account-screen .button {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  margin: 0 24.6px 33px 24.6px;
  display: flex;
  padding: 9.5px 0.6px 9.5px 0;
  width: 414px;
  box-sizing: border-box;
}
.login-create-an-account-screen .line-6 {
  background: #FFFFFF;
  margin: 17px 0 12px 0;
  width: 106px;
  height: 1px;
}
.login-create-an-account-screen .or-log-in-with {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #FFFFFF;
}
.login-create-an-account-screen .line-7 {
  background: #FFFFFF;
  margin: 17px 0 12px 0;
  width: 109px;
  height: 1px;
}
.login-create-an-account-screen .container-1 {
  margin: 0 6.6px 41px 6.6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 432px;
  box-sizing: border-box;
}
.login-create-an-account-screen .container-4 {
  margin: 0 13.5px 7.4px 0;
  width: 10.5px;
  height: 21.6px;
}
.login-create-an-account-screen .container-3 {
  margin-top: 6.4px;
  width: 23.1px;
  height: 22.5px;
}
.login-create-an-account-screen .google-original {
  margin: 13.2px 0 5.5px 0;
  display: flex;
  flex-direction: row;
  width: 47.1px;
  height: fit-content;
  box-sizing: border-box;
}
.login-create-an-account-screen .container {
  width: 48px;
  height: 47.7px;
}
.login-create-an-account-screen .facebook-original {
  display: flex;
  width: 48px;
  height: 47.7px;
  box-sizing: border-box;
}
.login-create-an-account-screen .container-2 {
  margin: 0 0 59.3px 18.8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 152.5px;
  box-sizing: border-box;
}
.login-create-an-account-screen .vector-8 {
  width: 11.2px;
  height: 8px;
}
.login-create-an-account-screen .check {
  position: absolute;
  top: 8px;
  right: 6.4px;
  display: flex;
  width: 11.2px;
  height: 8px;
  box-sizing: border-box;
}
.login-create-an-account-screen .indicators {
  border-radius: 12px;
  background: #1C64F2;
  position: relative;
  margin: 2px 29px 46px 0;
  width: 24px;
  height: 24px;
}
.login-create-an-account-screen .by-checking-this-box-iacknowledge-ihave-read-understand-and-agree-to-job-ez-terms-of-use-and-privacy-policy {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
}
.login-create-an-account-screen .container-5 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.login-create-an-account-screen .user-clicks-login-and-apop-up-screen-appears {
  background: url('assets/images/UserClicksLoginAndApopUpScreenAppears.jpeg') 50% / cover no-repeat, linear-gradient(#FFFFFF, #FFFFFF);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 304px 124.4px 117.6px 0;
  width: fit-content;
  box-sizing: border-box;
}
.login-create-an-account-screen {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 1512px;
  box-sizing: border-box;
}
