.logo-18 .flowbite {
  overflow-wrap: break-word;
  font-family: 'Literata';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.logo {
  opacity: 0.5;
  display: flex;
  box-sizing: border-box;
}
