.mac-book-pro-1611 .close-btn {
  border-radius: 8.1px;
  background: #FC615C;
  margin-right: 10.8px;
  width: 16.2px;
  height: 16.2px;
}
.mac-book-pro-1611 .restore-btn {
  border-radius: 8.1px;
  background: #FDBE40;
  margin-right: 10.8px;
  width: 16.2px;
  height: 16.2px;
}
.mac-book-pro-1611 .minimize-btn {
  border-radius: 8.1px;
  background: #34CA49;
  width: 16.2px;
  height: 16.2px;
}
.mac-book-pro-1611 .action-bttn {
  margin: 5.4px 17.5px 8.1px 0;
  display: flex;
  flex-direction: row;
  width: 70.2px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-1611 .arrow {
  width: 6.8px;
  height: 13.5px;
}
.mac-book-pro-1611 .prev-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-right: 2.7px;
  display: flex;
  padding: 8.1px 13.5px 8.1px 12.2px;
  width: 32.4px;
  height: 29.7px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .arrow-1 {
  width: 6.8px;
  height: 13.5px;
}
.mac-book-pro-1611 .prev-btn-2 {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-right: 14.9px;
  display: flex;
  padding: 8.1px 12.1px 8.1px 13.5px;
  width: 32.4px;
  height: 29.7px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .option-btn {
  width: 50px;
  height: 29.7px;
}
.mac-book-pro-1611 .container-55 {
  margin: 0px 0 9.4px 0;
  display: flex;
  flex-direction: row;
  width: 220px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-1611 .safaribrowser {
  margin: 3px 7px 0 0;
  display: inline-block;
  width: 583px;
  overflow-wrap: break-word;
  font-family: 'SF Compact Display', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.mac-book-pro-1611 .refresh {
  margin-bottom: 5px;
  width: 10px;
  height: 12px;
}
.mac-book-pro-1611 .address-bar {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 17.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 7px 0 0;
  width: 1143px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-1611 .share {
  width: 13.5px;
  height: 18.9px;
}
.mac-book-pro-1611 .share-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin: 0 10.8px 9.4px 0;
  display: flex;
  padding: 4.7px 18.2px 6.1px 18.2px;
  width: 50px;
  height: 29.7px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .view {
  width: 14.9px;
  height: 14.9px;
}
.mac-book-pro-1611 .view-search-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin: 0 17.5px 9.4px 0;
  display: flex;
  padding: 7.4px 17.6px 7.4px 17.5px;
  width: 50px;
  height: 29.7px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .add-btn {
  margin-top: 6.7px;
  width: 32.4px;
  height: 32.4px;
}
.mac-book-pro-1611 .container-47 {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  width: 160.7px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-1611 .group-333 {
  box-shadow: 0px 1px 0px 0px #B5B4B5;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(180deg, #EBEAEB, #D7D6D7);
  position: relative;
  margin-bottom: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 42.8px 0px 0.1px 17.6px;
  width: 1728px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .vector-2 {
  width: 16px;
  height: 14px;
}
.mac-book-pro-1611 .bars-outline {
  margin: 11px 36px 11px 0;
  display: flex;
  width: 16px;
  height: 14px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .flowbite {
  overflow-wrap: break-word;
  font-family: 'Literata';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.mac-book-pro-1611 .navbar {
  display: flex;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-1 {
  margin: 5px 0 24px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-pro-1611 .vector-3 {
  width: 13.5px;
  height: 13.5px;
}
.mac-book-pro-1611 .search-outline {
  margin: 2.3px 10.3px 2.3px 0;
  display: flex;
  width: 13.5px;
  height: 13.5px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .quick-search-for-anything {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-normal-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-normal-font-weight, 400);
  font-size: var(--leading-tighttext-smfont-normal-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-normal-line-height, 1.25);
  color: var(--gray-500, #6B7280);
}
.mac-book-pro-1611 .content {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-pro-1611 .vector-4 {
  width: 13.5px;
  height: 13.5px;
}
.mac-book-pro-1611 .search-outline-1 {
  margin: 2.3px 10.3px 2.3px 0;
  display: flex;
  width: 13.5px;
  height: 13.5px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .quick-search-for-anything-1 {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-normal-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-normal-font-weight, 400);
  font-size: var(--leading-tighttext-smfont-normal-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-normal-line-height, 1.25);
  color: var(--gray-500, #6B7280);
}
.mac-book-pro-1611 .autocomplete-input-1 {
  border-radius: 8px;
  border: 1px solid var(--gray-2002, #E5E7EB);
  background: var(--gray-501, #F9FAFB);
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  display: flex;
  flex-direction: row;
  padding: 22.5px 0 22.5px 17.3px;
  width: 908px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .autocomplete-input {
  border-radius: 8px;
  border: 1px solid var(--gray-2002, #E5E7EB);
  background: var(--gray-501, #F9FAFB);
  position: relative;
  margin-right: 36px;
  padding: 22.5px 17.3px;
  width: 908px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .text-1 {
  margin-right: 12.3px;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: #6B7280;
}
.mac-book-pro-1611 .vector-5 {
  width: 11.7px;
  height: 6.7px;
}
.mac-book-pro-1611 .chevron-down {
  margin: 7.2px 0;
  display: flex;
  width: 11.7px;
  height: 6.7px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .button-16 {
  border-radius: 8px;
  border: 1px solid #E5E7EB;
  background: #F9FAFB;
  display: flex;
  flex-direction: row;
  padding: 10px 0 10px 20px;
  width: 180px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .dropdown-buttons {
  margin: 14px 24px 10px 0;
  display: flex;
  width: 180px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .flowbite-1 {
  overflow-wrap: break-word;
  font-family: 'Literata';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.mac-book-pro-1611 .logo {
  margin: 23px 0 18px 0;
  display: flex;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-41 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-79 {
  margin: 0 30.2px 85px 38px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1659.8px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .image-4 {
  background: url('assets/images/Image42.png') 50% / cover no-repeat;
  width: 61px;
  height: 62px;
}
.mac-book-pro-1611 .container-7 {
  background: url('assets/images/Image42.png') 50% / cover no-repeat;
  position: relative;
  margin: 0 2px 74px 2px;
  display: flex;
  align-self: flex-start;
  width: 61px;
  height: 62px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .area-address {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.mac-book-pro-1611 .ellipse-817 {
  border-radius: 1px;
  background: #000000;
  position: absolute;
  left: 33px;
  bottom: 6px;
  width: 2px;
  height: 2px;
}
.mac-book-pro-1611 .group-994 {
  position: relative;
  margin: 0 0 5px 1px;
  display: flex;
  box-sizing: border-box;
}
.mac-book-pro-1611 .hr {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.mac-book-pro-1611 .container-27 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.mac-book-pro-1611 .text-3 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: #1A56DB;
}
.mac-book-pro-1611 .button-2 {
  border-radius: 8px;
  border: 1px solid #1A56DB;
  margin-top: 3px;
  display: flex;
  padding: 7px 15.3px 7px 14.5px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-80 {
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 329px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .hours {
  margin: 0 0 3px 0.2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.mac-book-pro-1611 .s {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .container-68 {
  position: relative;
  margin-right: 3px;
  display: flex;
  padding: 2px 5.3px 2px 4.3px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .m {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .container {
  border-radius: 8px;
  background: #D9D9D9;
  position: relative;
  display: flex;
  padding: 2px 4.1px 2px 3.1px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-59 {
  margin-right: 1.8px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-33 {
  margin-right: 1.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.mac-book-pro-1611 .t {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .container-16 {
  border-radius: 8px;
  background: #D9D9D9;
  position: relative;
  margin: 19px 3px 0 0;
  display: flex;
  padding: 2px 4.3px 2px 5.3px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .w {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .container-50 {
  border-radius: 8px;
  background: #D9D9D9;
  position: relative;
  margin: 19px 3px 0 0;
  display: flex;
  padding: 2px 3.3px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .t-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .container-29 {
  position: relative;
  margin: 19px 3px 0 0;
  display: flex;
  padding: 2px 5.3px 2px 4.3px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .f {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .container-65 {
  border-radius: 8px;
  background: #D9D9D9;
  position: relative;
  margin: 19px 3px 0 0;
  display: flex;
  padding: 2px 5.1px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .s-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .container-6 {
  position: relative;
  margin-top: 19px;
  display: flex;
  padding: 2px 5.3px 2px 4.3px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-20 {
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-pro-1611 .text {
  position: relative;
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.mac-book-pro-1611 .text-2 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.mac-book-pro-1611 .button-1 {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  padding: 8px 20px;
  width: 73px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .button {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  position: relative;
  margin-top: 5px;
  padding: 8px 20px;
  width: 73px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-44 {
  margin-left: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 328px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .card {
  box-shadow: var(--shadow-md, 0px 4px 6px -1px rgba(0, 0, 0, 0.1)), var(--shadow-md, 0px 2px 4px -2px rgba(0, 0, 0, 0.05));
  border-radius: 8px;
  border: 1px solid var(--gray-2002, #E5E7EB);
  background: var(--white-4, #FFFFFF);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 21px 27px 35px 26px;
  width: 384px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-1611 .line-62 {
  background: #000000;
  position: absolute;
  top: 30px;
  right: 159.5px;
  width: 0.5px;
  height: 13px;
}
.mac-book-pro-1611 .line-64 {
  background: #000000;
  position: absolute;
  top: 30px;
  right: 159.5px;
  width: 0.5px;
  height: 13px;
}
.mac-book-pro-1611 .container-95 {
  position: relative;
  margin-bottom: 33px;
  display: flex;
  width: 384px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .ellipse-834 {
  border-radius: 30.5px;
  background: #D9D9D9;
  margin-right: 13px;
  width: 61px;
  height: 61px;
}
.mac-book-pro-1611 .company-name-2 {
  margin-bottom: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.mac-book-pro-1611 .job-title-2 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.mac-book-pro-1611 .container-11 {
  margin: 6px 0 10px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-31 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-pro-1611 .recency-2 {
  margin: 6px 0 39px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.mac-book-pro-1611 .container-85 {
  margin: 0 0.1px 75px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 326.9px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .area-address-3 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.mac-book-pro-1611 .ellipse-8173 {
  border-radius: 1px;
  background: #000000;
  position: absolute;
  left: 33px;
  bottom: 6px;
  width: 2px;
  height: 2px;
}
.mac-book-pro-1611 .group-997 {
  position: relative;
  margin: 0 0 5px 1px;
  display: flex;
  box-sizing: border-box;
}
.mac-book-pro-1611 .hr-3 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.mac-book-pro-1611 .container-97 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.mac-book-pro-1611 .text-8 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: #1A56DB;
}
.mac-book-pro-1611 .button-7 {
  border-radius: 8px;
  border: 1px solid #1A56DB;
  margin-top: 3px;
  display: flex;
  padding: 7px 15.3px 7px 14.5px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-32 {
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 329px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .hours-3 {
  margin-bottom: 3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.mac-book-pro-1611 .s-7 {
  position: relative;
  margin: 2px 8.3px 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .m-3 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .container-39 {
  border-radius: 8px;
  background: #D9D9D9;
  position: relative;
  display: flex;
  padding: 2px 4.1px 2px 3.1px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-34 {
  margin: 0 1.8px 0 4.1px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-62 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.mac-book-pro-1611 .ellipse-831 {
  border-radius: 8px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 16px;
  height: 16px;
}
.mac-book-pro-1611 .container-69 {
  position: relative;
  margin-right: 1.2px;
  display: flex;
  padding-left: 0.2px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .t-7 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .container-13 {
  border-radius: 8px;
  background: #D9D9D9;
  position: relative;
  margin: 19px 3px 0 0;
  display: flex;
  padding: 2px 4.3px 2px 5.3px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .w-3 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .container-67 {
  border-radius: 8px;
  background: #D9D9D9;
  position: relative;
  margin: 19px 7.3px 0 0;
  display: flex;
  padding: 2px 3.3px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .t-6 {
  margin: 21px 8.3px 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .f-3 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .container-3 {
  border-radius: 8px;
  background: #D9D9D9;
  position: relative;
  margin: 19px 7.3px 0 0;
  display: flex;
  padding: 2px 5.1px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .s-6 {
  margin: 21px 0 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .container-86 {
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-pro-1611 .text-11 {
  position: relative;
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.mac-book-pro-1611 .text-12 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.mac-book-pro-1611 .button-11 {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  padding: 8px 20px;
  width: 73px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .button-10 {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  position: relative;
  margin-top: 5px;
  padding: 8px 20px;
  width: 73px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-5 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 328px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-1611 .ellipse-827 {
  border-radius: 8px;
  position: absolute;
  left: 114px;
  bottom: 4px;
  width: 16px;
  height: 16px;
}
.mac-book-pro-1611 .ellipse-833 {
  border-radius: 8px;
  position: absolute;
  left: 76px;
  bottom: 4px;
  width: 16px;
  height: 16px;
}
.mac-book-pro-1611 .container-2 {
  position: relative;
  margin-left: 1px;
  display: flex;
  width: 328px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .card-1 {
  box-shadow: var(--shadow-md, 0px 4px 6px -1px rgba(0, 0, 0, 0.1)), var(--shadow-md, 0px 2px 4px -2px rgba(0, 0, 0, 0.05));
  border-radius: 8px;
  border: 1px solid var(--gray-2002, #E5E7EB);
  background: var(--white-4, #FFFFFF);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 27px 28px 26px;
  width: 384px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-1611 .line-67 {
  background: #000000;
  position: absolute;
  top: 37px;
  right: 87.5px;
  width: 0.5px;
  height: 13px;
}
.mac-book-pro-1611 .container-91 {
  position: relative;
  margin-bottom: 159px;
  display: flex;
  width: 384px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .ellipse-850 {
  border-radius: 30.5px;
  background: #D9D9D9;
  margin-right: 13px;
  width: 61px;
  height: 61px;
}
.mac-book-pro-1611 .company-name-4 {
  margin-bottom: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.mac-book-pro-1611 .job-title-4 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.mac-book-pro-1611 .container-18 {
  margin: 6px 0 10px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-77 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-pro-1611 .recency-4 {
  margin: 6px 0 39px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.mac-book-pro-1611 .container-22 {
  margin: 0 0.1px 75px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 326.9px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .area-address-5 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.mac-book-pro-1611 .ellipse-8175 {
  border-radius: 1px;
  background: #000000;
  position: absolute;
  left: 33px;
  bottom: 6px;
  width: 2px;
  height: 2px;
}
.mac-book-pro-1611 .group-999 {
  position: relative;
  margin: 0 1px 5px 1px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.mac-book-pro-1611 .hr-5 {
  margin-bottom: 3px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.mac-book-pro-1611 .hours-5 {
  margin-bottom: 3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.mac-book-pro-1611 .s-11 {
  position: relative;
  margin: 2px 8.3px 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .m-5 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .container-24 {
  border-radius: 8px;
  background: #D9D9D9;
  position: relative;
  display: flex;
  padding: 2px 4.1px 2px 3.1px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-43 {
  margin: 0 1.8px 0 4.1px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-70 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.mac-book-pro-1611 .ellipse-847 {
  border-radius: 8px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 16px;
  height: 16px;
}
.mac-book-pro-1611 .container-90 {
  position: relative;
  margin-right: 1.2px;
  display: flex;
  padding-left: 0.2px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .t-11 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .container-51 {
  border-radius: 8px;
  background: #D9D9D9;
  position: relative;
  margin: 19px 3px 0 0;
  display: flex;
  padding: 2px 4.3px 2px 5.3px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .w-5 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .container-74 {
  border-radius: 8px;
  background: #D9D9D9;
  position: relative;
  margin: 19px 7.3px 0 0;
  display: flex;
  padding: 2px 3.3px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .t-10 {
  margin: 21px 8.3px 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .f-5 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .container-17 {
  border-radius: 8px;
  background: #D9D9D9;
  position: relative;
  margin: 19px 7.3px 0 0;
  display: flex;
  padding: 2px 5.1px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .s-10 {
  margin: 21px 0 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .container-88 {
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-pro-1611 .text-15 {
  position: relative;
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.mac-book-pro-1611 .text-16 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.mac-book-pro-1611 .button-15 {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  padding: 8px 20px;
  width: 73px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .button-14 {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  position: relative;
  margin-top: 5px;
  padding: 8px 20px;
  width: 73px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-46 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 328px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-1611 .ellipse-843 {
  border-radius: 8px;
  position: absolute;
  left: 114px;
  bottom: 4px;
  width: 16px;
  height: 16px;
}
.mac-book-pro-1611 .ellipse-849 {
  border-radius: 8px;
  position: absolute;
  left: 76px;
  bottom: 4px;
  width: 16px;
  height: 16px;
}
.mac-book-pro-1611 .container-98 {
  position: relative;
  margin-left: 1px;
  display: flex;
  width: 328px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .card-4 {
  box-shadow: var(--shadow-md, 0px 4px 6px -1px rgba(0, 0, 0, 0.1)), var(--shadow-md, 0px 2px 4px -2px rgba(0, 0, 0, 0.05));
  border-radius: 8px;
  border: 1px solid var(--gray-2002, #E5E7EB);
  background: var(--white-4, #FFFFFF);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 28px 27px 28px 26px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .line-69 {
  background: #000000;
  position: absolute;
  top: 37px;
  right: 87.5px;
  width: 0.5px;
  height: 13px;
}
.mac-book-pro-1611 .container-57 {
  position: relative;
  display: flex;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-78 {
  margin: 47px 47px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.mac-book-pro-1611 .ellipse-818 {
  border-radius: 30.5px;
  background: #D9D9D9;
  margin-right: 13px;
  width: 61px;
  height: 61px;
}
.mac-book-pro-1611 .company-name {
  margin-bottom: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.mac-book-pro-1611 .job-title {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.mac-book-pro-1611 .container-12 {
  margin: 6px 0 10px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-40 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-pro-1611 .recency {
  margin: 6px 0 39px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.mac-book-pro-1611 .container-96 {
  margin: 0 0.1px 75px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 326.9px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .area-address-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.mac-book-pro-1611 .ellipse-8171 {
  border-radius: 1px;
  background: #000000;
  position: absolute;
  left: 33px;
  bottom: 6px;
  width: 2px;
  height: 2px;
}
.mac-book-pro-1611 .group-995 {
  position: relative;
  margin: 0 0 5px 1px;
  display: flex;
  box-sizing: border-box;
}
.mac-book-pro-1611 .hr-1 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.mac-book-pro-1611 .container-4 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.mac-book-pro-1611 .text-4 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: #1A56DB;
}
.mac-book-pro-1611 .button-3 {
  border-radius: 8px;
  border: 1px solid #1A56DB;
  margin-top: 3px;
  display: flex;
  padding: 7px 15.3px 7px 14.5px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-63 {
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 329px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .hours-1 {
  margin-bottom: 3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.mac-book-pro-1611 .s-3 {
  position: relative;
  margin: 2px 8.3px 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .m-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .container-73 {
  border-radius: 8px;
  background: #D9D9D9;
  position: relative;
  display: flex;
  padding: 2px 4.1px 2px 3.1px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-38 {
  margin: 0 1.8px 0 4.1px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-60 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.mac-book-pro-1611 .ellipse-703 {
  border-radius: 8px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 16px;
  height: 16px;
}
.mac-book-pro-1611 .container-64 {
  position: relative;
  margin-right: 1.2px;
  display: flex;
  padding-left: 0.2px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .t-3 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .container-45 {
  border-radius: 8px;
  background: #D9D9D9;
  position: relative;
  margin: 19px 3px 0 0;
  display: flex;
  padding: 2px 4.3px 2px 5.3px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .w-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .container-14 {
  border-radius: 8px;
  background: #D9D9D9;
  position: relative;
  margin: 19px 7.3px 0 0;
  display: flex;
  padding: 2px 3.3px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .t-2 {
  margin: 21px 8.3px 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .f-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .container-93 {
  border-radius: 8px;
  background: #D9D9D9;
  position: relative;
  margin: 19px 7.3px 0 0;
  display: flex;
  padding: 2px 5.1px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .s-2 {
  margin: 21px 0 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .container-35 {
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-pro-1611 .text-5 {
  position: relative;
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.mac-book-pro-1611 .text-6 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.mac-book-pro-1611 .button-5 {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  padding: 8px 20px;
  width: 73px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .button-4 {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  position: relative;
  margin-top: 5px;
  padding: 8px 20px;
  width: 73px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-53 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 328px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-1611 .ellipse-699 {
  border-radius: 8px;
  position: absolute;
  left: 114px;
  bottom: 4px;
  width: 16px;
  height: 16px;
}
.mac-book-pro-1611 .ellipse-705 {
  border-radius: 8px;
  position: absolute;
  left: 76px;
  bottom: 4px;
  width: 16px;
  height: 16px;
}
.mac-book-pro-1611 .container-89 {
  position: relative;
  margin-left: 1px;
  display: flex;
  width: 328px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .card-3 {
  box-shadow: var(--shadow-md, 0px 4px 6px -1px rgba(0, 0, 0, 0.1)), var(--shadow-md, 0px 2px 4px -2px rgba(0, 0, 0, 0.05));
  border-radius: 8px;
  border: 1px solid var(--gray-2002, #E5E7EB);
  background: var(--white-4, #FFFFFF);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 21px 28px 35px 25px;
  width: 384px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-1611 .line-65 {
  background: #000000;
  position: absolute;
  top: 30px;
  right: 88.5px;
  width: 0.5px;
  height: 13px;
}
.mac-book-pro-1611 .container-26 {
  position: relative;
  margin-bottom: 33px;
  display: flex;
  width: 384px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .ellipse-826 {
  border-radius: 30.5px;
  background: #D9D9D9;
  margin-right: 13px;
  width: 61px;
  height: 61px;
}
.mac-book-pro-1611 .company-name-1 {
  margin-bottom: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.mac-book-pro-1611 .job-title-1 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.mac-book-pro-1611 .container-84 {
  margin: 6px 0 10px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-30 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-pro-1611 .recency-1 {
  margin: 6px 0 39px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.mac-book-pro-1611 .container-83 {
  margin: 0 0.1px 75px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 326.9px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .area-address-2 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.mac-book-pro-1611 .ellipse-8172 {
  border-radius: 1px;
  background: #000000;
  position: absolute;
  left: 33px;
  bottom: 6px;
  width: 2px;
  height: 2px;
}
.mac-book-pro-1611 .group-996 {
  position: relative;
  margin: 0 0 5px 1px;
  display: flex;
  box-sizing: border-box;
}
.mac-book-pro-1611 .hr-2 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.mac-book-pro-1611 .container-28 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.mac-book-pro-1611 .text-7 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: #1A56DB;
}
.mac-book-pro-1611 .button-6 {
  border-radius: 8px;
  border: 1px solid #1A56DB;
  margin-top: 3px;
  display: flex;
  padding: 7px 15.3px 7px 14.5px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-56 {
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 329px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .hours-2 {
  margin-bottom: 3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.mac-book-pro-1611 .s-5 {
  position: relative;
  margin: 2px 8.3px 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .m-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .container-66 {
  border-radius: 8px;
  background: #D9D9D9;
  position: relative;
  display: flex;
  padding: 2px 4.1px 2px 3.1px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-75 {
  margin: 0 1.8px 0 4.1px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-58 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.mac-book-pro-1611 .ellipse-823 {
  border-radius: 8px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 16px;
  height: 16px;
}
.mac-book-pro-1611 .container-92 {
  position: relative;
  margin-right: 1.2px;
  display: flex;
  padding-left: 0.2px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .t-5 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .container-19 {
  border-radius: 8px;
  background: #D9D9D9;
  position: relative;
  margin: 19px 3px 0 0;
  display: flex;
  padding: 2px 4.3px 2px 5.3px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .w-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .container-48 {
  border-radius: 8px;
  background: #D9D9D9;
  position: relative;
  margin: 19px 7.3px 0 0;
  display: flex;
  padding: 2px 3.3px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .t-4 {
  margin: 21px 8.3px 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .f-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .container-54 {
  border-radius: 8px;
  background: #D9D9D9;
  position: relative;
  margin: 19px 7.3px 0 0;
  display: flex;
  padding: 2px 5.1px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .s-4 {
  margin: 21px 0 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .container-37 {
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-pro-1611 .text-9 {
  position: relative;
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.mac-book-pro-1611 .text-10 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.mac-book-pro-1611 .button-9 {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  padding: 8px 20px;
  width: 73px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .button-8 {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  position: relative;
  margin-top: 5px;
  padding: 8px 20px;
  width: 73px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-87 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 328px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-1611 .ellipse-819 {
  border-radius: 8px;
  position: absolute;
  left: 114px;
  bottom: 4px;
  width: 16px;
  height: 16px;
}
.mac-book-pro-1611 .ellipse-825 {
  border-radius: 8px;
  position: absolute;
  left: 76px;
  bottom: 4px;
  width: 16px;
  height: 16px;
}
.mac-book-pro-1611 .container-72 {
  position: relative;
  margin-left: 1px;
  display: flex;
  width: 328px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .card-2 {
  box-shadow: var(--shadow-md, 0px 4px 6px -1px rgba(0, 0, 0, 0.1)), var(--shadow-md, 0px 2px 4px -2px rgba(0, 0, 0, 0.05));
  border-radius: 8px;
  border: 1px solid var(--gray-2002, #E5E7EB);
  background: var(--white-4, #FFFFFF);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 28px 28px 25px;
  width: 384px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-1611 .line-66 {
  background: #000000;
  position: absolute;
  top: 37px;
  right: 88.5px;
  width: 0.5px;
  height: 13px;
}
.mac-book-pro-1611 .container-76 {
  position: relative;
  margin-bottom: 159px;
  display: flex;
  width: 384px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .ellipse-842 {
  border-radius: 30.5px;
  background: #D9D9D9;
  margin-right: 13px;
  width: 61px;
  height: 61px;
}
.mac-book-pro-1611 .company-name-3 {
  margin-bottom: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.mac-book-pro-1611 .job-title-3 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.mac-book-pro-1611 .container-21 {
  margin: 6px 0 10px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-81 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-pro-1611 .recency-3 {
  margin: 6px 0 39px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.mac-book-pro-1611 .container-82 {
  margin: 0 0.1px 75px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 326.9px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .area-address-4 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.mac-book-pro-1611 .ellipse-8174 {
  border-radius: 1px;
  background: #000000;
  position: absolute;
  left: 33px;
  bottom: 6px;
  width: 2px;
  height: 2px;
}
.mac-book-pro-1611 .group-998 {
  position: relative;
  margin: 0 1px 5px 1px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.mac-book-pro-1611 .hr-4 {
  margin-bottom: 3px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.mac-book-pro-1611 .hours-4 {
  margin-bottom: 3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.mac-book-pro-1611 .s-9 {
  position: relative;
  margin: 2px 8.3px 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .m-4 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .container-15 {
  border-radius: 8px;
  background: #D9D9D9;
  position: relative;
  display: flex;
  padding: 2px 4.1px 2px 3.1px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-36 {
  margin: 0 1.8px 0 4.1px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-42 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.mac-book-pro-1611 .ellipse-839 {
  border-radius: 8px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 16px;
  height: 16px;
}
.mac-book-pro-1611 .container-8 {
  position: relative;
  margin-right: 1.2px;
  display: flex;
  padding-left: 0.2px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .t-9 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .container-61 {
  border-radius: 8px;
  background: #D9D9D9;
  position: relative;
  margin: 19px 3px 0 0;
  display: flex;
  padding: 2px 4.3px 2px 5.3px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .w-4 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .container-49 {
  border-radius: 8px;
  background: #D9D9D9;
  position: relative;
  margin: 19px 7.3px 0 0;
  display: flex;
  padding: 2px 3.3px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .t-8 {
  margin: 21px 8.3px 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .f-4 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .container-23 {
  border-radius: 8px;
  background: #D9D9D9;
  position: relative;
  margin: 19px 7.3px 0 0;
  display: flex;
  padding: 2px 5.1px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .s-8 {
  margin: 21px 0 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.mac-book-pro-1611 .container-52 {
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-pro-1611 .text-13 {
  position: relative;
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.mac-book-pro-1611 .text-14 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.mac-book-pro-1611 .button-13 {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  padding: 8px 20px;
  width: 73px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .button-12 {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  position: relative;
  margin-top: 5px;
  padding: 8px 20px;
  width: 73px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-10 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 328px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-1611 .ellipse-835 {
  border-radius: 8px;
  position: absolute;
  left: 114px;
  bottom: 4px;
  width: 16px;
  height: 16px;
}
.mac-book-pro-1611 .ellipse-841 {
  border-radius: 8px;
  position: absolute;
  left: 76px;
  bottom: 4px;
  width: 16px;
  height: 16px;
}
.mac-book-pro-1611 .container-71 {
  position: relative;
  margin-left: 1px;
  display: flex;
  width: 328px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .card-5 {
  box-shadow: var(--shadow-md, 0px 4px 6px -1px rgba(0, 0, 0, 0.1)), var(--shadow-md, 0px 2px 4px -2px rgba(0, 0, 0, 0.05));
  border-radius: 8px;
  border: 1px solid var(--gray-2002, #E5E7EB);
  background: var(--white-4, #FFFFFF);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 28px 28px 28px 25px;
  box-sizing: border-box;
}
.mac-book-pro-1611 .line-68 {
  background: #000000;
  position: absolute;
  top: 37px;
  right: 88.5px;
  width: 0.5px;
  height: 13px;
}
.mac-book-pro-1611 .container-9 {
  position: relative;
  display: flex;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container-94 {
  margin: 47px 52px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.mac-book-pro-1611 .container {
  background: url('assets/images/Image5.png') 50% / cover no-repeat;
  margin-bottom: 218px;
  width: 827px;
  height: 840px;
}
.mac-book-pro-1611 .container-25 {
  margin-left: 34px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-1611 {
  opacity: 0.5;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1728px;
  box-sizing: border-box;
}
