.mac-book-pro-163 .close-btn {
  border-radius: 8.1px;
  background: #FC615C;
  margin-right: 10.8px;
  width: 16.2px;
  height: 16.2px;
}
.mac-book-pro-163 .restore-btn {
  border-radius: 8.1px;
  background: #FDBE40;
  margin-right: 10.8px;
  width: 16.2px;
  height: 16.2px;
}
.mac-book-pro-163 .minimize-btn {
  border-radius: 8.1px;
  background: #34CA49;
  width: 16.2px;
  height: 16.2px;
}
.mac-book-pro-163 .action-bttn {
  margin: 5.4px 17.5px 8.1px 0;
  display: flex;
  flex-direction: row;
  width: 70.2px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-163 .arrow {
  width: 6.8px;
  height: 13.5px;
}
.mac-book-pro-163 .prev-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-right: 2.7px;
  display: flex;
  padding: 8.1px 13.5px 8.1px 12.2px;
  width: 32.4px;
  height: 29.7px;
  box-sizing: border-box;
}
.mac-book-pro-163 .arrow-1 {
  width: 6.8px;
  height: 13.5px;
}
.mac-book-pro-163 .prev-btn-2 {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-right: 14.9px;
  display: flex;
  padding: 8.1px 12.1px 8.1px 13.5px;
  width: 32.4px;
  height: 29.7px;
  box-sizing: border-box;
}
.mac-book-pro-163 .option-btn {
  width: 50px;
  height: 29.7px;
}
.mac-book-pro-163 .container-5 {
  margin-bottom: 9.4px;
  display: flex;
  flex-direction: row;
  width: 220px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-163 .safaribrowser {
  margin: 3px 7px 0 0;
  display: inline-block;
  width: 583px;
  overflow-wrap: break-word;
  font-family: 'SF Compact Display', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.mac-book-pro-163 .refresh {
  margin-bottom: 5px;
  width: 10px;
  height: 12px;
}
.mac-book-pro-163 .address-bar {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 17.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 7px 0 0;
  width: 1143px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-163 .share {
  width: 13.5px;
  height: 18.9px;
}
.mac-book-pro-163 .share-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin: 0 10.8px 9.4px 0;
  display: flex;
  padding: 4.7px 18.2px 6.1px 18.2px;
  width: 50px;
  height: 29.7px;
  box-sizing: border-box;
}
.mac-book-pro-163 .view {
  width: 14.9px;
  height: 14.9px;
}
.mac-book-pro-163 .view-search-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin: 0 17.5px 9.4px 0;
  display: flex;
  padding: 7.4px 17.6px 7.4px 17.5px;
  width: 50px;
  height: 29.7px;
  box-sizing: border-box;
}
.mac-book-pro-163 .add-btn {
  margin-top: 6.7px;
  width: 32.4px;
  height: 32.4px;
}
.mac-book-pro-163 .container-1 {
  display: flex;
  flex-direction: row;
  width: 160.7px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-163 .group-333 {
  box-shadow: 0px 1px 0px 0px #B5B4B5;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(180deg, #EBEAEB, #D7D6D7);
  position: relative;
  margin-bottom: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 42.8px 0px 0.1px 17.6px;
  width: 1728px;
  box-sizing: border-box;
}
.mac-book-pro-163 .vector-4 {
  width: 16px;
  height: 14px;
}
.mac-book-pro-163 .bars-outline {
  margin: 11px 36px 11px 0;
  display: flex;
  width: 16px;
  height: 14px;
  box-sizing: border-box;
}
.mac-book-pro-163 .flowbite {
  overflow-wrap: break-word;
  font-family: 'Literata';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.mac-book-pro-163 .navbar {
  display: flex;
  box-sizing: border-box;
}
.mac-book-pro-163 .container {
  margin: 8px 0 21px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-pro-163 .vector-2 {
  width: 13.5px;
  height: 13.5px;
}
.mac-book-pro-163 .search-outline {
  margin: 2.3px 10.3px 2.3px 0;
  display: flex;
  width: 13.5px;
  height: 13.5px;
  box-sizing: border-box;
}
.mac-book-pro-163 .quick-search-for-anything {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-normal-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-normal-font-weight, 400);
  font-size: var(--leading-tighttext-smfont-normal-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-normal-line-height, 1.25);
  color: var(--gray-500, #6B7280);
}
.mac-book-pro-163 .content {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-pro-163 .vector-3 {
  width: 13.5px;
  height: 13.5px;
}
.mac-book-pro-163 .search-outline-1 {
  margin: 2.3px 10.3px 2.3px 0;
  display: flex;
  width: 13.5px;
  height: 13.5px;
  box-sizing: border-box;
}
.mac-book-pro-163 .quick-search-for-anything-1 {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-normal-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-normal-font-weight, 400);
  font-size: var(--leading-tighttext-smfont-normal-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-normal-line-height, 1.25);
  color: var(--gray-500, #6B7280);
}
.mac-book-pro-163 .autocomplete-input-1 {
  border-radius: 8px;
  border: 1px solid var(--gray-2002, #E5E7EB);
  background: var(--gray-501, #F9FAFB);
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  display: flex;
  flex-direction: row;
  padding: 22.5px 0 22.5px 17.3px;
  width: 908px;
  box-sizing: border-box;
}
.mac-book-pro-163 .autocomplete-input {
  border-radius: 8px;
  border: 1px solid var(--gray-2002, #E5E7EB);
  background: var(--gray-501, #F9FAFB);
  position: relative;
  margin-right: 36px;
  padding: 22.5px 17.3px;
  width: 908px;
  box-sizing: border-box;
}
.mac-book-pro-163 .text-9 {
  margin-right: 12.3px;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: #6B7280;
}
.mac-book-pro-163 .vector-5 {
  width: 11.7px;
  height: 6.7px;
}
.mac-book-pro-163 .chevron-down {
  margin: 7.2px 0;
  display: flex;
  width: 11.7px;
  height: 6.7px;
  box-sizing: border-box;
}
.mac-book-pro-163 .button-4 {
  border-radius: 8px;
  border: 1px solid #E5E7EB;
  background: #F9FAFB;
  margin: 17px 24px 7px 0;
  display: flex;
  flex-direction: row;
  padding: 10px 0 10px 20px;
  width: 180px;
  box-sizing: border-box;
}
.mac-book-pro-163 .flowbite-1 {
  overflow-wrap: break-word;
  font-family: 'Literata';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.mac-book-pro-163 .logo {
  margin: 26px 0 15px 0;
  display: flex;
  box-sizing: border-box;
}
.mac-book-pro-163 .container-6 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-pro-163 .container-3 {
  margin: 0 30.2px 85px 38px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1659.8px;
  box-sizing: border-box;
}
.mac-book-pro-163 .flowbite-2 {
  overflow-wrap: break-word;
  font-family: 'Literata';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.mac-book-pro-163 .logo-1 {
  margin: 0 2px 21px 2px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.mac-book-pro-163 .avatar-1 {
  border-radius: 100px;
  background: var(--avatar-bonnie-green, url('assets/images/Avatar.jpeg') 50% / cover no-repeat);
  width: 32px;
  height: 32px;
}
.mac-book-pro-163 .avatar {
  margin: 2px 12px 12px 0;
  display: flex;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.mac-book-pro-163 .title {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-semibold-font-family, 'Inter');
  font-weight: var(--text-smfont-semibold-font-weight, 600);
  font-size: var(--text-smfont-semibold-font-size, 14px);
  line-height: var(--text-smfont-semibold-line-height, 1.5);
  color: var(--gray-900, #111928);
}
.mac-book-pro-163 .message {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: var(--gray-500, #6B7280);
}
.mac-book-pro-163 .text-cta {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.mac-book-pro-163 .content-1 {
  margin-bottom: 42px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-pro-163 .text {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.mac-book-pro-163 .button {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  margin-top: 54px;
  padding: 8px 20px;
  width: 73px;
  box-sizing: border-box;
}
.mac-book-pro-163 .toast {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  border: 1px solid #1A56DB;
  background: var(--white-4, #FFFFFF);
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  width: 640px;
  box-sizing: border-box;
}
.mac-book-pro-163 .avatar-3 {
  border-radius: 100px;
  background: var(--avatar-bonnie-green, url('assets/images/Avatar.jpeg') 50% / cover no-repeat);
  width: 32px;
  height: 32px;
}
.mac-book-pro-163 .avatar-2 {
  margin: 2px 12px 12px 0;
  display: flex;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.mac-book-pro-163 .title-1 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-semibold-font-family, 'Inter');
  font-weight: var(--text-smfont-semibold-font-weight, 600);
  font-size: var(--text-smfont-semibold-font-size, 14px);
  line-height: var(--text-smfont-semibold-line-height, 1.5);
  color: var(--gray-900, #111928);
}
.mac-book-pro-163 .message-1 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: var(--gray-500, #6B7280);
}
.mac-book-pro-163 .text-cta-1 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.mac-book-pro-163 .content-2 {
  margin-bottom: 42px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-pro-163 .text-1 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.mac-book-pro-163 .button-1 {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  margin-top: 54px;
  padding: 8px 20px;
  width: 73px;
  box-sizing: border-box;
}
.mac-book-pro-163 .toast-1 {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  border: 1px solid #1A56DB;
  background: var(--white-4, #FFFFFF);
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  width: 640px;
  box-sizing: border-box;
}
.mac-book-pro-163 .avatar-5 {
  border-radius: 100px;
  background: var(--avatar-bonnie-green, url('assets/images/Avatar.jpeg') 50% / cover no-repeat);
  width: 32px;
  height: 32px;
}
.mac-book-pro-163 .avatar-4 {
  margin: 2px 12px 12px 0;
  display: flex;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.mac-book-pro-163 .title-2 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-semibold-font-family, 'Inter');
  font-weight: var(--text-smfont-semibold-font-weight, 600);
  font-size: var(--text-smfont-semibold-font-size, 14px);
  line-height: var(--text-smfont-semibold-line-height, 1.5);
  color: var(--gray-900, #111928);
}
.mac-book-pro-163 .message-2 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: var(--gray-500, #6B7280);
}
.mac-book-pro-163 .text-cta-2 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.mac-book-pro-163 .content-3 {
  margin-bottom: 42px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-pro-163 .text-2 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.mac-book-pro-163 .button-2 {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  margin-top: 54px;
  padding: 8px 20px;
  width: 73px;
  box-sizing: border-box;
}
.mac-book-pro-163 .toast-2 {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  border: 1px solid #1A56DB;
  background: var(--white-4, #FFFFFF);
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  width: 640px;
  box-sizing: border-box;
}
.mac-book-pro-163 .avatar-7 {
  border-radius: 100px;
  background: var(--avatar-bonnie-green, url('assets/images/Avatar.jpeg') 50% / cover no-repeat);
  width: 32px;
  height: 32px;
}
.mac-book-pro-163 .avatar-6 {
  margin: 2px 12px 12px 0;
  display: flex;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.mac-book-pro-163 .title-3 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-semibold-font-family, 'Inter');
  font-weight: var(--text-smfont-semibold-font-weight, 600);
  font-size: var(--text-smfont-semibold-font-size, 14px);
  line-height: var(--text-smfont-semibold-line-height, 1.5);
  color: var(--gray-900, #111928);
}
.mac-book-pro-163 .message-3 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: var(--gray-500, #6B7280);
}
.mac-book-pro-163 .text-cta-3 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.mac-book-pro-163 .content-4 {
  margin-bottom: 42px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-pro-163 .text-3 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.mac-book-pro-163 .button-3 {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  margin-top: 54px;
  padding: 8px 20px;
  width: 73px;
  box-sizing: border-box;
}
.mac-book-pro-163 .toast-3 {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  border: 1px solid #1A56DB;
  background: var(--white-4, #FFFFFF);
  margin-bottom: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  width: 640px;
  box-sizing: border-box;
}
.mac-book-pro-163 .text-4 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--gray-500, #6B7280);
}
.mac-book-pro-163 .page-item {
  background: var(--white-4, #FFFFFF);
  display: flex;
  padding: 6px 12.1px;
  box-sizing: border-box;
}
.mac-book-pro-163 .text-5 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--gray-500, #6B7280);
}
.mac-book-pro-163 .page-item-1 {
  border: 1px solid var(--gray-3001, #D1D5DB);
  background: var(--white-4, #FFFFFF);
  display: flex;
  padding: 5.5px 11.7px;
  box-sizing: border-box;
}
.mac-book-pro-163 .text-6 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--gray-500, #6B7280);
}
.mac-book-pro-163 .page-item-2 {
  border: 1px solid var(--gray-3001, #D1D5DB);
  background: var(--white-4, #FFFFFF);
  display: flex;
  padding: 5.5px 11.7px;
  box-sizing: border-box;
}
.mac-book-pro-163 .text-7 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--gray-500, #6B7280);
}
.mac-book-pro-163 .page-item-3 {
  border: 1px solid var(--gray-3001, #D1D5DB);
  background: var(--white-4, #FFFFFF);
  display: flex;
  padding: 5.5px 12px;
  box-sizing: border-box;
}
.mac-book-pro-163 .text-8 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--gray-500, #6B7280);
}
.mac-book-pro-163 .page-item-4 {
  border: 1px solid var(--gray-3001, #D1D5DB);
  background: var(--white-4, #FFFFFF);
  display: flex;
  padding: 5.5px 11.8px;
  box-sizing: border-box;
}
.mac-book-pro-163 .pagination {
  border-radius: 4px;
  border: 1px solid var(--gray-3001, #D1D5DB);
  display: flex;
  flex-direction: row;
  align-self: center;
  width: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-163 .container-2 {
  margin: 0 123px 233px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.mac-book-pro-163 .container {
  background: url('assets/images/Image5.png') 50% / cover no-repeat;
  width: 827px;
  height: 840px;
}
.mac-book-pro-163 .container-4 {
  margin-left: 138px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-163 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1728px;
  box-sizing: border-box;
}
