.notifications .label-time {
  position: absolute;
  left: -89.7px;
  bottom: 3px;
  overflow-wrap: break-word;
  font-family: 'SF Pro Text', 'Roboto Condensed';
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.1px;
  text-transform: lowercase;
  background: linear-gradient(rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.notifications .icon-60 {
  margin-right: 7px;
  width: 20px;
  height: 20px;
}
.notifications .label-app-name {
  margin: 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'SF Compact Text', 'Roboto Condensed';
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.1px;
  text-transform: uppercase;
  background: linear-gradient(rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.notifications .container {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.notifications .header {
  position: relative;
  margin-bottom: 8px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.notifications .label-content {
  overflow-wrap: break-word;
  font-family: 'SF UI Display', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.1px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.notifications .content {
  margin: 0 16.5px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.notifications {
  backdrop-filter: blur(45px);
  border-radius: 12px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(rgba(171, 171, 171, 0.5), rgba(171, 171, 171, 0.5));
  display: flex;
  flex-direction: column;
  padding: 10px 0 11px 10px;
  box-sizing: border-box;
}
