.notifs .logout-delete-notification {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 128px;
  line-height: 0.109;
  color: #FFFFFF;
}
.notifs {
  background: #32BC42;
  display: flex;
  padding: 96px 38.8px 81px 0;
  width: 1728px;
  box-sizing: border-box;
}
