.pagination-5 .text {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--gray-500, #6B7280);
}
.pagination-5 .page-item {
  background: var(--white-4, #FFFFFF);
  display: flex;
  padding: 6px 12.1px;
  flex-grow: 1;
  flex-basis: 82px;
  box-sizing: border-box;
}
.pagination-5 .text-1 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--gray-500, #6B7280);
}
.pagination-5 .page-item-1 {
  border: 1px solid var(--gray-3001, #D1D5DB);
  background: var(--white-4, #FFFFFF);
  display: flex;
  padding: 5.5px 11.7px;
  flex-grow: 1;
  flex-basis: 31px;
  box-sizing: border-box;
}
.pagination-5 .text-2 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--gray-500, #6B7280);
}
.pagination-5 .page-item-2 {
  border: 1px solid var(--gray-3001, #D1D5DB);
  background: var(--white-4, #FFFFFF);
  display: flex;
  padding: 5.5px 11.7px;
  flex-grow: 1;
  flex-basis: 33px;
  box-sizing: border-box;
}
.pagination-5 .text-3 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--gray-500, #6B7280);
}
.pagination-5 .page-item-3 {
  border: 1px solid var(--gray-3001, #D1D5DB);
  background: var(--white-4, #FFFFFF);
  display: flex;
  padding: 5.5px 12px;
  flex-grow: 1;
  flex-basis: 34px;
  box-sizing: border-box;
}
.pagination-5 .text-4 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--gray-500, #6B7280);
}
.pagination-5 .page-item-4 {
  border: 1px solid var(--gray-3001, #D1D5DB);
  background: var(--white-4, #FFFFFF);
  display: flex;
  padding: 5.5px 11.8px;
  flex-grow: 1;
  flex-basis: 56px;
  box-sizing: border-box;
}
.pagination {
  opacity: 0.5;
  border-radius: 4px;
  border: 1px solid var(--gray-3001, #D1D5DB);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}
