.part-time-pal-employer-profile-page-employee-side-view .container-16 {
  width: 49.1px;
  height: 16.1px;
}
.part-time-pal-employer-profile-page-employee-side-view .container-16 {
  width: 49.1px;
  height: 16.1px;
}
.part-time-pal-employer-profile-page-employee-side-view .basilimage-outline {
  background: #C7C7C7;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  padding: 40.3px 0 72.6px 0;
  height: 100%;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .vector-8 {
  position: absolute;
  top: 15.6px;
  right: 14.6px;
  width: 6.3px;
  height: 6.3px;
}
.part-time-pal-employer-profile-page-employee-side-view .vector-9 {
  position: absolute;
  left: 5.4px;
  top: 9.3px;
  width: 39.2px;
  height: 31.4px;
}
.part-time-pal-employer-profile-page-employee-side-view .logo {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 11px;
  line-height: 1.818;
  color: #000000;
}
.part-time-pal-employer-profile-page-employee-side-view .basilimage-outline-1 {
  background: #C7C7C7;
  position: relative;
  display: flex;
  padding: 13px 13.3px 17px 11.3px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .company-name {
  position: absolute;
  left: 50%;
  top: 40px;
  translate: -50% 0;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 30px;
  line-height: 0.667;
  color: #000000;
}
.part-time-pal-employer-profile-page-employee-side-view .company-header {
  position: relative;
  margin-bottom: 14px;
  display: flex;
  padding: 0 1px 79px 0;
  width: 100%;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .company-information {
  margin-left: 25.3px;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 12px;
  line-height: 1.667;
  color: #000000;
}
.part-time-pal-employer-profile-page-employee-side-view .industry {
  margin-bottom: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 11px;
  line-height: 1.818;
  color: #000000;
}
.part-time-pal-employer-profile-page-employee-side-view .size {
  margin-bottom: 2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 11px;
  line-height: 1.818;
  color: #000000;
}
.part-time-pal-employer-profile-page-employee-side-view .age {
  margin-bottom: 2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 11px;
  line-height: 1.818;
  color: #000000;
}
.part-time-pal-employer-profile-page-employee-side-view .details {
  margin-right: 6.3px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 11px;
  line-height: 1.818;
  color: #000000;
}
.part-time-pal-employer-profile-page-employee-side-view .frame-13 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .information-window {
  border-radius: 10px;
  border: 1px solid #C7C7C7;
  background: #FFFFFF;
  position: relative;
  margin-right: 22px;
  display: flex;
  flex-direction: column;
  padding: 6px 0 143px 5px;
  flex-grow: 1;
  flex-basis: 180px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .vector-1 {
  width: 12.5px;
  height: 11.9px;
}
.part-time-pal-employer-profile-page-employee-side-view .tablerstar {
  display: flex;
  width: 12.5px;
  height: 11.9px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .vector-2 {
  width: 12.5px;
  height: 11.9px;
}
.part-time-pal-employer-profile-page-employee-side-view .tablerstar-1 {
  display: flex;
  width: 12.5px;
  height: 11.9px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .vector-3 {
  width: 12.5px;
  height: 11.9px;
}
.part-time-pal-employer-profile-page-employee-side-view .tablerstar-2 {
  display: flex;
  width: 12.5px;
  height: 11.9px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .vector-4 {
  width: 12.5px;
  height: 11.9px;
}
.part-time-pal-employer-profile-page-employee-side-view .tablerstar-3 {
  display: flex;
  width: 12.5px;
  height: 11.9px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .vector-5 {
  width: 12.5px;
  height: 11.9px;
}
.part-time-pal-employer-profile-page-employee-side-view .tablerstar-4 {
  display: flex;
  width: 12.5px;
  height: 11.9px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .rating-report {
  margin: 0 0px 14.9px 0;
  display: flex;
  flex-direction: row;
  align-self: center;
  column-gap: 5.5px;
  width: 84.5px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .vector {
  width: 20px;
  height: 18.4px;
}
.part-time-pal-employer-profile-page-employee-side-view .mdiheart-outline {
  margin: 1px 2px 0.6px 0;
  display: flex;
  width: 20px;
  height: 18.4px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .follownum {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 12px;
  line-height: 1.667;
  color: #000000;
}
.part-time-pal-employer-profile-page-employee-side-view .container-14 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .rectangle-79 {
  border-radius: 13px;
  border: 1px solid #000000;
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 108px;
  height: 37px;
}
.part-time-pal-employer-profile-page-employee-side-view .follow-button {
  position: relative;
  margin: 0 16px 19px 16px;
  display: flex;
  align-self: flex-start;
  padding: 9px 4.6px 8px 7px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .address {
  margin: 0 0.7px 5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 11px;
  text-decoration-line: underline;
  line-height: 1.818;
  color: #000000;
}
.part-time-pal-employer-profile-page-employee-side-view .map-1 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 11px;
  line-height: 1.818;
  color: #000000;
}
.part-time-pal-employer-profile-page-employee-side-view .map {
  border-radius: 10px;
  background: #C7C7C7;
  position: relative;
  display: flex;
  padding: 50px 0.8px 50px 0;
  width: 100%;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .map-feature {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .container-7 {
  margin: 19.3px 0 8px 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 149px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .container-12 {
  margin-bottom: 23px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .line-31 {
  background: #C7C7C7;
  margin: 0 2px;
  width: 347px;
  height: 1px;
}
.part-time-pal-employer-profile-page-employee-side-view .company-info-section {
  margin: 0 22px 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 42px);
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .active-listings {
  margin: 0 11.9px 11px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 24px;
  line-height: 0.833;
  color: #000000;
}
.part-time-pal-employer-profile-page-employee-side-view .vector-24 {
  position: absolute;
  top: 62px;
  right: 42px;
  width: 8px;
  height: 8px;
}
.part-time-pal-employer-profile-page-employee-side-view .vector-27 {
  width: 20px;
  height: 19px;
}
.part-time-pal-employer-profile-page-employee-side-view .start-outline {
  margin: 0.5px 0;
  display: flex;
  width: 20px;
  height: 19px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .listing-title {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-employer-profile-page-employee-side-view .container-6 {
  margin: 0 14px 4.5px 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 215.6px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .basilimage-outline-2 {
  margin-right: 0.1px;
  width: 28.2px;
  height: 28.2px;
}
.part-time-pal-employer-profile-page-employee-side-view .company {
  margin: 4px 0 4.2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #9E9E9E;
}
.part-time-pal-employer-profile-page-employee-side-view .company-info {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .vector-23 {
  width: 4.5px;
  height: 9.8px;
}
.part-time-pal-employer-profile-page-employee-side-view .iconoirdollar {
  margin: 4.6px 4.4px 5.6px 0;
  display: flex;
  width: 4.5px;
  height: 9.8px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .pay-rate {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #9E9E9E;
}
.part-time-pal-employer-profile-page-employee-side-view .pay-tag {
  position: relative;
  margin-bottom: 8.2px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .container-8 {
  margin: 0 11.2px 3.8px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 21.2px);
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .listing-description {
  margin: 4px 10px 13.5px 0;
  display: inline-block;
  width: 232px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #000000;
}
.part-time-pal-employer-profile-page-employee-side-view .ionlocation {
  width: 12px;
  height: 12px;
}
.part-time-pal-employer-profile-page-employee-side-view .location-tag {
  margin: 0 6px 5px 0;
  display: flex;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .s {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.part-time-pal-employer-profile-page-employee-side-view .day {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 2.8px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .m {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.part-time-pal-employer-profile-page-employee-side-view .day-1 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 2px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .ellipse-162 {
  border-radius: 5px;
  background: #9E9E9E;
  position: absolute;
  left: 50%;
  top: 5px;
  translate: -50% 0;
  width: 10px;
  height: 10px;
}
.part-time-pal-employer-profile-page-employee-side-view .t {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #FFFCFC;
}
.part-time-pal-employer-profile-page-employee-side-view .day-2 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 2.9px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .w {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.part-time-pal-employer-profile-page-employee-side-view .day-3 {
  position: relative;
  margin-top: 0.5px;
  display: flex;
  padding: 0 1px 0 1.3px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .ellipse-164 {
  border-radius: 5px;
  background: #9E9E9E;
  position: absolute;
  left: 50%;
  top: 5px;
  translate: -50% 0;
  width: 10px;
  height: 10px;
}
.part-time-pal-employer-profile-page-employee-side-view .r {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #FFFFFF;
}
.part-time-pal-employer-profile-page-employee-side-view .day-4 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 2.7px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .f {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.part-time-pal-employer-profile-page-employee-side-view .day-5 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 3.1px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .s-1 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.part-time-pal-employer-profile-page-employee-side-view .day-6 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 2.8px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .week {
  display: flex;
  flex-direction: row;
  column-gap: 2px;
  width: fit-content;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .container-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .container-4 {
  margin: 0 11px 5.5px 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 25px);
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .apply {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 10px;
  line-height: 2;
  color: #FFFFFF;
}
.part-time-pal-employer-profile-page-employee-side-view .apply-button {
  border-radius: 0 0 10px 10px;
  border-left: 0.1px solid #000000;
  border-right: 0.1px solid #000000;
  border-bottom: 0.1px solid #000000;
  background: #6B93FB;
  position: relative;
  display: flex;
  padding-top: 1px;
  width: 100%;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .container-15 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .hours {
  position: absolute;
  top: 56px;
  right: 11.8px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #9E9E9E;
}
.part-time-pal-employer-profile-page-employee-side-view .location {
  position: absolute;
  right: 11.1px;
  bottom: 48px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #9E9E9E;
}
.part-time-pal-employer-profile-page-employee-side-view .listing {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 20px;
  padding-top: 16.5px;
  width: 100%;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .vector-31 {
  position: absolute;
  top: 62px;
  right: 42px;
  width: 8px;
  height: 8px;
}
.part-time-pal-employer-profile-page-employee-side-view .vector-35 {
  width: 20px;
  height: 19px;
}
.part-time-pal-employer-profile-page-employee-side-view .start-outline-1 {
  margin: 4px 0 0.5px 0;
  display: flex;
  width: 20px;
  height: 19px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .listing-title-1 {
  margin-top: 3.5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-employer-profile-page-employee-side-view .vector-34 {
  width: 24px;
  height: 22.7px;
}
.part-time-pal-employer-profile-page-employee-side-view .tablerurgent-1 {
  margin-bottom: 0.8px;
  display: flex;
  width: 24px;
  height: 22.7px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .container-11 {
  margin: 0 16px 4.5px 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 30px);
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .basilimage-outline-3 {
  margin-right: 0.1px;
  width: 28.2px;
  height: 28.2px;
}
.part-time-pal-employer-profile-page-employee-side-view .company-1 {
  margin: 4px 0 4.2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #9E9E9E;
}
.part-time-pal-employer-profile-page-employee-side-view .company-info-1 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .vector-30 {
  width: 4.5px;
  height: 9.8px;
}
.part-time-pal-employer-profile-page-employee-side-view .iconoirdollar-1 {
  margin: 4.6px 4.4px 5.6px 0;
  display: flex;
  width: 4.5px;
  height: 9.8px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .pay-rate-1 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #9E9E9E;
}
.part-time-pal-employer-profile-page-employee-side-view .pay-tag-1 {
  position: relative;
  margin-bottom: 8.2px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .container-13 {
  margin: 0 11.2px 3.8px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 21.2px);
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .listing-description-1 {
  margin: 4px 10px 13.5px 0;
  display: inline-block;
  width: 232px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #000000;
}
.part-time-pal-employer-profile-page-employee-side-view .ionlocation-1 {
  width: 12px;
  height: 12px;
}
.part-time-pal-employer-profile-page-employee-side-view .location-tag-1 {
  margin: 0 6px 5px 0;
  display: flex;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .s-2 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.part-time-pal-employer-profile-page-employee-side-view .day-7 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 2.8px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .m-1 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.part-time-pal-employer-profile-page-employee-side-view .day-8 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 2px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .ellipse-169 {
  border-radius: 5px;
  background: #9E9E9E;
  position: absolute;
  left: 50%;
  top: 5px;
  translate: -50% 0;
  width: 10px;
  height: 10px;
}
.part-time-pal-employer-profile-page-employee-side-view .t-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #FFFCFC;
}
.part-time-pal-employer-profile-page-employee-side-view .day-9 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 2.9px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .w-1 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.part-time-pal-employer-profile-page-employee-side-view .day-10 {
  position: relative;
  margin-top: 0.5px;
  display: flex;
  padding: 0 1px 0 1.3px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .ellipse-1611 {
  border-radius: 5px;
  background: #9E9E9E;
  position: absolute;
  left: 50%;
  top: 5px;
  translate: -50% 0;
  width: 10px;
  height: 10px;
}
.part-time-pal-employer-profile-page-employee-side-view .r-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #FFFFFF;
}
.part-time-pal-employer-profile-page-employee-side-view .day-11 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 2.7px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .f-1 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.part-time-pal-employer-profile-page-employee-side-view .day-12 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 3.1px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .s-3 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.part-time-pal-employer-profile-page-employee-side-view .day-13 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 2.8px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .week-1 {
  display: flex;
  flex-direction: row;
  column-gap: 2px;
  width: fit-content;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .container-9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .container-10 {
  margin: 0 11px 5.5px 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 25px);
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .apply-1 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 10px;
  line-height: 2;
  color: #FFFFFF;
}
.part-time-pal-employer-profile-page-employee-side-view .apply-button-1 {
  border-radius: 0 0 10px 10px;
  border-left: 0.1px solid #000000;
  border-right: 0.1px solid #000000;
  border-bottom: 0.1px solid #000000;
  background: #6B93FB;
  position: relative;
  display: flex;
  padding-top: 1px;
  width: 100%;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .container-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .hours-1 {
  position: absolute;
  top: 56px;
  right: 11.8px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #9E9E9E;
}
.part-time-pal-employer-profile-page-employee-side-view .location-1 {
  position: absolute;
  right: 11.1px;
  bottom: 48px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #9E9E9E;
}
.part-time-pal-employer-profile-page-employee-side-view .listing-1 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  padding-top: 13px;
  width: 100%;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .frame-11 {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .listings {
  margin: 0 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 44px);
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .rectangle-73 {
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 394px;
  height: 95px;
}
.part-time-pal-employer-profile-page-employee-side-view .vector-10 {
  background: #000000;
  margin-bottom: 6.9px;
  width: 23.3px;
  height: 2px;
}
.part-time-pal-employer-profile-page-employee-side-view .vector-11 {
  background: #000000;
  margin-bottom: 6.9px;
  width: 23.3px;
  height: 2px;
}
.part-time-pal-employer-profile-page-employee-side-view .vector-12 {
  background: #000000;
  width: 23.3px;
  height: 2px;
}
.part-time-pal-employer-profile-page-employee-side-view .iconmenu {
  margin: 8px 0 2.1px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23.3px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .logo-1 {
  overflow-wrap: break-word;
  font-family: 'Rockwell', 'Roboto Condensed';
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-employer-profile-page-employee-side-view .vector-14 {
  margin: 0 5.4px;
  width: 14.3px;
  height: 12.5px;
}
.part-time-pal-employer-profile-page-employee-side-view .vector-13 {
  width: 25px;
  height: 12.5px;
}
.part-time-pal-employer-profile-page-employee-side-view .iconuser {
  margin: 0 14px 3px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .vector-15 {
  width: 21px;
  height: 27px;
}
.part-time-pal-employer-profile-page-employee-side-view .iconbookmark-empty {
  margin-top: 1px;
  display: flex;
  width: 21px;
  height: 27px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .container {
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  width: 60px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .container-5 {
  position: relative;
  margin: 0 17px 18px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 32px);
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .line-30 {
  background: #E5E5E5;
  position: relative;
  width: 393px;
  height: 1px;
}
.part-time-pal-employer-profile-page-employee-side-view .header {
  position: absolute;
  left: -1px;
  top: 0px;
  display: flex;
  flex-direction: column;
  padding: 47px 0px 0 1px;
  width: 394px;
  height: 96px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .line-29 {
  background: #E5E5E5;
  position: absolute;
  left: -1px;
  bottom: 97px;
  width: 393px;
  height: 1px;
}
.part-time-pal-employer-profile-page-employee-side-view .search-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 13px;
  line-height: 0.923;
  color: #000000;
}
.part-time-pal-employer-profile-page-employee-side-view .vector-16 {
  width: 28px;
  height: 28px;
}
.part-time-pal-employer-profile-page-employee-side-view .carbonsearch-advanced {
  position: absolute;
  left: 9.7px;
  top: 0px;
  display: flex;
  width: 28px;
  height: 28px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .search {
  position: relative;
  margin: 0 42.9px 4.6px 0;
  display: flex;
  padding-top: 26.4px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .vector-17 {
  width: 21.3px;
  height: 21.1px;
}
.part-time-pal-employer-profile-page-employee-side-view .material-symbols-lightmap-outline {
  position: absolute;
  top: 0px;
  right: 1.1px;
  display: flex;
  width: 21.3px;
  height: 21.1px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .map-3 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.667;
  color: #000000;
}
.part-time-pal-employer-profile-page-employee-side-view .map-2 {
  position: relative;
  margin: 3.4px 39.2px 0 0;
  display: flex;
  padding-top: 19.6px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .vector-18 {
  width: 26.7px;
  height: 22.7px;
}
.part-time-pal-employer-profile-page-employee-side-view .mdihome-outline {
  position: absolute;
  top: 0px;
  right: 2.6px;
  display: flex;
  width: 26.7px;
  height: 22.7px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .home-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.667;
  color: #000000;
}
.part-time-pal-employer-profile-page-employee-side-view .home {
  position: relative;
  margin: 2px 35.7px 0 0;
  display: flex;
  padding-top: 21px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .vector-19 {
  width: 26px;
  height: 18px;
}
.part-time-pal-employer-profile-page-employee-side-view .quillmail {
  margin: 0 13.4px 4px 14.4px;
  display: flex;
  width: 26px;
  height: 18px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .messages-1 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-employer-profile-page-employee-side-view .messages {
  margin: 5px 35.4px 4px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .vector-20 {
  width: 24px;
  height: 22.7px;
}
.part-time-pal-employer-profile-page-employee-side-view .tablerurgent {
  position: absolute;
  top: 0px;
  right: 6.2px;
  display: flex;
  width: 24px;
  height: 22.7px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .urgent-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.667;
  color: #000000;
}
.part-time-pal-employer-profile-page-employee-side-view .urgent {
  position: relative;
  margin-top: 2px;
  display: flex;
  padding-top: 21px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view .container-2 {
  background: #FFFFFF;
  position: absolute;
  left: -1px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  padding: 16px 19.8px 39px 25.2px;
  width: 393px;
  height: 98px;
  box-sizing: border-box;
}
.part-time-pal-employer-profile-page-employee-side-view {
  background: #FFFFFF;
  padding-top: 95px;
  box-sizing: border-box;
}
