.part-time-pal-listings-page-web-with-giest-sketch .logo {
  margin-right: 15px;
  width: 979px;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 26px;
  text-transform: uppercase;
  color: #000000;
}
.part-time-pal-listings-page-web-with-giest-sketch .home {
  margin-right: 10.5px;
  width: 210.5px;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.part-time-pal-listings-page-web-with-giest-sketch .login {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.part-time-pal-listings-page-web-with-giest-sketch .links {
  margin: 4.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 265.4px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .navbar-desktop {
  border-bottom: 1px solid #000000;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 17px 90.6px 16px 90px;
  width: 1440px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .frame-5 {
  margin: 11px 0 7px 0;
  width: 29px;
  height: 29px;
}
.part-time-pal-listings-page-web-with-giest-sketch .sort {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 40px;
  color: #888888;
}
.part-time-pal-listings-page-web-with-giest-sketch .container-18 {
  margin: 0 11px 27px 11px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 215.9px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .line-416 {
  background: #888888;
  width: 389px;
  height: 1px;
}
.part-time-pal-listings-page-web-with-giest-sketch .head-1 {
  margin-bottom: 17px;
  display: flex;
  flex-direction: column;
  width: 389px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .line-417 {
  background: #888888;
  margin-bottom: 13px;
  width: 305px;
  height: 1px;
}
.part-time-pal-listings-page-web-with-giest-sketch .default {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 300;
  font-size: 20px;
  color: #000000;
}
.part-time-pal-listings-page-web-with-giest-sketch .container-5 {
  background: #D9D9D9;
  position: relative;
  margin: 0 35px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding-bottom: 20px;
  width: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .line-412 {
  background: #888888;
  width: 305px;
  height: 1px;
}
.part-time-pal-listings-page-web-with-giest-sketch .active-filter-1 {
  margin: 0 35px 14px 35px;
  display: flex;
  align-self: flex-start;
  width: 305px;
  height: 1px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .recency {
  margin-bottom: 19.8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 300;
  font-size: 20px;
  color: #000000;
}
.part-time-pal-listings-page-web-with-giest-sketch .line-413 {
  background: #888888;
  width: 305px;
  height: 1px;
}
.part-time-pal-listings-page-web-with-giest-sketch .complete-filter-1 {
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .pay {
  margin-bottom: 13.6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 300;
  font-size: 20px;
  color: #000000;
}
.part-time-pal-listings-page-web-with-giest-sketch .line-414 {
  background: #888888;
  width: 305px;
  height: 1px;
}
.part-time-pal-listings-page-web-with-giest-sketch .draft-filter-1 {
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .duration {
  margin-bottom: 23.4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 300;
  font-size: 20px;
  color: #000000;
}
.part-time-pal-listings-page-web-with-giest-sketch .line-415 {
  background: #888888;
  width: 305px;
  height: 1px;
}
.part-time-pal-listings-page-web-with-giest-sketch .deleted-filter-1 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .options {
  margin: 0 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .sort-drop-down {
  margin-bottom: 29.3px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .frame-4 {
  margin: 11px 0 7px 0;
  width: 29px;
  height: 29px;
}
.part-time-pal-listings-page-web-with-giest-sketch .filters-1 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 40px;
  color: #888888;
}
.part-time-pal-listings-page-web-with-giest-sketch .container-1 {
  margin: 0 11px 27px 11px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 232.3px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .line-411 {
  background: #888888;
  width: 389px;
  height: 1px;
}
.part-time-pal-listings-page-web-with-giest-sketch .head {
  margin-bottom: 33px;
  display: flex;
  flex-direction: column;
  width: 389px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .listing-status {
  margin: 0 19px 17px 19px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.part-time-pal-listings-page-web-with-giest-sketch .active {
  margin: 0 11.5px 0.5px 0;
  display: inline-block;
  width: 284.6px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 300;
  font-size: 20px;
  color: #000000;
}
.part-time-pal-listings-page-web-with-giest-sketch .vector {
  width: 18.8px;
  height: 18.8px;
}
.part-time-pal-listings-page-web-with-giest-sketch .frame {
  margin-top: 4.7px;
  display: flex;
  width: 18.8px;
  height: 18.8px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .active-filter {
  margin-bottom: 19.7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 314.9px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .completed {
  margin: 0 11.5px 0.5px 0;
  display: inline-block;
  width: 284.6px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 300;
  font-size: 20px;
  color: #000000;
}
.part-time-pal-listings-page-web-with-giest-sketch .vector-1 {
  width: 18.8px;
  height: 18.8px;
}
.part-time-pal-listings-page-web-with-giest-sketch .frame-1 {
  margin-top: 4.7px;
  display: flex;
  width: 18.8px;
  height: 18.8px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .complete-filter {
  margin-bottom: 19.7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 314.9px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .draft {
  margin: 0 11.5px 0.5px 0;
  display: inline-block;
  width: 284.6px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 300;
  font-size: 20px;
  color: #000000;
}
.part-time-pal-listings-page-web-with-giest-sketch .vector-2 {
  width: 18.8px;
  height: 18.8px;
}
.part-time-pal-listings-page-web-with-giest-sketch .frame-2 {
  margin-top: 4.7px;
  display: flex;
  width: 18.8px;
  height: 18.8px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .draft-filter {
  margin-bottom: 19.7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 314.9px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .deleted {
  margin: 0 11.5px 0.5px 0;
  display: inline-block;
  width: 284.6px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 300;
  font-size: 20px;
  color: #000000;
}
.part-time-pal-listings-page-web-with-giest-sketch .vector-3 {
  width: 18.8px;
  height: 18.8px;
}
.part-time-pal-listings-page-web-with-giest-sketch .frame-3 {
  margin-top: 4.7px;
  display: flex;
  width: 18.8px;
  height: 18.8px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .deleted-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 314.9px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .filters {
  margin: 0 35px 22.9px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  width: 314.9px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .line-41 {
  background: #888888;
  align-self: center;
  width: 305px;
  height: 1px;
}
.part-time-pal-listings-page-web-with-giest-sketch .filter-drop-down {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .container-10 {
  margin: 35px 0 245px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .line-40 {
  background: #888888;
  width: 1px;
  height: 960px;
}
.part-time-pal-listings-page-web-with-giest-sketch .side-bar {
  margin-right: 42px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .your-listings-11 {
  margin-right: 28px;
  width: 528px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 600;
  font-size: 48px;
  color: #000000;
}
.part-time-pal-listings-page-web-with-giest-sketch .egline-cook {
  margin: 11.5px 5px 8.7px 0;
  display: inline-block;
  width: 323px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  line-height: 0.714;
  color: #AFAFAF;
}
.part-time-pal-listings-page-web-with-giest-sketch .frame-6 {
  width: 30.2px;
  height: 30.2px;
}
.part-time-pal-listings-page-web-with-giest-sketch .search-bar {
  border-radius: 30px;
  background: #F4F4F4;
  position: relative;
  margin: 5px 0 2px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7.5px 13.8px 11.3px 20px;
  width: 392px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .container {
  margin: 0 0 17px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 948px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .rectangle-672 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0.7px solid #000000;
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  top: 33px;
  translate: -50% 0;
  width: 624px;
  height: 245px;
}
.part-time-pal-listings-page-web-with-giest-sketch .edit-2 {
  margin: 59.8px 0 15.5px 0;
  width: 42.9px;
  height: 42.9px;
}
.part-time-pal-listings-page-web-with-giest-sketch .listing-title-2 {
  margin: 70.4px 0 27.9px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 700;
  font-size: 40px;
  line-height: 0.5;
  color: #000000;
}
.part-time-pal-listings-page-web-with-giest-sketch .container-1 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 36px;
  line-height: 0.556;
  color: #FFFFFF;
}
.part-time-pal-listings-page-web-with-giest-sketch .notification-1 {
  border-radius: 32.5px;
  background: #FF6F6F;
  position: relative;
  margin-bottom: 28.2px;
  display: flex;
  align-self: flex-end;
  padding: 22.5px 0 22.5px 1.8px;
  width: 65px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .pay-icon-2 {
  margin-right: 7px;
  width: 25px;
  height: 25px;
}
.part-time-pal-listings-page-web-with-giest-sketch .pay-rate-2 {
  margin: 5.6px 0 3.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #9E9E9E;
}
.part-time-pal-listings-page-web-with-giest-sketch .pay-tag-1 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .container-8 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .container-15 {
  position: relative;
  margin: 0 0 9.4px 50.7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 637.3px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .select-button-2 {
  border-radius: 3px;
  border: 0.5px solid #000000;
  margin: 0 21px 19px 0;
  width: 30px;
  height: 30px;
}
.part-time-pal-listings-page-web-with-giest-sketch .listing-description-2 {
  margin-top: 29px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-listings-page-web-with-giest-sketch .container-7 {
  margin: 13.3px 0 21.5px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .frame-9 {
  margin: 0 8.1px 1.7px 0;
  width: 18.8px;
  height: 18.8px;
}
.part-time-pal-listings-page-web-with-giest-sketch .hours-2 {
  margin-top: 0.4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #9E9E9E;
}
.part-time-pal-listings-page-web-with-giest-sketch .hours-tag-2 {
  margin: 0 5.2px 6.7px 5.2px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .location-icon-2 {
  margin-right: 11.2px;
  width: 20.9px;
  height: 20.9px;
}
.part-time-pal-listings-page-web-with-giest-sketch .location-2 {
  margin: 2.4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #9E9E9E;
}
.part-time-pal-listings-page-web-with-giest-sketch .location-tag-2 {
  margin: 0 1.1px 12.8px 1.1px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .s-4 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.333;
  color: #A1A1A1;
}
.part-time-pal-listings-page-web-with-giest-sketch .table-head-17 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  display: flex;
  padding: 0.5px 7.1px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .m-2 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.333;
  color: #A1A1A1;
}
.part-time-pal-listings-page-web-with-giest-sketch .table-head-18 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  display: flex;
  padding: 0.5px 5.3px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .t-4 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.333;
  color: #EAEAEA;
}
.part-time-pal-listings-page-web-with-giest-sketch .table-head-19 {
  border-radius: 4px;
  background: #000000;
  display: flex;
  padding: 1.5px 8.1px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .w-2 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.333;
  color: #A1A1A1;
}
.part-time-pal-listings-page-web-with-giest-sketch .table-head-20 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  display: flex;
  padding: 0.5px 4.8px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .t-5 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.333;
  color: #EAEAEA;
}
.part-time-pal-listings-page-web-with-giest-sketch .table-head-21 {
  border-radius: 4px;
  background: #000000;
  display: flex;
  padding: 1.5px 8.1px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .f-2 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.333;
  color: #A1A1A1;
}
.part-time-pal-listings-page-web-with-giest-sketch .table-head-22 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  display: flex;
  padding: 0.5px 7.9px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .s-5 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.333;
  color: #A1A1A1;
}
.part-time-pal-listings-page-web-with-giest-sketch .table-head-23 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  display: flex;
  padding: 0.5px 6.6px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .table-head-16 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .container-9 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .container-3 {
  position: relative;
  margin: 0 49px 11.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 639px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .label-3 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 500;
  font-size: 13px;
  line-height: 1.538;
  color: #FAFAFA;
}
.part-time-pal-listings-page-web-with-giest-sketch .button-3 {
  border-radius: 6px;
  background: #FF1A1A;
  margin-right: 4.5px;
  display: flex;
  padding: 13.5px 0;
  width: 164.5px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .label-4 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 500;
  font-size: 13px;
  line-height: 1.538;
  color: #FAFAFA;
}
.part-time-pal-listings-page-web-with-giest-sketch .button-4 {
  border-radius: 6px;
  background: #3291FF;
  display: flex;
  padding: 13.5px 0;
  width: 164.5px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .view-applicants-unpublish-button-1 {
  border-radius: 6px;
  position: relative;
  margin-right: 2.5px;
  display: flex;
  flex-direction: row;
  width: 333.5px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .web-listing-vercel-2 {
  position: relative;
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8px;
  width: 688px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .rectangle-671 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0.7px solid #000000;
  background: #FFFFFF;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 624px;
  height: 245px;
}
.part-time-pal-listings-page-web-with-giest-sketch .edit-1 {
  margin-bottom: 15.5px;
  width: 42.9px;
  height: 42.9px;
}
.part-time-pal-listings-page-web-with-giest-sketch .listing-title-1 {
  margin: 10.6px 0 27.9px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 700;
  font-size: 40px;
  line-height: 0.5;
  color: #000000;
}
.part-time-pal-listings-page-web-with-giest-sketch .pay-icon-1 {
  margin-right: 7px;
  width: 25px;
  height: 25px;
}
.part-time-pal-listings-page-web-with-giest-sketch .pay-rate-1 {
  margin: 5.6px 0 3.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #9E9E9E;
}
.part-time-pal-listings-page-web-with-giest-sketch .pay-tag {
  margin-top: 33.4px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .container-2 {
  position: relative;
  margin: 0 0 9.4px 50.7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 589.3px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .select-button-1 {
  border-radius: 3px;
  border: 0.5px solid #000000;
  margin: 0 21px 19px 0;
  width: 30px;
  height: 30px;
}
.part-time-pal-listings-page-web-with-giest-sketch .listing-description-1 {
  margin-top: 29px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-listings-page-web-with-giest-sketch .container-13 {
  margin: 13.3px 0 21.5px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .frame-8 {
  margin: 0 8.1px 1.7px 0;
  width: 18.8px;
  height: 18.8px;
}
.part-time-pal-listings-page-web-with-giest-sketch .hours-1 {
  margin-top: 0.4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #9E9E9E;
}
.part-time-pal-listings-page-web-with-giest-sketch .hours-tag-1 {
  margin: 0 5.2px 6.7px 5.2px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .location-icon-1 {
  margin-right: 11.2px;
  width: 20.9px;
  height: 20.9px;
}
.part-time-pal-listings-page-web-with-giest-sketch .location-1 {
  margin: 2.4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #9E9E9E;
}
.part-time-pal-listings-page-web-with-giest-sketch .location-tag-1 {
  margin: 0 1.1px 12.8px 1.1px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .s-2 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.333;
  color: #A1A1A1;
}
.part-time-pal-listings-page-web-with-giest-sketch .table-head-9 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  display: flex;
  padding: 0.5px 7.1px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .m-1 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.333;
  color: #A1A1A1;
}
.part-time-pal-listings-page-web-with-giest-sketch .table-head-10 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  display: flex;
  padding: 0.5px 5.3px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .t-2 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.333;
  color: #EAEAEA;
}
.part-time-pal-listings-page-web-with-giest-sketch .table-head-11 {
  border-radius: 4px;
  background: #000000;
  display: flex;
  padding: 1.5px 8.1px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .w-1 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.333;
  color: #A1A1A1;
}
.part-time-pal-listings-page-web-with-giest-sketch .table-head-12 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  display: flex;
  padding: 0.5px 4.8px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .t-3 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.333;
  color: #EAEAEA;
}
.part-time-pal-listings-page-web-with-giest-sketch .table-head-13 {
  border-radius: 4px;
  background: #000000;
  display: flex;
  padding: 1.5px 8.1px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .f-1 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.333;
  color: #A1A1A1;
}
.part-time-pal-listings-page-web-with-giest-sketch .table-head-14 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  display: flex;
  padding: 0.5px 7.9px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .s-3 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.333;
  color: #A1A1A1;
}
.part-time-pal-listings-page-web-with-giest-sketch .table-head-15 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  display: flex;
  padding: 0.5px 6.6px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .table-head-8 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .container-21 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .container-14 {
  position: relative;
  margin: 0 1px 11.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 639px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .label-2 {
  overflow-wrap: break-word;
  font-family: var(--text-14-normal-500-font-family, 'Geist', 'Roboto Condensed');
  font-weight: var(--text-14-normal-500-font-weight, 500);
  font-size: var(--text-14-normal-500-font-size, 14px);
  line-height: var(--text-14-normal-500-line-height, 1.429);
  color: #FAFAFA;
}
.part-time-pal-listings-page-web-with-giest-sketch .button-2 {
  border-radius: 6px;
  background: #F7B955;
  display: flex;
  padding: 13.5px 0;
  width: 164.5px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .draft-notifier {
  border-radius: 6px;
  position: relative;
  margin-left: 46.5px;
  display: flex;
  width: 164.5px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .web-listing-vercel-1 {
  position: relative;
  margin: 0 33px 12px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 26.8px 15px 8px 0;
  width: 655px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .rectangle-67 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0.7px solid #000000;
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  top: 33px;
  translate: -50% 0;
  width: 624px;
  height: 245px;
}
.part-time-pal-listings-page-web-with-giest-sketch .edit {
  margin: 59.8px 0 15.5px 0;
  width: 42.9px;
  height: 42.9px;
}
.part-time-pal-listings-page-web-with-giest-sketch .listing-title {
  margin: 70.4px 0 27.9px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 700;
  font-size: 40px;
  line-height: 0.5;
  color: #000000;
}
.part-time-pal-listings-page-web-with-giest-sketch .pay-icon {
  margin: 93.2px 7px 0 0;
  width: 25px;
  height: 25px;
}
.part-time-pal-listings-page-web-with-giest-sketch .container {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 36px;
  line-height: 0.556;
  color: #FFFFFF;
}
.part-time-pal-listings-page-web-with-giest-sketch .notification {
  border-radius: 32.5px;
  background: #FF6F6F;
  position: relative;
  margin-bottom: 33.8px;
  display: flex;
  align-self: flex-end;
  padding: 22.5px 0 22.5px 1.8px;
  width: 65px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .pay-rate {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #9E9E9E;
}
.part-time-pal-listings-page-web-with-giest-sketch .container-6 {
  margin-bottom: 3.5px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .container-16 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .container-12 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 637.3px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .urgency-indicator {
  position: absolute;
  right: 61.6px;
  bottom: 19.1px;
  width: 42.9px;
  height: 42.9px;
}
.part-time-pal-listings-page-web-with-giest-sketch .container-4 {
  position: relative;
  margin: 0 0 9.4px 50.7px;
  display: flex;
  width: 637.3px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .select-button {
  border-radius: 3px;
  border: 0.5px solid #000000;
  margin: 0 21px 19px 0;
  width: 30px;
  height: 30px;
}
.part-time-pal-listings-page-web-with-giest-sketch .listing-description {
  margin-top: 29px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-listings-page-web-with-giest-sketch .container-19 {
  margin: 13.3px 0 21.5px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .frame-7 {
  margin: 0 8.1px 1.7px 0;
  width: 18.8px;
  height: 18.8px;
}
.part-time-pal-listings-page-web-with-giest-sketch .hours {
  margin-top: 0.4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #9E9E9E;
}
.part-time-pal-listings-page-web-with-giest-sketch .hours-tag {
  margin: 0 5.2px 6.7px 5.2px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .location-icon {
  margin-right: 11.2px;
  width: 20.9px;
  height: 20.9px;
}
.part-time-pal-listings-page-web-with-giest-sketch .location {
  margin: 2.4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #9E9E9E;
}
.part-time-pal-listings-page-web-with-giest-sketch .location-tag {
  margin: 0 1.1px 12.8px 1.1px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .s {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.333;
  color: #A1A1A1;
}
.part-time-pal-listings-page-web-with-giest-sketch .table-head-1 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  display: flex;
  padding: 0.5px 7.1px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .m {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.333;
  color: #A1A1A1;
}
.part-time-pal-listings-page-web-with-giest-sketch .table-head-2 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  display: flex;
  padding: 0.5px 5.3px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .t {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.333;
  color: #EAEAEA;
}
.part-time-pal-listings-page-web-with-giest-sketch .table-head-3 {
  border-radius: 4px;
  background: #000000;
  display: flex;
  padding: 1.5px 8.1px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .w {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.333;
  color: #A1A1A1;
}
.part-time-pal-listings-page-web-with-giest-sketch .table-head-4 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  display: flex;
  padding: 0.5px 4.8px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .t-1 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.333;
  color: #EAEAEA;
}
.part-time-pal-listings-page-web-with-giest-sketch .table-head-5 {
  border-radius: 4px;
  background: #000000;
  display: flex;
  padding: 1.5px 8.1px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .f {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.333;
  color: #A1A1A1;
}
.part-time-pal-listings-page-web-with-giest-sketch .table-head-6 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  display: flex;
  padding: 0.5px 7.9px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .s-1 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.333;
  color: #A1A1A1;
}
.part-time-pal-listings-page-web-with-giest-sketch .table-head-7 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  display: flex;
  padding: 0.5px 6.6px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .table-head {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .container-20 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .container-11 {
  position: relative;
  margin: 0 49px 11.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 639px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .label {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 500;
  font-size: 13px;
  line-height: 1.538;
  color: #FAFAFA;
}
.part-time-pal-listings-page-web-with-giest-sketch .button {
  border-radius: 6px;
  background: #FF1A1A;
  margin-right: 4.5px;
  display: flex;
  padding: 13.5px 0;
  width: 164.5px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .label-1 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 500;
  font-size: 13px;
  line-height: 1.538;
  color: #FAFAFA;
}
.part-time-pal-listings-page-web-with-giest-sketch .button-1 {
  border-radius: 6px;
  background: #3291FF;
  display: flex;
  padding: 13.5px 0;
  width: 164.5px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .view-applicants-unpublish-button {
  border-radius: 6px;
  position: relative;
  margin-right: 2.5px;
  display: flex;
  flex-direction: row;
  width: 333.5px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .web-listing-vercel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8px;
  width: 688px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .listings {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  width: 688px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .body {
  margin: 21px 0 8px 0;
  display: flex;
  flex-direction: column;
  width: 978px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch .container-17 {
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-web-with-giest-sketch {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  box-sizing: border-box;
}
