.part-time-pal-listings-page-with-vercel-employer-sketch .rectangle-73 {
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 394px;
  height: 95px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .vector-7 {
  background: #000000;
  margin-bottom: 6px;
  width: 22.5px;
  height: 1.5px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .vector-6 {
  background: #000000;
  margin-bottom: 6px;
  width: 22.5px;
  height: 1.5px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .vector-8 {
  background: #000000;
  width: 22.5px;
  height: 1.5px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .hamburger-menu {
  margin: 9.5px 0 6px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22.5px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .logo {
  margin: 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .profile-icon {
  width: 32px;
  height: 32px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container-10 {
  position: relative;
  margin: 0 9px 17px 17.8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 366.3px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .line-30 {
  background: #E5E5E5;
  position: relative;
  width: 393px;
  height: 1px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .header {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  padding: 46px 0px 0 1px;
  width: 394px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .your-listings-8 {
  margin: 2px 10px 2px 0;
  display: inline-block;
  width: 341px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 700;
  font-size: 24px;
  line-height: 0.833;
  color: #000000;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .frame-1 {
  width: 24px;
  height: 24px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .new-listing-button {
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .body-heading {
  margin: 0 8px 20px 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 375px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .label-7 {
  overflow-wrap: break-word;
  font-family: var(--text-14-normal-500-font-family, 'Geist', 'Roboto Condensed');
  font-weight: var(--text-14-normal-500-font-weight, 500);
  font-size: var(--text-14-normal-500-font-size, 14px);
  line-height: var(--text-14-normal-500-line-height, 1.429);
  color: rgba(255, 255, 255, 0.92);
}
.part-time-pal-listings-page-with-vercel-employer-sketch .button {
  border-radius: 64px;
  border: 1px solid rgba(255, 255, 255, 0.17);
  background: #1F1F1F;
  margin-right: 15px;
  display: flex;
  padding: 1px 0;
  flex-grow: 1;
  flex-basis: 99px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .label-8 {
  overflow-wrap: break-word;
  font-family: var(--text-14-normal-500-font-family, 'Geist', 'Roboto Condensed');
  font-weight: var(--text-14-normal-500-font-weight, 500);
  font-size: var(--text-14-normal-500-font-size, 14px);
  line-height: var(--text-14-normal-500-line-height, 1.429);
  color: rgba(255, 255, 255, 0.92);
}
.part-time-pal-listings-page-with-vercel-employer-sketch .button-1 {
  border-radius: 64px;
  border: 1px solid rgba(255, 255, 255, 0.17);
  background: #1F1F1F;
  margin-right: 15px;
  display: flex;
  padding: 1px 18.4px;
  flex-grow: 1;
  flex-basis: 99px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .label-9 {
  overflow-wrap: break-word;
  font-family: var(--text-14-normal-500-font-family, 'Geist', 'Roboto Condensed');
  font-weight: var(--text-14-normal-500-font-weight, 500);
  font-size: var(--text-14-normal-500-font-size, 14px);
  line-height: var(--text-14-normal-500-line-height, 1.429);
  color: rgba(255, 255, 255, 0.92);
}
.part-time-pal-listings-page-with-vercel-employer-sketch .button-2 {
  border-radius: 64px;
  border: 1px solid rgba(255, 255, 255, 0.17);
  background: #1F1F1F;
  margin-right: 15px;
  display: flex;
  padding: 1px 0;
  flex-grow: 1;
  flex-basis: 99px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .label-10 {
  overflow-wrap: break-word;
  font-family: var(--text-14-normal-500-font-family, 'Geist', 'Roboto Condensed');
  font-weight: var(--text-14-normal-500-font-weight, 500);
  font-size: var(--text-14-normal-500-font-size, 14px);
  line-height: var(--text-14-normal-500-line-height, 1.429);
  color: rgba(255, 255, 255, 0.92);
}
.part-time-pal-listings-page-with-vercel-employer-sketch .button-3 {
  border-radius: 64px;
  border: 1px solid rgba(255, 255, 255, 0.17);
  background: #1F1F1F;
  display: flex;
  padding: 1px 0;
  flex-grow: 1;
  flex-basis: 99px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .filters-scroll {
  margin: 0 0 22px 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 8px);
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .egline-cook-pay-25-daysmwf {
  margin: 8px 5px 6px 0;
  display: inline-block;
  width: 256px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 9px;
  line-height: 1.111;
  color: #AFAFAF;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .frame {
  width: 24px;
  height: 24px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .search-bar {
  border-radius: 30px;
  background: #F4F4F4;
  position: relative;
  margin-right: 38px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 11px 9px 16px;
  width: 312px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .vector {
  width: 18px;
  height: 12px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .sort-icon {
  margin: 12px 0 15px 0;
  display: flex;
  width: 18px;
  height: 12px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container-9 {
  margin: 0 8px 2px 8px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 368px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .rectangle-67 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: absolute;
  top: 18px;
  right: 18px;
  width: 349px;
  height: 137px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .edit {
  margin-top: 33px;
  width: 24px;
  height: 24px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .listing-title {
  margin: 34.5px 0 2.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #FFFFFF;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .notification {
  border-radius: 18px;
  background: #FF6F6F;
  position: relative;
  margin-bottom: 21px;
  display: flex;
  padding: 8px 12.6px 8px 13.6px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container-14 {
  margin-left: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 356px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .pay-icon {
  width: 12px;
  height: 12px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .pay-rate {
  margin: 1.5px 0 0.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: #9E9E9E;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .pay-tag {
  margin: 0 34px 8.5px 34px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .select-button {
  border-radius: 3px;
  border: 0.5px solid #000000;
  margin: 0 15px 17px 0;
  width: 20px;
  height: 20px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .listing-description {
  margin-top: 17px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #000000;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container-29 {
  margin-bottom: 0.5px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .location-icon {
  margin-bottom: 5.5px;
  width: 10px;
  height: 10px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .s {
  position: absolute;
  right: 3.9px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .table-head-1 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 13px;
  height: 13px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .m {
  position: absolute;
  right: 2.7px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .table-head-2 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 13px;
  height: 13px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .t {
  position: absolute;
  right: 3.9px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #EAEAEA;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .table-head-3 {
  border-radius: 4px;
  background: #000000;
  position: relative;
  width: 13px;
  height: 13px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .w {
  position: absolute;
  right: 2.2px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .table-head-4 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 12px;
  height: 13px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .t-1 {
  position: absolute;
  right: 3.9px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #EAEAEA;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .table-head-5 {
  border-radius: 4px;
  background: #000000;
  position: relative;
  width: 13px;
  height: 13px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .f {
  position: absolute;
  right: 4.1px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .table-head-6 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 13px;
  height: 13px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .s-1 {
  position: absolute;
  right: 3.9px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .table-head-7 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 13px;
  height: 13px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .table-head {
  display: flex;
  flex-direction: row;
  width: 90px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container-28 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .location {
  position: absolute;
  top: 0px;
  right: 4.7px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: #9E9E9E;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container-8 {
  position: relative;
  margin-top: 9px;
  display: flex;
  width: 90px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container-19 {
  margin: 0 28px 6.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 360px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .label {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 500;
  font-size: 13px;
  line-height: 1.538;
  color: #FAFAFA;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .button-4 {
  border-radius: 6px 0 0 6px;
  background: #FF1A1A;
  display: flex;
  padding: 5.6px 0;
  width: 109px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .label-1 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 500;
  font-size: 13px;
  line-height: 1.538;
  color: #FAFAFA;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .button-5 {
  border-radius: 0 6px 6px 0;
  background: #3291FF;
  display: flex;
  padding: 5.6px 13px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .view-applicants-unpublish-button {
  border-radius: 0 0 10px 10px;
  margin-left: 4px;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container-17 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .frame-6 {
  margin: 5px 2px 6px 0;
  width: 9px;
  height: 9px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .hours {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #9E9E9E;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .hours-tag {
  position: absolute;
  top: 50%;
  right: 33.3px;
  translate: 0 -50%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .vercel-listing {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  padding-bottom: 2.9px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .rectangle-671 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 349px;
  height: 137px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .edit-1 {
  width: 24px;
  height: 24px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .listing-title-1 {
  margin: 1.5px 0 2.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container-11 {
  margin: 0 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 211.2px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .pay-icon-1 {
  width: 12px;
  height: 12px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .pay-rate-1 {
  margin: 1.5px 0 0.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: #9E9E9E;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .pay-tag-1 {
  margin: 0 6px 8.5px 6px;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  width: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .select-button-1 {
  border-radius: 3px;
  border: 0.5px solid #000000;
  margin: 0 15px 17px 0;
  width: 20px;
  height: 20px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .listing-description-1 {
  margin-top: 17px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #000000;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container-15 {
  margin-bottom: 0.5px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .location-icon-1 {
  margin-bottom: 5.5px;
  width: 10px;
  height: 10px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .s-2 {
  position: absolute;
  right: 3.9px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .table-head-9 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 13px;
  height: 13px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .m-1 {
  position: absolute;
  right: 2.7px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .table-head-10 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 13px;
  height: 13px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .t-2 {
  position: absolute;
  right: 3.9px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #EAEAEA;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .table-head-11 {
  border-radius: 4px;
  background: #000000;
  position: relative;
  width: 13px;
  height: 13px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .w-1 {
  position: absolute;
  right: 2.2px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .table-head-12 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 12px;
  height: 13px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .t-3 {
  position: absolute;
  right: 3.9px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #EAEAEA;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .table-head-13 {
  border-radius: 4px;
  background: #000000;
  position: relative;
  width: 13px;
  height: 13px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .f-1 {
  position: absolute;
  right: 4.1px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .table-head-14 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 13px;
  height: 13px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .s-3 {
  position: absolute;
  right: 3.9px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .table-head-15 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 13px;
  height: 13px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .table-head-8 {
  display: flex;
  flex-direction: row;
  width: 90px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container-5 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .location-1 {
  position: absolute;
  top: 0px;
  right: 4.7px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: #9E9E9E;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container-7 {
  position: relative;
  margin-top: 9px;
  display: flex;
  width: 90px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container-4 {
  margin-bottom: 6.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 360px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .label-2 {
  overflow-wrap: break-word;
  font-family: var(--text-14-normal-500-font-family, 'Geist', 'Roboto Condensed');
  font-weight: var(--text-14-normal-500-font-weight, 500);
  font-size: var(--text-14-normal-500-font-size, 14px);
  line-height: var(--text-14-normal-500-line-height, 1.429);
  color: #FAFAFA;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .button-6 {
  border-radius: 6px;
  background: #F7B955;
  display: flex;
  padding: 5.6px 0;
  width: 109px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .draft-notifier {
  border-radius: 6px;
  margin-left: 31px;
  display: flex;
  align-self: center;
  width: 109px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container-24 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .frame-7 {
  margin: 5px 2px 6px 0;
  width: 9px;
  height: 9px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .hours-1 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #9E9E9E;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .hours-tag-1 {
  position: absolute;
  top: 50px;
  right: 15.3px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .vercel-listing-1 {
  position: relative;
  margin: 0 18px 2px 0;
  display: flex;
  padding: 15px 10px 2.9px 0;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .rectangle-672 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: absolute;
  top: 18px;
  right: 18px;
  width: 349px;
  height: 137px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .edit-2 {
  margin-top: 33px;
  width: 24px;
  height: 24px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .listing-title-2 {
  margin: 34.5px 0 2.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container-1 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #FFFFFF;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .notification-1 {
  border-radius: 18px;
  background: #FF6F6F;
  position: relative;
  margin-bottom: 21px;
  display: flex;
  padding: 8px 12.6px 8px 13.6px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container-23 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 356px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .urgency-indicator {
  position: absolute;
  right: 34px;
  bottom: 2px;
  width: 24px;
  height: 24px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container-27 {
  position: relative;
  margin-left: 32px;
  display: flex;
  width: 356px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .pay-icon-2 {
  width: 12px;
  height: 12px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .pay-rate-2 {
  margin: 1.5px 0 0.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: #9E9E9E;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .pay-tag-2 {
  margin: 0 34px 8.5px 34px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .select-button-2 {
  border-radius: 3px;
  border: 0.5px solid #000000;
  margin: 0 15px 17px 0;
  width: 20px;
  height: 20px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .listing-description-2 {
  margin-top: 17px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #000000;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container-22 {
  margin-bottom: 0.5px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .location-icon-2 {
  margin-bottom: 5.5px;
  width: 10px;
  height: 10px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .s-4 {
  position: absolute;
  right: 3.9px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .table-head-17 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 13px;
  height: 13px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .m-2 {
  position: absolute;
  right: 2.7px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .table-head-18 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 13px;
  height: 13px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .t-4 {
  position: absolute;
  right: 3.9px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #EAEAEA;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .table-head-19 {
  border-radius: 4px;
  background: #000000;
  position: relative;
  width: 13px;
  height: 13px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .w-2 {
  position: absolute;
  right: 2.2px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .table-head-20 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 12px;
  height: 13px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .t-5 {
  position: absolute;
  right: 3.9px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #EAEAEA;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .table-head-21 {
  border-radius: 4px;
  background: #000000;
  position: relative;
  width: 13px;
  height: 13px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .f-2 {
  position: absolute;
  right: 4.1px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .table-head-22 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 13px;
  height: 13px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .s-5 {
  position: absolute;
  right: 3.9px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .table-head-23 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 13px;
  height: 13px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .table-head-16 {
  display: flex;
  flex-direction: row;
  width: 90px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container-26 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .location-2 {
  position: absolute;
  top: 0px;
  right: 4.7px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: #9E9E9E;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container-3 {
  position: relative;
  margin-top: 9px;
  display: flex;
  width: 90px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container-12 {
  margin: 0 28px 6.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 360px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .label-3 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 500;
  font-size: 13px;
  line-height: 1.538;
  color: #FAFAFA;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .button-7 {
  border-radius: 6px 0 0 6px;
  background: #FF1A1A;
  display: flex;
  padding: 5.6px 0;
  width: 109px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .label-4 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 500;
  font-size: 13px;
  line-height: 1.538;
  color: #FAFAFA;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .button-8 {
  border-radius: 0 6px 6px 0;
  background: #3291FF;
  display: flex;
  padding: 5.6px 13px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .view-applicants-unpublish-button-1 {
  border-radius: 0 0 10px 10px;
  margin-left: 4px;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container-25 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .frame-8 {
  margin: 5px 2px 6px 0;
  width: 9px;
  height: 9px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .hours-2 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #9E9E9E;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .hours-tag-2 {
  position: absolute;
  top: 50%;
  right: 33.3px;
  translate: 0 -50%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .vercel-listing-2 {
  position: relative;
  margin-bottom: 2px;
  display: flex;
  padding-bottom: 2.9px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .rectangle-673 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: absolute;
  top: 18px;
  right: 18px;
  width: 349px;
  height: 137px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .edit-3 {
  margin-top: 33px;
  width: 24px;
  height: 24px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .listing-title-3 {
  margin: 34.5px 0 2.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container-2 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #FFFFFF;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .notification-2 {
  border-radius: 18px;
  background: #FF6F6F;
  position: relative;
  margin-bottom: 21px;
  display: flex;
  padding: 8px 7.6px 8px 8.6px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container-6 {
  margin-left: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 356px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .pay-icon-3 {
  width: 12px;
  height: 12px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .pay-rate-3 {
  margin: 1.5px 0 0.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: #9E9E9E;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .pay-tag-3 {
  margin: 0 34px 8.5px 34px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .select-button-3 {
  border-radius: 3px;
  border: 0.5px solid #000000;
  margin: 0 15px 17px 0;
  width: 20px;
  height: 20px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .listing-description-3 {
  margin-top: 17px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #000000;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container-18 {
  margin-bottom: 0.5px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .location-icon-3 {
  margin-bottom: 5.5px;
  width: 10px;
  height: 10px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .s-6 {
  position: absolute;
  right: 3.9px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .table-head-25 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 13px;
  height: 13px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .m-3 {
  position: absolute;
  right: 2.7px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .table-head-26 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 13px;
  height: 13px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .t-6 {
  position: absolute;
  right: 3.9px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #EAEAEA;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .table-head-27 {
  border-radius: 4px;
  background: #000000;
  position: relative;
  width: 13px;
  height: 13px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .w-3 {
  position: absolute;
  right: 2.2px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .table-head-28 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 12px;
  height: 13px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .t-7 {
  position: absolute;
  right: 3.9px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #EAEAEA;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .table-head-29 {
  border-radius: 4px;
  background: #000000;
  position: relative;
  width: 13px;
  height: 13px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .f-3 {
  position: absolute;
  right: 4.1px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .table-head-30 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 13px;
  height: 13px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .s-7 {
  position: absolute;
  right: 3.9px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .table-head-31 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 13px;
  height: 13px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .table-head-24 {
  display: flex;
  flex-direction: row;
  width: 90px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .location-3 {
  position: absolute;
  top: 0px;
  right: 4.7px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: #9E9E9E;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container-21 {
  position: relative;
  margin-top: 9px;
  display: flex;
  width: 90px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container-1 {
  margin: 0 28px 6.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 360px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .label-5 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 500;
  font-size: 13px;
  line-height: 1.538;
  color: #FAFAFA;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .button-9 {
  border-radius: 6px 0 0 6px;
  background: #FF1A1A;
  display: flex;
  padding: 5.6px 0;
  width: 109px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .label-6 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 500;
  font-size: 13px;
  line-height: 1.538;
  color: #FAFAFA;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .button-10 {
  border-radius: 0 6px 6px 0;
  background: #3291FF;
  display: flex;
  padding: 5.6px 13px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .view-applicants-unpublish-button-2 {
  border-radius: 0 0 10px 10px;
  margin-left: 4px;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container-16 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .frame-9 {
  margin: 5px 2px 6px 0;
  width: 9px;
  height: 9px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .hours-3 {
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #9E9E9E;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .hours-tag-3 {
  position: absolute;
  top: 50%;
  right: 33.3px;
  translate: 0 -50%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .vercel-listing-3 {
  position: relative;
  display: flex;
  padding-bottom: 2.9px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .listings {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .body {
  margin-left: 2px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 2px);
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container-20 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 451px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .line-29 {
  background: #E5E5E5;
  position: absolute;
  left: -1px;
  bottom: 97px;
  width: 393px;
  height: 1px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .frame-2 {
  width: 30px;
  height: 30px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .help {
  display: flex;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .vector-14 {
  width: 17.5px;
  height: 22.5px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .listings-1 {
  margin: 3.8px 0;
  display: flex;
  width: 17.5px;
  height: 22.5px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .frame-3 {
  width: 30px;
  height: 30px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .home {
  display: flex;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .frame-4 {
  width: 30px;
  height: 30px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .messages {
  display: flex;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .frame-5 {
  width: 30px;
  height: 30px;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .employees {
  display: flex;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .frame-10 {
  position: absolute;
  left: 50%;
  top: 14px;
  translate: -50% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 314px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .help-1 {
  margin: 1px 10px 0 0;
  display: inline-block;
  width: 55px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #000000;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .listings-2 {
  margin-top: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #000000;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .home-1 {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #000000;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .employees-1 {
  margin-top: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #000000;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container-13 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 309.8px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .messages-1 {
  position: absolute;
  right: 108.7px;
  bottom: 35px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #000000;
}
.part-time-pal-listings-page-with-vercel-employer-sketch .container {
  background: #FFFFFF;
  position: absolute;
  left: -1px;
  bottom: 0px;
  display: flex;
  padding: 43px 36.3px 34px 36.3px;
  width: 393px;
  height: 98px;
  box-sizing: border-box;
}
.part-time-pal-listings-page-with-vercel-employer-sketch {
  background: #FFFFFF;
  display: flex;
  box-sizing: border-box;
}
