.part-time-pal-resources-page-employer .rectangle-73 {
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 394px;
  height: 95px;
}
.part-time-pal-resources-page-employer .vector {
  background: #000000;
  margin-bottom: 6.9px;
  width: 23.3px;
  height: 2px;
}
.part-time-pal-resources-page-employer .vector-1 {
  background: #000000;
  margin-bottom: 6.9px;
  width: 23.3px;
  height: 2px;
}
.part-time-pal-resources-page-employer .vector-2 {
  background: #000000;
  width: 23.3px;
  height: 2px;
}
.part-time-pal-resources-page-employer .iconmenu {
  margin: 8px 0 2.1px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23.3px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .logo {
  overflow-wrap: break-word;
  font-family: 'Rockwell', 'Roboto Condensed';
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-resources-page-employer .vector-4 {
  margin: 0 5.4px;
  width: 14.3px;
  height: 12.5px;
}
.part-time-pal-resources-page-employer .vector-3 {
  width: 25px;
  height: 12.5px;
}
.part-time-pal-resources-page-employer .iconuser {
  margin: 2px 0 3px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .container-2 {
  position: relative;
  margin: 0 14px 18px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 29px);
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .line-30 {
  background: #E5E5E5;
  position: relative;
  width: 393px;
  height: 1px;
}
.part-time-pal-resources-page-employer .header {
  position: relative;
  margin-bottom: 17px;
  display: flex;
  flex-direction: column;
  padding: 47px 0px 0 1px;
  width: 394px;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .employees-2 {
  margin-right: 15px;
  width: 180px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-resources-page-employer .employers {
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-resources-page-employer .container-1 {
  margin: 0 34.9px 35px 34.9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 318.2px;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .line-301 {
  background: #7A7A7A;
  width: 394px;
  height: 1px;
}
.part-time-pal-resources-page-employer .container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .line-33 {
  background: #FF6E6E;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 197px;
  height: 4px;
}
.part-time-pal-resources-page-employer .version-selector {
  position: relative;
  margin-bottom: 26px;
  display: flex;
  padding-bottom: 3px;
  width: 394px;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .vector-11 {
  width: 20px;
  height: 20px;
}
.part-time-pal-resources-page-employer .simple-line-iconsplus {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .about-us {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-resources-page-employer .about-expander {
  margin: 0 10px 30px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 224.8px;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .line-31 {
  background: #E5E5E5;
  width: 394px;
  height: 1px;
}
.part-time-pal-resources-page-employer .about-section {
  margin-bottom: 29px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .vector-12 {
  width: 20px;
  height: 20px;
}
.part-time-pal-resources-page-employer .simple-line-iconsplus-1 {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .how-to-use-tutorial {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-resources-page-employer .tutorial-expander {
  margin: 0 10px 30px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 273px;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .line-311 {
  background: #E5E5E5;
  width: 394px;
  height: 1px;
}
.part-time-pal-resources-page-employer .tutorial-section {
  margin-bottom: 29px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .vector-13 {
  width: 20px;
  height: 20px;
}
.part-time-pal-resources-page-employer .simple-line-iconsplus-2 {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .legal-resources {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-resources-page-employer .legal-expander {
  margin: 0 10px 30px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 256.7px;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .line-312 {
  background: #E5E5E5;
  width: 394px;
  height: 1px;
}
.part-time-pal-resources-page-employer .legal-section {
  margin-bottom: 29px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .vector-14 {
  width: 20px;
  height: 20px;
}
.part-time-pal-resources-page-employer .simple-line-iconsplus-3 {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .report-aproblem {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-resources-page-employer .report-expander {
  margin: 0 10px 30px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 263.7px;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .line-313 {
  background: #E5E5E5;
  width: 394px;
  height: 1px;
}
.part-time-pal-resources-page-employer .report-section {
  margin-bottom: 29px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .vector-15 {
  width: 20px;
  height: 20px;
}
.part-time-pal-resources-page-employer .simple-line-iconsplus-4 {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .contact-us {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-resources-page-employer .contact-expander {
  margin: 0 10px 30px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 231.9px;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .line-314 {
  background: #E5E5E5;
  width: 394px;
  height: 1px;
}
.part-time-pal-resources-page-employer .contact-section {
  margin-bottom: 29px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .vector-16 {
  width: 20px;
  height: 20px;
}
.part-time-pal-resources-page-employer .simple-line-iconsplus-5 {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .faq {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-resources-page-employer .faq-expander {
  margin: 0 10px 30px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 201.7px;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .line-315 {
  background: #E5E5E5;
  width: 394px;
  height: 1px;
}
.part-time-pal-resources-page-employer .faq-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .frame-14 {
  margin-bottom: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 394px;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .line-29 {
  background: #E5E5E5;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 1px;
}
.part-time-pal-resources-page-employer .vector-5 {
  width: 26.7px;
  height: 26.7px;
}
.part-time-pal-resources-page-employer .help {
  margin: 2.7px 0;
  display: flex;
  width: 26.7px;
  height: 26.7px;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .vector-6 {
  width: 21.3px;
  height: 27.4px;
}
.part-time-pal-resources-page-employer .listings {
  margin: 2.7px 0 2px 0;
  display: flex;
  width: 21.3px;
  height: 27.4px;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .vector-7 {
  width: 26.7px;
  height: 22.7px;
}
.part-time-pal-resources-page-employer .home {
  margin: 4px 0 5.3px 0;
  display: flex;
  width: 26.7px;
  height: 22.7px;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .vector-8 {
  width: 26px;
  height: 18px;
}
.part-time-pal-resources-page-employer .messages {
  margin: 7px 0;
  display: flex;
  width: 26px;
  height: 18px;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .formkitpeople {
  width: 32px;
  height: 32px;
}
.part-time-pal-resources-page-employer .employees {
  display: flex;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .frame-10 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 7.6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .home-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #000000;
}
.part-time-pal-resources-page-employer .messages-1 {
  position: absolute;
  right: 74.4px;
  bottom: 1px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #000000;
}
.part-time-pal-resources-page-employer .employees-1 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #000000;
}
.part-time-pal-resources-page-employer .listings-1 {
  position: absolute;
  left: 70px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #000000;
}
.part-time-pal-resources-page-employer .help-1 {
  position: absolute;
  left: 2px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #000000;
}
.part-time-pal-resources-page-employer .menu-items {
  position: relative;
  display: flex;
  padding: 29px 10.2px 1px 0;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .container-3 {
  background: #FFFFFF;
  position: relative;
  padding: 14px 25.9px 34px 38.2px;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer .footer {
  position: relative;
  margin-right: 1px;
  width: 393px;
  box-sizing: border-box;
}
.part-time-pal-resources-page-employer {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
