.part-time-pal-messages-page .rectangle-73 {
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 394px;
  height: 95px;
}
.part-time-pal-messages-page .vector-4 {
  background: #000000;
  margin-bottom: 6.9px;
  width: 23.3px;
  height: 2px;
}
.part-time-pal-messages-page .vector-5 {
  background: #000000;
  margin-bottom: 6.9px;
  width: 23.3px;
  height: 2px;
}
.part-time-pal-messages-page .vector-6 {
  background: #000000;
  width: 23.3px;
  height: 2px;
}
.part-time-pal-messages-page .iconmenu {
  margin: 8px 0 2.1px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23.3px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-messages-page .logo {
  overflow-wrap: break-word;
  font-family: 'Rockwell', 'Roboto Condensed';
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-messages-page .vector-8 {
  margin: 0 5.4px;
  width: 14.3px;
  height: 12.5px;
}
.part-time-pal-messages-page .vector-7 {
  width: 25px;
  height: 12.5px;
}
.part-time-pal-messages-page .iconuser {
  margin: 2px 0 3px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-messages-page .container-13 {
  position: relative;
  margin: 0 14px 18px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 29px);
  box-sizing: border-box;
}
.part-time-pal-messages-page .line-30 {
  background: #E5E5E5;
  position: relative;
  width: 393px;
  height: 1px;
}
.part-time-pal-messages-page .header {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  padding: 47px 0px 0 1px;
  width: 100%;
  box-sizing: border-box;
}
.part-time-pal-messages-page .messages-1 {
  margin: 2px 10px 2px 0;
  display: inline-block;
  width: 335px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 24px;
  line-height: 0.833;
  color: #000000;
}
.part-time-pal-messages-page .bxedit {
  width: 24px;
  height: 24px;
}
.part-time-pal-messages-page .body-heading {
  margin: 0 15px 11px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 25px);
  box-sizing: border-box;
}
.part-time-pal-messages-page .search-by-name-or-message-content {
  margin: 1.3px 5px 0.9px 0;
  display: inline-block;
  width: 329px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 9px;
  line-height: 1.111;
  color: #AFAFAF;
}
.part-time-pal-messages-page .iconsearch {
  width: 12.2px;
  height: 12.2px;
}
.part-time-pal-messages-page .search-bar {
  border-radius: 30px;
  background: #F4F4F4;
  position: relative;
  margin: 0 9px 23px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12.5px 12.8px 14.3px 16px;
  width: calc(100% - 19px);
  box-sizing: border-box;
}
.part-time-pal-messages-page .border-line {
  background: #000000;
  margin: 0 0 18px 1px;
  width: 393px;
  height: 1px;
}
.part-time-pal-messages-page .line-386 {
  background: #B5B5B5;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 4px;
  height: 1px;
}
.part-time-pal-messages-page .rectangle-896 {
  border-radius: 3px;
  border: 0.7px solid #000000;
  margin: 17px 3px 40px 0;
  height: 16px;
  flex-grow: 1;
  flex-basis: 16px;
}
.part-time-pal-messages-page .ellipse-246 {
  border-radius: 25px;
  background: #D9D9D9;
  margin: 0 5px 23px 0;
  height: 50px;
  flex-grow: 1;
  flex-basis: 50px;
}
.part-time-pal-messages-page .mins-ago-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-messages-page .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum-6 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-messages-page .messager-name-6 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-messages-page .container-4 {
  position: relative;
  display: flex;
  padding: 0 2.8px 63px 2.8px;
  flex-grow: 1;
  flex-basis: 307.8px;
  box-sizing: border-box;
}
.part-time-pal-messages-page .container-17 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-messages-page .message-tab-6 {
  position: relative;
  margin: 0 0 13px 1px;
  display: flex;
  padding: 0 6.2px 0 5px;
  width: calc(100% - 1px);
  box-sizing: border-box;
}
.part-time-pal-messages-page .line-385 {
  background: #B5B5B5;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 4px;
  height: 1px;
}
.part-time-pal-messages-page .rectangle-895 {
  border-radius: 3px;
  border: 0.7px solid #000000;
  margin: 17px 3px 40px 0;
  height: 16px;
  flex-grow: 1;
  flex-basis: 16px;
}
.part-time-pal-messages-page .ellipse-245 {
  border-radius: 25px;
  background: #D9D9D9;
  margin: 0 5px 23px 0;
  height: 50px;
  flex-grow: 1;
  flex-basis: 50px;
}
.part-time-pal-messages-page .mins-ago {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-messages-page .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum-5 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-messages-page .messager-name-5 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-messages-page .container-8 {
  position: relative;
  display: flex;
  padding: 0 2.8px 63px 2.8px;
  flex-grow: 1;
  flex-basis: 307.8px;
  box-sizing: border-box;
}
.part-time-pal-messages-page .container-7 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-messages-page .message-tab-5 {
  position: relative;
  margin: 0 1px 13px 0;
  display: flex;
  padding: 0 6.2px 0 5px;
  width: calc(100% - 1px);
  box-sizing: border-box;
}
.part-time-pal-messages-page .line-384 {
  background: #B5B5B5;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 4px;
  height: 1px;
}
.part-time-pal-messages-page .rectangle-894 {
  border-radius: 3px;
  border: 0.7px solid #000000;
  margin: 17px 3px 40px 0;
  height: 16px;
  flex-grow: 1;
  flex-basis: 16px;
}
.part-time-pal-messages-page .ellipse-244 {
  border-radius: 25px;
  background: #D9D9D9;
  margin: 0 5px 23px 0;
  height: 50px;
  flex-grow: 1;
  flex-basis: 50px;
}
.part-time-pal-messages-page .hours-ago {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-messages-page .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum-4 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-messages-page .messager-name-4 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-messages-page .container-9 {
  position: relative;
  display: flex;
  padding: 0 2.8px 63px 2.8px;
  flex-grow: 1;
  flex-basis: 307.8px;
  box-sizing: border-box;
}
.part-time-pal-messages-page .container-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-messages-page .message-tab-4 {
  position: relative;
  margin: 0 0 13px 1px;
  display: flex;
  padding: 0 6.2px 0 5px;
  width: calc(100% - 1px);
  box-sizing: border-box;
}
.part-time-pal-messages-page .line-383 {
  background: #B5B5B5;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 4px;
  height: 1px;
}
.part-time-pal-messages-page .rectangle-893 {
  border-radius: 3px;
  border: 0.7px solid #000000;
  margin: 17px 3px 40px 0;
  height: 16px;
  flex-grow: 1;
  flex-basis: 16px;
}
.part-time-pal-messages-page .ellipse-243 {
  border-radius: 25px;
  background: #D9D9D9;
  margin: 0 5px 23px 0;
  height: 50px;
  flex-grow: 1;
  flex-basis: 50px;
}
.part-time-pal-messages-page .days-ago {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-messages-page .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum-3 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-messages-page .messager-name-3 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-messages-page .container-5 {
  position: relative;
  display: flex;
  padding: 0 2.8px 63px 2.8px;
  flex-grow: 1;
  flex-basis: 307.8px;
  box-sizing: border-box;
}
.part-time-pal-messages-page .container-11 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-messages-page .message-tab-3 {
  position: relative;
  margin: 0 0 13px 1px;
  display: flex;
  padding: 0 6.2px 0 5px;
  width: calc(100% - 1px);
  box-sizing: border-box;
}
.part-time-pal-messages-page .line-382 {
  background: #B5B5B5;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 4px;
  height: 1px;
}
.part-time-pal-messages-page .rectangle-892 {
  border-radius: 3px;
  border: 0.7px solid #000000;
  margin: 17px 3px 40px 0;
  height: 16px;
  flex-grow: 1;
  flex-basis: 16px;
}
.part-time-pal-messages-page .ellipse-242 {
  border-radius: 25px;
  background: #D9D9D9;
  margin: 0 5px 23px 0;
  height: 50px;
  flex-grow: 1;
  flex-basis: 50px;
}
.part-time-pal-messages-page .months-ago-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-messages-page .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum-2 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-messages-page .messager-name-2 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-messages-page .container-16 {
  position: relative;
  display: flex;
  padding: 0 2.8px 63px 2.8px;
  flex-grow: 1;
  flex-basis: 307.8px;
  box-sizing: border-box;
}
.part-time-pal-messages-page .container-3 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-messages-page .message-tab-2 {
  position: relative;
  margin: 0 0 13px 1px;
  display: flex;
  padding: 0 6.2px 0 5px;
  width: calc(100% - 1px);
  box-sizing: border-box;
}
.part-time-pal-messages-page .line-381 {
  background: #B5B5B5;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 4px;
  height: 1px;
}
.part-time-pal-messages-page .rectangle-891 {
  border-radius: 3px;
  border: 0.7px solid #000000;
  margin: 17px 3px 40px 0;
  height: 16px;
  flex-grow: 1;
  flex-basis: 16px;
}
.part-time-pal-messages-page .ellipse-241 {
  border-radius: 25px;
  background: #D9D9D9;
  margin: 0 5px 23px 0;
  height: 50px;
  flex-grow: 1;
  flex-basis: 50px;
}
.part-time-pal-messages-page .months-ago {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-messages-page .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum-1 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-messages-page .messager-name-1 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-messages-page .container-14 {
  position: relative;
  display: flex;
  padding: 0 2.8px 63px 2.8px;
  flex-grow: 1;
  flex-basis: 307.8px;
  box-sizing: border-box;
}
.part-time-pal-messages-page .container-15 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-messages-page .message-tab-1 {
  position: relative;
  margin: 0 0 13px 1px;
  display: flex;
  padding: 0 6.2px 0 5px;
  width: calc(100% - 1px);
  box-sizing: border-box;
}
.part-time-pal-messages-page .line-38 {
  background: #B5B5B5;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 4px;
  height: 1px;
}
.part-time-pal-messages-page .rectangle-89 {
  border-radius: 3px;
  border: 0.7px solid #000000;
  margin: 17px 3px 40px 0;
  height: 16px;
  flex-grow: 1;
  flex-basis: 16px;
}
.part-time-pal-messages-page .ellipse-24 {
  border-radius: 25px;
  background: #D9D9D9;
  margin: 0 5px 23px 0;
  height: 50px;
  flex-grow: 1;
  flex-basis: 50px;
}
.part-time-pal-messages-page .year-ago {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-messages-page .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-messages-page .messager-name {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-messages-page .container-2 {
  position: relative;
  display: flex;
  padding: 0 2.8px 63px 2.8px;
  flex-grow: 1;
  flex-basis: 307.8px;
  box-sizing: border-box;
}
.part-time-pal-messages-page .container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-messages-page .message-tab {
  position: relative;
  margin-left: 1px;
  display: flex;
  padding: 0 6.2px 0 5px;
  width: calc(100% - 1px);
  box-sizing: border-box;
}
.part-time-pal-messages-page .container-10 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-messages-page .line-29 {
  background: #E5E5E5;
  position: absolute;
  left: 0px;
  right: 1px;
  bottom: 56px;
  height: 1px;
}
.part-time-pal-messages-page .messages {
  position: relative;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}
.part-time-pal-messages-page .body {
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 0px);
  box-sizing: border-box;
}
.part-time-pal-messages-page .container-12 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 394px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-messages-page .vector-9 {
  width: 26.7px;
  height: 26.7px;
}
.part-time-pal-messages-page .help {
  margin: 2.7px 0;
  display: flex;
  width: 26.7px;
  height: 26.7px;
  box-sizing: border-box;
}
.part-time-pal-messages-page .vector-10 {
  width: 21.3px;
  height: 27.4px;
}
.part-time-pal-messages-page .listings {
  margin: 2.7px 0 2px 0;
  display: flex;
  width: 21.3px;
  height: 27.4px;
  box-sizing: border-box;
}
.part-time-pal-messages-page .vector-11 {
  width: 26.7px;
  height: 22.7px;
}
.part-time-pal-messages-page .home {
  margin: 4px 0 5.3px 0;
  display: flex;
  width: 26.7px;
  height: 22.7px;
  box-sizing: border-box;
}
.part-time-pal-messages-page .vector-12 {
  width: 26px;
  height: 18px;
}
.part-time-pal-messages-page .messages-2 {
  margin: 7px 0;
  display: flex;
  width: 26px;
  height: 18px;
  box-sizing: border-box;
}
.part-time-pal-messages-page .formkitpeople {
  width: 32px;
  height: 32px;
}
.part-time-pal-messages-page .employees {
  display: flex;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.part-time-pal-messages-page .frame-10 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 7.6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}
.part-time-pal-messages-page .home-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #000000;
}
.part-time-pal-messages-page .messages-3 {
  position: absolute;
  right: 74.4px;
  bottom: 1px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #000000;
}
.part-time-pal-messages-page .employees-1 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #000000;
}
.part-time-pal-messages-page .listings-1 {
  position: absolute;
  left: 70px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #000000;
}
.part-time-pal-messages-page .help-1 {
  position: absolute;
  left: 2px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #000000;
}
.part-time-pal-messages-page .menu-items {
  position: relative;
  display: flex;
  padding: 29px 10.2px 1px 0;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-messages-page .container-6 {
  background: #FFFFFF;
  position: absolute;
  left: -1px;
  bottom: 0px;
  padding: 14px 25.9px 34px 38.2px;
  width: 393px;
  height: 98px;
  box-sizing: border-box;
}
.part-time-pal-messages-page {
  background: #FFFFFF;
  display: flex;
  padding-bottom: 41px;
  box-sizing: border-box;
}
