.part-time-pal-landing-page-employee .switch-to-employer-view {
  margin-right: 5px;
  width: 349.1px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  text-decoration-line: underline;
  line-height: 1;
  color: #000000;
}
.part-time-pal-landing-page-employee .vector-4 {
  width: 6.9px;
  height: 6.9px;
}
.part-time-pal-landing-page-employee .phx {
  margin: 2.6px 0 0.6px 0;
  display: flex;
  width: 6.9px;
  height: 6.9px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .switch-view-prompt {
  background: #E9E9E9;
  position: relative;
  margin-bottom: 0.8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  padding: 11.5px 17.1px 13.5px 15px;
  width: 393px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .vector {
  position: absolute;
  top: 24.5px;
  right: 72.5px;
  width: 49.3px;
  height: 24.1px;
}
.part-time-pal-landing-page-employee .vector-1 {
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 309.1px;
  height: 121.4px;
}
.part-time-pal-landing-page-employee .rectangle-61 {
  border-radius: 30px;
  background: #F4F4F4;
  position: absolute;
  left: 50%;
  top: 40.2px;
  translate: -50% 0;
  width: 203px;
  height: 39px;
}
.part-time-pal-landing-page-employee .what-kind-of-part-time-job-are-you-looking-for {
  position: relative;
  margin: 1.3px 5px 0.9px 0;
  display: inline-block;
  width: 164px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 1.429;
  color: #AFAFAF;
}
.part-time-pal-landing-page-employee .iconsearch {
  position: relative;
  width: 12.2px;
  height: 12.2px;
}
.part-time-pal-landing-page-employee .hero-banner {
  position: relative;
  margin: 0 41.5px 25.8px 41.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  padding: 52.7px 0 56.5px 0;
  width: 309.1px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .jobs-for-you {
  margin-right: 10px;
  width: 329px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 24px;
  line-height: 0.833;
  color: #000000;
}
.part-time-pal-landing-page-employee .x {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #000000;
}
.part-time-pal-landing-page-employee .container-12 {
  margin: 0 1px 12px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 363.7px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .role-type-1 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-landing-page-employee .role-type {
  border-radius: 20px;
  background: #E9E9E9;
  position: relative;
  margin-right: 15px;
  display: flex;
  padding: 7px 1px 7px 0;
  flex-grow: 1;
  flex-basis: 109px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .location-1 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-landing-page-employee .location {
  border-radius: 20px;
  background: #E9E9E9;
  position: relative;
  margin-right: 15px;
  display: flex;
  padding: 7px 1px 7px 0;
  flex-grow: 1;
  flex-basis: 109px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .pay-rate-1 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-landing-page-employee .pay-rate {
  border-radius: 20px;
  background: #E9E9E9;
  position: relative;
  margin-right: 15px;
  display: flex;
  padding: 7px 1px 7px 0;
  flex-grow: 1;
  flex-basis: 109px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .role-type-2 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-landing-page-employee .recent {
  border-radius: 20px;
  background: #E9E9E9;
  position: relative;
  display: flex;
  padding: 7px 1px 7px 0;
  flex-grow: 1;
  flex-basis: 109px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .filters-scroll {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .vector-19 {
  position: absolute;
  top: 62px;
  right: 42px;
  width: 8px;
  height: 8px;
}
.part-time-pal-landing-page-employee .vector-22 {
  width: 20px;
  height: 19px;
}
.part-time-pal-landing-page-employee .start-outline {
  margin: 0.5px 0;
  display: flex;
  width: 20px;
  height: 19px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .listing-title {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-landing-page-employee .container-14 {
  margin: 0 14px 4.5px 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 215.6px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .basilimage-outline {
  margin-right: 0.1px;
  width: 28.2px;
  height: 28.2px;
}
.part-time-pal-landing-page-employee .company {
  margin: 4px 0 4.2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #9E9E9E;
}
.part-time-pal-landing-page-employee .company-info {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .vector-18 {
  width: 4.5px;
  height: 9.8px;
}
.part-time-pal-landing-page-employee .iconoirdollar {
  margin: 4.6px 4.4px 5.6px 0;
  display: flex;
  width: 4.5px;
  height: 9.8px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .pay-rate-2 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #9E9E9E;
}
.part-time-pal-landing-page-employee .pay-tag {
  position: relative;
  margin-bottom: 8.2px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .container-2 {
  margin: 0 11.2px 3.8px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 327.8px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .listing-description {
  margin: 4px 10px 13.5px 0;
  display: inline-block;
  width: 232px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #000000;
}
.part-time-pal-landing-page-employee .ionlocation {
  width: 12px;
  height: 12px;
}
.part-time-pal-landing-page-employee .location-tag {
  margin: 0 6px 5px 0;
  display: flex;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .s {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.part-time-pal-landing-page-employee .day {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 2.8px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .m {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.part-time-pal-landing-page-employee .day-1 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 2px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .ellipse-162 {
  border-radius: 5px;
  background: #9E9E9E;
  position: absolute;
  left: 50%;
  top: 5px;
  translate: -50% 0;
  width: 10px;
  height: 10px;
}
.part-time-pal-landing-page-employee .t {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #FFFCFC;
}
.part-time-pal-landing-page-employee .day-2 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 2.9px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .w {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.part-time-pal-landing-page-employee .day-3 {
  position: relative;
  margin-top: 0.5px;
  display: flex;
  padding: 0 1px 0 1.3px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .ellipse-164 {
  border-radius: 5px;
  background: #9E9E9E;
  position: absolute;
  left: 50%;
  top: 5px;
  translate: -50% 0;
  width: 10px;
  height: 10px;
}
.part-time-pal-landing-page-employee .r {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #FFFFFF;
}
.part-time-pal-landing-page-employee .day-4 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 2.7px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .f {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.part-time-pal-landing-page-employee .day-5 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 3.1px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .s-1 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.part-time-pal-landing-page-employee .day-6 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 2.8px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .week {
  display: flex;
  flex-direction: row;
  column-gap: 2px;
  width: fit-content;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .container-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .container {
  margin: 0 11px 5.5px 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 324px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .apply {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 10px;
  line-height: 2;
  color: #FFFFFF;
}
.part-time-pal-landing-page-employee .apply-button {
  border-radius: 0 0 10px 10px;
  border-left: 0.1px solid #000000;
  border-right: 0.1px solid #000000;
  border-bottom: 0.1px solid #000000;
  background: #6B93FB;
  position: relative;
  display: flex;
  padding-top: 1px;
  width: 349px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .container-18 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 349px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .hours {
  position: absolute;
  top: 56px;
  right: 11.8px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #9E9E9E;
}
.part-time-pal-landing-page-employee .location-2 {
  position: absolute;
  right: 11.1px;
  bottom: 48px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #9E9E9E;
}
.part-time-pal-landing-page-employee .listing {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 30px;
  display: flex;
  padding-top: 16.5px;
  width: 349px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .vector-26 {
  position: absolute;
  top: 62px;
  right: 42px;
  width: 8px;
  height: 8px;
}
.part-time-pal-landing-page-employee .vector-30 {
  position: relative;
  width: 20px;
  height: 19px;
}
.part-time-pal-landing-page-employee .vector-31 {
  width: 20px;
  height: 19px;
}
.part-time-pal-landing-page-employee .star-filled {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  display: flex;
  width: 20px;
  height: 19px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .start-outline-1 {
  position: relative;
  margin: 4px 0 0.5px 0;
  display: flex;
  width: 20px;
  height: 19px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .listing-title-1 {
  margin-top: 3.5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-landing-page-employee .vector-29 {
  width: 24px;
  height: 22.7px;
}
.part-time-pal-landing-page-employee .tablerurgent-1 {
  margin-bottom: 0.8px;
  display: flex;
  width: 24px;
  height: 22.7px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .container-7 {
  margin: 0 16px 4.5px 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 319px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .basilimage-outline-1 {
  margin-right: 0.1px;
  width: 28.2px;
  height: 28.2px;
}
.part-time-pal-landing-page-employee .company-1 {
  margin: 4px 0 4.2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #9E9E9E;
}
.part-time-pal-landing-page-employee .company-info-1 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .vector-25 {
  width: 4.5px;
  height: 9.8px;
}
.part-time-pal-landing-page-employee .iconoirdollar-1 {
  margin: 4.6px 4.4px 5.6px 0;
  display: flex;
  width: 4.5px;
  height: 9.8px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .pay-rate-3 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #9E9E9E;
}
.part-time-pal-landing-page-employee .pay-tag-1 {
  position: relative;
  margin-bottom: 8.2px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .container-1 {
  margin: 0 11.2px 3.8px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 327.8px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .listing-description-1 {
  margin: 4px 10px 13.5px 0;
  display: inline-block;
  width: 232px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #000000;
}
.part-time-pal-landing-page-employee .ionlocation-1 {
  width: 12px;
  height: 12px;
}
.part-time-pal-landing-page-employee .location-tag-1 {
  margin: 0 6px 5px 0;
  display: flex;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .s-2 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.part-time-pal-landing-page-employee .day-7 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 2.8px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .m-1 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.part-time-pal-landing-page-employee .day-8 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 2px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .ellipse-169 {
  border-radius: 5px;
  background: #9E9E9E;
  position: absolute;
  left: 50%;
  top: 5px;
  translate: -50% 0;
  width: 10px;
  height: 10px;
}
.part-time-pal-landing-page-employee .t-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #FFFCFC;
}
.part-time-pal-landing-page-employee .day-9 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 2.9px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .w-1 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.part-time-pal-landing-page-employee .day-10 {
  position: relative;
  margin-top: 0.5px;
  display: flex;
  padding: 0 1px 0 1.3px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .ellipse-1611 {
  border-radius: 5px;
  background: #9E9E9E;
  position: absolute;
  left: 50%;
  top: 5px;
  translate: -50% 0;
  width: 10px;
  height: 10px;
}
.part-time-pal-landing-page-employee .r-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #FFFFFF;
}
.part-time-pal-landing-page-employee .day-11 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 2.7px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .f-1 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.part-time-pal-landing-page-employee .day-12 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 3.1px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .s-3 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.part-time-pal-landing-page-employee .day-13 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 2.8px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .week-1 {
  display: flex;
  flex-direction: row;
  column-gap: 2px;
  width: fit-content;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .container-15 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .container-19 {
  margin: 0 11px 5.5px 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 324px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .apply-1 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 10px;
  line-height: 2;
  color: #FFFFFF;
}
.part-time-pal-landing-page-employee .apply-button-1 {
  border-radius: 0 0 10px 10px;
  border-left: 0.1px solid #000000;
  border-right: 0.1px solid #000000;
  border-bottom: 0.1px solid #000000;
  background: #6B93FB;
  position: relative;
  display: flex;
  padding-top: 1px;
  width: 349px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .container-5 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 349px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .hours-1 {
  position: absolute;
  top: 56px;
  right: 11.8px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #9E9E9E;
}
.part-time-pal-landing-page-employee .location-3 {
  position: absolute;
  right: 11.1px;
  bottom: 48px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #9E9E9E;
}
.part-time-pal-landing-page-employee .listing-1 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 30px;
  display: flex;
  padding-top: 13px;
  width: 349px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .vector-35 {
  position: absolute;
  top: 62px;
  right: 42px;
  width: 8px;
  height: 8px;
}
.part-time-pal-landing-page-employee .vector-38 {
  width: 20px;
  height: 19px;
}
.part-time-pal-landing-page-employee .start-outline-2 {
  margin: 0.5px 0;
  display: flex;
  width: 20px;
  height: 19px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .listing-title-2 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-landing-page-employee .container-6 {
  margin: 0 14px 4.5px 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 215.6px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .basilimage-outline-2 {
  margin-right: 0.1px;
  width: 28.2px;
  height: 28.2px;
}
.part-time-pal-landing-page-employee .company-2 {
  margin: 4px 0 4.2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #9E9E9E;
}
.part-time-pal-landing-page-employee .company-info-2 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .vector-34 {
  width: 4.5px;
  height: 9.8px;
}
.part-time-pal-landing-page-employee .iconoirdollar-2 {
  margin: 4.6px 4.4px 5.6px 0;
  display: flex;
  width: 4.5px;
  height: 9.8px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .pay-rate-4 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #9E9E9E;
}
.part-time-pal-landing-page-employee .pay-tag-2 {
  position: relative;
  margin-bottom: 8.2px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .container-8 {
  margin: 0 11.2px 3.8px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 327.8px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .listing-description-2 {
  margin: 4px 10px 13.5px 0;
  display: inline-block;
  width: 232px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #000000;
}
.part-time-pal-landing-page-employee .ionlocation-2 {
  width: 12px;
  height: 12px;
}
.part-time-pal-landing-page-employee .location-tag-2 {
  margin: 0 6px 5px 0;
  display: flex;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .s-4 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.part-time-pal-landing-page-employee .day-14 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 2.8px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .m-2 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.part-time-pal-landing-page-employee .day-15 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 2px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .ellipse-1616 {
  border-radius: 5px;
  background: #9E9E9E;
  position: absolute;
  left: 50%;
  top: 5px;
  translate: -50% 0;
  width: 10px;
  height: 10px;
}
.part-time-pal-landing-page-employee .t-2 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #FFFCFC;
}
.part-time-pal-landing-page-employee .day-16 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 2.9px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .w-2 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.part-time-pal-landing-page-employee .day-17 {
  position: relative;
  margin-top: 0.5px;
  display: flex;
  padding: 0 1px 0 1.3px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .ellipse-1618 {
  border-radius: 5px;
  background: #9E9E9E;
  position: absolute;
  left: 50%;
  top: 5px;
  translate: -50% 0;
  width: 10px;
  height: 10px;
}
.part-time-pal-landing-page-employee .r-2 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #FFFFFF;
}
.part-time-pal-landing-page-employee .day-18 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 2.7px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .f-2 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.part-time-pal-landing-page-employee .day-19 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 3.1px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .s-5 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.part-time-pal-landing-page-employee .day-20 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 2.8px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .week-2 {
  display: flex;
  flex-direction: row;
  column-gap: 2px;
  width: fit-content;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .container-17 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .container-10 {
  margin: 0 11px 5.5px 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 324px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .apply-2 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 10px;
  line-height: 2;
  color: #FFFFFF;
}
.part-time-pal-landing-page-employee .apply-button-2 {
  border-radius: 0 0 10px 10px;
  border-left: 0.1px solid #000000;
  border-right: 0.1px solid #000000;
  border-bottom: 0.1px solid #000000;
  background: #6B93FB;
  position: relative;
  display: flex;
  padding-top: 1px;
  width: 349px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .container-11 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 349px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .hours-2 {
  position: absolute;
  top: 56px;
  right: 11.8px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #9E9E9E;
}
.part-time-pal-landing-page-employee .location-4 {
  position: absolute;
  right: 11.1px;
  bottom: 48px;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #9E9E9E;
}
.part-time-pal-landing-page-employee .listing-2 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding-top: 16.5px;
  width: 349px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .listings {
  margin: 0 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  width: 349px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .core {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 8px);
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .container-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .line-29 {
  background: #E5E5E5;
  position: absolute;
  left: 0px;
  bottom: 72px;
  width: 393px;
  height: 1px;
}
.part-time-pal-landing-page-employee .body {
  position: relative;
  display: flex;
  padding-left: 1px;
  width: 490px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .rectangle-73 {
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 394px;
  height: 95px;
}
.part-time-pal-landing-page-employee .vector-5 {
  background: #000000;
  margin-bottom: 6.9px;
  width: 23.3px;
  height: 2px;
}
.part-time-pal-landing-page-employee .vector-6 {
  background: #000000;
  margin-bottom: 6.9px;
  width: 23.3px;
  height: 2px;
}
.part-time-pal-landing-page-employee .vector-7 {
  background: #000000;
  width: 23.3px;
  height: 2px;
}
.part-time-pal-landing-page-employee .iconmenu {
  margin: 8px 0 2.1px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23.3px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .logo {
  overflow-wrap: break-word;
  font-family: 'Rockwell', 'Roboto Condensed';
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-landing-page-employee .vector-9 {
  margin: 0 5.4px;
  width: 14.3px;
  height: 12.5px;
}
.part-time-pal-landing-page-employee .vector-8 {
  width: 25px;
  height: 12.5px;
}
.part-time-pal-landing-page-employee .iconuser {
  margin: 0 14px 3px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .vector-10 {
  width: 21px;
  height: 27px;
}
.part-time-pal-landing-page-employee .iconbookmark-empty {
  margin-top: 1px;
  display: flex;
  width: 21px;
  height: 27px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .container-13 {
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  width: 60px;
  height: fit-content;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .container-9 {
  position: relative;
  margin: 0 17px 18px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 32px);
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .line-30 {
  background: #E5E5E5;
  position: relative;
  width: 393px;
  height: 1px;
}
.part-time-pal-landing-page-employee .header {
  position: absolute;
  left: -1px;
  top: 0px;
  display: flex;
  flex-direction: column;
  padding: 47px 0px 0 1px;
  width: 394px;
  height: 96px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .search-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 13px;
  line-height: 0.923;
  color: #000000;
}
.part-time-pal-landing-page-employee .vector-11 {
  width: 28px;
  height: 28px;
}
.part-time-pal-landing-page-employee .carbonsearch-advanced {
  position: absolute;
  left: 9.7px;
  top: 0px;
  display: flex;
  width: 28px;
  height: 28px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .search {
  position: relative;
  margin: 0 42.9px 4.6px 0;
  display: flex;
  padding-top: 26.4px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .vector-12 {
  width: 21.3px;
  height: 21.1px;
}
.part-time-pal-landing-page-employee .material-symbols-lightmap-outline {
  position: absolute;
  top: 0px;
  right: 1.1px;
  display: flex;
  width: 21.3px;
  height: 21.1px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .map-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.667;
  color: #000000;
}
.part-time-pal-landing-page-employee .map {
  position: relative;
  margin: 3.4px 39.2px 0 0;
  display: flex;
  padding-top: 19.6px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .vector-13 {
  width: 26.7px;
  height: 22.7px;
}
.part-time-pal-landing-page-employee .mdihome-outline {
  position: absolute;
  top: 0px;
  right: 2.6px;
  display: flex;
  width: 26.7px;
  height: 22.7px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .home-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.667;
  color: #000000;
}
.part-time-pal-landing-page-employee .home {
  position: relative;
  margin: 2px 35.7px 0 0;
  display: flex;
  padding-top: 21px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .vector-14 {
  width: 26px;
  height: 18px;
}
.part-time-pal-landing-page-employee .quillmail {
  margin: 0 13.4px 4px 14.4px;
  display: flex;
  width: 26px;
  height: 18px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .messages-1 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #000000;
}
.part-time-pal-landing-page-employee .messages {
  margin: 5px 35.4px 4px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .vector-15 {
  width: 24px;
  height: 22.7px;
}
.part-time-pal-landing-page-employee .tablerurgent {
  position: absolute;
  top: 0px;
  right: 6.2px;
  display: flex;
  width: 24px;
  height: 22.7px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .urgent-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.667;
  color: #000000;
}
.part-time-pal-landing-page-employee .urgent {
  position: relative;
  margin-top: 2px;
  display: flex;
  padding-top: 21px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee .container-16 {
  background: #FFFFFF;
  position: absolute;
  left: -1px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  padding: 16px 19.8px 39px 25.2px;
  width: 393px;
  height: 98px;
  box-sizing: border-box;
}
.part-time-pal-landing-page-employee {
  background: #FFFFFF;
  display: flex;
  padding: 95px 0 25px 0;
  box-sizing: border-box;
}
