.pdf-viewer .close-btn {
  border-radius: 8.1px;
  background: #FC615C;
  margin-right: 10.8px;
  width: 16.2px;
  height: 16.2px;
}
.pdf-viewer .restore-btn {
  border-radius: 8.1px;
  background: #FDBE40;
  margin-right: 10.8px;
  width: 16.2px;
  height: 16.2px;
}
.pdf-viewer .minimize-btn {
  border-radius: 8.1px;
  background: #34CA49;
  width: 16.2px;
  height: 16.2px;
}
.pdf-viewer .action-bttn {
  margin: 5.4px 27.2px 8.1px 0;
  display: flex;
  flex-direction: row;
  width: 70.2px;
  height: fit-content;
  box-sizing: border-box;
}
.pdf-viewer .arrow {
  width: 6.8px;
  height: 13.5px;
}
.pdf-viewer .prev-btn {
  margin: 8.2px 18.6px 8px 0;
  display: flex;
  width: 6.8px;
  height: 13.5px;
  box-sizing: border-box;
}
.pdf-viewer .arrow-1 {
  width: 6.8px;
  height: 13.5px;
}
.pdf-viewer .prev-btn-1 {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-right: 14.9px;
  display: flex;
  padding: 8.1px 12.1px 8.1px 13.5px;
  width: 32.4px;
  height: 29.7px;
  box-sizing: border-box;
}
.pdf-viewer .option-btn {
  width: 50px;
  height: 29.7px;
}
.pdf-viewer .container-1 {
  margin: 0px 0 9.4px 0;
  display: flex;
  flex-direction: row;
  width: 220px;
  height: fit-content;
  box-sizing: border-box;
}
.pdf-viewer .safaribrowser {
  margin: 3px 7px 0 0;
  display: inline-block;
  width: 583px;
  overflow-wrap: break-word;
  font-family: 'SF Compact Display', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.pdf-viewer .refresh {
  margin-bottom: 5px;
  width: 10px;
  height: 12px;
}
.pdf-viewer .address-bar {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 17.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 7px 0 0;
  width: 1143px;
  height: fit-content;
  box-sizing: border-box;
}
.pdf-viewer .share {
  width: 13.5px;
  height: 18.9px;
}
.pdf-viewer .share-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin: 0 10.8px 9.4px 0;
  display: flex;
  padding: 4.7px 18.2px 6.1px 18.2px;
  width: 50px;
  height: 29.7px;
  box-sizing: border-box;
}
.pdf-viewer .view {
  width: 14.9px;
  height: 14.9px;
}
.pdf-viewer .view-search-btn {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFFFFF;
  position: relative;
  margin: 0 17.5px 9.4px 0;
  display: flex;
  padding: 7.4px 17.6px 7.4px 17.5px;
  width: 50px;
  height: 29.7px;
  box-sizing: border-box;
}
.pdf-viewer .add-btn {
  margin-top: 6.7px;
  width: 32.4px;
  height: 32.4px;
}
.pdf-viewer .container {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  width: 160.7px;
  height: fit-content;
  box-sizing: border-box;
}
.pdf-viewer .browser-bar {
  box-shadow: 0px 1px 0px 0px #B5B4B5;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(180deg, #EBEAEB, #D7D6D7);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 42.8px 0px 0.1px 17.6px;
  width: 1728px;
  box-sizing: border-box;
}
.pdf-viewer .desktop-1 {
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.25);
  background: url('assets/images/Desktop1.png') 50% / cover no-repeat;
  width: 1728px;
  height: 1035px;
}
.pdf-viewer {
  background: #EDF0F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1728px;
  box-sizing: border-box;
}
