.pop-up-window .edit-details {
  margin-right: 12px;
  width: 647px;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.pop-up-window .vector {
  width: 14px;
  height: 14px;
}
.pop-up-window .x {
  margin: 5px 0;
  display: flex;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
}
.pop-up-window .frame-1000004373 {
  border-bottom: 1px solid #E5E7EB;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 29px 13px 24px;
  width: 726px;
  height: fit-content;
  box-sizing: border-box;
}
.pop-up-window .frame-1000004374 {
  margin-bottom: 20px;
  display: flex;
  width: 726px;
  box-sizing: border-box;
}
.pop-up-window .label {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.pop-up-window .enter-your-name {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #6B7280;
}
.pop-up-window .autocomplete-input {
  border-radius: 8px;
  border: 1px solid var(--gray-2002, #E5E7EB);
  background: var(--gray-501, #F9FAFB);
  padding: 11px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.pop-up-window .frame-1000004380 {
  margin-bottom: 13px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.pop-up-window .text {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.pop-up-window .button {
  border-radius: 8px;
  background: #233876;
  margin-bottom: 13px;
  display: flex;
  align-self: flex-start;
  padding: 8px 15.6px 8px 15.5px;
  box-sizing: border-box;
}
.pop-up-window .line-17 {
  background: linear-gradient(rgba(24, 119, 242, 0.5), rgba(24, 119, 242, 0.5)), linear-gradient(#1877F2, #1877F2), linear-gradient(#1877F2, #1877F2);
  margin: 0 27px 12px 0;
  width: 646px;
  height: 1px;
}
.pop-up-window .label-1 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.pop-up-window .enter-your-phone-number {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #6B7280;
}
.pop-up-window .autocomplete-input-1 {
  border-radius: 8px;
  border: 1px solid var(--gray-2002, #E5E7EB);
  background: var(--gray-501, #F9FAFB);
  padding: 11px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.pop-up-window .frame-1000004382 {
  margin-bottom: 13px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.pop-up-window .text-1 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.pop-up-window .button-1 {
  border-radius: 8px;
  background: #233876;
  margin-bottom: 13px;
  display: flex;
  align-self: flex-start;
  padding: 8px 15.6px 8px 15.5px;
  box-sizing: border-box;
}
.pop-up-window .line-18 {
  background: linear-gradient(rgba(24, 119, 242, 0.5), rgba(24, 119, 242, 0.5)), linear-gradient(#1877F2, #1877F2), linear-gradient(#1877F2, #1877F2);
  margin: 0 27px 12px 0;
  width: 646px;
  height: 1px;
}
.pop-up-window .label-2 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.pop-up-window .enter-your-email {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #6B7280;
}
.pop-up-window .autocomplete-input-2 {
  border-radius: 8px;
  border: 1px solid var(--gray-2002, #E5E7EB);
  background: var(--gray-501, #F9FAFB);
  padding: 11px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.pop-up-window .frame-1000004384 {
  margin-bottom: 13px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.pop-up-window .text-2 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.pop-up-window .button-2 {
  border-radius: 8px;
  background: #233876;
  margin-bottom: 13px;
  display: flex;
  align-self: flex-start;
  padding: 8px 15.6px 8px 15.5px;
  box-sizing: border-box;
}
.pop-up-window .line-19 {
  background: linear-gradient(rgba(24, 119, 242, 0.5), rgba(24, 119, 242, 0.5)), linear-gradient(#1877F2, #1877F2), linear-gradient(#1877F2, #1877F2);
  margin: 0 27px 12px 0;
  width: 646px;
  height: 1px;
}
.pop-up-window .label-3 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.pop-up-window .enter-your-location {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #6B7280;
}
.pop-up-window .autocomplete-input-3 {
  border-radius: 8px;
  border: 1px solid var(--gray-2002, #E5E7EB);
  background: var(--gray-501, #F9FAFB);
  padding: 11px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.pop-up-window .frame-1000004383 {
  margin-bottom: 13px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.pop-up-window .text-3 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.pop-up-window .button-3 {
  border-radius: 8px;
  background: #233876;
  display: flex;
  align-self: flex-start;
  padding: 8px 15.6px 8px 15.5px;
  box-sizing: border-box;
}
.pop-up-window .frame-1000004386 {
  margin: 0 29px 0 24px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.pop-up-window {
  border-radius: 8px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  width: 726px;
  box-sizing: border-box;
}
