.post .post-alisting-flow {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 128px;
  line-height: 0.109;
  color: #FFFFFF;
}
.post {
  background: #32BC42;
  display: flex;
  padding: 91px 35.8px 86px 28px;
  width: 1229px;
  box-sizing: border-box;
}
