.post-employer-sign-up .job-ez {
  overflow-wrap: break-word;
  font-family: 'Red Hat Display';
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.2px;
  line-height: 1.5;
  color: var(--color-text, #202430);
}
.post-employer-sign-up .logo-2 {
  display: flex;
  box-sizing: border-box;
}
.post-employer-sign-up .container-3 {
  background: #F8F8FD;
  position: absolute;
  top: -90px;
  right: -820px;
  padding: 25px 131px 453px 131px;
  width: 1440px;
  height: 514px;
  box-sizing: border-box;
}
.post-employer-sign-up .rectangle-2733 {
  transform: rotate(64deg);
  width: 768px;
  height: 568.7px;
}
.post-employer-sign-up .pattern {
  position: absolute;
  left: -1021px;
  bottom: -899.7px;
  display: flex;
  width: 768px;
  height: 568.7px;
  box-sizing: border-box;
}
.post-employer-sign-up .young-man-with-tablet {
  background: url('assets/images/YoungManWithTablet.png') 50% / contain no-repeat;
  width: 426px;
  height: 670px;
}
.post-employer-sign-up .bg {
  position: relative;
  display: flex;
  width: 426px;
  height: 670px;
  box-sizing: border-box;
}
.post-employer-sign-up .element {
  background: #F8F8FD;
  position: relative;
  margin-right: 204px;
  display: flex;
  padding: 90px 14px;
  width: 634px;
  height: 850px;
  box-sizing: border-box;
}
.post-employer-sign-up .caption {
  overflow-wrap: break-word;
  font-family: var(--body-normal-semi-bold-font-family, 'Epilogue');
  font-weight: var(--body-normal-semi-bold-font-weight, 600);
  font-size: var(--body-normal-semi-bold-font-size, 16px);
  line-height: var(--body-normal-semi-bold-line-height, 1.6);
  color: var(--brands-primary, #4640DE);
}
.post-employer-sign-up .tab-menu {
  background: var(--neutrals-0, #FFFFFF);
  display: flex;
  padding: 7px 12.6px 7px 12px;
  box-sizing: border-box;
}
.post-employer-sign-up .caption-1 {
  overflow-wrap: break-word;
  font-family: var(--body-normal-semi-bold-font-family, 'Epilogue');
  font-weight: var(--body-normal-semi-bold-font-weight, 600);
  font-size: var(--body-normal-semi-bold-font-size, 16px);
  line-height: var(--body-normal-semi-bold-line-height, 1.6);
  color: var(--brands-primary, #4640DE);
}
.post-employer-sign-up .tab-menu-1 {
  background: var(--lights-blue, #E9EBFD);
  display: flex;
  padding: 7px 12.8px 7px 12px;
  box-sizing: border-box;
}
.post-employer-sign-up .frame-1284 {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: fit-content;
  box-sizing: border-box;
}
.post-employer-sign-up .label-1 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--body-normal-semi-bold-font-family, 'Epilogue');
  font-weight: var(--body-normal-semi-bold-font-weight, 600);
  font-size: var(--body-normal-semi-bold-font-size, 16px);
  line-height: var(--body-normal-semi-bold-line-height, 1.6);
  color: var(--neutrals-80, #515B6F);
}
.post-employer-sign-up .this-is-placeholder {
  overflow-wrap: break-word;
  font-family: var(--body-normal-regular-font-family, 'Epilogue');
  font-weight: var(--body-normal-regular-font-weight, 400);
  font-size: var(--body-normal-regular-font-size, 16px);
  line-height: var(--body-normal-regular-line-height, 1.6);
  color: var(--neutrals-40, #A8ADB7);
}
.post-employer-sign-up .input {
  border: 1px solid var(--neutrals-20, #D6DDEB);
  background: var(--neutrals-0, #FFFFFF);
  padding: 11px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.post-employer-sign-up .textfield {
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.post-employer-sign-up .label-2 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--body-normal-semi-bold-font-family, 'Epilogue');
  font-weight: var(--body-normal-semi-bold-font-weight, 600);
  font-size: var(--body-normal-semi-bold-font-size, 16px);
  line-height: var(--body-normal-semi-bold-line-height, 1.6);
  color: var(--neutrals-80, #515B6F);
}
.post-employer-sign-up .this-is-placeholder-1 {
  overflow-wrap: break-word;
  font-family: var(--body-normal-regular-font-family, 'Epilogue');
  font-weight: var(--body-normal-regular-font-weight, 400);
  font-size: var(--body-normal-regular-font-size, 16px);
  line-height: var(--body-normal-regular-line-height, 1.6);
  color: var(--neutrals-40, #A8ADB7);
}
.post-employer-sign-up .input-1 {
  border: 1px solid var(--neutrals-20, #D6DDEB);
  background: var(--neutrals-0, #FFFFFF);
  padding: 11px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.post-employer-sign-up .textfield-1 {
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.post-employer-sign-up .label-3 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--body-normal-semi-bold-font-family, 'Epilogue');
  font-weight: var(--body-normal-semi-bold-font-weight, 600);
  font-size: var(--body-normal-semi-bold-font-size, 16px);
  line-height: var(--body-normal-semi-bold-line-height, 1.6);
  color: var(--neutrals-80, #515B6F);
}
.post-employer-sign-up .this-is-placeholder-2 {
  overflow-wrap: break-word;
  font-family: var(--body-normal-regular-font-family, 'Epilogue');
  font-weight: var(--body-normal-regular-font-weight, 400);
  font-size: var(--body-normal-regular-font-size, 16px);
  line-height: var(--body-normal-regular-line-height, 1.6);
  color: var(--neutrals-40, #A8ADB7);
}
.post-employer-sign-up .input-2 {
  border: 1px solid var(--neutrals-20, #D6DDEB);
  background: var(--neutrals-0, #FFFFFF);
  padding: 11px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.post-employer-sign-up .textfield-2 {
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.post-employer-sign-up .label-4 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--body-normal-semi-bold-font-family, 'Epilogue');
  font-weight: var(--body-normal-semi-bold-font-weight, 600);
  font-size: var(--body-normal-semi-bold-font-size, 16px);
  line-height: var(--body-normal-semi-bold-line-height, 1.6);
  color: var(--neutrals-80, #515B6F);
}
.post-employer-sign-up .this-is-placeholder-3 {
  overflow-wrap: break-word;
  font-family: var(--body-normal-regular-font-family, 'Epilogue');
  font-weight: var(--body-normal-regular-font-weight, 400);
  font-size: var(--body-normal-regular-font-size, 16px);
  line-height: var(--body-normal-regular-line-height, 1.6);
  color: var(--neutrals-40, #A8ADB7);
}
.post-employer-sign-up .input-3 {
  border: 1px solid var(--neutrals-20, #D6DDEB);
  background: var(--neutrals-0, #FFFFFF);
  padding: 11px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.post-employer-sign-up .textfield-3 {
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.post-employer-sign-up .label {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--gray-900, #111928);
}
.post-employer-sign-up .text {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.post-employer-sign-up .button {
  border-radius: 8px 0 0 8px;
  border: 1px solid var(--gray-3001, #D1D5DB);
  background: var(--gray-800, #1F2A37);
  display: flex;
  padding: 10.5px 19.6px 10.5px 20px;
  box-sizing: border-box;
}
.post-employer-sign-up .placeholder {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-normal-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-normal-font-weight, 400);
  font-size: var(--leading-tighttext-smfont-normal-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-normal-line-height, 1.25);
  color: var(--gray-900, #111928);
}
.post-employer-sign-up .input-field {
  border-radius: 0 8px 8px 0;
  border: 1px solid var(--gray-3001, #D1D5DB);
  background: var(--gray-501, #F9FAFB);
  padding: 12px 16px;
  width: 421px;
  box-sizing: border-box;
}
.post-employer-sign-up .file-input {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.post-employer-sign-up .file-upload {
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.post-employer-sign-up .caption-2 {
  overflow-wrap: break-word;
  font-family: var(--button-normal-font-family, 'Epilogue');
  font-weight: var(--button-normal-font-weight, 700);
  font-size: var(--button-normal-font-size, 16px);
  line-height: var(--button-normal-line-height, 1.6);
  color: var(--neutrals-0, #FFFFFF);
}
.post-employer-sign-up .button-1 {
  background: #4640DE;
  display: flex;
  padding: 12px 0;
  width: 536px;
  box-sizing: border-box;
}
.post-employer-sign-up .forms {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.post-employer-sign-up .already-have-an-account-1 {
  opacity: 0.7;
  margin-right: 8.2px;
  overflow-wrap: break-word;
  font-family: var(--body-normal-regular-font-family, 'Epilogue');
  font-weight: var(--body-normal-regular-font-weight, 400);
  font-size: var(--body-normal-regular-font-size, 16px);
  line-height: var(--body-normal-regular-line-height, 1.6);
  color: var(--color-black, #202430);
}
.post-employer-sign-up .login {
  margin-bottom: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--brands-primary, #4640DE);
}
.post-employer-sign-up .already-have-an-account {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.post-employer-sign-up .landing-page-sign-up-desktop {
  background: var(--neutrals-0, #FFFFFF);
  margin: 58px 0 123px 0;
  display: flex;
  flex-direction: column;
  width: 536px;
  box-sizing: border-box;
}
.post-employer-sign-up .container {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.post-employer-sign-up .rectangle-4551 {
  border: 1px solid #000000;
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  top: 113px;
  translate: -50% 0;
  width: 966px;
  height: 624px;
}
.post-employer-sign-up .thank-you-for-your-interest-in-job-ez {
  margin: 17.3px 24px 0 0;
  display: inline-block;
  width: 708.7px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  color: #000000;
}
.post-employer-sign-up .vector {
  width: 18.7px;
  height: 18.7px;
}
.post-employer-sign-up .xoutline {
  margin-bottom: 46.7px;
  display: flex;
  width: 18.7px;
  height: 18.7px;
  box-sizing: border-box;
}
.post-employer-sign-up .container-2 {
  position: relative;
  margin: 0 0 116px 128.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 751.3px;
  box-sizing: border-box;
}
.post-employer-sign-up .we-will-reach-back-out-to-you-when-we-finish-verifying-your-company-or-if-we-need-more-information-to-complete-the-verification {
  position: relative;
  margin: 0 43.8px 135px 0;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5;
  color: #000000;
}
.post-employer-sign-up .text-1 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: var(--white-4, #FFFFFF);
}
.post-employer-sign-up .button-2 {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  position: relative;
  margin-right: 43.8px;
  display: flex;
  padding: 8px 0;
  width: 203px;
  box-sizing: border-box;
}
.post-employer-sign-up .container-1 {
  background: rgba(217, 217, 217, 0.4);
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.post-employer-sign-up {
  background: var(--color-white, #FFFFFF);
  display: flex;
  padding-right: 66px;
  width: 1440px;
  box-sizing: border-box;
}
