.property-1-deleted .ph {
  overflow-wrap: break-word;
  font-family: var(--leading-nonetext-xsfont-medium-font-family, 'Inter');
  font-weight: var(--leading-nonetext-xsfont-medium-font-weight, 500);
  font-size: var(--leading-nonetext-xsfont-medium-font-size, 12px);
  line-height: var(--leading-nonetext-xsfont-medium-line-height, 1);
  color: var(--gray-900, #111928);
}
.property-1-deleted .avatar {
  border-radius: 999px;
  background: var(--gray-100, #F3F4F6);
  margin: 0 12px 32px 0;
  display: flex;
  padding: 9px 6.7px;
  box-sizing: border-box;
}
.property-1-deleted .heading-2 {
  margin-bottom: 8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-2-xlfont-bold-font-family, 'Inter');
  font-weight: var(--leading-tighttext-2-xlfont-bold-font-weight, 700);
  font-size: var(--leading-tighttext-2-xlfont-bold-font-size, 24px);
  line-height: var(--leading-tighttext-2-xlfont-bold-line-height, 1.25);
  color: var(--gray-900, #111928);
}
.property-1-deleted .text-1 {
  margin-right: 3.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-500, #6B7280);
}
.property-1-deleted .heading-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.property-1-deleted .main-info {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.property-1-deleted .text-5 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: #1A56DB;
}
.property-1-deleted .button {
  border-radius: 8px;
  border: 1px solid #1A56DB;
  margin-right: 16px;
  display: flex;
  padding: 9px 19.8px 9px 19px;
  box-sizing: border-box;
}
.property-1-deleted .text-6 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.property-1-deleted .button-1 {
  border-radius: 8px;
  background: #233876;
  padding: 10px 20px;
  width: 93px;
  box-sizing: border-box;
}
.property-1-deleted .buttons {
  margin-bottom: 21px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.property-1-deleted .heading-1 {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 961px;
  box-sizing: border-box;
}
.property-1-deleted .heading {
  margin-bottom: 10px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--gray-900, #111928);
}
.property-1-deleted .text {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  color: var(--gray-500, #6B7280);
}
.property-1-deleted .frame-1000004318 {
  display: flex;
  box-sizing: border-box;
}
.property-1-deleted .listing-description {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.property-1-deleted .text-2 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--primary-800, #1E429F);
}
.property-1-deleted .badge {
  border-radius: 6px;
  background: var(--primary-100, #E1EFFE);
  margin-bottom: 2.5px;
  display: flex;
  padding: 2px 10.1px;
  box-sizing: border-box;
}
.property-1-deleted .vector {
  width: 5.8px;
  height: 11.7px;
}
.property-1-deleted .dollar {
  margin: 3.2px 8.4px 3.2px 0;
  display: flex;
  width: 5.8px;
  height: 11.7px;
  box-sizing: border-box;
}
.property-1-deleted .text-3 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--primary-800, #1E429F);
}
.property-1-deleted .badge-1 {
  border-radius: 6px;
  background: var(--primary-100, #E1EFFE);
  margin: 0 0 2.5px 16px;
  display: flex;
  flex-direction: row;
  padding: 2px 10.3px 2px 14.1px;
  width: fit-content;
  box-sizing: border-box;
}
.property-1-deleted .vector-1 {
  width: 9.3px;
  height: 11.7px;
}
.property-1-deleted .pin {
  margin: 3.2px 6.5px 3.2px 0;
  display: flex;
  width: 9.3px;
  height: 11.7px;
  box-sizing: border-box;
}
.property-1-deleted .text-4 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--primary-800, #1E429F);
}
.property-1-deleted .badge-2 {
  border-radius: 6px;
  background: var(--primary-100, #E1EFFE);
  display: flex;
  flex-direction: row;
  padding: 2px 10.2px 2px 12.3px;
  width: fit-content;
  box-sizing: border-box;
}
.property-1-deleted .job-tags {
  margin-bottom: 19px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.property-1-deleted .text-info {
  margin-left: 42px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 919px;
  box-sizing: border-box;
}
.property-1-deleted {
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  border: 1px solid #111928;
  background: #E5E7EB;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12.5px 15px 10.5px 24px;
  width: 1000px;
  box-sizing: border-box;
}
