.property-1-variant-4 .pfp {
  border-radius: 9999px;
  background: url('assets/images/Pfp.png') 50% / cover no-repeat;
  width: 35.6px;
  height: 36.1px;
}
.property-1-variant-4 .applicant-name {
  margin: 8.1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.property-1-variant-4 .container-2 {
  margin: 0 11.4px 28.8px 11.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 237.5px;
  box-sizing: border-box;
}
.property-1-variant-4 .applied-to {
  margin: 0 6.5px 10.1px 0;
  width: 288.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  color: #000000;
}
.applied-to {
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.333;
}
.property-1-variant-4 .group {
  width: 8.5px;
  height: 11.4px;
}
.property-1-variant-4 .personal-file {
  position: relative;
  display: flex;
  width: 8.5px;
  height: 11.4px;
  box-sizing: border-box;
}
.property-1-variant-4 .ellipse-25 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 17.8px;
  height: 18.1px;
}
.property-1-variant-4 .resume-button {
  position: relative;
  margin-right: 2.9px;
  display: flex;
  padding: 3.3px 4.6px 3.4px 4.8px;
  width: 17.8px;
  height: 18.1px;
  box-sizing: border-box;
}
.property-1-variant-4 .view-resume-1 {
  margin: 3.1px 0 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #000000;
}
.property-1-variant-4 .view-resume {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.property-1-variant-4 .container-1 {
  margin: 0 10.1px 13.3px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 10.1px);
  box-sizing: border-box;
}
.property-1-variant-4 .s {
  position: absolute;
  right: 4.4px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.property-1-variant-4 .table-head-1 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 14px;
  height: 13px;
}
.property-1-variant-4 .m {
  position: absolute;
  left: 3.2px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.property-1-variant-4 .table-head-2 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 14px;
  height: 13px;
}
.property-1-variant-4 .t {
  position: absolute;
  right: 4.4px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #EAEAEA;
}
.property-1-variant-4 .table-head-3 {
  border-radius: 4px;
  background: #000000;
  position: relative;
  width: 14px;
  height: 13px;
}
.property-1-variant-4 .w {
  position: absolute;
  right: 3.2px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.property-1-variant-4 .table-head-4 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 14px;
  height: 13px;
}
.property-1-variant-4 .t-1 {
  position: absolute;
  right: 4.4px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #EAEAEA;
}
.property-1-variant-4 .table-head-5 {
  border-radius: 4px;
  background: #000000;
  position: relative;
  width: 14px;
  height: 13px;
}
.property-1-variant-4 .f {
  position: absolute;
  left: 5.1px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.property-1-variant-4 .table-head-6 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: relative;
  width: 15px;
  height: 13px;
}
.property-1-variant-4 .container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 71px;
  height: fit-content;
  box-sizing: border-box;
}
.property-1-variant-4 .s-1 {
  position: absolute;
  right: 3.9px;
  bottom: -3.5px;
  overflow-wrap: break-word;
  font-family: 'Geist', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #A1A1A1;
}
.property-1-variant-4 .table-head-7 {
  border-radius: 4px;
  border: 1px solid #A1A1A1;
  background: #FFFFFF;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 13px;
  height: 13px;
}
.property-1-variant-4 .table-head {
  position: relative;
  margin-bottom: 29.6px;
  display: flex;
  align-self: flex-end;
  padding: 0 13px 0 14px;
  width: 98px;
  box-sizing: border-box;
}
.property-1-variant-4 .button-text {
  overflow-wrap: break-word;
  font-family: var(--body-medium-medium-font-family, 'Inter');
  font-weight: var(--body-medium-medium-font-weight, 500);
  font-size: var(--body-medium-medium-font-size, 16px);
  line-height: var(--body-medium-medium-line-height, 1.5);
  color: var(--white-white, #FFFFFF);
}
.property-1-variant-4 .button {
  background: var(--primary-color, #3758F9);
  margin-right: 5.9px;
  display: flex;
  align-self: center;
  padding: 13px 0;
  width: 147px;
  box-sizing: border-box;
}
.property-1-variant-4 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0.1px solid #000000;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 9px 3.1px 3px 10px;
  box-sizing: border-box;
}
