.property-1-variant-21 .vector-1 {
  margin: 0 3.6px;
  width: 9.5px;
  height: 8.4px;
}
.property-1-variant-21 .vector {
  width: 16.7px;
  height: 8.4px;
}
.property-1-variant-21 .pfp {
  position: relative;
  margin-right: 4.1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5.3px 6.7px 8px 6.7px;
  flex-grow: 1;
  flex-basis: 30.1px;
  box-sizing: border-box;
}
.property-1-variant-21 .applicant-name {
  margin: 4.5px 0 5.6px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.property-1-variant-21 .container-3 {
  margin-bottom: 7.9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.property-1-variant-21 .relevant-experience {
  margin: 0 2px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  color: #000000;
}
.relevant-experience {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.333;
}
.property-1-variant-21 .container {
  margin: 0 52.1px 4.5px 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 183.9px;
  box-sizing: border-box;
}
.property-1-variant-21 .vector-2 {
  width: 12px;
  height: 15px;
}
.property-1-variant-21 .mdiresume {
  display: flex;
  width: 12px;
  height: 15px;
  box-sizing: border-box;
}
.property-1-variant-21 .resume-button {
  position: relative;
  display: flex;
  padding: 3.8px 6px 5.3px 6px;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.property-1-variant-21 .view-resume-1 {
  margin: 6px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #000000;
}
.property-1-variant-21 .view-resume {
  margin-bottom: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.property-1-variant-21 .s {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.property-1-variant-21 .day {
  position: relative;
  margin: 0 2px 0.5px 0;
  display: flex;
  padding: 0 2.8px;
  flex-grow: 1;
  flex-basis: 10px;
  box-sizing: border-box;
}
.property-1-variant-21 .m {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.property-1-variant-21 .day-1 {
  position: relative;
  margin: 0 2px 0.5px 0;
  display: flex;
  padding: 0 2px;
  flex-grow: 1;
  flex-basis: 10px;
  box-sizing: border-box;
}
.property-1-variant-21 .ellipse-162 {
  border-radius: 5px;
  background: #9E9E9E;
  position: absolute;
  left: 50%;
  top: 5px;
  translate: -50% 0;
  width: 10px;
  height: 10px;
}
.property-1-variant-21 .t {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #FFFCFC;
}
.property-1-variant-21 .day-2 {
  position: relative;
  margin: 0 2px 0.5px 0;
  display: flex;
  padding: 0 2.9px;
  flex-grow: 1;
  flex-basis: 10px;
  box-sizing: border-box;
}
.property-1-variant-21 .w {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.property-1-variant-21 .day-3 {
  position: relative;
  margin: 0.5px 2px 0 0;
  display: flex;
  padding: 0 1px 0 1.3px;
  flex-grow: 1;
  flex-basis: 10px;
  box-sizing: border-box;
}
.property-1-variant-21 .ellipse-164 {
  border-radius: 5px;
  background: #9E9E9E;
  position: absolute;
  left: 50%;
  top: 5px;
  translate: -50% 0;
  width: 10px;
  height: 10px;
}
.property-1-variant-21 .r {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #FFFFFF;
}
.property-1-variant-21 .day-4 {
  position: relative;
  margin: 0 2px 0.5px 0;
  display: flex;
  padding: 0 2.7px;
  flex-grow: 1;
  flex-basis: 10px;
  box-sizing: border-box;
}
.property-1-variant-21 .f {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.property-1-variant-21 .day-5 {
  position: relative;
  margin: 0 2px 0.5px 0;
  display: flex;
  padding: 0 3.1px;
  flex-grow: 1;
  flex-basis: 10px;
  box-sizing: border-box;
}
.property-1-variant-21 .s-1 {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 7px;
  line-height: 2.857;
  color: #9E9E9E;
}
.property-1-variant-21 .day-6 {
  position: relative;
  margin-bottom: 0.5px;
  display: flex;
  padding: 0 2.8px;
  flex-grow: 1;
  flex-basis: 10px;
  box-sizing: border-box;
}
.property-1-variant-21 .week {
  margin: 0 3.6px 0 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 7.6px);
  box-sizing: border-box;
}
.property-1-variant-21 .container-2 {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-basis: 89.6px;
  box-sizing: border-box;
}
.property-1-variant-21 .container-1 {
  margin: 0 9.4px 4.8px 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 23.4px);
  box-sizing: border-box;
}
.property-1-variant-21 .vector-3 {
  width: 12.5px;
  height: 11.9px;
}
.property-1-variant-21 .tablerstar {
  display: flex;
  width: 12.5px;
  height: 11.9px;
  box-sizing: border-box;
}
.property-1-variant-21 .vector-4 {
  width: 12.5px;
  height: 11.9px;
}
.property-1-variant-21 .tablerstar-1 {
  display: flex;
  width: 12.5px;
  height: 11.9px;
  box-sizing: border-box;
}
.property-1-variant-21 .vector-5 {
  width: 12.5px;
  height: 11.9px;
}
.property-1-variant-21 .tablerstar-2 {
  display: flex;
  width: 12.5px;
  height: 11.9px;
  box-sizing: border-box;
}
.property-1-variant-21 .vector-6 {
  width: 12.5px;
  height: 11.9px;
}
.property-1-variant-21 .tablerstar-3 {
  display: flex;
  width: 12.5px;
  height: 11.9px;
  box-sizing: border-box;
}
.property-1-variant-21 .vector-7 {
  width: 12.5px;
  height: 11.9px;
}
.property-1-variant-21 .tablerstar-4 {
  display: flex;
  width: 12.5px;
  height: 11.9px;
  box-sizing: border-box;
}
.property-1-variant-21 .rating-report {
  margin: 0 10.3px 10.9px 10.3px;
  display: flex;
  flex-direction: row;
  column-gap: 5.5px;
  width: 84.5px;
  box-sizing: border-box;
}
.property-1-variant-21 .view-profile {
  overflow-wrap: break-word;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 10px;
  line-height: 2;
  color: #FFFFFF;
}
.property-1-variant-21 .view-button {
  border-radius: 0 0 10px 10px;
  border-left: 0.1px solid #000000;
  border-right: 0.1px solid #000000;
  border-bottom: 0.1px solid #000000;
  background: #6B93FB;
  position: relative;
  display: flex;
  padding: 1px 1px 0 0;
  width: 100%;
  box-sizing: border-box;
}
.property-1-variant-2 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0.1px solid #000000;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 8px;
  box-sizing: border-box;
}
