.roma-shortlist-of-names .list-of-names-for-our-product {
  margin: 0 0 38px 9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}
.roma-shortlist-of-names .talenttrekker {
  margin-bottom: 13px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.roma-shortlist-of-names .hireaze {
  margin: 0 1px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.roma-shortlist-of-names .container-2 {
  margin-bottom: 7px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.roma-shortlist-of-names .ajobi {
  margin-bottom: 5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'SF Pro Display', 'Roboto Condensed';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #000000;
}
.roma-shortlist-of-names .uploy {
  overflow-wrap: break-word;
  font-family: 'SF Pro Display', 'Roboto Condensed';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #000000;
}
.roma-shortlist-of-names .container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.roma-shortlist-of-names .container-3 {
  margin: 0 92.9px 6px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 360.3px;
  box-sizing: border-box;
}
.roma-shortlist-of-names .fly-gi-g {
  margin: 0 12px 5px 0;
  display: inline-block;
  width: 269px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.roma-shortlist-of-names .emplo {
  margin-top: 5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'SF Pro Display', 'Roboto Condensed';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #000000;
}
.roma-shortlist-of-names .container-1 {
  margin: 0 88.2px 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 363.1px;
  box-sizing: border-box;
}
.roma-shortlist-of-names .part-match {
  margin: 0 352.4px 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.roma-shortlist-of-names .itgig {
  margin: 0 410.2px 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.roma-shortlist-of-names .side-do {
  margin: 0 383.4px 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.roma-shortlist-of-names .gig-trac {
  margin: 0 378.2px 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.roma-shortlist-of-names .coop-gigs {
  margin: 0 357.7px 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.roma-shortlist-of-names .snappt {
  margin: 0 373.7px 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.roma-shortlist-of-names .conveni-assemble-as-agroup {
  margin: 0 174.7px 13px 0;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.conveni-assemble-as-agroup-sub1 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.333;
}
.roma-shortlist-of-names .must-find {
  margin: 0 341.3px 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.roma-shortlist-of-names .snag-flex {
  margin: 0 342.7px 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.roma-shortlist-of-names .edge-hire {
  margin: 0 348.7px 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.roma-shortlist-of-names .oh-pt {
  margin: 0 382.6px 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.roma-shortlist-of-names .flex-find {
  margin: 0 356px 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.roma-shortlist-of-names .side-quest {
  margin: 0 337.4px 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.roma-shortlist-of-names .flex-hunt {
  margin-right: 355.2px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.roma-shortlist-of-names {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 0 114px 0;
  box-sizing: border-box;
}
