.search .container {
  width: 14px;
  height: 12px;
}
.search .flags-us {
  border-radius: 2px;
  background: #FFFFFF;
  position: relative;
  margin: 3px 8px 3px 0;
  display: flex;
  width: 14px;
  height: 12px;
  box-sizing: border-box;
}
.search .usa {
  margin-right: 19.6px;
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-semibold-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-semibold-font-weight, 600);
  font-size: var(--leading-tighttext-smfont-semibold-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-semibold-line-height, 1.25);
  color: var(--gray-500, #6B7280);
}
.search .vector {
  width: 8.2px;
  height: 4.7px;
}
.search .chevron-down {
  margin: 6.7px 0;
  display: flex;
  width: 8.2px;
  height: 4.7px;
  box-sizing: border-box;
}
.search .left-content {
  margin-right: 14.9px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.search .line-2 {
  background: #E5E7EB;
  margin-right: 11px;
  width: 1px;
  height: 18px;
}
.search .search-for-city {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-normal-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-normal-font-weight, 400);
  font-size: var(--leading-tighttext-smfont-normal-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-normal-line-height, 1.25);
  color: var(--gray-500, #6B7280);
}
.search .frame-13 {
  display: flex;
  box-sizing: border-box;
}
.search {
  border-radius: 8px;
  border: 1px solid var(--gray-3001, #D1D5DB);
  background: var(--gray-501, #F9FAFB);
  display: flex;
  flex-direction: row;
  padding: 11px 0 11px 15px;
  box-sizing: border-box;
}
