.sf-pro-display .large-title-regular {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--large-title-regular-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--large-title-regular-font-weight, 400);
  font-size: var(--large-title-regular-font-size, 34px);
  letter-spacing: var(--large-title-regular-letter-spacing, 0.1px);
  line-height: var(--large-title-regular-line-height, 1.206);
  color: var(--primary-text-color, #000000);
}
.sf-pro-display .large-title-medium {
  margin: 0 19.4px 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--large-title-medium-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--large-title-medium-font-weight, 500);
  font-size: var(--large-title-medium-font-size, 34px);
  letter-spacing: var(--large-title-medium-letter-spacing, 0.1px);
  line-height: var(--large-title-medium-line-height, 1.206);
  color: var(--primary-text-color, #000000);
}
.sf-pro-display .large-title-semibold {
  margin-bottom: 16px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--large-title-semibold-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--large-title-semibold-font-weight, 600);
  font-size: var(--large-title-semibold-font-size, 34px);
  letter-spacing: var(--large-title-semibold-letter-spacing, 0.1px);
  line-height: var(--large-title-semibold-line-height, 1.206);
  color: var(--primary-text-color, #000000);
}
.sf-pro-display .large-title-bold {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--large-title-bold-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--large-title-bold-font-weight, 700);
  font-size: var(--large-title-bold-font-size, 34px);
  letter-spacing: var(--large-title-bold-letter-spacing, 0.1px);
  line-height: var(--large-title-bold-line-height, 1.206);
  color: var(--primary-text-color, #000000);
}
.sf-pro-display .large-title {
  margin-bottom: 34px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.sf-pro-display .title-1-regular {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--title-1-regular-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--title-1-regular-font-weight, 400);
  font-size: var(--title-1-regular-font-size, 28px);
  letter-spacing: var(--title-1-regular-letter-spacing, 0.1px);
  line-height: var(--title-1-regular-line-height, 1.214);
  color: var(--primary-text-color, #000000);
}
.sf-pro-display .title-1-medium {
  margin: 0 15.9px 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--title-1-medium-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--title-1-medium-font-weight, 500);
  font-size: var(--title-1-medium-font-size, 28px);
  letter-spacing: var(--title-1-medium-letter-spacing, 0.1px);
  line-height: var(--title-1-medium-line-height, 1.214);
  color: var(--primary-text-color, #000000);
}
.sf-pro-display .title-1-semibold {
  margin-bottom: 16px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--title-1-semibold-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--title-1-semibold-font-weight, 600);
  font-size: var(--title-1-semibold-font-size, 28px);
  letter-spacing: var(--title-1-semibold-letter-spacing, 0.1px);
  line-height: var(--title-1-semibold-line-height, 1.214);
  color: var(--primary-text-color, #000000);
}
.sf-pro-display .title-1-bold {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--title-1-bold-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--title-1-bold-font-weight, 700);
  font-size: var(--title-1-bold-font-size, 28px);
  letter-spacing: var(--title-1-bold-letter-spacing, 0.1px);
  line-height: var(--title-1-bold-line-height, 1.214);
  color: var(--primary-text-color, #000000);
}
.sf-pro-display .title-1 {
  margin-bottom: 34px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.sf-pro-display .title-2-regular {
  margin: 0 18.1px 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--title-2-regular-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--title-2-regular-font-weight, 400);
  font-size: var(--title-2-regular-font-size, 22px);
  letter-spacing: var(--title-2-regular-letter-spacing, -0.1px);
  line-height: var(--title-2-regular-line-height, 1.273);
  color: var(--primary-text-color, #000000);
}
.sf-pro-display .title-2-medium {
  margin: 0 12.2px 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--title-2-medium-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--title-2-medium-font-weight, 500);
  font-size: var(--title-2-medium-font-size, 22px);
  letter-spacing: var(--title-2-medium-letter-spacing, -0.1px);
  line-height: var(--title-2-medium-line-height, 1.273);
  color: var(--primary-text-color, #000000);
}
.sf-pro-display .title-2-semibold {
  margin-bottom: 16px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--title-2-semibold-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--title-2-semibold-font-weight, 600);
  font-size: var(--title-2-semibold-font-size, 22px);
  letter-spacing: var(--title-2-semibold-letter-spacing, -0.1px);
  line-height: var(--title-2-semibold-line-height, 1.545);
  color: var(--primary-text-color, #000000);
}
.sf-pro-display .title-2-bold {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--title-2-bold-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--title-2-bold-font-weight, 700);
  font-size: var(--title-2-bold-font-size, 22px);
  letter-spacing: var(--title-2-bold-letter-spacing, -0.1px);
  line-height: var(--title-2-bold-line-height, 1.273);
  color: var(--primary-text-color, #000000);
}
.sf-pro-display .title-2 {
  margin-bottom: 34px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.sf-pro-display .title-3-regular {
  margin: 0 16.5px 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--title-3-regular-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--title-3-regular-font-weight, 400);
  font-size: var(--title-3-regular-font-size, 20px);
  letter-spacing: var(--title-3-regular-letter-spacing, -0.1px);
  line-height: var(--title-3-regular-line-height, 1.25);
  color: var(--primary-text-color, #000000);
}
.sf-pro-display .title-3-medium {
  margin: 0 11px 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--title-3-medium-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--title-3-medium-font-weight, 500);
  font-size: var(--title-3-medium-font-size, 20px);
  letter-spacing: var(--title-3-medium-letter-spacing, -0.1px);
  line-height: var(--title-3-medium-line-height, 1.25);
  color: var(--primary-text-color, #000000);
}
.sf-pro-display .title-3-semibold {
  margin-bottom: 16px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--title-3-semibold-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--title-3-semibold-font-weight, 600);
  font-size: var(--title-3-semibold-font-size, 20px);
  letter-spacing: var(--title-3-semibold-letter-spacing, -0.1px);
  line-height: var(--title-3-semibold-line-height, 1.25);
  color: var(--primary-text-color, #000000);
}
.sf-pro-display .title-3-bold {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--title-3-bold-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--title-3-bold-font-weight, 700);
  font-size: var(--title-3-bold-font-size, 20px);
  letter-spacing: var(--title-3-bold-letter-spacing, -0.1px);
  line-height: var(--title-3-bold-line-height, 1.25);
  color: var(--primary-text-color, #000000);
}
.sf-pro-display .title-3 {
  margin-bottom: 34px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.sf-pro-display .headline-semibold {
  overflow-wrap: break-word;
  font-family: var(--headline-semibold-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--headline-semibold-font-weight, 600);
  font-size: var(--headline-semibold-font-size, 17px);
  letter-spacing: var(--headline-semibold-letter-spacing, -0.1px);
  line-height: var(--headline-semibold-line-height, 1.294);
  color: var(--primary-text-color, #000000);
}
.sf-pro-display .headline {
  margin-bottom: 34px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.sf-pro-display .body-regular {
  margin: 0 13.2px 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--body-regular-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--body-regular-font-weight, 400);
  font-size: var(--body-regular-font-size, 17px);
  letter-spacing: var(--body-regular-letter-spacing, -0.1px);
  line-height: var(--body-regular-line-height, 1.294);
  color: var(--primary-text-color, #000000);
}
.sf-pro-display .body-medium {
  margin: 0 9.1px 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--body-medium-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--body-medium-font-weight, 500);
  font-size: var(--body-medium-font-size, 17px);
  letter-spacing: var(--body-medium-letter-spacing, -0.1px);
  line-height: var(--body-medium-line-height, 1.294);
  color: var(--primary-text-color, #000000);
}
.sf-pro-display .body-semibold {
  margin-bottom: 16px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--body-semibold-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--body-semibold-font-weight, 600);
  font-size: var(--body-semibold-font-size, 17px);
  letter-spacing: var(--body-semibold-letter-spacing, -0.1px);
  line-height: var(--body-semibold-line-height, 1.294);
  color: var(--primary-text-color, #000000);
}
.sf-pro-display .body-bold {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--body-bold-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--body-bold-font-weight, 700);
  font-size: var(--body-bold-font-size, 17px);
  letter-spacing: var(--body-bold-letter-spacing, -0.1px);
  line-height: var(--body-bold-line-height, 1.294);
  color: var(--primary-text-color, #000000);
}
.sf-pro-display .body {
  margin-bottom: 34px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.sf-pro-display .callout-regular {
  margin: 0 12.6px 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--callout-regular-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--callout-regular-font-weight, 400);
  font-size: var(--callout-regular-font-size, 16px);
  letter-spacing: var(--callout-regular-letter-spacing, 0px);
  line-height: var(--callout-regular-line-height, 1.313);
  color: #000000;
}
.sf-pro-display .callout-medium {
  margin: 0 8.7px 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--callout-medium-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--callout-medium-font-weight, 500);
  font-size: var(--callout-medium-font-size, 16px);
  letter-spacing: var(--callout-medium-letter-spacing, 0px);
  line-height: var(--callout-medium-line-height, 1.313);
  color: #000000;
}
.sf-pro-display .callout-semibold {
  margin-bottom: 16px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--callout-semibold-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--callout-semibold-font-weight, 600);
  font-size: var(--callout-semibold-font-size, 16px);
  letter-spacing: var(--callout-semibold-letter-spacing, 0px);
  line-height: var(--callout-semibold-line-height, 1.313);
  color: #000000;
}
.sf-pro-display .callout-bold {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--callout-bold-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--callout-bold-font-weight, 600);
  font-size: var(--callout-bold-font-size, 16px);
  letter-spacing: var(--callout-bold-letter-spacing, 0px);
  line-height: var(--callout-bold-line-height, 1.313);
  color: #000000;
}
.sf-pro-display .callout {
  margin-bottom: 34px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.sf-pro-display .footnote-regular {
  margin: 0 10px 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--footnote-regular-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--footnote-regular-font-weight, 400);
  font-size: var(--footnote-regular-font-size, 13px);
  letter-spacing: var(--footnote-regular-letter-spacing, 0px);
  line-height: var(--footnote-regular-line-height, 1.385);
  color: #000000;
}
.sf-pro-display .footnote-medium {
  margin: 0 7px 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--footnote-medium-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--footnote-medium-font-weight, 500);
  font-size: var(--footnote-medium-font-size, 13px);
  letter-spacing: var(--footnote-medium-letter-spacing, 0px);
  line-height: var(--footnote-medium-line-height, 1.385);
  color: #000000;
}
.sf-pro-display .footnote-semibold {
  margin-bottom: 16px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--footnote-semibold-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--footnote-semibold-font-weight, 600);
  font-size: var(--footnote-semibold-font-size, 13px);
  letter-spacing: var(--footnote-semibold-letter-spacing, 0px);
  line-height: var(--footnote-semibold-line-height, 1.385);
  color: #000000;
}
.sf-pro-display .footnote-bold {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--footnote-bold-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--footnote-bold-font-weight, 700);
  font-size: var(--footnote-bold-font-size, 13px);
  letter-spacing: var(--footnote-bold-letter-spacing, 0px);
  line-height: var(--footnote-bold-line-height, 1.385);
  color: #000000;
}
.sf-pro-display .footnote {
  margin-bottom: 34px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.sf-pro-display .caption-1-regular {
  margin: 0 9.4px 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--caption-1-regular-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--caption-1-regular-font-weight, 400);
  font-size: var(--caption-1-regular-font-size, 12px);
  line-height: var(--caption-1-regular-line-height, 1.333);
  color: #000000;
}
.sf-pro-display .caption-1-medium {
  margin: 0 6.6px 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--caption-1-medium-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--caption-1-medium-font-weight, 500);
  font-size: var(--caption-1-medium-font-size, 12px);
  line-height: var(--caption-1-medium-line-height, 1.333);
  color: #000000;
}
.sf-pro-display .caption-1-semibold {
  margin-bottom: 16px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--caption-1-semibold-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--caption-1-semibold-font-weight, 600);
  font-size: var(--caption-1-semibold-font-size, 12px);
  line-height: var(--caption-1-semibold-line-height, 1.333);
  color: #000000;
}
.sf-pro-display .caption-1-bold {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--caption-1-bold-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--caption-1-bold-font-weight, 700);
  font-size: var(--caption-1-bold-font-size, 12px);
  line-height: var(--caption-1-bold-line-height, 1.333);
  color: #000000;
}
.sf-pro-display .caption-1 {
  margin-bottom: 34px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.sf-pro-display .caption-2-regular {
  margin: 0 8.7px 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--caption-2-regular-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--caption-2-regular-font-weight, 400);
  font-size: var(--caption-2-regular-font-size, 11px);
  letter-spacing: var(--caption-2-regular-letter-spacing, 0px);
  line-height: var(--caption-2-regular-line-height, 1.182);
  color: #000000;
}
.sf-pro-display .caption-2-medium {
  margin: 0 6px 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--caption-2-medium-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--caption-2-medium-font-weight, 500);
  font-size: var(--caption-2-medium-font-size, 11px);
  letter-spacing: var(--caption-2-medium-letter-spacing, 0px);
  line-height: var(--caption-2-medium-line-height, 1.182);
  color: #000000;
}
.sf-pro-display .caption-2-semibold {
  margin-bottom: 16px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--caption-2-semibold-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--caption-2-semibold-font-weight, 600);
  font-size: var(--caption-2-semibold-font-size, 11px);
  letter-spacing: var(--caption-2-semibold-letter-spacing, 0px);
  line-height: var(--caption-2-semibold-line-height, 1.182);
  color: #000000;
}
.sf-pro-display .caption-2-bold {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--caption-2-bold-font-family, 'SF Pro Display', 'Roboto Condensed');
  font-weight: var(--caption-2-bold-font-weight, 700);
  font-size: var(--caption-2-bold-font-size, 11px);
  letter-spacing: var(--caption-2-bold-letter-spacing, 0px);
  line-height: var(--caption-2-bold-line-height, 1.182);
  color: #000000;
}
.sf-pro-display .caption-2 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.sf-pro-display {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
