.sign-in .sign-in-flow {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 128px;
  line-height: 0.109;
  color: #FFFFFF;
}
.sign-in {
  background: #32BC42;
  padding: 88px 0 89px 0;
  width: 1229px;
  box-sizing: border-box;
}
