.frame {
    align-items: flex-start;
    display: flex;
    height: 1592px;
    justify-content: space-around;
    position: relative;
    width: 1773px;
  }
  
  .frame .body {
    height: 1700px;
    margin-bottom: -108px;
    position: relative;
    width: 1621px;
  }
  
  .frame .content {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 45px;
    left: 48px;
    position: absolute;
    top: 89px;
  }
  
  .frame .header {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    position: relative;
    width: 1525px;
  }
  
  .frame .applicant-deets {
    height: 80px;
    position: relative;
    width: 543px;
  }
  
  .frame .overlap-group {
    height: 80px;
    position: relative;
    width: 545px;
  }
  
  .frame .badge {
    align-items: center;
    background-color: #def7ec;
    border: 1px solid;
    border-color: var(--colors-green-800);
    border-radius: var(--border-radius-rounded-md);
    display: inline-flex;
    gap: var(--spacing-0);
    justify-content: center;
    left: 213px;
    padding: var(--spacing-0-5) var(--spacing-3) var(--spacing-0-5) var(--spacing-3);
    position: absolute;
    top: 55px;
  }
  
  .frame .text-wrapper {
    color: #03543f;
    font-family: var(--text-sm-font-semibold-font-family);
    font-size: var(--text-sm-font-semibold-font-size);
    font-style: var(--text-sm-font-semibold-font-style);
    font-weight: var(--text-sm-font-semibold-font-weight);
    letter-spacing: var(--text-sm-font-semibold-letter-spacing);
    line-height: var(--text-sm-font-semibold-line-height);
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .frame .div-wrapper {
    align-items: center;
    background-color: #def7ec;
    border: 1px solid;
    border-color: var(--colors-green-800);
    border-radius: var(--border-radius-rounded-md);
    display: inline-flex;
    gap: var(--spacing-0);
    justify-content: center;
    left: 95px;
    padding: var(--spacing-0-5) var(--spacing-3) var(--spacing-0-5) var(--spacing-3);
    position: absolute;
    top: 55px;
  }
  
  .frame .profile-deets {
    height: 80px;
    left: 0;
    position: absolute;
    top: 0;
    width: 545px;
  }
  
  .frame .joey-smith-he-him {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 36px;
    font-weight: 400;
    height: 37px;
    left: 95px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 448px;
  }
  
  .frame .span {
    font-weight: 700;
  }
  
  .frame .text-wrapper-2 {
    font-family: "Inter-Regular", Helvetica;
    font-size: 32px;
    line-height: 32px;
  }
  
  .frame .avatar-instance {
    background-image: url(./avatar.png) !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
  }
  
  .frame .button-instance {
    border-radius: var(--border-radius-rounded-lg) !important;
    flex: 0 0 auto !important;
    gap: var(--spacing-2) !important;
    padding: var(--spacing-2) var(--spacing-3) var(--spacing-2) var(--spacing-3) !important;
  }
  
  .frame .folder-open {
    height: 24px !important;
    position: relative !important;
    width: 24px !important;
  }
  
  .frame .about {
    height: 193px;
    position: relative;
    width: 1530px;
  }
  
  .frame .about-body {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 28px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    top: 48px;
    width: 1526px;
  }
  
  .frame .about-applicant {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 34px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: 34px;
    position: absolute;
    top: 0;
    width: 986px;
  }
  
  .frame .div {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    position: relative;
    width: 1530px;
  }
  
  .frame .applicant {
    height: 140px;
    position: relative;
    width: 271px;
  }
  
  .frame .input-number-instance {
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 271px !important;
  }
  
  .frame .design-component-instance-node {
    color: var(--colors-gray-900) !important;
  }
  
  .frame .input-number-2 {
    background-color: var(--colors-gray-50) !important;
    border-color: var(--colors-gray-300) !important;
  }
  
  .frame .input-number-3 {
    color: var(--colors-gray-500) !important;
  }
  
  .frame .input-number-4 {
    left: 0 !important;
    position: absolute !important;
    top: 74px !important;
    width: 271px !important;
  }
  
  .frame .preferred-timing {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    height: 140px;
    justify-content: space-between;
    position: relative;
  }
  
  .frame .input-number-5 {
    flex: 0 0 auto !important;
    width: 271px !important;
  }
  
  .frame .div-2 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 3px;
    position: relative;
  }
  
  .frame .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 17.5px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .frame .datepicker {
    align-items: flex-start;
    background-color: #f9fafb;
    border: 1px solid;
    border-color: #d1d5db;
    border-radius: 8px;
    display: flex;
    flex: 0 0 auto;
    gap: var(--spacing-0);
    padding: var(--spacing-3) var(--spacing-4) var(--spacing-3) var(--spacing-4);
    position: relative;
    width: 271px;
  }
  
  .frame .content-2 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: var(--spacing-2);
    position: relative;
  }
  
  .frame .calendar-month {
    height: 18px !important;
    position: relative !important;
    width: 18px !important;
  }
  
  .frame .text-wrapper-4 {
    align-self: stretch;
    color: #6b7280;
    flex: 1;
    font-family: var(--leading-tight-text-sm-font-normal-font-family);
    font-size: var(--leading-tight-text-sm-font-normal-font-size);
    font-style: var(--leading-tight-text-sm-font-normal-font-style);
    font-weight: var(--leading-tight-text-sm-font-normal-font-weight);
    letter-spacing: var(--leading-tight-text-sm-font-normal-letter-spacing);
    line-height: var(--leading-tight-text-sm-font-normal-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
  }
  
  .frame .icon-instance-node-2 {
    height: 16px !important;
    position: relative !important;
    width: 16px !important;
  }
  
  .frame .experience-and {
    height: 322.06px;
    position: relative;
    width: 1524.96px;
  }
  
  .frame .div-3 {
    align-items: center;
    display: flex;
    height: 322px;
    justify-content: space-between;
    padding: 0px 180px;
    position: relative;
    width: 1525px;
  }
  
  .frame .experience {
    height: 322.06px;
    position: relative;
    width: 254.86px;
  }
  
  .frame .relevant-experience {
    color: transparent;
    font-family: "Nunito Sans-Bold", Helvetica;
    font-size: 34px;
    font-weight: 400;
    left: 1px;
    letter-spacing: 0;
    line-height: 34px;
    position: absolute;
    top: 0;
    width: 252px;
  }
  
  .frame .text-wrapper-5 {
    color: #000000;
    font-weight: 700;
  }
  
  .frame .text-wrapper-6 {
    color: #000000;
    font-family: "Nunito Sans-Regular", Helvetica;
    line-height: 41.8px;
  }
  
  .frame .text-wrapper-7 {
    color: #3291ff;
    font-family: "Nunito Sans-Regular", Helvetica;
    line-height: 41.8px;
  }
  
  .frame .list {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e5e7eb;
    border-radius: var(--border-radius-rounded-lg);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-6);
    left: 0;
    position: absolute;
    top: 41px;
    width: 240px;
  }
  
  .frame .div-4 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: var(--spacing-0);
    position: relative;
    width: 100%;
  }
  
  .frame .list-item {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: var(--spacing-0);
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .frame .content-3 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: var(--spacing-1-5);
    padding: var(--spacing-2) var(--spacing-4) var(--spacing-2) var(--spacing-4);
    position: relative;
    width: 100%;
  }
  
  .frame .suporting-text {
    color: #111928;
    flex: 1;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 30px;
    margin-top: -1px;
    position: relative;
    text-align: justify;
  }
  
  .frame .border-t {
    align-self: stretch;
    background-color: #e5e7eb;
    height: 1px;
    position: relative;
    width: 100%;
  }
  
  .frame .suporting-text-2 {
    color: var(--colors-blue-700);
    flex: 1;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 30px;
    margin-top: -1px;
    position: relative;
    text-align: justify;
  }
  
  .frame .skills {
    height: 321.97px;
    margin-right: -2px;
    position: relative;
    width: 221.86px;
  }
  
  .frame .skills-2 {
    color: #000000;
    font-family: "Nunito Sans-Bold", Helvetica;
    font-size: 34px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: 34px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 220px;
  }
  
  .frame .div-5 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 286px;
    justify-content: space-between;
    left: 1px;
    position: absolute;
    top: 36px;
    width: 218px;
  }
  
  .frame .div-6 {
    align-items: flex-start;
    display: inline-flex;
    gap: 10px;
    height: 46px;
    position: relative;
  }
  
  .frame .badge-2 {
    align-items: center;
    background-color: var(--colors-blue-200);
    border: 1px solid;
    border-color: #000000;
    border-radius: var(--border-radius-rounded-md);
    display: flex;
    gap: var(--spacing-0);
    height: 43px;
    justify-content: center;
    padding: var(--spacing-0-5) var(--spacing-2-5) var(--spacing-0-5) var(--spacing-2-5);
    position: relative;
    width: 218px;
  }
  
  .frame .text-2 {
    color: #111928;
    font-family: "Inter-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 36px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .frame .div-7 {
    align-items: flex-start;
    display: inline-flex;
    gap: 10px;
    height: 43px;
    position: relative;
  }
  
  .frame .text-3 {
    color: #111928;
    font-family: "Inter-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 36px;
    margin-left: -4px;
    margin-right: -4px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .frame .button-2 {
    all: unset;
    align-items: center;
    background-color: var(--colors-blue-400);
    border: 1px solid;
    border-color: #000000;
    border-radius: var(--border-radius-rounded-lg);
    box-sizing: border-box;
    display: flex;
    gap: var(--spacing-2);
    height: 43px;
    justify-content: center;
    overflow: hidden;
    padding: var(--spacing-2) var(--spacing-3) var(--spacing-2) var(--spacing-3);
    position: relative;
    width: 218px;
  }
  
  .frame .text-4 {
    color: var(--colors-gray-900);
    font-family: "Inter-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 36px;
    margin-bottom: -3.5px;
    margin-top: -5.5px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .frame .custom {
    height: 695.94px;
    margin-right: -2px;
    position: relative;
    width: 1532px;
  }
  
  .frame .p {
    color: #000000;
    font-family: "Nunito Sans-Bold", Helvetica;
    font-size: 34px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 34px;
    position: absolute;
    top: 0;
    width: 1530px;
  }
  
  .frame .text-wrapper-8 {
    font-weight: 700;
    line-height: 37.4px;
  }
  
  .frame .text-wrapper-9 {
    font-family: "Nunito Sans-Regular", Helvetica;
    line-height: 37.4px;
  }
  
  .frame .bar {
    align-items: center;
    background-color: #f9fafb;
    display: flex;
    gap: var(--spacing-0);
    height: 71px;
    left: 0;
    padding: var(--spacing-4) var(--spacing-5) var(--spacing-4) var(--spacing-5);
    position: absolute;
    top: 0;
    width: 1621px;
  }
  
  .frame .text-5 {
    align-items: center;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: var(--spacing-2);
    justify-content: center;
    margin-bottom: -4.5px;
    margin-top: -4.5px;
    position: relative;
  }
  
  .frame .text-6 {
    color: #6b7280;
    font-family: "Inter-Bold", Helvetica;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 48px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  