.subin-job-ez-home-page-sketch-1 .job-ez-sketch-31 {
  background: url('assets/images/JobEzSketch31.png') 50% / cover no-repeat;
  width: 606px;
  height: 867px;
}
.subin-job-ez-home-page-sketch-1 {
  background: #FFFFFF;
  display: flex;
  box-sizing: border-box;
}
