.text-inputs .label {
  overflow-wrap: break-word;
  font-family: var(--forms-input-14-px-l-font-family, 'SF Pro Text', 'Roboto Condensed');
  font-weight: var(--forms-input-14-px-l-font-weight, 300);
  font-size: var(--forms-input-14-px-l-font-size, 14px);
  line-height: var(--forms-input-14-px-l-line-height, 1.571);
  color: var(--brainstorming-black-tints-100, #E6E6E6);
}
.text-inputs {
  border-radius: 4px;
  background: var(--primary-brainstorming-white, #FFFFFF);
  padding: 16px;
  box-sizing: border-box;
}
