.toast .rectangle-1941 {
  border-radius: 8px;
  background: var(--gray-700, #374151);
  margin-bottom: 24px;
  align-self: flex-start;
  width: 320px;
  height: 11px;
}
.toast .rectangle {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin-bottom: 8px;
  width: 432px;
  height: 8px;
}
.toast .rectangle-1 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin: 0 20px 8px 0;
  width: 412px;
  height: 8px;
}
.toast .rectangle-2 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin-bottom: 8px;
  align-self: flex-start;
  width: 340px;
  height: 8px;
}
.toast .rectangle-3 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin: 0 10px 8px 0;
  width: 422px;
  height: 8px;
}
.toast .rectangle-4 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin: 0 28px 8px 0;
  width: 404px;
  height: 8px;
}
.toast .rectangle-5 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin-bottom: 8px;
  align-self: flex-start;
  width: 360px;
  height: 8px;
}
.toast .rectangle-6 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin: 0 10px 8px 0;
  width: 422px;
  height: 8px;
}
.toast .rectangle-7 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin-right: 22px;
  width: 410px;
  height: 8px;
}
.toast .frame-11 {
  display: flex;
  flex-direction: column;
  width: 432px;
  box-sizing: border-box;
}
.toast .text {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  width: 432px;
  box-sizing: border-box;
}
.toast .mountains {
  width: 27.9px;
  height: 19px;
}
.toast .icons-mountains {
  display: flex;
  width: 27.9px;
  height: 19px;
  box-sizing: border-box;
}
.toast .image {
  border-radius: 4px;
  background: #374151;
  position: relative;
  margin-right: 32px;
  display: flex;
  padding: 68px 0.1px 67px 0;
  width: 152px;
  height: 154px;
  box-sizing: border-box;
}
.toast .title {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin-bottom: 17px;
  align-self: flex-start;
  width: 84px;
  height: 8px;
}
.toast .rectangle-8 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin-bottom: 8px;
  align-self: flex-start;
  width: 173.6px;
  height: 8px;
}
.toast .rectangle-9 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin: 0 24.8px 8px 0;
  width: 223.2px;
  height: 8px;
}
.toast .rectangle-10 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin-bottom: 8px;
  width: 248px;
  height: 8px;
}
.toast .rectangle-11 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin-right: 9px;
  width: 239px;
  height: 8px;
}
.toast .frame-9 {
  margin-bottom: 17px;
  display: flex;
  flex-direction: column;
  width: 248px;
  box-sizing: border-box;
}
.toast .rectangle-12 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin-bottom: 8px;
  align-self: flex-start;
  width: 173.6px;
  height: 8px;
}
.toast .rectangle-13 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin: 0 24.8px 8px 0;
  width: 223.2px;
  height: 8px;
}
.toast .rectangle-14 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin-bottom: 8px;
  width: 248px;
  height: 8px;
}
.toast .rectangle-15 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin-right: 9px;
  width: 239px;
  height: 8px;
}
.toast .frame-10 {
  display: flex;
  flex-direction: column;
  width: 248px;
  box-sizing: border-box;
}
.toast .text-1 {
  display: flex;
  flex-direction: column;
  width: 248px;
  box-sizing: border-box;
}
.toast .frame-8 {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  width: 432px;
  box-sizing: border-box;
}
.toast .rectangle-19411 {
  border-radius: 8px;
  background: var(--gray-700, #374151);
  margin-bottom: 24px;
  align-self: flex-start;
  width: 320px;
  height: 11px;
}
.toast .rectangle-16 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin-bottom: 8px;
  width: 432px;
  height: 8px;
}
.toast .rectangle-17 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin: 0 20px 8px 0;
  width: 412px;
  height: 8px;
}
.toast .rectangle-18 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin-bottom: 8px;
  align-self: flex-start;
  width: 340px;
  height: 8px;
}
.toast .rectangle-19 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin: 0 10px 8px 0;
  width: 422px;
  height: 8px;
}
.toast .rectangle-20 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin: 0 28px 8px 0;
  width: 404px;
  height: 8px;
}
.toast .rectangle-21 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin-bottom: 8px;
  align-self: flex-start;
  width: 360px;
  height: 8px;
}
.toast .rectangle-22 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin: 0 10px 8px 0;
  width: 422px;
  height: 8px;
}
.toast .rectangle-23 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin-right: 22px;
  width: 410px;
  height: 8px;
}
.toast .frame-111 {
  display: flex;
  flex-direction: column;
  width: 432px;
  box-sizing: border-box;
}
.toast .text-2 {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  width: 432px;
  box-sizing: border-box;
}
.toast .rectangle-24 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin-bottom: 8px;
  width: 432px;
  height: 8px;
}
.toast .rectangle-25 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin: 0 20px 8px 0;
  width: 412px;
  height: 8px;
}
.toast .rectangle-26 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin-bottom: 8px;
  align-self: flex-start;
  width: 340px;
  height: 8px;
}
.toast .rectangle-27 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin: 0 10px 8px 0;
  width: 422px;
  height: 8px;
}
.toast .rectangle-28 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin: 0 28px 8px 0;
  width: 404px;
  height: 8px;
}
.toast .rectangle-29 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin-bottom: 8px;
  align-self: flex-start;
  width: 360px;
  height: 8px;
}
.toast .rectangle-30 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin: 0 10px 8px 0;
  width: 422px;
  height: 8px;
}
.toast .rectangle-31 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin-right: 22px;
  width: 410px;
  height: 8px;
}
.toast .text-3 {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  width: 432px;
  box-sizing: border-box;
}
.toast .rectangle-32 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin-bottom: 8px;
  width: 432px;
  height: 8px;
}
.toast .rectangle-33 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin: 0 20px 8px 0;
  width: 412px;
  height: 8px;
}
.toast .rectangle-34 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin-bottom: 8px;
  align-self: flex-start;
  width: 340px;
  height: 8px;
}
.toast .rectangle-35 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin: 0 10px 8px 0;
  width: 422px;
  height: 8px;
}
.toast .rectangle-36 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin: 0 28px 8px 0;
  width: 404px;
  height: 8px;
}
.toast .rectangle-37 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin-bottom: 8px;
  align-self: flex-start;
  width: 360px;
  height: 8px;
}
.toast .rectangle-38 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin: 0 10px 8px 0;
  width: 422px;
  height: 8px;
}
.toast .rectangle-39 {
  border-radius: 2px;
  background: var(--gray-700, #374151);
  margin-right: 22px;
  width: 410px;
  height: 8px;
}
.toast .text-4 {
  display: flex;
  flex-direction: column;
  width: 432px;
  box-sizing: border-box;
}
.toast .website-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 432px;
  height: fit-content;
  box-sizing: border-box;
}
.toast .vector-1 {
  width: 15px;
  height: 16.7px;
}
.toast .icon-shapes {
  border-radius: 8px;
  background: var(--primary-100, #E1EFFE);
  margin: 0 12px 77px 0;
  display: flex;
  padding: 7.7px 8.5px;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.toast .title-1 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-smfont-semibold-font-family, 'Inter');
  font-weight: var(--text-smfont-semibold-font-weight, 600);
  font-size: var(--text-smfont-semibold-font-size, 14px);
  line-height: var(--text-smfont-semibold-line-height, 1.5);
  color: var(--gray-900, #111928);
}
.toast .message {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: var(--gray-600, #4B5563);
}
.toast .name-message {
  margin: 0 12.4px 12px 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.toast .text-5 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.toast .button {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  margin-right: 12px;
  display: flex;
  padding: 8px 1px 8px 0;
  width: 116px;
  box-sizing: border-box;
}
.toast .text-6 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--gray-800, #1F2A37);
}
.toast .button-1 {
  border-radius: 8px;
  border: 1px solid var(--gray-2002, #E5E7EB);
  display: flex;
  padding: 7px 0.1px 7px 0;
  width: 116px;
  box-sizing: border-box;
}
.toast .buttons {
  display: flex;
  flex-direction: row;
  width: 244px;
  box-sizing: border-box;
}
.toast .text-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.toast .avatar-text {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.toast .vector {
  width: 11.7px;
  height: 11.7px;
}
.toast .x {
  position: absolute;
  top: 18.2px;
  right: 14.1px;
  display: flex;
  width: 11.7px;
  height: 11.7px;
  box-sizing: border-box;
}
.toast .toast-1 {
  box-shadow: var(--shadow, 0px 1px 3px 0px rgba(0, 0, 0, 0.1)), var(--shadow, 0px 1px 2px -1px rgba(0, 0, 0, 0.1));
  border-radius: 8px;
  background: var(--white-4, #FFFFFF);
  position: absolute;
  left: 45px;
  bottom: 47px;
  display: flex;
  padding: 16px;
  box-sizing: border-box;
}
.toast {
  background: var(--gray-600, #4B5563);
  display: flex;
  padding: 40px 0;
  width: 1440px;
  box-sizing: border-box;
}
