.type-advanced-state-initial-dark-mode-true-size-large .vector {
  width: 13.5px;
  height: 13.5px;
}
.type-advanced-state-initial-dark-mode-true-size-large .search-outline {
  margin: 5.3px 0;
  display: flex;
  width: 13.5px;
  height: 13.5px;
  box-sizing: border-box;
}
.type-advanced-state-initial-dark-mode-true-size-large .quick-search-for-anything {
  overflow-wrap: break-word;
  font-family: var(--text-basefont-normal-font-family, 'Inter');
  font-weight: var(--text-basefont-normal-font-weight, 400);
  font-size: var(--text-basefont-normal-font-size, 16px);
  line-height: var(--text-basefont-normal-line-height, 1.5);
  color: var(--gray-400, #9CA3AF);
}
.type-advanced-state-initial-dark-mode-true-size-large {
  border-radius: 8px;
  border: 1px solid var(--gray-600, #4B5563);
  background: var(--gray-700, #374151);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 13px 0 13px 17.3px;
  box-sizing: border-box;
}
