.type-advanced-state-active-dark-mode-true-size-default .vector {
  width: 13.5px;
  height: 13.5px;
}
.type-advanced-state-active-dark-mode-true-size-default .search-outline {
  margin: 2.8px 0;
  display: flex;
  width: 13.5px;
  height: 13.5px;
  box-sizing: border-box;
}
.type-advanced-state-active-dark-mode-true-size-default .quick-search-for-anything {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-normal-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-normal-font-weight, 400);
  font-size: var(--leading-tighttext-smfont-normal-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-normal-line-height, 1.25);
  color: var(--white-5, #FFFFFF);
}
.quick-search-for-anything-sub7 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.333;
}
.quick-search-for-anything {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.333;
  color: var(--gray-4001, #9CA3AF);
}
.type-advanced-state-active-dark-mode-true-size-default .input {
  border-radius: 8px;
  border: 1px solid var(--primary-500, #3F83F8);
  background: var(--gray-700, #374151);
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10.5px 0 10.5px 17.3px;
  width: 100%;
  box-sizing: border-box;
}
.type-advanced-state-active-dark-mode-true-size-default .text {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-semibold-font-family, 'Inter');
  font-weight: var(--text-smfont-semibold-font-weight, 600);
  font-size: var(--text-smfont-semibold-font-size, 14px);
  line-height: var(--text-smfont-semibold-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.type-advanced-state-active-dark-mode-true-size-default .heading {
  margin-bottom: 12px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.type-advanced-state-active-dark-mode-true-size-default .vector-1 {
  width: 11.7px;
  height: 11.7px;
}
.type-advanced-state-active-dark-mode-true-size-default .swatchbook {
  margin: 4.7px 9.2px 4.7px 0;
  display: flex;
  width: 11.7px;
  height: 11.7px;
  box-sizing: border-box;
}
.type-advanced-state-active-dark-mode-true-size-default .text-1 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: var(--gray-400, #9CA3AF);
}
.type-advanced-state-active-dark-mode-true-size-default .container-2 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.type-advanced-state-active-dark-mode-true-size-default .vector-2 {
  width: 8.2px;
  height: 8.2px;
}
.type-advanced-state-active-dark-mode-true-size-default .x {
  margin: 6.4px 0;
  display: flex;
  width: 8.2px;
  height: 8.2px;
  box-sizing: border-box;
}
.type-advanced-state-active-dark-mode-true-size-default .nav-link {
  border-radius: 8px;
  background: var(--gray-600, #4B5563);
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 14.9px 8px 13.2px;
  width: 100%;
  box-sizing: border-box;
}
.type-advanced-state-active-dark-mode-true-size-default .vector-3 {
  width: 10.5px;
  height: 10.5px;
}
.type-advanced-state-active-dark-mode-true-size-default .compress {
  margin: 5.3px 9.8px 5.3px 0;
  display: flex;
  width: 10.5px;
  height: 10.5px;
  box-sizing: border-box;
}
.type-advanced-state-active-dark-mode-true-size-default .text-2 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: var(--gray-400, #9CA3AF);
}
.type-advanced-state-active-dark-mode-true-size-default .container-4 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.type-advanced-state-active-dark-mode-true-size-default .vector-4 {
  width: 8.2px;
  height: 8.2px;
}
.type-advanced-state-active-dark-mode-true-size-default .x-1 {
  margin: 6.4px 0;
  display: flex;
  width: 8.2px;
  height: 8.2px;
  box-sizing: border-box;
}
.type-advanced-state-active-dark-mode-true-size-default .nav-link-1 {
  border-radius: 8px;
  background: var(--gray-600, #4B5563);
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 14.9px 8px 13.8px;
  width: 100%;
  box-sizing: border-box;
}
.type-advanced-state-active-dark-mode-true-size-default .vector-5 {
  width: 8.2px;
  height: 11.7px;
}
.type-advanced-state-active-dark-mode-true-size-default .phone {
  margin: 4.7px 10.9px 4.7px 0;
  display: flex;
  width: 8.2px;
  height: 11.7px;
  box-sizing: border-box;
}
.type-advanced-state-active-dark-mode-true-size-default .text-3 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: var(--gray-400, #9CA3AF);
}
.type-advanced-state-active-dark-mode-true-size-default .container-3 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.type-advanced-state-active-dark-mode-true-size-default .vector-6 {
  width: 8.2px;
  height: 8.2px;
}
.type-advanced-state-active-dark-mode-true-size-default .x-2 {
  margin: 6.4px 0;
  display: flex;
  width: 8.2px;
  height: 8.2px;
  box-sizing: border-box;
}
.type-advanced-state-active-dark-mode-true-size-default .nav-link-2 {
  border-radius: 8px;
  background: var(--gray-600, #4B5563);
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 14.9px;
  width: 100%;
  box-sizing: border-box;
}
.type-advanced-state-active-dark-mode-true-size-default .vector-7 {
  width: 11.7px;
  height: 11.7px;
}
.type-advanced-state-active-dark-mode-true-size-default .wand-magic-sparkles {
  margin: 4.7px 9.2px 4.7px 0;
  display: flex;
  width: 11.7px;
  height: 11.7px;
  box-sizing: border-box;
}
.type-advanced-state-active-dark-mode-true-size-default .text-4 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: var(--gray-400, #9CA3AF);
}
.type-advanced-state-active-dark-mode-true-size-default .container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.type-advanced-state-active-dark-mode-true-size-default .vector-8 {
  width: 8.2px;
  height: 8.2px;
}
.type-advanced-state-active-dark-mode-true-size-default .x-3 {
  margin: 6.4px 0;
  display: flex;
  width: 8.2px;
  height: 8.2px;
  box-sizing: border-box;
}
.type-advanced-state-active-dark-mode-true-size-default .nav-link-3 {
  border-radius: 8px;
  background: var(--gray-600, #4B5563);
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 14.9px 8px 13.2px;
  width: 100%;
  box-sizing: border-box;
}
.type-advanced-state-active-dark-mode-true-size-default .vector-9 {
  width: 9.3px;
  height: 11.7px;
}
.type-advanced-state-active-dark-mode-true-size-default .clipboard {
  margin: 4.7px 10.3px 4.7px 0;
  display: flex;
  width: 9.3px;
  height: 11.7px;
  box-sizing: border-box;
}
.type-advanced-state-active-dark-mode-true-size-default .text-5 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: var(--gray-400, #9CA3AF);
}
.type-advanced-state-active-dark-mode-true-size-default .container-1 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.type-advanced-state-active-dark-mode-true-size-default .vector-10 {
  width: 8.2px;
  height: 8.2px;
}
.type-advanced-state-active-dark-mode-true-size-default .x-4 {
  margin: 6.4px 0;
  display: flex;
  width: 8.2px;
  height: 8.2px;
  box-sizing: border-box;
}
.type-advanced-state-active-dark-mode-true-size-default .nav-link-4 {
  border-radius: 8px;
  background: var(--gray-600, #4B5563);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 14.9px 8px 14.3px;
  width: 100%;
  box-sizing: border-box;
}
.type-advanced-state-active-dark-mode-true-size-default .nav-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.type-advanced-state-active-dark-mode-true-size-default .dropdown {
  box-shadow: var(--shadow-sm-1, 0px 1px 2px 0px rgba(0, 0, 0, 0.08));
  border-radius: 8px;
  border: 1px solid var(--gray-600, #4B5563);
  background: var(--gray-700, #374151);
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}
.type-advanced-state-active-dark-mode-true-size-default {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
