.type-background-dark-mode-true-breakpoints-mobile .container {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-xsfont-medium-font-family, 'Inter');
  font-weight: var(--leading-tighttext-xsfont-medium-font-weight, 500);
  font-size: var(--leading-tighttext-xsfont-medium-font-size, 12px);
  line-height: var(--leading-tighttext-xsfont-medium-line-height, 1.25);
  color: var(--primary-500, #3F83F8);
}
.type-background-dark-mode-true-breakpoints-mobile .shape {
  border-radius: 50px;
  border: 1px solid var(--primary-500, #3F83F8);
  margin-right: 6px;
  display: flex;
  padding: 1.5px 6.3px 1.5px 6px;
  box-sizing: border-box;
}
.type-background-dark-mode-true-breakpoints-mobile .text {
  margin: 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-medium-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-medium-font-weight, 500);
  font-size: var(--leading-tighttext-smfont-medium-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-medium-line-height, 1.25);
  color: var(--primary-500, #3F83F8);
}
.type-background-dark-mode-true-breakpoints-mobile .nav-item {
  border-radius: 6px;
  margin-right: 9px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-basis: 113.4px;
  box-sizing: border-box;
}
.type-background-dark-mode-true-breakpoints-mobile .vector {
  width: 9.3px;
  height: 8.2px;
}
.type-background-dark-mode-true-breakpoints-mobile .chevron-double-right {
  margin: 5.9px 8.3px 5.9px 0;
  display: flex;
  width: 9.3px;
  height: 8.2px;
  box-sizing: border-box;
}
.type-background-dark-mode-true-breakpoints-mobile .container-1 {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-xsfont-medium-font-family, 'Inter');
  font-weight: var(--leading-tighttext-xsfont-medium-font-weight, 500);
  font-size: var(--leading-tighttext-xsfont-medium-font-size, 12px);
  line-height: var(--leading-tighttext-xsfont-medium-line-height, 1.25);
  color: var(--gray-400, #9CA3AF);
}
.type-background-dark-mode-true-breakpoints-mobile .shape-1 {
  border-radius: 50px;
  border: 1px solid var(--gray-400, #9CA3AF);
  margin-right: 6px;
  display: flex;
  padding: 1.5px 5.6px 1.5px 5px;
  box-sizing: border-box;
}
.type-background-dark-mode-true-breakpoints-mobile .text-1 {
  margin: 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-medium-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-medium-font-weight, 500);
  font-size: var(--leading-tighttext-smfont-medium-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-medium-line-height, 1.25);
  color: var(--gray-400, #9CA3AF);
}
.type-background-dark-mode-true-breakpoints-mobile .nav-item-1 {
  margin-right: 9.3px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-basis: 111.1px;
  box-sizing: border-box;
}
.type-background-dark-mode-true-breakpoints-mobile .vector-1 {
  width: 9.3px;
  height: 8.2px;
}
.type-background-dark-mode-true-breakpoints-mobile .chevron-double-right-1 {
  margin: 5.9px 8.3px 5.9px 0;
  display: flex;
  width: 9.3px;
  height: 8.2px;
  box-sizing: border-box;
}
.type-background-dark-mode-true-breakpoints-mobile .container-2 {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-xsfont-medium-font-family, 'Inter');
  font-weight: var(--leading-tighttext-xsfont-medium-font-weight, 500);
  font-size: var(--leading-tighttext-xsfont-medium-font-size, 12px);
  line-height: var(--leading-tighttext-xsfont-medium-line-height, 1.25);
  color: var(--gray-400, #9CA3AF);
}
.type-background-dark-mode-true-breakpoints-mobile .shape-2 {
  border-radius: 50px;
  border: 1px solid var(--gray-400, #9CA3AF);
  margin-right: 6px;
  display: flex;
  padding: 1.5px 5.3px 1.5px 5px;
  box-sizing: border-box;
}
.type-background-dark-mode-true-breakpoints-mobile .nav-link {
  margin: 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-medium-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-medium-font-weight, 500);
  font-size: var(--leading-tighttext-smfont-medium-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-medium-line-height, 1.25);
  color: var(--gray-400, #9CA3AF);
}
.type-background-dark-mode-true-breakpoints-mobile .nav-item-2 {
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-basis: 74.1px;
  box-sizing: border-box;
}
.type-background-dark-mode-true-breakpoints-mobile .navigation {
  box-shadow: var(--shadow-sm-1, 0px 1px 2px 0px rgba(0, 0, 0, 0.08));
  border-radius: 8px;
  border: 1px solid var(--gray-700, #374151);
  background: var(--gray-800, #1F2A37);
  display: flex;
  flex-direction: row;
  padding: 11px 9.9px 11px 11px;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.type-background-dark-mode-true-breakpoints-mobile {
  display: flex;
  box-sizing: border-box;
}
