.type-default-state-with-cta-dark-mode-false-size-large .vector {
  width: 13.5px;
  height: 13.5px;
}
.type-default-state-with-cta-dark-mode-false-size-large .search-outline {
  margin: 5.3px 10.3px 5.3px 0;
  display: flex;
  width: 13.5px;
  height: 13.5px;
  box-sizing: border-box;
}
.type-default-state-with-cta-dark-mode-false-size-large .bonnie-green {
  overflow-wrap: break-word;
  font-family: var(--text-basefont-normal-font-family, 'Inter');
  font-weight: var(--text-basefont-normal-font-weight, 400);
  font-size: var(--text-basefont-normal-font-size, 16px);
  line-height: var(--text-basefont-normal-line-height, 1.5);
  color: var(--gray-900, #111928);
}
.type-default-state-with-cta-dark-mode-false-size-large .container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.type-default-state-with-cta-dark-mode-false-size-large .vector-1 {
  width: 10.5px;
  height: 10.5px;
}
.type-default-state-with-cta-dark-mode-false-size-large .xcircle {
  margin: 6.8px 0;
  display: flex;
  width: 10.5px;
  height: 10.5px;
  box-sizing: border-box;
}
.type-default-state-with-cta-dark-mode-false-size-large .input {
  border-radius: 8px;
  border: 1px solid var(--primary-600, #1C64F2);
  background: var(--gray-501, #F9FAFB);
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 13px 16.8px 13px 17.3px;
  width: 100%;
  box-sizing: border-box;
}
.type-default-state-with-cta-dark-mode-false-size-large .text {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-semibold-font-family, 'Inter');
  font-weight: var(--text-smfont-semibold-font-weight, 600);
  font-size: var(--text-smfont-semibold-font-size, 14px);
  line-height: var(--text-smfont-semibold-line-height, 1.5);
  color: var(--gray-900, #111928);
}
.type-default-state-with-cta-dark-mode-false-size-large .heading {
  margin-bottom: 12px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.type-default-state-with-cta-dark-mode-false-size-large .vector-2 {
  width: 11.7px;
  height: 11.7px;
}
.type-default-state-with-cta-dark-mode-false-size-large .user-circle {
  margin: 4.7px 9.2px 4.7px 0;
  display: flex;
  width: 11.7px;
  height: 11.7px;
  box-sizing: border-box;
}
.type-default-state-with-cta-dark-mode-false-size-large .text-1 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: var(--gray-500, #6B7280);
}
.type-default-state-with-cta-dark-mode-false-size-large .nav-link {
  border-radius: 8px;
  margin: 0 1.2px 12px 1.2px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.type-default-state-with-cta-dark-mode-false-size-large .border-bottom {
  background: var(--gray-2002, #E5E7EB);
  margin-bottom: 12px;
  width: 316px;
  height: 1px;
}
.type-default-state-with-cta-dark-mode-false-size-large .vector-3 {
  width: 8.2px;
  height: 8.2px;
}
.type-default-state-with-cta-dark-mode-false-size-large .plus {
  margin: 6.4px 6.9px 6.4px 0;
  display: flex;
  width: 8.2px;
  height: 8.2px;
  box-sizing: border-box;
}
.type-default-state-with-cta-dark-mode-false-size-large .text-2 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--primary-600, #1C64F2);
}
.type-default-state-with-cta-dark-mode-false-size-large .cta {
  margin: 0 2.9px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.type-default-state-with-cta-dark-mode-false-size-large .dropdown {
  box-shadow: var(--shadow-sm-1, 0px 1px 2px 0px rgba(0, 0, 0, 0.08));
  border-radius: 8px;
  border: 1px solid var(--gray-2002, #E5E7EB);
  background: var(--white-4, #FFFFFF);
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}
.type-default-state-with-cta-dark-mode-false-size-large {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
