.type-default-state-active-dark-mode-false-size-default .vector {
  width: 13.5px;
  height: 13.5px;
}
.type-default-state-active-dark-mode-false-size-default .search-outline {
  margin: 2.8px 0;
  display: flex;
  width: 13.5px;
  height: 13.5px;
  box-sizing: border-box;
}
.type-default-state-active-dark-mode-false-size-default .quick-search-for-anything {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-normal-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-normal-font-weight, 400);
  font-size: var(--leading-tighttext-smfont-normal-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-normal-line-height, 1.25);
  color: var(--gray-9002, #111928);
}
.quick-search-for-anything-sub9 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.333;
}
.quick-search-for-anything {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.333;
  color: var(--gray-4001, #9CA3AF);
}
.type-default-state-active-dark-mode-false-size-default .input {
  border-radius: 8px;
  border: 1px solid var(--primary-600, #1C64F2);
  background: var(--gray-501, #F9FAFB);
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10.5px 0 10.5px 17.3px;
  width: 100%;
  box-sizing: border-box;
}
.type-default-state-active-dark-mode-false-size-default .text {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-semibold-font-family, 'Inter');
  font-weight: var(--text-smfont-semibold-font-weight, 600);
  font-size: var(--text-smfont-semibold-font-size, 14px);
  line-height: var(--text-smfont-semibold-line-height, 1.5);
  color: var(--gray-900, #111928);
}
.type-default-state-active-dark-mode-false-size-default .heading {
  margin-bottom: 12px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.type-default-state-active-dark-mode-false-size-default .vector-1 {
  width: 10.5px;
  height: 10.5px;
}
.type-default-state-active-dark-mode-false-size-default .search-outline-1 {
  margin: 5.3px 9.8px 5.3px 0;
  display: flex;
  width: 10.5px;
  height: 10.5px;
  box-sizing: border-box;
}
.type-default-state-active-dark-mode-false-size-default .text-1 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: var(--gray-500, #6B7280);
}
.type-default-state-active-dark-mode-false-size-default .nav-link {
  border-radius: 8px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.type-default-state-active-dark-mode-false-size-default .vector-2 {
  width: 10.5px;
  height: 10.5px;
}
.type-default-state-active-dark-mode-false-size-default .search-outline-2 {
  margin: 5.3px 9.8px 5.3px 0;
  display: flex;
  width: 10.5px;
  height: 10.5px;
  box-sizing: border-box;
}
.type-default-state-active-dark-mode-false-size-default .text-2 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: var(--gray-500, #6B7280);
}
.type-default-state-active-dark-mode-false-size-default .nav-link-1 {
  border-radius: 8px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.type-default-state-active-dark-mode-false-size-default .vector-3 {
  width: 10.5px;
  height: 10.5px;
}
.type-default-state-active-dark-mode-false-size-default .search-outline-3 {
  margin: 5.3px 9.8px 5.3px 0;
  display: flex;
  width: 10.5px;
  height: 10.5px;
  box-sizing: border-box;
}
.type-default-state-active-dark-mode-false-size-default .text-3 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: var(--gray-500, #6B7280);
}
.type-default-state-active-dark-mode-false-size-default .nav-link-2 {
  border-radius: 8px;
  margin: 0 1.2px 12px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.type-default-state-active-dark-mode-false-size-default .vector-4 {
  width: 10.5px;
  height: 10.5px;
}
.type-default-state-active-dark-mode-false-size-default .search-outline-4 {
  margin: 5.3px 9.8px 5.3px 0;
  display: flex;
  width: 10.5px;
  height: 10.5px;
  box-sizing: border-box;
}
.type-default-state-active-dark-mode-false-size-default .text-4 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: var(--gray-500, #6B7280);
}
.type-default-state-active-dark-mode-false-size-default .nav-link-3 {
  border-radius: 8px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.type-default-state-active-dark-mode-false-size-default .vector-5 {
  width: 10.5px;
  height: 10.5px;
}
.type-default-state-active-dark-mode-false-size-default .search-outline-5 {
  margin: 5.3px 9.8px 5.3px 0;
  display: flex;
  width: 10.5px;
  height: 10.5px;
  box-sizing: border-box;
}
.type-default-state-active-dark-mode-false-size-default .text-5 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: var(--gray-500, #6B7280);
}
.type-default-state-active-dark-mode-false-size-default .nav-link-4 {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.type-default-state-active-dark-mode-false-size-default .nav-links {
  margin: 0 1.8px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.type-default-state-active-dark-mode-false-size-default .dropdown {
  box-shadow: var(--shadow-sm-1, 0px 1px 2px 0px rgba(0, 0, 0, 0.08));
  border-radius: 8px;
  border: 1px solid var(--gray-2002, #E5E7EB);
  background: var(--white-4, #FFFFFF);
  display: flex;
  flex-direction: column;
  padding: 15px 0 15px 15px;
  width: 100%;
  box-sizing: border-box;
}
.type-default-state-active-dark-mode-false-size-default {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
