.type-newsletter-breakpoints-desktop-dark-mode-true .text-1 {
  overflow-wrap: break-word;
  font-family: var(--text-basefont-medium-font-family, 'Inter');
  font-weight: var(--text-basefont-medium-font-weight, 500);
  font-size: var(--text-basefont-medium-font-size, 16px);
  line-height: var(--text-basefont-medium-line-height, 1.5);
  color: var(--gray-400, #9CA3AF);
}
.type-newsletter-breakpoints-desktop-dark-mode-true .text {
  margin: 9px 32.4px 9px 0;
  display: flex;
  box-sizing: border-box;
}
.type-newsletter-breakpoints-desktop-dark-mode-true .input-text {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-normal-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-normal-font-weight, 400);
  font-size: var(--leading-tighttext-smfont-normal-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-normal-line-height, 1.25);
  color: var(--gray-400, #9CA3AF);
}
.type-newsletter-breakpoints-desktop-dark-mode-true .input {
  border-radius: 8px;
  border: 1px solid var(--gray-500, #6B7280);
  background: var(--gray-600, #4B5563);
  padding: 11px 15px;
  box-sizing: border-box;
}
.type-newsletter-breakpoints-desktop-dark-mode-true .input-field {
  margin-right: 16px;
  width: 402px;
  box-sizing: border-box;
}
.type-newsletter-breakpoints-desktop-dark-mode-true .text-2 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-medium-font-family, 'Inter');
  font-weight: var(--text-smfont-medium-font-weight, 500);
  font-size: var(--text-smfont-medium-font-size, 14px);
  line-height: var(--text-smfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.type-newsletter-breakpoints-desktop-dark-mode-true .button {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  margin: 0.5px 0;
  padding: 10px 20px;
  width: 108px;
  box-sizing: border-box;
}
.type-newsletter-breakpoints-desktop-dark-mode-true .form {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.type-newsletter-breakpoints-desktop-dark-mode-true .form-text {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.type-newsletter-breakpoints-desktop-dark-mode-true .vector {
  width: 9.3px;
  height: 9.3px;
}
.type-newsletter-breakpoints-desktop-dark-mode-true .x {
  margin: 16.3px 0;
  display: flex;
  width: 9.3px;
  height: 9.3px;
  box-sizing: border-box;
}
.type-newsletter-breakpoints-desktop-dark-mode-true .bar {
  background: var(--gray-700, #374151);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 23.3px 16px 0;
  width: 1440px;
  height: fit-content;
  box-sizing: border-box;
}
.type-newsletter-breakpoints-desktop-dark-mode-true {
  background: var(--gray-900, #111928);
  display: flex;
  width: 1440px;
  box-sizing: border-box;
}
