.type-cta-breakpoints-tablet-dark-mode-false .text {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-basefont-semibold-font-family, 'Inter');
  font-weight: var(--text-basefont-semibold-font-weight, 600);
  font-size: var(--text-basefont-semibold-font-size, 16px);
  line-height: var(--text-basefont-semibold-line-height, 1.5);
  color: var(--gray-900, #111928);
}
.type-cta-breakpoints-tablet-dark-mode-false .text-1 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: var(--gray-500, #6B7280);
}
.type-cta-breakpoints-tablet-dark-mode-false .heading-desc {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.type-cta-breakpoints-tablet-dark-mode-false .vector {
  width: 13.3px;
  height: 10.7px;
}
.type-cta-breakpoints-tablet-dark-mode-false .open-book {
  margin: 3.7px 9.3px 3.7px 0;
  display: flex;
  width: 13.3px;
  height: 10.7px;
  box-sizing: border-box;
}
.type-cta-breakpoints-tablet-dark-mode-false .text-2 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--gray-800, #1F2A37);
}
.type-cta-breakpoints-tablet-dark-mode-false .button {
  border-radius: 8px;
  border: 1px solid var(--gray-2002, #E5E7EB);
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  padding: 7px 11.1px 7px 12.3px;
  box-sizing: border-box;
}
.type-cta-breakpoints-tablet-dark-mode-false .text-3 {
  margin-right: 10.7px;
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.type-cta-breakpoints-tablet-dark-mode-false .vector-1 {
  width: 12px;
  height: 9.3px;
}
.type-cta-breakpoints-tablet-dark-mode-false .arrow-right {
  margin: 4.3px 0;
  display: flex;
  width: 12px;
  height: 9.3px;
  box-sizing: border-box;
}
.type-cta-breakpoints-tablet-dark-mode-false .button-1 {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  display: flex;
  flex-direction: row;
  padding: 8px 14px 8px 12px;
  box-sizing: border-box;
}
.type-cta-breakpoints-tablet-dark-mode-false .cta-buttons {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.type-cta-breakpoints-tablet-dark-mode-false .text-cta {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.type-cta-breakpoints-tablet-dark-mode-false .vector-2 {
  width: 9.3px;
  height: 9.3px;
}
.type-cta-breakpoints-tablet-dark-mode-false .x {
  margin: 3.3px 0 86.3px 0;
  display: flex;
  width: 9.3px;
  height: 9.3px;
  box-sizing: border-box;
}
.type-cta-breakpoints-tablet-dark-mode-false .bar {
  background: var(--gray-501, #F9FAFB);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 23.3px 12px 20px;
  width: 768px;
  height: fit-content;
  box-sizing: border-box;
}
.type-cta-breakpoints-tablet-dark-mode-false {
  background: var(--gray-500, #6B7280);
  display: flex;
  width: 768px;
  box-sizing: border-box;
}
