.type-progress-bar-dark-mode-true-breakpoints-mobile .vector {
  width: 21.3px;
  height: 16px;
}
.type-progress-bar-dark-mode-true-breakpoints-mobile .icon-shapes {
  border-radius: 50px;
  background: var(--primary-800, #1E429F);
  display: flex;
  padding: 16px 13.3px;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
}
.type-progress-bar-dark-mode-true-breakpoints-mobile .nav-item {
  position: relative;
  display: flex;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
}
.type-progress-bar-dark-mode-true-breakpoints-mobile .shape {
  background: var(--primary-800, #1E429F);
  position: absolute;
  left: 47px;
  top: 50%;
  translate: 0 -50%;
  width: 118px;
  height: 6px;
}
.type-progress-bar-dark-mode-true-breakpoints-mobile .vector-1 {
  width: 26.7px;
  height: 21.3px;
}
.type-progress-bar-dark-mode-true-breakpoints-mobile .icon-shapes-1 {
  border-radius: 50px;
  background: var(--gray-700, #374151);
  display: flex;
  padding: 13.3px 10.7px;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
}
.type-progress-bar-dark-mode-true-breakpoints-mobile .nav-item-1 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  display: flex;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
}
.type-progress-bar-dark-mode-true-breakpoints-mobile .shape-1 {
  background: var(--gray-700, #374151);
  position: absolute;
  top: 50%;
  right: 47px;
  translate: 0 -50%;
  width: 117px;
  height: 6px;
}
.type-progress-bar-dark-mode-true-breakpoints-mobile .vector-2 {
  width: 26.6px;
  height: 26.7px;
}
.type-progress-bar-dark-mode-true-breakpoints-mobile .icon-shapes-2 {
  border-radius: 50px;
  background: var(--gray-700, #374151);
  display: flex;
  padding: 10.7px;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
}
.type-progress-bar-dark-mode-true-breakpoints-mobile .nav-item-2 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: flex;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
}
.type-progress-bar-dark-mode-true-breakpoints-mobile {
  box-sizing: border-box;
}
