.type-bottom-icon-text-breakpoints-mobile-dark-mode-false .vector {
  width: 13.3px;
  height: 13.3px;
}
.type-bottom-icon-text-breakpoints-mobile-dark-mode-false .sale-percent {
  margin: 1.3px 7.4px 1.3px 0;
  display: flex;
  width: 13.3px;
  height: 13.3px;
  box-sizing: border-box;
}
.type-bottom-icon-text-breakpoints-mobile-dark-mode-false .text {
  overflow-wrap: break-word;
  font-family: var(--leading-nonetext-basefont-medium-font-family, 'Inter');
  font-weight: var(--leading-nonetext-basefont-medium-font-weight, 500);
  font-size: var(--leading-nonetext-basefont-medium-font-size, 16px);
  line-height: var(--leading-nonetext-basefont-medium-line-height, 1);
  color: var(--gray-600, #4B5563);
}
.type-bottom-icon-text-breakpoints-mobile-dark-mode-false .text-icon-1 {
  margin: 0 0 13px 1px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.type-bottom-icon-text-breakpoints-mobile-dark-mode-false .text-1 {
  margin-right: 6.3px;
  overflow-wrap: break-word;
  font-family: var(--leading-nonetext-smfont-medium-font-family, 'Inter');
  font-weight: var(--leading-nonetext-smfont-medium-font-weight, 500);
  font-size: var(--leading-nonetext-smfont-medium-font-size, 14px);
  line-height: var(--leading-nonetext-smfont-medium-line-height, 1);
  color: #1A56DB;
}
.type-bottom-icon-text-breakpoints-mobile-dark-mode-false .vector-1 {
  width: 12px;
  height: 9.3px;
}
.type-bottom-icon-text-breakpoints-mobile-dark-mode-false .arrow-right {
  margin: 2.3px 0;
  display: flex;
  width: 12px;
  height: 9.3px;
  box-sizing: border-box;
}
.type-bottom-icon-text-breakpoints-mobile-dark-mode-false .link {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.type-bottom-icon-text-breakpoints-mobile-dark-mode-false .text-icon {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.type-bottom-icon-text-breakpoints-mobile-dark-mode-false .vector-2 {
  width: 9.3px;
  height: 9.3px;
}
.type-bottom-icon-text-breakpoints-mobile-dark-mode-false .x {
  margin: 17.3px 0 16.3px 0;
  display: flex;
  width: 9.3px;
  height: 9.3px;
  box-sizing: border-box;
}
.type-bottom-icon-text-breakpoints-mobile-dark-mode-false .bar {
  background: var(--gray-501, #F9FAFB);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 23.3px 17px 20.3px;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.type-bottom-icon-text-breakpoints-mobile-dark-mode-false {
  background: var(--gray-500, #6B7280);
  padding-top: 509px;
  box-sizing: border-box;
}
