.type-alerts-dark-mode-true-breakpoints-mobile .title {
  margin-right: 12px;
  width: 259px;
  overflow-wrap: break-word;
  font-family: var(--text-basefont-medium-font-family, 'Inter');
  font-weight: var(--text-basefont-medium-font-weight, 500);
  font-size: var(--text-basefont-medium-font-size, 16px);
  line-height: var(--text-basefont-medium-line-height, 1.5);
  color: var(--green-400, #31C48D);
}
.type-alerts-dark-mode-true-breakpoints-mobile .vector {
  width: 14px;
  height: 10px;
}
.type-alerts-dark-mode-true-breakpoints-mobile .check {
  margin: 7px 0;
  display: flex;
  width: 14px;
  height: 10px;
  box-sizing: border-box;
}
.type-alerts-dark-mode-true-breakpoints-mobile .alerts {
  border-radius: 8px;
  border: 1px solid var(--green-800, #03543F);
  background: var(--gray-800, #1F2A37);
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 18px 15px 15px;
  width: 100%;
  box-sizing: border-box;
}
.type-alerts-dark-mode-true-breakpoints-mobile .title-1 {
  margin-right: 12px;
  width: 259px;
  overflow-wrap: break-word;
  font-family: var(--text-basefont-medium-font-family, 'Inter');
  font-weight: var(--text-basefont-medium-font-weight, 500);
  font-size: var(--text-basefont-medium-font-size, 16px);
  line-height: var(--text-basefont-medium-line-height, 1.5);
  color: var(--green-400, #31C48D);
}
.type-alerts-dark-mode-true-breakpoints-mobile .vector-1 {
  width: 14px;
  height: 10px;
}
.type-alerts-dark-mode-true-breakpoints-mobile .check-1 {
  margin: 7px 0;
  display: flex;
  width: 14px;
  height: 10px;
  box-sizing: border-box;
}
.type-alerts-dark-mode-true-breakpoints-mobile .alerts-1 {
  border-radius: 8px;
  border: 1px solid var(--green-800, #03543F);
  background: var(--gray-800, #1F2A37);
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 18px 15px 15px;
  width: 100%;
  box-sizing: border-box;
}
.type-alerts-dark-mode-true-breakpoints-mobile .title-2 {
  margin-right: 12px;
  width: 258.5px;
  overflow-wrap: break-word;
  font-family: var(--text-basefont-medium-font-family, 'Inter');
  font-weight: var(--text-basefont-medium-font-weight, 500);
  font-size: var(--text-basefont-medium-font-size, 16px);
  line-height: var(--text-basefont-medium-line-height, 1.5);
  color: var(--blue-400, #76A9FA);
}
.type-alerts-dark-mode-true-breakpoints-mobile .vector-2 {
  width: 15px;
  height: 11.7px;
}
.type-alerts-dark-mode-true-breakpoints-mobile .arrow-right {
  margin: 6.2px 0;
  display: flex;
  width: 15px;
  height: 11.7px;
  box-sizing: border-box;
}
.type-alerts-dark-mode-true-breakpoints-mobile .alerts-2 {
  border-radius: 8px;
  border: 1px solid var(--blue-800, #1E429F);
  background: var(--gray-800, #1F2A37);
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 17.5px 15px 15px;
  width: 100%;
  box-sizing: border-box;
}
.type-alerts-dark-mode-true-breakpoints-mobile .title-3 {
  overflow-wrap: break-word;
  font-family: var(--text-basefont-medium-font-family, 'Inter');
  font-weight: var(--text-basefont-medium-font-weight, 500);
  font-size: var(--text-basefont-medium-font-size, 16px);
  line-height: var(--text-basefont-medium-line-height, 1.5);
  color: var(--gray-400, #9CA3AF);
}
.type-alerts-dark-mode-true-breakpoints-mobile .alerts-3 {
  border-radius: 8px;
  border: 1px solid var(--gray-700, #374151);
  background: var(--gray-800, #1F2A37);
  margin-bottom: 16px;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}
.type-alerts-dark-mode-true-breakpoints-mobile .title-4 {
  overflow-wrap: break-word;
  font-family: var(--text-basefont-medium-font-family, 'Inter');
  font-weight: var(--text-basefont-medium-font-weight, 500);
  font-size: var(--text-basefont-medium-font-size, 16px);
  line-height: var(--text-basefont-medium-line-height, 1.5);
  color: var(--gray-400, #9CA3AF);
}
.type-alerts-dark-mode-true-breakpoints-mobile .alerts-4 {
  border-radius: 8px;
  border: 1px solid var(--gray-700, #374151);
  background: var(--gray-800, #1F2A37);
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}
.type-alerts-dark-mode-true-breakpoints-mobile {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
