.type-cta-breakpoints-mobile-dark-mode-true .text {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-basefont-semibold-font-family, 'Inter');
  font-weight: var(--text-basefont-semibold-font-weight, 600);
  font-size: var(--text-basefont-semibold-font-size, 16px);
  line-height: var(--text-basefont-semibold-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.type-cta-breakpoints-mobile-dark-mode-true .text-1 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: var(--gray-400, #9CA3AF);
}
.type-cta-breakpoints-mobile-dark-mode-true .heading-desc {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.type-cta-breakpoints-mobile-dark-mode-true .vector {
  width: 13.3px;
  height: 10.7px;
}
.type-cta-breakpoints-mobile-dark-mode-true .open-book {
  margin: 3.7px 9.3px 3.7px 0;
  display: flex;
  width: 13.3px;
  height: 10.7px;
  box-sizing: border-box;
}
.type-cta-breakpoints-mobile-dark-mode-true .text-2 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--gray-400, #9CA3AF);
}
.type-cta-breakpoints-mobile-dark-mode-true .button {
  border-radius: 8px;
  border: 1px solid var(--gray-600, #4B5563);
  background: var(--gray-800, #1F2A37);
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  padding: 7px 11.1px 7px 12.3px;
  box-sizing: border-box;
}
.type-cta-breakpoints-mobile-dark-mode-true .text-3 {
  margin-right: 10.7px;
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.type-cta-breakpoints-mobile-dark-mode-true .vector-1 {
  width: 12px;
  height: 9.3px;
}
.type-cta-breakpoints-mobile-dark-mode-true .arrow-right {
  margin: 4.3px 0;
  display: flex;
  width: 12px;
  height: 9.3px;
  box-sizing: border-box;
}
.type-cta-breakpoints-mobile-dark-mode-true .button-1 {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  display: flex;
  flex-direction: row;
  padding: 8px 14px 8px 12px;
  box-sizing: border-box;
}
.type-cta-breakpoints-mobile-dark-mode-true .cta-buttons {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.type-cta-breakpoints-mobile-dark-mode-true .text-cta {
  margin-right: 38.1px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 284.3px;
  box-sizing: border-box;
}
.type-cta-breakpoints-mobile-dark-mode-true .vector-2 {
  width: 9.3px;
  height: 9.3px;
}
.type-cta-breakpoints-mobile-dark-mode-true .x {
  margin: 3.3px 0 107.3px 0;
  display: flex;
  width: 9.3px;
  height: 9.3px;
  box-sizing: border-box;
}
.type-cta-breakpoints-mobile-dark-mode-true .bar {
  background: var(--gray-700, #374151);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 23.3px 12px 20px;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.type-cta-breakpoints-mobile-dark-mode-true {
  background: var(--gray-900, #111928);
  display: flex;
  box-sizing: border-box;
}
