.type-default-state-initial-dark-mode-true-size-default .vector {
  width: 13.5px;
  height: 13.5px;
}
.type-default-state-initial-dark-mode-true-size-default .search-outline {
  margin: 2.3px 0;
  display: flex;
  width: 13.5px;
  height: 13.5px;
  box-sizing: border-box;
}
.type-default-state-initial-dark-mode-true-size-default .quick-search-for-anything {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-normal-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-normal-font-weight, 400);
  font-size: var(--leading-tighttext-smfont-normal-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-normal-line-height, 1.25);
  color: var(--gray-400, #9CA3AF);
}
.type-default-state-initial-dark-mode-true-size-default {
  border-radius: 8px;
  border: 1px solid var(--gray-600, #4B5563);
  background: var(--gray-700, #374151);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 0 11px 17.3px;
  box-sizing: border-box;
}
