.type-container-size-cta-breakpoints-tablet-dark-mode-true .logo-1 {
  margin: 1.5px 8px 1.5px 0;
  width: 24px;
  height: 24px;
}
.type-container-size-cta-breakpoints-tablet-dark-mode-true .flowbite {
  overflow-wrap: break-word;
  font-family: var(--text-lgfont-semibold-font-family, 'Inter');
  font-weight: var(--text-lgfont-semibold-font-weight, 600);
  font-size: var(--text-lgfont-semibold-font-size, 18px);
  line-height: var(--text-lgfont-semibold-line-height, 1.5);
  color: var(--white-3, #FFFFFF);
}
.type-container-size-cta-breakpoints-tablet-dark-mode-true .logo {
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.type-container-size-cta-breakpoints-tablet-dark-mode-true .text-1 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: var(--gray-400, #9CA3AF);
}
.type-container-size-cta-breakpoints-tablet-dark-mode-true .text {
  display: flex;
  box-sizing: border-box;
}
.type-container-size-cta-breakpoints-tablet-dark-mode-true .logo-text {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.type-container-size-cta-breakpoints-tablet-dark-mode-true .text-2 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.type-container-size-cta-breakpoints-tablet-dark-mode-true .button {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  margin-right: 15.3px;
  display: flex;
  padding: 8px 12.7px 8px 12px;
  box-sizing: border-box;
}
.type-container-size-cta-breakpoints-tablet-dark-mode-true .vector-9 {
  width: 9.3px;
  height: 9.3px;
}
.type-container-size-cta-breakpoints-tablet-dark-mode-true .x {
  margin: 12.3px 0;
  display: flex;
  width: 9.3px;
  height: 9.3px;
  box-sizing: border-box;
}
.type-container-size-cta-breakpoints-tablet-dark-mode-true .buttons {
  margin: 9px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.type-container-size-cta-breakpoints-tablet-dark-mode-true .bar {
  box-shadow: var(--shadow-sm-1, 0px 1px 2px 0px rgba(0, 0, 0, 0.08));
  border-radius: 8px;
  border: 1px solid var(--gray-600, #4B5563);
  background: var(--gray-700, #374151);
  position: absolute;
  left: 42.7px;
  top: 18.5px;
  right: 42.7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 18.3px 15px 15px;
  box-sizing: border-box;
}
.type-container-size-cta-breakpoints-tablet-dark-mode-true {
  background: var(--gray-900, #111928);
  width: 768px;
}
