.type-default-dark-mode-true-breakpoints-desktop .vector {
  width: 16.8px;
  height: 16.8px;
}
.type-default-dark-mode-true-breakpoints-desktop .badge-check {
  margin: 1.6px 7.6px 1.6px 0;
  display: flex;
  width: 16.8px;
  height: 16.8px;
  box-sizing: border-box;
}
.type-default-dark-mode-true-breakpoints-desktop .text {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-basefont-medium-font-family, 'Inter');
  font-weight: var(--leading-tighttext-basefont-medium-font-weight, 500);
  font-size: var(--leading-tighttext-basefont-medium-font-size, 16px);
  line-height: var(--leading-tighttext-basefont-medium-line-height, 1.25);
  color: var(--primary-500, #3F83F8);
}
.type-default-dark-mode-true-breakpoints-desktop .nav-item {
  border-radius: 6px;
  margin-right: 16.2px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-basis: 124.2px;
  box-sizing: border-box;
}
.type-default-dark-mode-true-breakpoints-desktop .line {
  background: #374151;
  margin: 10px 16px 9px 0;
  height: 1px;
  flex-grow: 1;
  flex-basis: 164.5px;
}
.type-default-dark-mode-true-breakpoints-desktop .text-1 {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-basefont-medium-font-family, 'Inter');
  font-weight: var(--leading-tighttext-basefont-medium-font-weight, 500);
  font-size: var(--leading-tighttext-basefont-medium-font-size, 16px);
  line-height: var(--leading-tighttext-basefont-medium-line-height, 1.25);
  color: var(--gray-400, #9CA3AF);
}
.type-default-dark-mode-true-breakpoints-desktop .nav-item-1 {
  margin-right: 16.8px;
  display: flex;
  flex-grow: 1;
  flex-basis: 97.2px;
  box-sizing: border-box;
}
.type-default-dark-mode-true-breakpoints-desktop .line-1 {
  background: #374151;
  margin: 10px 16px 9px 0;
  height: 1px;
  flex-grow: 1;
  flex-basis: 164.5px;
}
.type-default-dark-mode-true-breakpoints-desktop .nav-link {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-basefont-medium-font-family, 'Inter');
  font-weight: var(--leading-tighttext-basefont-medium-font-weight, 500);
  font-size: var(--leading-tighttext-basefont-medium-font-size, 16px);
  line-height: var(--leading-tighttext-basefont-medium-line-height, 1.25);
  color: var(--gray-400, #9CA3AF);
}
.type-default-dark-mode-true-breakpoints-desktop .nav-item-2 {
  border-radius: 6px;
  display: flex;
  flex-grow: 1;
  flex-basis: 55px;
  box-sizing: border-box;
}
.type-default-dark-mode-true-breakpoints-desktop {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
