.type-advanced-state-typing-dark-mode-false-size-large .vector {
  width: 13.5px;
  height: 13.5px;
}
.type-advanced-state-typing-dark-mode-false-size-large .search-outline {
  margin: 5.3px 10.3px 5.3px 0;
  display: flex;
  width: 13.5px;
  height: 13.5px;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large .gri {
  overflow-wrap: break-word;
  font-family: var(--text-basefont-normal-font-family, 'Inter');
  font-weight: var(--text-basefont-normal-font-weight, 400);
  font-size: var(--text-basefont-normal-font-size, 16px);
  line-height: var(--text-basefont-normal-line-height, 1.5);
  color: var(--gray-900, #111928);
}
.type-advanced-state-typing-dark-mode-false-size-large .container-5 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large .vector-1 {
  width: 10.5px;
  height: 10.5px;
}
.type-advanced-state-typing-dark-mode-false-size-large .xcircle {
  margin: 6.8px 0;
  display: flex;
  width: 10.5px;
  height: 10.5px;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large .input {
  border-radius: 8px;
  border: 1px solid var(--primary-600, #1C64F2);
  background: var(--gray-501, #F9FAFB);
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 13px 16.8px 13px 17.3px;
  width: 100%;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large .text {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-semibold-font-family, 'Inter');
  font-weight: var(--text-smfont-semibold-font-weight, 600);
  font-size: var(--text-smfont-semibold-font-size, 14px);
  line-height: var(--text-smfont-semibold-line-height, 1.5);
  color: var(--gray-900, #111928);
}
.type-advanced-state-typing-dark-mode-false-size-large .heading {
  margin-bottom: 12px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large .vector-2 {
  width: 10.5px;
  height: 10.5px;
}
.type-advanced-state-typing-dark-mode-false-size-large .grid {
  margin: 5.3px 9.8px 3.3px 0;
  display: flex;
  width: 10.5px;
  height: 10.5px;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large .text-1 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: var(--gray-5001, #6B7280);
}
.text-1-sub9 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.333;
  color: #1C64F2;
}
.text-1 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.333;
}
.type-advanced-state-typing-dark-mode-false-size-large .container-1 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large .vector-3 {
  width: 10.5px;
  height: 9.3px;
}
.type-advanced-state-typing-dark-mode-false-size-large .forward {
  margin: 5.8px 0 3.8px 0;
  display: flex;
  width: 10.5px;
  height: 9.3px;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large .nav-link {
  border-radius: 8px;
  background: var(--gray-501, #F9FAFB);
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 13.8px 10px 13.8px;
  width: 100%;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large .vector-4 {
  width: 10.5px;
  height: 10.5px;
}
.type-advanced-state-typing-dark-mode-false-size-large .grid-1 {
  margin: 5.3px 9.8px 3.3px 0;
  display: flex;
  width: 10.5px;
  height: 10.5px;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large .text-2 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: var(--gray-5001, #6B7280);
}
.text-2-sub8 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.333;
  color: #1C64F2;
}
.text-2 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.333;
}
.type-advanced-state-typing-dark-mode-false-size-large .container-3 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large .vector-5 {
  width: 10.5px;
  height: 9.3px;
}
.type-advanced-state-typing-dark-mode-false-size-large .forward-1 {
  margin: 5.8px 0 3.8px 0;
  display: flex;
  width: 10.5px;
  height: 9.3px;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large .nav-link-1 {
  border-radius: 8px;
  background: var(--gray-501, #F9FAFB);
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 13.8px 10px 13.8px;
  width: 100%;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large .vector-6 {
  width: 10.5px;
  height: 10.5px;
}
.type-advanced-state-typing-dark-mode-false-size-large .grid-2 {
  margin: 5.3px 9.8px 3.3px 0;
  display: flex;
  width: 10.5px;
  height: 10.5px;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large .text-3 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: var(--gray-5001, #6B7280);
}
.text-3-sub8 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.333;
  color: #1C64F2;
}
.text-3 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.333;
}
.type-advanced-state-typing-dark-mode-false-size-large .container-4 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large .vector-7 {
  width: 10.5px;
  height: 9.3px;
}
.type-advanced-state-typing-dark-mode-false-size-large .forward-2 {
  margin: 5.8px 0 3.8px 0;
  display: flex;
  width: 10.5px;
  height: 9.3px;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large .nav-link-2 {
  border-radius: 8px;
  background: var(--gray-501, #F9FAFB);
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 13.8px 10px 13.8px;
  width: 100%;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large .vector-8 {
  width: 10.5px;
  height: 10.5px;
}
.type-advanced-state-typing-dark-mode-false-size-large .grid-3 {
  margin: 5.3px 9.8px 3.3px 0;
  display: flex;
  width: 10.5px;
  height: 10.5px;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large .text-4 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: var(--gray-5001, #6B7280);
}
.text-4-sub7 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.333;
  color: #1C64F2;
}
.text-4 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.333;
}
.type-advanced-state-typing-dark-mode-false-size-large .container-2 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large .vector-9 {
  width: 10.5px;
  height: 9.3px;
}
.type-advanced-state-typing-dark-mode-false-size-large .forward-3 {
  margin: 5.8px 0 3.8px 0;
  display: flex;
  width: 10.5px;
  height: 9.3px;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large .nav-link-3 {
  border-radius: 8px;
  background: var(--gray-501, #F9FAFB);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 13.8px 10px 13.8px;
  width: 100%;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large .nav-links {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large .text-5 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-semibold-font-family, 'Inter');
  font-weight: var(--text-smfont-semibold-font-weight, 600);
  font-size: var(--text-smfont-semibold-font-size, 14px);
  line-height: var(--text-smfont-semibold-line-height, 1.5);
  color: var(--gray-900, #111928);
}
.type-advanced-state-typing-dark-mode-false-size-large .heading-1 {
  margin-bottom: 12px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large .vector-10 {
  width: 10.5px;
  height: 10.5px;
}
.type-advanced-state-typing-dark-mode-false-size-large .grid-4 {
  margin: 5.3px 9.8px 3.3px 0;
  display: flex;
  width: 10.5px;
  height: 10.5px;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large .text-6 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: var(--gray-5001, #6B7280);
}
.text-6-sub6 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.333;
}
.text-6-sub5 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.333;
  color: #1C64F2;
}
.text-6 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.333;
}
.type-advanced-state-typing-dark-mode-false-size-large .container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large .vector-11 {
  width: 10.5px;
  height: 9.3px;
}
.type-advanced-state-typing-dark-mode-false-size-large .forward-4 {
  margin: 5.8px 0 3.8px 0;
  display: flex;
  width: 10.5px;
  height: 9.3px;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large .nav-link-4 {
  border-radius: 8px;
  background: var(--gray-501, #F9FAFB);
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 13.8px 10px 13.8px;
  width: 100%;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large .vector-12 {
  width: 10.5px;
  height: 10.5px;
}
.type-advanced-state-typing-dark-mode-false-size-large .grid-5 {
  margin: 5.3px 9.8px 3.3px 0;
  display: flex;
  width: 10.5px;
  height: 10.5px;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large .text-7 {
  overflow-wrap: break-word;
  font-family: var(--text-smfont-normal-font-family, 'Inter');
  font-weight: var(--text-smfont-normal-font-weight, 400);
  font-size: var(--text-smfont-normal-font-size, 14px);
  line-height: var(--text-smfont-normal-line-height, 1.5);
  color: var(--gray-5001, #6B7280);
}
.text-7-sub7 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.333;
  color: #1C64F2;
}
.text-7 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.333;
}
.type-advanced-state-typing-dark-mode-false-size-large .container-6 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large .vector-13 {
  width: 10.5px;
  height: 9.3px;
}
.type-advanced-state-typing-dark-mode-false-size-large .forward-5 {
  margin: 5.8px 0 3.8px 0;
  display: flex;
  width: 10.5px;
  height: 9.3px;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large .nav-link-5 {
  border-radius: 8px;
  background: var(--gray-501, #F9FAFB);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 13.8px 10px 13.8px;
  width: 100%;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large .nav-links-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large .dropdown {
  box-shadow: var(--shadow-sm-1, 0px 1px 2px 0px rgba(0, 0, 0, 0.08));
  border-radius: 8px;
  border: 1px solid var(--gray-2002, #E5E7EB);
  background: var(--white-4, #FFFFFF);
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}
.type-advanced-state-typing-dark-mode-false-size-large {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
