.type-default-dark-mode-false-breakpoints-desktop .vector {
  width: 15.1px;
  height: 15.1px;
}
.type-default-dark-mode-false-breakpoints-desktop .badge-check {
  margin: 1.4px 7.4px 1.4px 0;
  display: flex;
  width: 15.1px;
  height: 15.1px;
  box-sizing: border-box;
}
.type-default-dark-mode-false-breakpoints-desktop .text {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-medium-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-medium-font-weight, 500);
  font-size: var(--leading-tighttext-smfont-medium-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-medium-line-height, 1.25);
  color: #1A56DB;
}
.type-default-dark-mode-false-breakpoints-desktop .nav-item {
  border-radius: 6px;
  margin-right: 16.6px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-basis: 109.9px;
  box-sizing: border-box;
}
.type-default-dark-mode-false-breakpoints-desktop .line {
  background: #E5E7EB;
  margin: 9px 16px 8px 0;
  height: 1px;
  flex-grow: 1;
  flex-basis: 180.5px;
}
.type-default-dark-mode-false-breakpoints-desktop .text-1 {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-medium-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-medium-font-weight, 500);
  font-size: var(--leading-tighttext-smfont-medium-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-medium-line-height, 1.25);
  color: var(--gray-500, #6B7280);
}
.type-default-dark-mode-false-breakpoints-desktop .nav-item-1 {
  margin-right: 16.9px;
  display: flex;
  flex-grow: 1;
  flex-basis: 85.1px;
  box-sizing: border-box;
}
.type-default-dark-mode-false-breakpoints-desktop .line-1 {
  background: #E5E7EB;
  margin: 9px 16px 8px 0;
  height: 1px;
  flex-grow: 1;
  flex-basis: 180.5px;
}
.type-default-dark-mode-false-breakpoints-desktop .nav-link {
  overflow-wrap: break-word;
  font-family: var(--leading-tighttext-smfont-medium-font-family, 'Inter');
  font-weight: var(--leading-tighttext-smfont-medium-font-weight, 500);
  font-size: var(--leading-tighttext-smfont-medium-font-size, 14px);
  line-height: var(--leading-tighttext-smfont-medium-line-height, 1.25);
  color: var(--gray-500, #6B7280);
}
.type-default-dark-mode-false-breakpoints-desktop .nav-item-2 {
  border-radius: 6px;
  display: flex;
  flex-grow: 1;
  flex-basis: 48.1px;
  box-sizing: border-box;
}
.type-default-dark-mode-false-breakpoints-desktop {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
