.user-profile-screen-2 .flowbite {
  overflow-wrap: break-word;
  font-family: 'Literata';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.user-profile-screen-2 .navbar {
  background: var(--white-4, #FFFFFF);
  padding: 24.7px 116px;
  width: fit-content;
  box-sizing: border-box;
}
.user-profile-screen-2 .avatar-notification-dot-1 {
  border-radius: 15px;
  border: 2px solid var(--white-4, #FFFFFF);
  background: var(--green-400, #31C48D);
  width: 20px;
  height: 20px;
}
.user-profile-screen-2 .avatar-1 {
  border-radius: 100px;
  background: var(--avatar-jese-leos, url('assets/images/Avatar5.jpeg') 50% / cover no-repeat);
  margin-right: 35px;
  display: flex;
  padding: 0 2px;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
}
.user-profile-screen-2 .name {
  margin: 11px 0 33px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  color: #000000;
}
.user-profile-screen-2 .container {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.user-profile-screen-2 .title {
  position: absolute;
  right: 33.3px;
  bottom: 10px;
  overflow-wrap: break-word;
  font-family: var(--text-basefont-normal-font-family, 'Inter');
  font-weight: var(--text-basefont-normal-font-weight, 400);
  font-size: var(--text-basefont-normal-font-size, 16px);
  line-height: var(--text-basefont-normal-line-height, 1.5);
  color: #000000;
}
.user-profile-screen-2 .container-10 {
  position: relative;
  margin-bottom: 18px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.user-profile-screen-2 .line-9 {
  background: #D9D9D9;
  margin: 0 0 41px 10px;
  width: 309px;
  height: 1px;
}
.user-profile-screen-2 .vector-1 {
  width: 18px;
  height: 18px;
}
.user-profile-screen-2 .grid {
  margin: 2px 13px 4px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.user-profile-screen-2 .dashboard {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.user-profile-screen-2 .container-2 {
  margin: 0 15px 22px 15px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.user-profile-screen-2 .vector {
  width: 20px;
  height: 20px;
}
.user-profile-screen-2 .user-circle {
  margin: 0 11px 4px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.user-profile-screen-2 .profile {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #1C64F2;
}
.user-profile-screen-2 .container-3 {
  margin: 0 14px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.user-profile-screen-2 .container-4 {
  background: rgba(240, 240, 240, 0.5);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 28px 2px 659px 4px;
  box-sizing: border-box;
}
.user-profile-screen-2 .edit-user-profile {
  margin-bottom: 33px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  color: #000000;
}
.user-profile-screen-2 .vector-2 {
  width: 18px;
  height: 18px;
}
.user-profile-screen-2 .pen {
  border-radius: 11px;
  background: #FFFFFF;
  display: flex;
  padding: 3px;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.user-profile-screen-2 .container-6 {
  border-radius: 8px;
  background: url('assets/images/Rectangle27571.jpeg') 50% / cover no-repeat, linear-gradient(#D9D9D9, #D9D9D9);
  position: relative;
  margin-bottom: 41px;
  display: flex;
  padding: 13px 19px 63px 19px;
  width: 441px;
  height: 100px;
  box-sizing: border-box;
}
.user-profile-screen-2 .your-photo {
  margin: 0 9px 41px 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.user-profile-screen-2 .text {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--gray-800, #1F2A37);
}
.user-profile-screen-2 .button {
  border-radius: 8px;
  background: var(--white-4, #FFFFFF);
  margin-right: 13px;
  display: flex;
  padding: 8px 12.1px 8px 12px;
  box-sizing: border-box;
}
.user-profile-screen-2 .text-1 {
  overflow-wrap: break-word;
  font-family: var(--text-xsfont-medium-font-family, 'Inter');
  font-weight: var(--text-xsfont-medium-font-weight, 500);
  font-size: var(--text-xsfont-medium-font-size, 12px);
  line-height: var(--text-xsfont-medium-line-height, 1.5);
  color: var(--white-4, #FFFFFF);
}
.user-profile-screen-2 .button-1 {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  display: flex;
  padding: 8px 12.1px 8px 12px;
  box-sizing: border-box;
}
.user-profile-screen-2 .container-8 {
  margin: 0 9px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.user-profile-screen-2 .container-9 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.user-profile-screen-2 .avatar-notification-dot {
  border-radius: 15px;
  border: 2px solid var(--white-4, #FFFFFF);
  background: var(--green-400, #31C48D);
  width: 20px;
  height: 20px;
}
.user-profile-screen-2 .avatar {
  border-radius: 100px;
  background: var(--avatar-jese-leos, url('assets/images/Avatar5.jpeg') 50% / cover no-repeat);
  position: absolute;
  left: 9px;
  top: 46px;
  display: flex;
  padding: 0 2px;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
}
.user-profile-screen-2 .container-1 {
  border-radius: 8px;
  background: #F3F3F3;
  position: relative;
  margin-bottom: 24px;
  display: flex;
  height: 274px;
  box-sizing: border-box;
}
.user-profile-screen-2 .rectangle-2758 {
  border-radius: 8px;
  background: #F0F0F0;
  width: 441px;
  height: 470px;
}
.user-profile-screen-2 .container-5 {
  margin: 39px 0 21px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.user-profile-screen-2 .rectangle-2759 {
  border-radius: 8px;
  background: #F3F3F3;
  margin: 108px 0 15px 0;
  width: 441px;
  height: 774px;
}
.user-profile-screen-2 .container-7 {
  margin: 0 67px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  column-gap: 27px;
  width: fit-content;
  box-sizing: border-box;
}
.user-profile-screen {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 1512px;
  box-sizing: border-box;
}
