.verify-account-screen .flowbite {
  overflow-wrap: break-word;
  font-family: 'Literata';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray-900, #111928);
}
.verify-account-screen .navbar {
  background: var(--white-4, #FFFFFF);
  margin-bottom: 98.8px;
  padding: 24.7px 116px;
  width: fit-content;
  box-sizing: border-box;
}
.verify-account-screen .verify-your-email-address {
  margin: 0 0 55.2px 0.9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: #000000;
}
.verify-account-screen .line-8 {
  background: #555555;
  margin: 0 22.5px 35px 0;
  width: 418px;
  height: 1px;
}
.verify-account-screen .please-check-your-inbox-for-verification-code {
  margin: 0 41.5px 27px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.verify-account-screen .input {
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  background: #F9FAFB;
  width: 56px;
  height: 56px;
}
.verify-account-screen .input-1 {
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  background: #F9FAFB;
  width: 56px;
  height: 56px;
}
.verify-account-screen .input-2 {
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  background: #F9FAFB;
  width: 56px;
  height: 56px;
}
.verify-account-screen .input-3 {
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  background: #F9FAFB;
  width: 56px;
  height: 56px;
}
.verify-account-screen .container-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  width: 254px;
  height: fit-content;
  box-sizing: border-box;
}
.verify-account-screen .input-4 {
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  background: #F9FAFB;
  position: absolute;
  right: 66px;
  bottom: 0px;
  width: 56px;
  height: 56px;
}
.verify-account-screen .input-5 {
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  background: #F9FAFB;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 56px;
  height: 56px;
}
.verify-account-screen .input-number {
  position: relative;
  margin: 0 6.5px 37.7px 0;
  width: 386px;
  box-sizing: border-box;
}
.verify-account-screen .text {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-4, #FFFFFF);
}
.verify-account-screen .button {
  border-radius: 8px;
  background: var(--primary-700, #1A56DB);
  margin: 0 0 54.1px 1.6px;
  display: flex;
  padding: 8.6px 0.7px 8.6px 0;
  width: 438.9px;
  box-sizing: border-box;
}
.verify-account-screen .resend-code {
  margin-right: 12px;
  width: 197px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.verify-account-screen .change-email {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.verify-account-screen .container {
  margin-right: 6.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 316px;
  box-sizing: border-box;
}
.verify-account-screen .container-2 {
  border-radius: 8px;
  background: #FFFFFF;
  position: relative;
  margin: 0 0 94.7px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100.7px 0 98.3px 0;
  width: 669.9px;
  box-sizing: border-box;
}
.verify-account-screen .back-to-previous-page {
  margin-right: 13.2px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.verify-account-screen {
  background: #F9FAFB;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 53px;
  width: 1512px;
  box-sizing: border-box;
}
